[2021-06-08 16:52] tarkah commented on #655
Ok, can you confirm the following paths exist when you have ElvUI installed?

`/Volumes/T7 Touch/Games/World of Warcraft/_classic_/Interface/AddOns/ElvUI`
`/Volumes/T7 Touch/Games/World of Warcraft/_classic_/Interface/AddOns/ElvUI_OptionsUI`

[2021-06-08 16:55] watsontom100 commented on #655
Yep! Both in that location

[2021-06-08 17:00] tarkah commented on #655
So weird. It's failing when trying to remove those folders, so it can unpack the Zip to those locations. And the error is `No such file or directory (os error 2)` but those folders definitely exist??

Any weird permissions issues on those folders?

[2021-06-08 17:00] watsontom100 commented on #655
Don't know if useful for pattern matching but I deleted and re-installed Elv to get the other logs (I omitted the folder creation spam at the end but let me know if there could be something useful in there):

`downloading remote version 2.09 for 5251166554282412174
17:58:19.873 [ajour::gui::update][DEBUG] Message::DownloadedAddon((Classic TBC, 5251166554282412174, error: false))
17:58:19.873 [ajou

[2021-06-08 17:05] watsontom100 commented on #655
Looked at the permissions of the folders, and if I compare it with the Details folder above this is what I get:

[code]

Not sure if the @ makes a difference in this case?

[2021-06-08 17:06] tarkah commented on #655
Can you use `ls -@` to see the extended permissions for those folders?

[2021-06-08 17:08] tarkah commented on #655
See https://apple.stackexchange.com/a/42178. I'd try to remove those permissions, I suspect that'll fix things.

[2021-06-08 17:23] watsontom100 commented on #655
Got it! Okay, that answer didn't work, because I think the issue was extended attributes rather than ACLs. But it provided a good lead and so instead I tried `xattr -rc ElvUI` as well as `xattr -rc ElvUI_OptionsUI` which clears the extended attributes on the folder and recursively on each file/ folder within it as well.

The issue seems to be something to do with how Apple adds `com.apple.metadata

[2021-06-08 17:27] tarkah commented on #655
Yeah, that's so odd. Awesome you got it resolved!

[2021-06-08 17:27] #655 closed

[2021-06-08 17:49] madcowfred commented on #651
@tarkah ah, interesting. Attaching a file to a release is apparently pretty painful with GitLab, will have to finally look at automating releases on tag push. I think I've linked it properly now if you want to try again?

[2021-06-08 18:15] tarkah commented on #651
Worked like a charm!

[code]

[2021-06-08 18:15] tarkah commented on #651
I'll go ahead and merge the fix

[2021-06-09 02:30] rockerBOO commented on #265
I ended up resolving this. Apparently my default fonts were not being supported (Inter and Public Sans). Once I removed these defaults from my `~/.config/fontconfig/fonts.conf` it is now working. Would be nice to be able to set a different font for ajour in the config though.

[2021-06-09 06:37] casperstorm commented on #265
Great to hear that @rockerBOO.
Yes, absolutly. I'll look into support your own fonts, and maybe also bundle a default ajour font along the program going forward.

[2021-06-09 11:29] Maia-Everett opened #656 "Implement a higher-contrast light theme"
**Is your feature request related to a problem? Please describe.**
I prefer light UI themes, but Ajour provides very few light themes, and those it does provide are pretty low-contrast. In particular, the "Light" theme uses too light a shade of grey for main text and too bright a shade of purplish-blue for links.

**Describe the solution you'd like**
I would like a light theme with a contrast leve

[2021-06-09 11:40] casperstorm commented on #656
Thanks for the suggestion, @Maia-Everett.
I would happily include a high(er)-contrast light theme. If you already have made one you could submit it here, or share it through our [theme editor](http://theme.getajour.com/).

[2021-06-13 04:20] StewMcc commented on #647
Does curse still not expose this on their API. Trying to find any docs on their API has proven trickier than I expected. Outside overly simple useless examples.

There seems to be more addon projects shifting to using it, and the curse packaging stuff 😢

[2021-06-13 22:35] Bananaman opened #657 "[Classic TBC] Fails to match "Attune" addon to CurseForge despite installing it via Ajour"
## Update: It seems like I've discovered a bug in the official Curse Fingerprinting/Hashing algorithm. They generate 1 hash on their backend, and another hash using their official "fingerprinting algorithm". Both CurseForge (official app) and Ajour have this bug. This makes me think that the CurseForge *website backend* is using a slightly different algorithm for calculating the hash. If Ajour can

[2021-06-13 22:38] Bananaman opened #658 "[Feature] Deleting SavedVariables on-demand for individual addons"
It's very frustrating to delete orphaned SavedVariables manually, or when doing it manually to reset specific addon settings.

Ajour has a "delete SavedVariables when uninstalling" feature but it's too heavy-handed, because I could forget that it's on and just delete/re-install something and lose all my settings.

I propose a secondary feature:

1. Click on an addon in My Library.
2. In the expand

[2021-06-13 22:41] Bananaman opened #659 "[Feature] Exporting "My Library" as YML, and importing on another computer"
This feature would massively help guilds and friends. It would also lead to more people using Ajour, for sure.

1. Have an "Export" button which generates a YML file, with a format that contains "addon name", "addon id (curse id or similar)", "source" (curse, wowinterface, github url, etc), "channel" (release, beta etc), and flavor (retail, tbc, etc).
2. Have an "Import" button, edit: Moved import

[2021-06-13 23:37] Bananaman commented on #657
I went digging into the source code:

- https://github.com/ajour/ajour/blob/master/crates/core/src/parse.rs
- https://github.com/ajour/ajour/blob/master/crates/core/src/repository/backend/curse.rs

I can see that the process is something like this:

1. Download a list of fingerprints from wowup hub.
2. Scan local folders for addons matching those fingerprints. (The fingerprint seems to involve TOC

[2021-06-13 23:43] Bananaman commented on #657
Forgot to mention: I looked in `%AppData%\ajour\cache` in the `fingerprints.yml` file. These are the details in there for Attune-230 (TBC):

[code]

I didn't understand the fingerprinting code enough to know if this info helps, but it seems like it could be useful.

[2021-06-14 06:54] #651 closed

[2021-06-14 06:59] casperstorm commented on #657
Thanks for your report, it is currently a known issue and a limitation of the API. Here is a comment from @tarkah on our Discord regarding it:

this is a limitation not of Curseforge either, it really comes down to what interface the addon is marked as compatible with. Wow doesn't support an addon with "multiple" interface versions. Classic and TBC and Retail all have different interface versions.

[2021-06-14 07:26] casperstorm commented on #659
We have talked about this a few times before, and it would be a cool feature. What needs to be done is figure out what we need to do in order to be able to take a `addons.yml` and import it somewere else. @tarkah can maybe share some ideas here?

[2021-06-14 11:39] Bananaman commented on #657
@casperstorm Ahhh, so basically this is the issue:

- Attune's author released 1 flavor (a zip file marked as retail on Curse, which is also including a BCC TOC).
- This makes makes Curse generate a fingerprint for the RETAIL "Attune.toc" file. But NO FINGERPRINT for the "Attune-BCC.toc" for the Classic TBC version and NO FINGERPRINT for "Attune-Classic" for the Classic Era version.
- So Curse say

[2021-06-14 12:02] Bananaman commented on #657
By the way, CurseForge handles the Attune "single release" problem by always remembering the original source addon ID, since it only has itself as source. But it still gets confused by it (says "Status: Modified", since the CurseForge app is clearly calculating the TBC TOC fingerprint but expecting the Classic fingerprint from the backend release).

Ajour doesn't handle it at all, and becomes orph

[2021-06-14 12:29] Bananaman commented on #657
Alright I had a long chat with the Ajour guys on Discord, and they said that Curse's old and new owners are aware of this issue (that uploading 1 zip file containing TOCs for multiple game versions = fingerprinting breaks). The issue is a few months old, since TBC classic added the "multiple TOC file per zip" system. The Curse website was not built to support multiple game versions per zip.

They

[2021-06-15 00:11] Bananaman opened #660 "[Bug] "Delete SavedVariables when deleting addons" has two issues."
This ticket is for tracking two minor issues with this feature:

1. It removes `addon.lua` properly but leaves the `addon.lua.bak` files.
2. When addons use lots of folders, it doesn't properly delete the SavedVariables at all, from what I can see? Tried uninstalling Deadly Boss Mods Core (TBC) and it left lots of DBM-related savedvars behind. :-)

[2021-06-16 19:57] LEGOL2 commented on #506
There is somewhat big array of file types shipped with addons [`.lua`, `.xml`, `.txt`, `.toc`, binary files, font files]. One way would be to download fresh addon to temp folder, calculate hash for every file and store. Then you have to calculate hash for installed files and compare them. This can be very time consuming, depending on number of files. For example, `Details` addon has over 300 files

[2021-06-17 05:48] SamMousa commented on #506
Hashing 300 small files is not a big deal on modern PCs

[2021-06-19 21:29] LEGOL2 commented on #506
I can try to implement that, but it might take some time, as this would be my first commit to ajour. I've made basic program that calculates hashes of a folder for now.

[2021-06-23 16:48] tebowy opened #662 "Townlog yak's API is unavailable anymore, workarounds need code"
Townlong yak has shut down their update API. Which means addons that got update in the meantime (ie. Venture Plan) don't show up as outdated in ajour.

Would it be possible to scrape their page locally to update the addons?

**Describe alternatives you've considered**
Only downloading mods manually from them.

**Additional context**
I don't know why they've closed their API.

[2021-06-23 17:00] tarkah commented on #662
We do not plan on supporting TownlongYak in it's current form. The maintainer has not given any clear indication that they will publish a new API.

We do not plan on creating workarounds to "scrape" their website and only want to support sources that have stable and reliable APIs.

[2021-06-26 06:40] Walkerbo opened #663 "Wardrobe Enhanced addon not available in catalogue"
_Describe the bug_
The Wardrobe Enhanced addon does not show in the catalogue

_Steps to reproduce the behaviour:_
1.Select Retail
2. Click on Catalogue
3. Select Curse from source dropdown
4. Type in wardrobe

_Expected behavior_
I expect to see a listing and link to the curse Wardrobe Enhanced file/website
https://www.curseforge.com/wow/addons/wardrobe-enhanced

[2021-06-26 16:32] tebowy commented on #662
API seems up again?

[2021-06-26 16:32] #662 closed

[2021-06-26 16:48] casperstorm commented on #662
Yes, so that's nice for everyone using his addons!

[2021-06-26 16:49] casperstorm commented on #663
<img width="961" alt="Screenshot 2021-06-26 at 18 49 30" src="https://user-images.githubusercontent.com/2248455/123520081-44fd3d80-d6af-11eb-962d-2b8b7df99280.png">

Isn't it this one?

[2021-06-26 21:22] bloodstrike opened #664 "Fishing Buddy (Classic) being identified as Fishing Buddy"
**Describe the bug**
Fishing Buddy (Classic) v. 0.7.5.2 installed from Curse is being identified as Fishing Buddy for retail from WoWI and Ajour wants to update and replace the classic version with the retail version (v. 1.16.3). This will break the addon in game because the retail version and the classic version work very differently. This has happened before and I thought it was fixed.

**To Rep

[2021-06-27 10:55] #656 closed

[2021-06-29 01:34] Walkerbo commented on #663
Yes, that is the one; I can now see it.

I am going to suggest that this is a case of PEBCAK.

Cheers

[2021-06-29 07:31] #663 closed

[2021-06-29 11:55] casperstorm commented on #638
This is now awaiting #666.

[2021-06-29 17:59] wolfiestyle opened #668 "Missing newest versions on crates.io"
The latest version on crates.io atm is 1.0.1, and current release is 1.2

[2021-06-29 18:50] tarkah commented on #668
Unfortunately this is a result of the fact we had to patch a dependency and can't publish to crates unless all dependencies are as well. Hopefully this is something we can get working again once some things are fixed downstream.

[2021-07-02 14:07] hasnogaems opened #669 "updated gpu driver not it not launching"
Check this: 16:20:15.480 [panic][ERROR] thread 'main' panicked at 'running Ajour gui: GraphicsAdapterNotFound': src\gui
ajour.log

[2021-07-02 14:33] casperstorm commented on #669
Have you tried the OpenGL version of Ajour? You can find it here: https://www.getajour.com/download.

[2021-07-02 16:50] hasnogaems commented on #669
@casperstorm Yes, it worked! Thank you so much for blazing fast response good sir. Your manager rocks! I would only ask for auto backup wtf/inreface feature.

[2021-07-02 16:50] #669 closed

[2021-07-02 17:38] #638 closed

[2021-07-02 18:35] tarkah commented on #660
@Bananaman  I've fixed 1. with #671.

For 2. what are the names of some of the SavedVariables files the remain? The file _should_ match one of the addon folders of the addon that gets deleted.

[2021-07-02 21:16] JoshStrobl opened #672 "Add Zstd Custom Compression Level Option"
The backup compression / option for Zstd uses the default compression level (default: 3). With my specific backup folder, which is 83.9MiB, the zstd compression will create a 17.1MiB file. This is pretty fantastic given it performs this compression in 300ms, however I would like to request that the ability to set our own compression level. In terms of the UX, I imagine this option could be exposed

[2021-07-02 21:33] casperstorm commented on #672
Good idea, @JoshStrobl.
The suggested UI is a good starting point, a little too dominant if you ask me but the idea is great.
I would suggest also only showing the if `zstd` is selected.

[2021-07-02 21:35] JoshStrobl commented on #672
Yea I agree that it should only be displayed if zstd is selected. In terms of the slider, there is certainly room for improvement, whether that is reducing the overall thickness of the slider to reducing its width as a couple examples. I am not sure what sort of graphical toolkit you are using, so not really sure what is at your disposal.

[2021-07-02 21:44] tarkah commented on #672
Some helpful documentation since we've not implemented a slider yet...

- [iced_native::widget::slider::Slider](https://docs.rs/iced_native/0.4.0/iced_native/widget/slider/struct.Slider.html)
  - We can set the `step` size to 1 and `range` as the number of options
  - I'm assuming the slider will "snap" to each step location (even increments of the width)
- [iced_style::slider::Style](https://docs

[2021-07-06 01:27] Bananaman commented on #660
@tarkah Hi, apologies for not seeing your question sooner!

I can confirm that #671 fixes both bugs. The remnants of DBM were definitely .bak files without me noticing that at the time. I just did a re-install of DBM, ran the addon, let it make a dozen savedvar files, manually created .bak copies with a script, and then ran Ajour's uninstall: All cleaned up! :-)

[2021-07-06 01:27] #660 closed

[2021-07-07 02:21] Sooongz opened #675 "Is it possible to add the backup Fonts feature？"
Just like backup the Addons and WTF directory, Whether the custom Fonts directory can also support the backup?

![image](https://user-images.githubusercontent.com/1811858/124714498-6f16f100-df34-11eb-890a-7457a6f9b834.png)

[2021-07-07 06:54] casperstorm commented on #675
Could you elaborate a little on this feature request, @Sooongz?

[2021-07-07 07:20] casperstorm commented on #657
Since yesterday (https://github.com/ajour/ajour/commit/93cadf1c461c2e7b267f75d60baba242d1fabf29) we should have had multi toc support. It has also been released in 1.2.2.

@Bananaman, I'll close this issue now but please reopen if you run into any issues with any multi toc addon.

[2021-07-07 07:20] #657 closed

[2021-07-07 18:26] Bananaman opened #676 "[Bug] TBC Addon installed from Curse gets matched to Retail version from WowInterface"
1. Install "Fishing Buddy (Classic)" from Curse Catalog
2. Refresh addons.
3. Ajour shows a Retail update from WowInterface, which breaks the addon if you install it... 😁

![image](https://user-images.githubusercontent.com/38923130/124810448-a354d680-df61-11eb-9f36-63c0f166ea19.png)

[2021-07-07 18:49] JoshStrobl commented on #676
Duplicate of #664

[2021-07-08 07:17] casperstorm commented on #676
Gonna continue this in #664, as @JoshStrobl points out.

[2021-07-08 07:17] #676 closed

[2021-07-08 07:19] casperstorm commented on #664
I just installed `Fishing Buddy (Classic)` for TBC, through the catalog from Curse. When refreshing, it is still correctly matched. Can you guys try again and make sure you are running Ajour 1.2.2?

<img width="827" alt="Screenshot 2021-07-08 at 09 17 15" src="https://user-images.githubusercontent.com/2248455/124879379-73dbb380-dfcd-11eb-960a-5425bc93a8de.png">

[2021-07-08 09:29] Bananaman commented on #676
Weird, I read through open issues and did not see that one. Sorry. 🤔

[2021-07-08 13:59] bloodstrike commented on #664
Refreshing My Addons didn't resolve the issue, but reinstalling Fishing Buddy (Classic) seems to have fixed it. Thanks for the update!

[2021-07-08 15:05] casperstorm commented on #649
I have begun working on the UX part of this now.

[2021-07-08 16:45] Bananaman commented on #664
@casperstorm

- Ajour 1.2.1: Refresh matches to WoWI.
- Ajour 1.2.2: Refresh matches to WoWI.

On 1.2.2, I now did this test:

- Delete the addon.
- Install Fishing Buddy Classic 0.7.5.5 again.
- Of course My Addons list shows it as Curse now, as expected after a fresh install.
- Refreshed addons.
- Still showing as curse.

So yes it's fixed. I'm assuming by this commit:

https://github.com/ajour/

[2021-07-08 21:27] bloodstrike commented on #664
So I closed this because it worked, right? I just reopened Ajour v 1.2.2 and Fishing Buddy (Classic) 0.7.5.5 from Curse is again trying to update to retail Fishing Buddy v 1.16.6. I have no idea.

[2021-07-08 21:45] casperstorm commented on #664
So there is definitely something fishy going on. Maybe even multiple things.
First of all, we noticed an incorrect reference in the .toc file pointing to the retail version:

[code]
However, I am a little unsure why Ajour tries to match using ids, and not hashing. That is something ill have to look into. Maybe @tarkah has something to tip in with as well.

Ill continue the hunt, @bloodstrike.

[2021-07-08 22:28] Bananaman commented on #664
Mysterious. Mine doesn't do that anymore, I just did another Refresh, still matches itself to the TBC version. I even did a full exit of Ajour 1.2.2, restarted Ajour, did Refresh, still matches to 0.7.5.5 from Curse for TBC.

[2021-07-08 22:30] Bananaman commented on #664
@casperstorm It's weird, my comment a moment ago shows that mine matches properly, despite the bad curse project ID. And yes, the TBC toc file should definitely have a different project ID for the classic project. This is a pretty common error that I see many addon authors making. But in my case, it still somehow properly matches itself to the TBC version. :)

[2021-07-10 02:57] vttale commented on #284
Maybe I shouldn't comment on this closed issue and should open a new one, but where do you stand on whether Ajour should be working with Datastore now or not?   Datastore is getting updated on CurseForge but is not being listed in or updated by Ajour.

[2021-07-10 12:42] Bananaman commented on #672
Nice idea to have better compression... Why not just use a drop down menu with the choices? :D

[2021-07-10 13:12] JoshStrobl commented on #672
Because solely having a dropdown does a poor job communicating why something may be labeled "Slowest".

[2021-07-10 16:01] Bananaman opened #677 "WeakAuras/Plater/etc "update" support detects deleted versions as if they still need updates"
Hi, I assume that the current code just scans the savedvariables Lua for all the wago.io URLs it can find, and looks for newer versions of those URLs.

The problem is: Plater keeps the outdated versions in a "Recycle Bin/Trash Bin" for 30 days, and you can't manually delete them from there.

Ajour permanently detects the recycle bin contents and permanently warns about outdated Plater mods/scripts

[2021-07-10 16:12] casperstorm commented on #677
@tarkah can you eventually take a look at this?

[2021-07-10 16:24] tarkah commented on #677
We do parse the lua table so this is something that can be easily accounted for. @bananaman, if you can find the field we need to account for, that'd be a big help.

[2021-07-10 16:24] tarkah commented on #677
Also, if you can attach your savedvariables file, that'd be a big help.

[2021-07-10 17:31] LEGOL2 commented on #506
I'm currently out of time for personal projects, so I am unable to work on this issue further.

[2021-07-11 22:07] casperstorm commented on #672
I've made some good progress on this feature. I'll finish it later this week.

<img width="717" alt="Screenshot 2021-07-12 at 00 06 27" src="https://user-images.githubusercontent.com/2248455/125211188-0669a480-e2a5-11eb-84b2-745131333898.png">

[2021-07-12 00:58] Bananaman commented on #677
@casperstorm @tarkah

That's awesome news. Well, I did find the field!

The path to the trashed data is:

- `PlaterDB`
- `profiles`
- The profile names (all subkeys here)
- The trash keys within each profile: `script_data_trash` and `hook_data_trash`

For example, to dump my "SweetPlates" (that's the profile) trash bin data in-game, I'd type these:

[code]

Savedvars are attached to this message.

[2021-07-12 09:34] JoshStrobl commented on #672
@casperstorm That looks really great! Looking forward to trying it out,

[2021-07-12 12:29] oscassey opened #679 "Excessive Size of target Directory after a build (1.34 Gb)"
**Describe the bug**
Once built, the target directory has a size of 1.34 Gb for an executable of 20 Mb. Why so much space?

**To Reproduce**
Steps to reproduce the behavior:
1. Windows 10, cygwin, git, rust, cargo, make
2. git pull
3. make
4. Calculate the size of the target directory

**Expected behavior**
It seems excessive for the complexity of the application to need 1.34 Gb of dependencies.

[2021-07-12 13:01] casperstorm commented on #679
This is mainly because of build artifacts. You can take a look at [cargo-sweep](https://github.com/holmgr/cargo-sweep) which can remove unused files.

Since this issue is not really related to Ajour, I'll close it again.

[2021-07-12 13:01] #679 closed

[2021-07-12 13:56] oscassey commented on #679
How come ajour needs 1.34 Gb of build artefacts for its 20 Mb size?

[2021-07-12 15:14] casperstorm commented on #679
It is common for any Rust project. We are not in control.

[2021-07-12 16:27] Nelfym opened #680 "Missing translations"
_Edit: Oops, wrong label? Sorry._

Hello.

**Describe the bug**
Just spotted some untranslated strings.
- whole tray menu
![image](https://user-images.githubusercontent.com/12660094/125322931-90b21700-e33e-11eb-9dc8-045edd0c0cc8.png)

- in settings, field where we can put an URL to import a theme
![image](https://user-images.githubusercontent.com/12660094/125322972-9a3b7f00-e33e-11eb-89a9-9331c7d8

[2021-07-12 17:32] Maia-Everett opened #681 "Ajour is not detecting a new version of the Musician addon on CurseForge"
**Describe the bug**
Ajour is not picking up the latest update of the Musician addon.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Catalog.
2. Select the Musician addon.
3. Install it.

**Expected behavior**

Version 1.7.5.0 is installed — the [latest version](https://www.curseforge.com/wow/addons/musician/files) as of this bug report.

**Actual behavior**

Version 1.7.4.0 is ins

[2021-07-12 20:52] AcidWeb commented on #681
Issue is caused by a fact that latest packages are marked to support multiple client versions. CF backend don't support it. Already informed the author to fix his packaging.

[2021-07-13 09:39] casperstorm commented on #664
I can't reproduce it after 93cadf1.
@bloodstrike, can you verify that if you remove Fishing Buddy through Ajour, and also verify manually that there's no folders left and then reinstall it through Catalog as you did before it still happens?

[2021-07-13 19:08] casperstorm commented on #675
This will be added once #684 is reviewed and merged. Thanks for suggestion a feature.

[2021-07-13 19:22] casperstorm commented on #659
We should add two buttons, `Export` and `Import` and either make a new section in Settings, or place the to the left of the search bar in MyAddons. This we need to iterate a little bit, and see what works the best.

The `Export` button should open a window where the user can pick a location where they want to save the export file. The file should be a `.yml` file looking like:

[code]

Then the `I

[2021-07-13 19:50] Bananaman commented on #659
@casperstorm That's good, and for Git URL imports, perhaps this format:

[code]

The release id would be the git tag/release name. Not sure if that would be necessary to include.

[2021-07-13 19:54] Bananaman commented on #659
@casperstorm Merging your ideas and my initial ideas for the import process. Perhaps something like this:

1. Have an "Import" button that can read that YML format.
2. When starting an import, check for collision (mainly to see which addons are already installed, but perhaps also to look for situations where other/unidentifiable folders already exist and would conflict, such as if the user has a "

[2021-07-14 07:23] casperstorm commented on #648
https://github.com/ajour/ajour/commit/caf10396bc99b048ff64de7c0027e67df2fe18da should have fixed this. Closing.

[2021-07-14 07:23] #648 closed

[2021-07-14 08:52] casperstorm commented on #639
I feel like this does not fit into the minimalistic vision of Ajour.
I would suggest installing all addons (those you want to 'follow' as well), and then just using the in-game menu to disable/enable them once you use them.

Thanks for the suggestion.

[2021-07-14 08:52] #639 closed

[2021-07-14 09:01] casperstorm commented on #415
Closing due to inactivity. Reopen if you face the issue again.

[2021-07-14 09:01] #415 closed

[2021-07-14 12:03] casperstorm commented on #541
While the Catalog is great and fast for installing addons, it's never been the intention to be a place to go if you are on the lookout for new and addons, without knowing exactly what you want. There are better alternatives for that, with images, videos, and such. I believe, as @mlablah points out, the right solution here is to use our columns to display Game Versions.

Honestly, I am even questio

[2021-07-14 12:03] #541 closed

[2021-07-14 14:06] Silun opened #686 "Ajour won't respect release.json when installing from GitHub"
**Describe the bug**
When installing from GitHub, Ajour may install the wrong version, e.g. of this repo:

https://github.com/raethkcj/RatingBuster

It has a release file that should tell Ajour what to install, but it still installs the wrong version by default for Classic TBC at least.

This is the content of the `release.json`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Instal

[2021-07-14 14:19] casperstorm commented on #686
I'll fix this bug tonight. I can reproduce it and know what the problem is.
Sorry for the troubles.

[2021-07-14 21:16] casperstorm commented on #686
Alright, the bug, and also proper support for `release.json` has now been added #687.
It will be release once reviewed.

[2021-07-14 21:55] Silun commented on #686
Awesome, thank you!

[2021-07-15 19:50] casperstorm commented on #686
Released in 1.2.3-rc.1.
Make sure to set Ajour Update Channel to Beta in order download this pre-release.

[2021-07-15 19:50] #686 closed

[2021-07-15 19:50] casperstorm commented on #680
Released in [1.2.3-rc.1](https://github.com/ajour/ajour/releases/tag/1.2.3-rc.1).

[2021-07-15 19:50] #680 closed

[2021-07-15 19:50] casperstorm commented on #675
Released in [1.2.3-rc.1](https://github.com/ajour/ajour/releases/tag/1.2.3-rc.1).
Make sure to set Ajour Update Channel to Beta in order download this pre-release.

[2021-07-15 19:50] #675 closed

[2021-07-15 19:50] casperstorm commented on #672
Released in [1.2.3-rc.1](https://github.com/ajour/ajour/releases/tag/1.2.3-rc.1).

[2021-07-15 19:50] #672 closed

[2021-07-15 19:51] casperstorm commented on #658
Released in [1.2.3-rc.1](https://github.com/ajour/ajour/releases/tag/1.2.3-rc.1).

[2021-07-15 19:51] #658 closed

[2021-07-15 19:51] casperstorm commented on #649
Released in [1.2.3-rc.1](https://github.com/ajour/ajour/releases/tag/1.2.3-rc.1).

[2021-07-15 19:51] #649 closed

[2021-07-15 19:51] casperstorm commented on #555
Released in [1.2.3-rc.1](https://github.com/ajour/ajour/releases/tag/1.2.3-rc.1).
Make sure to set Ajour Update Channel to Beta in order download this pre-release.

[2021-07-15 19:51] #555 closed

[2021-07-16 01:43] Bananaman commented on #664
@casperstorm Just a small update: Still.... No problems. 😂

Ajour is working. Fishing Buddy needs a reinstall for anyone who still has mismatch. Ajour has literally zero issues matching as I went into detail about earlier.

So you can close this. 😉👌❤️

[2021-07-16 04:19] #664 closed

[2021-07-18 15:02] Bananaman commented on #672
@casperstorm @JoshStrobl The feature works great!

![image](https://user-images.githubusercontent.com/38923130/126072028-9f9e5c7e-8cc7-454d-897d-6d3a7fa409be.png)

I found that this exact spot on the slider was optimal on a Ryzen 3900x. It results in ~12 seconds to compress, generating an archive that's: **80,5 MB (84 459 464 bytes)**

From these files: **371 MB (389 887 548 bytes), 8 356 Files, 1

[2021-07-23 12:58] hasnogaems opened #697 "Trying to search Gladdy in catalog"
Not finding anything but actually present at curseforge https://www.curseforge.com/wow/addons/gladdy-tbc
Im using last open gl version 1.2.3

[2021-07-23 13:23] casperstorm commented on #697
Thank you for reporting this error. I've fixed the issue so you can re-launch Ajour and you should be able to see it!

Problem was that while building the Catalog we were only looking for stable releases on a CurseForge addon, however, there have only been published beta releases to Gladdy. We are now looking for both stable and beta releases (https://github.com/ajour/catalog/commit/938ce11038c68a

[2021-07-23 13:23] #697 closed

[2021-07-23 13:24] hasnogaems commented on #697
amazing!

[2021-07-23 13:28] hasnogaems commented on #697
How you responding  so fast? You have some github client or something?

[2021-07-23 13:36] casperstorm commented on #697
We have a Github webhook on our [Discord server](https://discord.gg/4838t9R). I get notifications on my phone from that hook and I just happened to have time to fix it right away 😊

[2021-07-25 13:58] Industrial opened #702 "Catalog Version Filter"
**Is your feature request related to a problem? Please describe.**
I can't filter addons in the Catalog by wow version.

**Describe the solution you'd like**
Add a filter between Category and #results

**Describe alternatives you've considered**
Sort by game version

[2021-07-25 14:27] casperstorm commented on #702
We have had this requested before (see: https://github.com/ajour/ajour/issues/541).
My view on this is currently the same:

From: https://github.com/ajour/ajour/issues/541#issuecomment-879832778

[2021-07-25 15:35] tordenflesk opened #703 "XCT+ from GitHub not updating."
GitHub - 4.5.8:
https://i.imgur.com/eolt6Qn.png

Ajour - 4.5.5-Beta2:
https://i.imgur.com/G7k7rWN.png

[2021-07-25 15:38] casperstorm commented on #703
Strange, try to remove it and install it again with this URL: https://github.com/dandruff/xCT

[2021-07-25 15:41] tordenflesk commented on #703
Just did that, still shows as 4.5.5-Beta2. Did a manual install of 4.5.8, and it shows as 4.5.8 i Ajour.

[2021-07-25 15:49] casperstorm commented on #703
Ah, I think I reproduced it: its be because you have "Beta" selected under addons in Settings.
However, it should update to the newest so that is a bug. Selecting "Stable" in Settings and installing from the URL gives you the newest stable.

Ill take a look at why it wont update from Beta -> Stable. We might have to look at dates to figure out if its newer or not. Not sure here. @tarkah any sugges

[2021-07-26 19:11] StrangePeanut opened #704 "Allow completely disabling update checking for those who use a package manager"
**Is your feature request related to a problem? Please describe.**
Using a package manager the update button continue to shows up and an accidental click causes the program to update itself rather than through the package manager

**Describe the solution you'd like**
There should be an option to completely disable update checks so that the update button does not show up at all

**Additional contex

[2021-07-26 19:28] mlablah commented on #704
On linux machines Ajour won't show the option to update itself, if it sees it's not running inside an AppImage (as would often be the case if someone built Ajour from source).

If whether or not to check for updates is added as a setting, we should be mindful of this logic:
https://github.com/ajour/ajour/blob/master/src/gui/element/menu.rs#L300-L310

[2021-07-26 19:38] JoshStrobl commented on #704
This is not correct. It does in fact show a notification that there is a new update for it outside the AppImage. Maybe this is an unintended bug.

I would also like to see this as a compilation option for Ajour if possible. I am the package maintainer of Ajour on Solus and while I appreciate it notifying users of a new update, we perform weekly syncs to our stable repo every Friday and thus users

[2021-07-26 19:51] StrangePeanut commented on #704
Just want to add Ajour is also actively maintained on Chocolatey for Windows.

Not sure about BSD but including an option to completely disable the check would serve everybody with the issue equally well regardless of the currently existing logic.

[2021-07-26 20:26] mlablah commented on #704
I didn't phrase that right. Ajour doesn't show the update button in that scenario (since the selfupdate flow wouldn't work correctly). It still presents that information that there is a new version available.

Sorry for the confusion.

[2021-07-26 21:33] casperstorm commented on #704
We could make it an option for specific assets by writing a boolean value to `ajour.yml,` but if we want a non-updatable Windows (or Mac) version, we should make a new asset, I guess?

[2021-07-26 23:01] tarkah commented on #704
Here is where we check for the latest release...

https://github.com/ajour/ajour/blob/788d55f3c0b89a0c7b757799cbbf3eedbc2b08ed/crates/core/src/utility.rs#L61-L83

I'm thinking the best way to handle this is adding a new feature called `no-self-update`, which can be passed during compilation... `cargo build --features no-self-update ...`. If that feature is active, we just return `None` here, which

[2021-07-27 09:56] mlablah commented on #704
so users would have to download a different asset to enable or disable self-updating?

[2021-07-27 14:12] tarkah commented on #704
This wouldn't be an asset we add to the website and I don't think it'd be something normal users would manually download. It's really only intended for packaging. We can add a note about it to install instructions for packagers.

[2021-07-28 15:33] #702 closed

[2021-07-29 07:18] hasnogaems opened #705 "Is there no way to enable side scroll button?"
Looks like currently the only way to scroll through list of addons is mwheel.

[2021-07-29 12:45] hasnogaems commented on #705
nwm founded it delete plz

[2021-07-29 12:45] #705 closed

[2021-07-29 16:48] LenweSaralonde commented on #681
This is a CurseForge API bug that does not support multi version addon files.
I raised an idea ticket here : https://curseforge-ideas.overwolf.com/ideas/CF-I-1832
I also had a chat with one of the CurseForge devs, I hope things will start moving.

[2021-07-29 17:07] LenweSaralonde opened #706 "[Windows] Junctions to folders in Interface/AddOns are ignored"
**Describe the bug**
Junctions to folders within Interface/AddOns are ignored by Ajour.

**To Reproduce**
Steps to reproduce the behavior:
1. Install an add-on with Ajour : The add-on shows up under "My adons"
2. Close Ajour
3. Move the installed add-on folder to another location
4. Create a junction in the WoW AddOns folder to the new location (ie `mklink /J "C:\Games\World of Warcraft\_retail_\I

[2021-07-29 18:19] tarkah commented on #706
Symlinks work and should work on Windows, too. Is there a specific reason you're creating a junction `/J` vs a symbolic link `\D`?

[2021-07-29 18:58] LenweSaralonde commented on #706
Creating a symbolic link requires privilege elevation unlike junctions.

[2021-07-30 02:49] hasnogaems opened #707 "Auto backup?"
Would be so nice to have scheduled backup.

[2021-07-30 05:16] mryanlam commented on #707
Should be able to do a back up in cronjob like

0 */3 * * * /Applications/Ajour.app/Contents/MacOS/ajour backup

[2021-07-30 13:00] JoshStrobl commented on #707
Copying my remarks from Discord here.

---

Providing an automated backup solution in Ajour itself would only add unnecessary complexity to the software. First off, you would need implement either an ajour service on Windows, setup autostart on Linux (typically copying the desktop file into the proper XDG DATA DIR), and whatever devilry macOS has. Personally, I can't stand applications which defau

[2021-07-30 13:36] casperstorm commented on #707
I was actually just about to copy your response, @JoshStrobl. It perfectly reflects our vision.
For a scheduled backup, it is possible to do by using CLI as @mryanlam suggests.

More information about the possibility of backup using CLI can be found [here](https://github.com/ajour/ajour/blob/master/CLI.md#backup) and you can also find some examples using CLI in our [Wiki](https://github.com/ajour/

[2021-07-30 13:36] #707 closed

[2021-08-01 15:09] #704 closed

[2021-08-06 10:19] JoshStrobl opened #717 "Add "Retry" button to retry requests when failing to download catalogs or addons"
**Is your feature request related to a problem? Please describe.**

This scenario was reported on Discord where a user could experience a network timeout when downloading the catalog, though the problem likely extends to other networking requests such as add-on downloading, such as when the user is saturating their network connection when downloading an WoW update, PTR, etc.

**Describe the soluti

[2021-08-06 15:13] hasnogaems commented on #707
What I talking about is just press backup button automatically once in a while so I dont need to press it manually. Without autorun, without any fancyness. As simple and minimalistic as possible.

[2021-08-07 18:11] #659 closed

[2021-08-09 00:18] github-actions[bot] opened #719 "RUSTSEC-2021-0080: Links in archive can create arbitrary directories"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `tar`                      |
| Version             | `0.4.35`                   |
| URL                 | [https://github.com/alexcrichton/tar-rs/issues/238](https://github.com/alexcrichton/tar-rs/issues/238) |
| Date

[2021-08-09 02:18] ylixir opened #720 "Auto creation and auto update based on import/export yaml list of addons"
**Is your feature request related to a problem? Please describe.**
Current backup options are clunky and manual with the zip export feature. Zip files are easy to understand for most users, but they are a frustrating experience for users used to more streamlined code management workflows.

Reproducing my setup on multiple machines is kind of annoying, but keeping them synchronized is super annoyin

[2021-08-10 18:20] kwilliams1987 opened #721 "Ajour OpenGL missing matching noselfupdate option."
**Describe the bug**

REF: https://github.com/ajour/ajour/pull/708#issuecomment-890797982

I want to update the Chocolatey packages but 1.3 only includes an ajour-noselfupdate.exe and no matching ajour-opengl-noselfupdate.exe

I removed the rest of the bug report as it's entirely irrelevant.

[2021-08-10 19:19] tarkah commented on #721
We're going to just change the no self update binaries to be opengl since that's better for packaging purposes. I don't think we need to publish both?

We will get this changed in the next release

[2021-08-10 20:08] kwilliams1987 commented on #721
What do you mean? That there won't be a none-OpenGL build with auto update disabled?

There is certainly scope for both based on the metrics I have:

|  | Ajour | Ajour OpenGL |
|--|-------|-----------------|
| Downloads | 1485 | 805 |

[2021-08-10 21:00] tarkah commented on #721
The reality is we probably should have only shipped the `OpenGL` version from the get go. The non-opengl uses `wgpu` under the hood, which uses `Vulkan` on Windows. There really isn't any benefit to this in practice, and it's only come w/ runtime crashes that are fixed by the `opengl` version.

My recommendation would be to only ship the `opengl` version via Chocolatey (called just "Ajour"). For p

[2021-08-11 07:02] kwilliams1987 commented on #721
An interesting insight, I will look into how this is handled in Chocolatey.

Once the new version is released I will likely then make both versions use the OpenGL-no auto update variant and mark the Ajour OpenGL package as deprecated.

[2021-08-11 23:52] Silun opened #722 "Ajour will not recognize Addon downgrades"
**Describe the bug**
After updating ElvUI from 2.10 to 2.11 and manually downgrading to 2.10 from a backup, Ajour still detects it as 2.11 and won't update again.

**To Reproduce**
Steps to reproduce the behavior:
1. Update ElvUI from 2.10 to 2.11 via Ajour
2. See how that update fucks ElvUI up, restore ElvUI + options addon from last backup
3. Restart Ajour

**Expected behavior**
Ajour should fin

[2021-08-12 15:09] casperstorm commented on #722
Did you delete it through Ajour?

[2021-08-12 16:28] Silun commented on #722
No, because I have it set to delete the saved variables on addon deletion, and since I only wanted to change the addon itself but leave the variables untouched, I manually removed the 2.11 addon folders and then copied the 2.10 folders from the backup.

[2021-08-12 16:38] athei opened #723 "Latest release shows created date for CurseForge"
When using the catalog feature to install new addons the "Latest Update" column shows the date the addon was  created rather than when it was last updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog'
2. Select 'CurseForge' as provider
2. Search for  'addonskins'
3. Notice that the Last Updated column says "8 years ago" which is when the addon was created

**Expected behav

[2021-08-13 06:39] nreilly opened #725 "Importing yml with extra categories (ptr/beta) causes crash"
If you export a yml from an installation with ptr/beta installed and mods listed, importing this into an Ajour installation without these causes Ajour to crash

Steps to reproduce the behavior:
Two computers: Bob and Bill, with Ajour 1.3.0
Bob has TBC, TBC Beta and TBC PTR installed with mods listed in all categories Ajour
Bill has TBC installed with mods listed in Ajour
1: Bill exports mods from

[2021-08-17 06:11] LutzPS opened #726 "Portable [without CLI]"
If exist a dummy file or a folder named portable, Ajou run as portable.

![image](https://user-images.githubusercontent.com/47795197/129672960-498d7dd7-9a64-4410-b4bd-d8f2c568886e.png)

[2021-08-24 00:17] github-actions[bot] opened #727 "RUSTSEC-2021-0096: spirv_headers is unmaintained, use spirv instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `spirv_headers`                      |
| Version             | `1.5.0`                   |
| URL                 | [https://github.com/gfx-rs/rspirv/issues/197](https://github.

[2021-08-24 02:37] pilotstew opened #728 "Crates.io is at version 1.0.1"
I'm running Arch Linux and would prefer to install via cargo. However cargo currently installs version 1.0.1 can this be updated?
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scree

[2021-08-25 06:50] casperstorm commented on #728
Duplicate of https://github.com/ajour/ajour/issues/668.

[2021-08-25 06:50] #728 closed

[2021-08-25 19:39] Ketrel opened #729 "Colors are not showing correctly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Choose a color scheme, most visible with dark ones, I used Outrun for the screenshot
2. Much of text is unreadable due to colors, but the displayed colors are not accurate to the theme

**Expected behavior**
Colors would be accurate to the theme

**Screenshots**
https://i.imgur.com/ZJYQtbE.png

**Software

[2021-08-25 20:15] jkw opened #730 "Start maximized, remember position or window state."
**Is your feature request related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
Settings that allows to pick from start maximized, remember position or window state.

**Describe alternatives you've considered**
Maximizing the Window every time I start it.

**Additional context**
Screenshot of how my Ajour always starts:
![image](https://user-images.githubusercontent.

[2021-09-07 07:30] jimnordb opened #731 "Catches Tab before windows focus"
**Describe the bug**
Too early key event detection

**To Reproduce**
Open Ajour and then put it in the background. Then Alt-Tab into Ajour and it will change view

**Expected behavior**
Should not listen to Tab keyevent before window is focused.

**Software involved**
 - OS: Windows 21H1
 - Ajour version:  1.3.0

[2021-09-08 09:56] casperstorm commented on #729
Did you try the OpenGL build?

[2021-09-08 09:57] #717 closed

[2021-09-10 17:51] casperstorm commented on #731
Will be fixed in #732!

[2021-09-10 17:51] #731 closed

[2021-09-11 08:56] jrydh opened #733 "Some TOC file name patterns not recognized"
**Describe the bug**
Ajour, from my reading of the code, has support for "-BCC"/"-Classic"/"-Mainline" suffixes for the toc files of addons. According to https://wowpedia.fandom.com/wiki/TOC_format there also "-TBC" and "-Vanilla", and additionally it can be an underscore rather than "-". One addon that for the TBC version only provides "-TBC.toc" is ElvUI. As a result, ajour doesn't recognize it.

[2021-09-11 11:38] casperstorm commented on #733
Yesterday I pushed 1.3.1-rc1 which should this after PR https://github.com/ajour/ajour/pull/732. Can you test it?

[2021-09-11 11:51] jrydh commented on #733
Yep, with this version it works! Thanks.

[2021-09-11 11:56] #733 closed

[2021-09-11 11:56] casperstorm commented on #733
Thanks for the quick response and let me know if there's any issue.

[2021-09-12 15:21] Ketrel commented on #729
I did and it does appear to make the difference.

However, I should also add this is not an old video card we're talking about.

This is Radeon version 21.5.2 (2021-05-11) (last available for Win7 so I'm keeping the two in sync)

The video card is an RX 5700 XT, so not exactly bottom of the barrel here.

[2021-09-13 06:21] casperstorm commented on #729
Yeah, its the same as #453 then. We will make some changes going forward to default version is OpenGL because we have had too many problems with WGPU. Sometimes it just glitches out, even on mid-highend cards like yours.

[2021-09-13 06:21] #729 closed

[2021-09-24 14:19] d3m4 commented on #722
Had the same issue, for some reason while switching from windows to mac it corrupted everything; got an older backup going and now have this save problem;

If capturing the right version ins an issue, an option to "force download" would "fix the problem" as well;

Love Ajour; cheers!

[2021-09-30 11:52] truekenny opened #740 "Thread 'main' panicked in 1.3.2 in Windows 10 Sandbox"
**Describe the bug**
In version 1.3.2 at starup i have error:
`[panic][ERROR] thread 'main' panicked at 'running Ajour gui: GraphicsAdapterNotFound': src\gui\mod.rs:1277`

**To Reproduce**
Steps to reproduce the behavior:
1. Start 1.3.2 version

**Expected behavior**
Normal run

**Software involved**
Please complete the following information:
 - OS: Windows 10 Sandbox
 - Ajour version: 1.3.2

**Ad

[2021-09-30 12:00] casperstorm commented on #740
In version 1.3.2 we converted to use OpenGL rather than WGPU as we hoped it would solve some compatibility issues (#453). However it seems there's actually now a few issues with OpenGL. For now you can stick to 1.3.1, but I am curious: What GPU do you have?

@tarkah should we revert back to WGPU?

[2021-09-30 13:59] truekenny commented on #740
On host: Geforce Gtx 980.
Inside Sandbox: Microsoft Remote Display Adapter.

[2021-09-30 16:42] casperstorm commented on #740
@truekenny can you test this version?
[ajour.zip](https://github.com/ajour/ajour/files/7261142/ajour.zip)

[2021-10-01 12:42] truekenny commented on #740
Same error.

[code]

[2021-10-03 18:12] AmazonCourt opened #741 "Ajour Issues Since Update"
I don't know if this the best place to put it, but I've been having issues since the 1.3.2 update.

Ajour is opening with the "select directory" screen, and buttons are _technically_ clickable, but nothing happens if I try. "My Addons", "About", "Settings", etc.; nothing opens. The only things that work are minimize, maximize, and close.

![Ajour 10_3_2021 2_10_54 PM](https://user-images.githubuse

[2021-10-04 07:10] casperstorm commented on #741
Hmm strange, 1.3.1 worked for you? Then you can use that until I get this fixed: https://github.com/ajour/ajour/releases/tag/1.3.1

[2021-10-04 21:55] Quiksmage commented on #741
same issue here for me. Downgrading to 1.3.1 fixes the issue.

[2021-10-09 17:31] vitorgalvao opened #742 "macOS version never changes"
**Describe the bug**
The macOS app has static version information (seemingly) because [`Info.plist`](https://github.com/ajour/ajour/blob/development/resources/osx/Ajour.app/Contents/Info.plist) is never updated. Versions are always at `1.0.0` (`CFBundleShortVersionString`) and `1` (`CFBundleVersion`). Version should be updated with releases.

**To Reproduce**
Verify [`Info.plist`](https://github.c

[2021-10-28 04:34] Sooongz opened #743 "macOS Monterey 12.0.1 crash"
Crash when open ajour

This is the log

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               ajour [24862]
Path:                  /Applications/Ajour.app/Contents/MacOS/ajour
Identifier:            com.rogildstorm.ajour
Version:               1.0.0 (1)
Code Type:             X86-64 (Native)
Parent Process:

[2021-10-30 07:18] glyph opened #744 "app is not codesigned or notarized on macOS"
**Describe the bug**
Launching the application yields this error dialog:

<img width="372" alt="image" src="https://user-images.githubusercontent.com/716529/139523988-1066c816-b603-4640-b446-bebdb64ce23d.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Download the app on any macOS after Mojave
2. Launch it

**Expected behavior**
I see the dialog with "open" in it instead of "macOS cann

[2021-11-05 08:24] jimnordb opened #745 "Give warning before closing while doing progress tasks (Addon backup etc.)"
**Describe the solution you'd like**
Give a small popup preventing accidently closing Ajour while it is doing a Addon backup.

**Additional context**
As of now it just terminates the process instantly causing the zip file to be corrupt.

[2021-11-06 14:36] AngelOnFira commented on #743
It appears that you're using version 1.0.0 of Ajour? I just compiled/ran Ajour from the master branch, and it seems fine on my M1 Air/Monterey 12.0.1.

[2021-11-08 01:19] Sooongz commented on #743
Version 1.3.2 Intel i5
After reinstallation, it's ok

[2021-11-08 13:54] #743 closed

[2021-11-14 14:29] casperstorm opened #746 "This is the end of Ajour 😢"
## This is the end of Ajour 😢

I started working on Ajour in summer 2020. The goal was simple: I wanted the easiest and fastest way to update and download all of your addons for World of Warcraft. The timing was good; Curse had just been sold to Overwolf, Shadowlands was about to be released, and Classic was popular.
I spent many hours building Ajour, and luckily @tarkah  and @mlablah joined to he

[2021-11-14 15:15] zeeraw commented on #746
The existence of this project and the great attitude of its community made me very happy from day one. It's truly sad to see it end this way, but I guess there's no alternative.

Best of luck with future projects @casperstorm.

[2021-11-14 15:33] AhoyThere commented on #746
Thank you for your work. I will miss Ajour.  :/

[2021-11-14 16:07] nourkagha commented on #746
Ajour was one of my favourite World of Warcraft community projects.

There is simply no GUI-based addon manager that is anywhere near as fast, lightweight and customisable as Ajour was, and to top it all off Ajour also offered a CLI.

Thank you for all your hard work @casperstorm & @tarkah and for creating something amazing and desperately needed in the WoW community, which was also completely fre

[2021-11-14 18:19] DiscordGregory commented on #746
Sorry to hear that this will be the end for Ajour, it's the best addon manager :D Good luck with your future projects though and thanks for spending the time you did on Ajour!

[2021-11-14 20:42] SpareSimian commented on #746
What data does Overwolf monopolize? Can it be distributed and hosted elsewhere? Preferably in a distributed way that prevents it from being monopolized. Think Bittorrent or Usenet or Mastodon. Perhaps more addons will move to GitHub and GitLab.

[2021-11-14 21:31] alexeev-igor commented on #746
Did not find any way to donate you for your product. Is it possible? Kind a way to say "thank you for you work".

Anyway. Thank you for fast, light/easy and user-friendly product for WoW community.

[2021-11-14 22:06] mockra commented on #746
Really sorry to hear this, Ajour has been a delight to use and I'll miss it. Thanks for all of the work you've poured into this project. 🙇‍♂️

[2021-11-15 00:23] github-actions[bot] opened #747 "RUSTSEC-2020-0159: Potential segfault in `localtime_r` invocations"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `chrono`                      |
| Version             | `0.4.19`                   |
| URL                 | [https://github.com/chronotope/chrono/issues/499](https://github.com/chronotope/chrono/issues/499) |
| Date

[2021-11-15 00:23] github-actions[bot] opened #748 "RUSTSEC-2021-0119: Out-of-bounds write in nix::unistd::getgrouplist"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `nix`                      |
| Version             | `0.18.0`                   |
| URL                 | [https://github.com/nix-rust/nix/issues/1541](https://github.com/nix-rust/nix/issues/1541) |
| Date                | 2021-09

[2021-11-15 00:23] github-actions[bot] opened #749 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.43`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2021-11-15 01:23] corveroth commented on #746
Thank you for your work, @casperstorm.

Maybe I'm just too small-time to give a damn, but the CurseForge Reward Program never meant anything to me. I earned a whole ~15 "points" from my most active addons on Curse, and at $0.05 per point and cashouts only available in increments of 200 points, I never saw any of my paltry sixty-five cents before my points expired (which is a disgusting feature to

[2021-11-15 03:01] Walkerbo commented on #746
I am sad to hear this news.
I have used Ajour since its launch and have found it to be a very light and well-designed app.
I have also converted my family to using it exclusively.

Thanks for your work and passion in developing Ajour, it will be missed.

[2021-11-15 04:18] fadi-simetrik commented on #746
With the cost of blob storage and the ease of sending tips and donations is it such a far fetched idea to just offer blob storage and addon devs the ability to embed their own payment link to paypal or some other crowdfunding payment processor?

[2021-11-15 08:56] imHitchens commented on #746
This makes me so sad. I love Ajour. It's the fastest, easiest and harders to screw up addon manager there ever was, making it the obvious client to recommend to anyone new to the game or activities requiring addons.

It was also the one project that finally got me active on github.

I understand them not wanting competing clients or platform to use the data they hosted, and I'm grateful for the ti

[2021-11-15 10:20] christopheml commented on #746
Ajour will be dearly missed. It's the best piece of addon management software I've ever dealt with.

@fadi-simetrik The main issue is discoverability of addons. Anyone can host something on Github/Gitlab or any other similar platform and Ajour already supports installing addons from that kind of source. Installing and keeping an addon up-to-date from this kind of channel isn't a problem. However,

[2021-11-15 17:26] zhoumpo commented on #746
Understandable reaction from Overwolf to close the API when they get challenge by such good software like Ajour.
Gonna miss it.... :(
Thank you for the really good job you did.

And good luck for future project.

[2021-11-15 17:42] mmolad commented on #746
Thank you for creating what was basically the quickest and cleanest app I've ever used.  I remember the first time I hit "update all" and it iterated through every addon and updated in under 2 seconds.  I assumed something went wrong.  I don't even load web pages that fast.  Incredible work, and I am sorry it came to this.

[2021-11-15 18:06] Gogo1951 commented on #746
Hey @casperstorm ,

You had so many great features man, it's a shame Overwolf is locking you out given then don't do it anywhere near as well as you did. Talk soon man!

[2021-11-15 18:20] zappaDPJ commented on #746
Ajour is without a doubt one of the best applications on any platform I've ever used. It will also be the most missed.

I just came here to say thank you to casperstorm for all the time and expertise you've donated to this project. I can assure you it's been very much appreciated by many and I wish you luck with any future endeavours.

[2021-11-15 20:06] SpareSimian commented on #746
So CurseForge is providing a download repository, which is the expensive part which GitHub and GitLab can replace, and it also provides a "registry" of known addons so users can find them.

Proposal: Create a new GitHub project here that's simply an addon registry. Anyone can fork it to add their addon and issue a pull request to add their addon to the common registry. Savvy users could also tell

[2021-11-15 20:45] layday commented on #746
You know, I had [the same thought](https://github.com/layday/github-wow-addon-catalogue) (sans the Ajour branding ;P)

[2021-11-15 20:48] tarkah commented on #746
@sparesimian we've actually discussed this type of solution long ago. We looked at projects like Homebrew which do pretty much this.

I'd be more than happy to patch in support for this kind of backend into Ajour if a git based registry ever materialized.

[2021-11-15 20:55] jliddev commented on #746
This is literally what the hub does/is that you guys helped design lol

[2021-11-15 22:02] SpareSimian commented on #746
@layday's registry only lists GitHub addons. That could be extended with more fields to handle CurseForge and GitLab. What does Ajour currently need to handle an addon? We could start with its requirements and consider potential enhancements. What do you do when an addon is available from more than one source? (Redundant sources are a Good Thing. Sites do go down.)

[2021-11-16 01:13] 4bitfocus commented on #746
I came here to ask what it would take to make something similar as a backend, but it appears that @SpareSimian and @layday have a spark of an idea. I would love to see this kind of thing take off and I'd be happy to remove my simple little addon from anything Curse related. What else needs to happen?

[2021-11-16 02:11] fadi-simetrik commented on #746
@christopheml If github can replace curse as a central repo. The only part that needs implementation is an indexing layer, Which shouldn't be too difficult. A front end for developers would prob be need to point to their official repos.

[2021-11-16 08:06] cantreadcode commented on #746
seriously...

 all o' ya'll bitches.

[2021-11-16 08:32] Lemagex commented on #746
Ajour was great. This is sad news.

[2021-11-16 17:24] HearthCore commented on #746
I'm so sorry, thank you for your work over the years. I've been a user since i started playing again with the start of shadowlands and your addon manager ticked all the boxes without all the bloat.

I was just about to search for new addons with the next patch beeing around to corner to maybe rejoin the forces, as is, this happening turned me off to that idea.

Thank you for your work, you did a g

[2021-11-16 22:07] SpareSimian commented on #746
Correction, @Lemagex , Ajour _is_ great. Don't give up on it yet. Let's move the metadata away from CurseForge and decentralize it so no monopoly can shut it down. If we do it right, we might even see Overwolf start using it! Can we get input from other addon managers?

[2021-11-17 05:42] Kegdoctor commented on #746
I like many others will really miss this.
You built the best manager I have ever used for wow.
I love the wago integration.
Very convenient and smooth.
Also love how I was able to theme it myself, truly amazing job and thank you very  graciously for all your work.
Much props and all my respect goes out to you for this and your future endeavors

[2021-11-17 17:47] perara commented on #746
This is the right decision. You'd not want to entertain the cancerous ideas and vision of Overwolf.
With the transparency and open development you and your team have shown during this project, I'm sure that whatever project you end up working on, will be a success. Good luck!

[2021-11-20 16:40] duraz0rz commented on #746
Thank you so much for the work you did on this :) This is my favorite addon manager and I will keep using it until it no longer works!

[2021-11-22 22:00] Dzendrieh commented on #746
Bummed to hear this. Thanks for the great addon manager. You will be missed.

[2021-11-26 15:33] skibz commented on #746
Jeez...
That's really disappointing. I hope Overwolf f*****g dies in a fire.

[2021-11-27 00:00] cmberryau commented on #746
Yet another human action with a dollar sign added to it, sigh

[2021-11-27 00:11] SpareSimian commented on #746
@cmberryau The problem isn't the profit but the protectionism that prevents competition from products that we consumers prefer.

[2021-11-27 00:17] 4bitfocus commented on #746
Yeah, it's hard to break in without support. There are some good comments in this thread with ideas to overcome and keep projects like this alive.

It needs an inventory of addons that can be updated and used by authors. That costs money plus a place to store release packages. Again, money. Maybe GitHub / GitLab could be used but I'll bet they shut that stuff down once it takes off.

I'll probably

[2021-11-27 15:12] illutian commented on #746
Overwolf is just a cancer to the gaming world at this point.

[2021-11-28 19:54] Kurnasos commented on #746
I created this account to come here.... i really hope you find a way to keep ajour alive, or pass on to someone worth of it, When i found AJOUR i was happy, it was all i ever wanted, simple, easy, worked with all my addons.... i know it's a hard fight but people making addons, if i'm not too our of my mind, do them for free, there is no reason to not create another source to host them.

you did a

[2021-12-02 18:13] simonsk90 commented on #746
Awww man, what option is there for us poor Linux users now? :(

[2021-12-02 19:01] DiscordGregory commented on #746
InstaWow and WowUp claim they support linux. @simonsk90
https://ogri-la.github.io/wow-addon-managers/

[2021-12-05 08:33] glyph commented on #746
Really sad to read this. As someone with only a few hours a month to play WoW, Ajour made the experience of having a passable stack of mods non-agonizing.  Thanks for creating it, I hope it keeps working for a while, and I *really* hope that mod authors somehow band together to get their metadata into some central place (surely it could be hosted on a single github pages site as a collection of JS

[2021-12-05 17:26] 4bitfocus commented on #746
The problem is money. Would mod users pay a couple bucks a month for an index/hosting service like this to stay out from underneath the thumb of Overwolf?

[2021-12-05 17:33] SpareSimian commented on #746
Github is free and has enormous bandwidth that dwarfs Overwolf. All we need is a registry that tells Ajour (and competitors) where to find the addon (which can be Github or many other places) and how to unpack it. Along with some metadata like version, description, etc. It's really just a SMOP to switch from Curse hosting to distributed hosting.

[2021-12-05 17:52] layday commented on #746
The problem is money _for the authors_. Building a package registry around GitHub is not difficult.  CurseForge was successful at capturing the add-on market in its entirty by splitting a portion of its income between the authors of (more) popular add-ons.  Understandably, add-on authors do not want to lose this (for some of them, sole) source of income.  Then there's a general scepticism about op

[2021-12-05 18:09] 4bitfocus commented on #746
I presume not all authors, correct? Is it fair to say the top few percent are the only ones making anything measurable?

I suppose even if the remaining authors could be convinced to drop Curse and just host on GitHub, it wouldn't be hard to copy/fork/whatever those back to Curse. And then everything is split anyway.

I don't want money for my addons and don't want to use Overwolf. What options ar

[2021-12-05 19:52] SpareSimian commented on #746
I remember when Blizzard forbade addon authors from charging money for their creations. When did that change?

[2021-12-05 20:03] layday commented on #746
Interpreting donations or ad revenue sharing as "charging" is perverse.

[2021-12-17 14:00] nachtgold commented on #746
Please continue, but drop Curse support. Ajour is so powerful, addon devs should think about rehosting on open platforms like github

[2021-12-20 20:41] chrisabruce commented on #746
Why quit, why don't we build our own open api? Why can't we court addon devs directly? This shouldn't be the end.

[2021-12-24 09:55] stevebrinston commented on #746
A sad day indeed. At the very least, Ajour serves as an excellent automated backup tool. I have a daily task scheduled to backup my Interface and WTF folders. I'd imagine this will continue to work unless Blizzard changes the folder structure again.

[2022-01-02 02:14] ZINK-ZINK commented on #746
Thanks for the work you did on this.... I was just updating with Ajour and got a bit melancholy about it being Legacy software now. It reminded me again just how amazingly the program was written; like it has the speed/snappiness of a 100line tiny regEdit program or such, but it's clean and pretty like Apple software. As a lifetime geek stronger in hardware who can only barely patch up old broken

[2022-01-10 04:36] nosrednaski opened #750 "Work with private servers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-10 04:38] #750 closed

[2022-02-12 21:33] zoultrias commented on #746
This has been my goto since twitch sale. I'd be perfectly ok with an ad banner on the program, and you get paid for it through the ad rev.

[2022-02-13 01:28] ZINK-ZINK commented on #746
I don't speak for the addon author obviously, but your message to him showed up in my mail so I wanted to pitch in....

This addon dev seems like the type who would rather let their software die a dignified peaceful death rather than try to Frankenstein together something with ads and other hideous garbage just for a few bucks. Look at the person's resume, they spit out brilliant projects like thi

[2022-03-01 07:14] Kouznetsov commented on #746
Truly sad. Ajour was the greatest addon manager.
I'm still hopeful we'll find a way to exploit the data in another way.

[2022-03-20 05:31] tresrottn commented on #746
It looks like Ajour has finally passed beyond the veil for me. It no longer launches as of today.
This makes me hella sad, it's always worked wonderfully, and kept me up to date.
I have Wago for my weak auras, their horrific excuse for an addon manager doesn't have a third of my addons. I'm going to try Wowup as suggested and keep my fingers crossed.
Ajour truly was one of the best. Well done.
RIP

[2022-03-20 06:07] zoultrias commented on #746
Still loading for me version 1.3.2 and still updating for me. Hoping it stays that way for a while. I especially liked that it updated elvui too along with my addons in one click...

[2022-03-27 15:48] jsmenzies commented on #746
.Hi @casperstorm ,

Thank you so much for this application and your time developing it. It would be sad to retire this due to a corp trying to create a monopoly.

I know people have already mentioned using github as a CDN. I would be happy to invest development effort and money into creating a registry.

Perhaps you could do a kickstarter to see if enough people are willing to put money down for a

[2022-04-17 10:52] illum1n4ti commented on #746
Thank you for your amazing work! Sad to see it go, but it could be saved if we continue this project with WOWinterface and Elvui and hope the addon makers will move away from Overworlf

Did u talked to wowinterface if they are intrested in a client?

[2022-05-01 21:19] SpareSimian commented on #746
Today, May 1, Ajour is unable to check for updates for my Curseforge addons. It's successful with those from WoWInterface. Hopefully, this will encourage those with apps on Curseforge to move them to a more open platform.

[2022-05-02 00:56] DJScias commented on #746
It works again now, it seems to have been on CF's end. But it's still a foretaste of how things will be when they actually fully deprecate the old API. Which seems to be "in a few days".

![image](https://user-images.githubusercontent.com/439655/166172446-42bffefb-67ca-4d71-9183-1bb82886f4a2.png)

[2022-05-08 03:11] SpareSimian commented on #746
I wonder if we could implement some kind of torrent system? Or even blockchain. Volunteers could download a few favorite addons from Curse with the Overwolf client and then push them into such a torrent system to distribute the download cost.

[2022-05-09 01:46] SpareSimian commented on #746
Those addon authors with a package on GitHub can use this packager to build a release package for use by Ajour and other 3rd party installer/updater programs. (As seen at the AdiBags issue link above.)

https://github.com/BigWigsMods/packager

[2022-05-20 16:18] SpareSimian commented on #746
Visit your favorite addons on Curse and ask them to add the metadata to their GitHub repos so that alternative uploaders like Ajour can maintain them.

[2022-05-29 18:42] skogler commented on #746
Sorry to see this. This was absolutely the greatest WoW Addon Manager I ever had. And I've been here since TBC (first one).

[2022-07-22 09:17] stappersg commented on #746
For your information: https://www.reddit.com/r/rust/comments/w4tmyo/how_to_handle_fork_of_unmaintained_project/  has

I'm just relaying that.

[2022-07-22 11:01] Kurnasos commented on #746
Casperstorm!!! Please tell us you got hyped by dragonflight and you are coming back...

[2022-07-22 12:54] Aloso commented on #746
@casperstorm

[2022-07-23 05:38] casperstorm commented on #746
I am indeed hyped for the new expansion. It looks really awesome, however it doesn't change the fact that I still don't wanna fight Curse and the way they treat users and third parties.

In my world a perfect addon manager is just a GUI to that only does GitHub/GitLab addons which Ajour already does.

[2022-07-23 13:19] Kurnasos opened #755 "> Casperstorm!!! Please tell us you got hyped by dragonflight and you are coming back..."
I am indeed hyped for the new expansion. It looks really awesome, however it doesn't change the fact that I still don't wanna fight Curse and the way they treat users and third parties.

In my world a perfect addon manager is just a GUI to that only does GitHub/GitLab addons which Ajour already does.

What about repositories like wow up, wowinterface?

[2022-07-23 13:20] Kurnasos commented on #755
Omg I think I over did it trying to reply....should I delete?

[2022-07-23 13:32] KDederichs commented on #746
Tbh I think you could almost exclusively run it off GitHub/GitLab if there was some sort of package repo that curated the Addon Name to Repo Mapping (Kind of like Brew or Cocoa Pods).

[2022-08-01 13:17] jomaskm commented on #746
Was searching around for an open source alternative to the bloated addon managers out there and found Ajour. After that I found this post. ;_;
It is really a shame, but if it's not possible anymore due to the new API, it is understandable ofc. Hoping for another project like this in the future. :)

[2022-08-16 00:53] github-actions[bot] opened #756 "RUSTSEC-2022-0048: xml-rs is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `xml-rs`                      |
| Version             | `0.8.4`                   |
| URL                 | [https://github.com/netvl/xml-rs/issues](https://github.com/netvl/xm

[2022-08-20 00:42] github-actions[bot] opened #757 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-08-21 18:21] SpareSimian commented on #746
[AdiBags](https://github.com/AdiAddons/AdiBags), an excellent bag management addon, just started releasing on GitHub using the BigWigs scripts.  I can once again keep it updated with Ajour.

[2022-08-31 00:57] github-actions[bot] opened #758 "RUSTSEC-2021-0140: rusttype is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `rusttype`                      |
| Version             | `0.9.2`                   |
| URL                 | [https://gitlab.redox-os.org/redox-os/rusttype/-/issues/148](https

[2022-10-26 20:55] rafaribe commented on #746
I love ajour, I felt sad reading your post. I'm totally with you as a fellow developer. <3. It was the best addon manager that I used so far.
 I wish there was a way to index Github repos so ajour can run without the overwolf API, have you thought about this?

 I was thinking something similar to [this](https://github.com/whazor/k8s-at-home-search) which indexes from the github api based on topics

[2022-11-06 10:44] eth0net commented on #746
Started using Ajour a few days ago, but just found this 💔

I've already had success with installing addons via GitHub, so I may try and look into ways to extend that support in ajour, if it might be open to contributions?

If not contributions, how would you feel about a potential fork or new maintainers? I realise it's GPL licensed, so I'm reading fully into that to see how it works as I normally