[2020-07-14 18:01] mlablah opened #2 "Launch"
As a User I want to be able to launch the app.

When the app is launched it should display a GUI with a list of currently installed addons, their version and the latest version available online.

Pseudo code:
* Display GUI.
  * `Update All`, `Refresh`, `Settings` buttons.
  * Scrollable list.
* Execute `Refresh`.

[2020-07-14 18:23] mlablah opened #3 "Refresh"
As a user, I want to be able to manually trigger a refresh of the list displaying my currently installed addons.

When the list is refreshed it should show the current state of the addons in the Interface folder and the latest versions of the addon that are available online.

Pseudo code:
* Read Interface folder path from config.
  * If path not set in config execute `Set path` (work done in separ

[2020-07-14 18:32] mlablah opened #4 "Update"
As a User, I want to be able to manually trigger an update of an installed addon, where a newer version is available online.

Clicking the Update button should replace the addon, and all the addons that is related to it via dependencies, leaving the SavedVariables intact.

Pseudo code:
* User clicks the Update button
* Download addon zip from link in the data structure
* Extract to temp storage
*

[2020-07-14 18:37] mlablah opened #5 "Update All"
As a User, I want to be able to manually trigger an update of all installed addons, where a newer version is available online.

Clicking the Update All button should replace the updated addons, and all the addons that are related to them via dependencies, leaving the SavedVariables intact.

Pseudo code:
* Run "Update" code flow for each AddOn where an update is available

[2020-07-14 18:42] mlablah opened #6 "Delete AddOn"
As a User, I want to be able to delete an installed addon.

Clicking the Delete AddOn button should remove the addon, and all the addons that is related to it via dependencies, leaving the SavedVariables intact.

Updating an addon will also trigger this action.

Pseudo code:
* Refresh data structure by executing `Parse Interface folder` (to make sure we have the latest changes).
* From data struct

[2020-07-14 18:48] mlablah opened #7 "Delete Config (SavedVariables)"
**Is your feature request related to a problem? Please describe.**
As a User, I want to be able to delete the config (SavedVariables) of an installed addon.

**Describe the solution you'd like**
Clicking the Delete Config button should remove all the SavedVariables associated with the addon, and all the addons that is related to it via dependencies, but leaving the addons themselves intact.

Pseud

[2020-07-18 20:35] mlablah opened #8 "Set Path"
As a user I want to be able to specify the path to my Interface folder.

In the `Settings` menu, there should be an option to specify a path.

* Display input field to user (or allow user to navigate to folder)
* Write user specified path to config file
* Return to app main window

[2020-07-18 20:39] mlablah opened #9 "Parse Interface folder"
In order to display a list of addons in the GUI, the Interface folder must first be parsed and data structure constructed from the contents of the AddOn .toc files.

Pseudo code:
* Read Interface path from config
* Create data structure by reading the relevant `.toc` properties
* Determine whether an AddOn should be shown or not (It should probably be shown if it has`Version` property)
* Sanitize

[2020-07-18 20:45] mlablah opened #10 "Compare AddOns"
In order to determine whether the `Update` button next to a specific addon or the `Update All` button should be enabled, we must determine whether a newer version of an addon is available online.

Pseudo code:
* For each addon
  * Look up addon title online
  * Compare version numbers
  * If newer version is available
    * Write new version number to `Latest version` property in data structure fo

[2020-07-20 19:59] casperstorm commented on #2
- [X] Display GUI
- [X] Update All
- [X] Refresh
- [ ] Settings
- [X] Scrollable list
- [X] Execute Refresh

It is now possible to load the app, and view the parsed addon in a scrollable list. Two buttons are present in the controls-row: Refresh and Update All. Refresh and Update All logic is not fully implemented (this will happen in #4 and #3).

Settings for for version 1.0 will be in a `yml` fi

[2020-07-20 19:59] #2 closed

[2020-07-20 20:11] casperstorm commented on #8
As referenced in #2 - `path` for the AddOns folder should be set in the [configuration file](https://github.com/casperstorm/ajour/blob/master/ajour.yml). The file is still WIP, but it should be working for version 1.0.

[2020-07-20 20:11] #8 closed

[2020-07-20 20:13] #9 closed

[2020-07-25 20:58] casperstorm commented on #6
Closed by this commit https://github.com/casperstorm/ajour/commit/2d7633b1b46e1e5b7ce2b4f48ec87d8cf7f39ea1

[2020-07-25 20:58] #6 closed

[2020-08-05 12:28] #10 closed

[2020-08-05 12:28] #4 closed

[2020-08-05 12:28] #3 closed

[2020-08-08 20:03] #5 closed

[2020-08-09 20:00] casperstorm opened #13 "Add icon to Windows executable"
Ajour only displays an icon on the executable. However, start-menu and the application border does not have an icon.
This is dependent on https://github.com/hecrj/iced/pull/285. Currently awaiting a new release of `iced` so the API is available.

![ajour-no-icon](https://user-images.githubusercontent.com/2248455/89740754-e5447680-da8b-11ea-8640-e803d1ac1226.PNG)

- [X] Executable icon https://gith

[2020-08-09 20:06] casperstorm opened #14 "Ensure build is passing"
Build should (always) be passing on `master`.
Currently this requires that `cargo fmt` and `cargo clippy` is happy.

[2020-08-10 13:54] casperstorm commented on #14
Fixed in https://github.com/casperstorm/ajour/commit/927cc89b31555665c888ffa0aaccea5ebe0a562c and https://github.com/casperstorm/ajour/commit/f357714e4bbd81b992aeacc90533942c766d5f99.

[2020-08-10 13:54] #14 closed

[2020-08-12 00:06] github-actions[bot] opened #15 "RUSTSEC-2020-0016: `net2` crate has been deprecated; use `socket2` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `net2`                      |
| Version             | `0.2.34`                   |
| URL                 | [https://github.com/deprecrated/net2-rs/commit/3350e3819adf151709047e

[2020-08-12 00:06] github-actions[bot] opened #16 "RUSTSEC-2020-0020: `stb_truetype` crate has been deprecated; use `ttf-parser` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `stb_truetype`                      |
| Version             | `0.3.1`                   |
| URL                 | [https://gitlab.redox-os.org/redox-os/stb_truetype-rs/-/commit

[2020-08-14 13:22] casperstorm opened #19 "What to do with non-matched addons?"
If a addon does not have either a `curse_id`, `wowi_id` or `tuk_id` I can't match it against any API. What to do with those, visually?

Example:
<img width="500" alt="Screenshot 2020-08-14 at 15 53 15" src="https://user-images.githubusercontent.com/2248455/90256667-539b8700-de46-11ea-8e07-04e6c86f94b5.png">

Notice: `AngryNotes` and `AddonSkins`. They don't have any id's to any repository so i've

[2020-08-14 13:27] #15 closed

[2020-08-14 13:27] #16 closed

[2020-08-14 14:05] mlablah commented on #19
I think there are two issues at play.
1) How should unrecognized addons be displayed?
2) Should we only try and match addons using their ID from the toc file, if one is present?

Regarding #1 I think your solution of adding "-" to the second column is fine. Though I think the columns could use some titles. Eg. "Your version" and "Latest version" or something similar.

Regarding #2 I noticed that A

[2020-08-14 14:39] casperstorm commented on #19
I'll create a separate issue on this, and make that happen.

Yeah, so right now i am using https://addons-ecs.forgesvc.net/api/v2/addon/2382 for curse, where `2382` is an id found in the `.toc` file. That API, as far as i know, only works with that API. However later I would make sense to have a fallback solution with another API where i can search for a addon by slug/name.

[2020-08-14 14:40] casperstorm opened #20 "Titles above cells"
We should have titles added above each cell so it's easier to tell what is what.

[2020-08-16 08:43] casperstorm opened #21 "Windows installer is not branded with Ajour graphic"
Right now we are using default `wix` settings in order to generate the `.msi` installer for Windows. This, however, is not branded with any Ajour graphic.

I would assume customisation is possible: https://github.com/volks73/cargo-wix.

[2020-08-16 08:44] #19 closed

[2020-08-16 08:52] casperstorm opened #22 "Disable "Update all" when there's no addons"
Right now it's always active, and we should disable it when there's no addons present in the list.

[2020-08-16 08:57] casperstorm opened #23 "Improve speed when fetching addon details"
When fetching details for the top 99 most popular addons it takes between 10 to 30 seconds, and often it will also freeze the application briefly. This is likely due to the fact that for each addon we are doing a `GET` request, and it is happening in parallel.

We can't, for now, avoid making a request per addon, but we could improve the experience.

[2020-08-16 17:21] mlablah opened #24 "Addons shown that should be hidden"
Ajour attempts to present a list of addons with exactly 1 entry per downloaded addon. This means some filtering needs to take place in order to hide "sub addons" that only function as library/helper addons.

Today Ajour decides which addons should be shown in the list based on whether or not the toc file contains a row with: "## Version:"

This is a good first approximation, however...

A few addo

[2020-08-19 09:06] casperstorm commented on #24
I've updated the logic. This should hopefully yield a much better result: https://github.com/casperstorm/ajour/pull/25/commits/dd128c48ad436719cd89a556cb41420e444e57ff#diff-2daeb214043bf0d7e2c578ea98678a20R147-R158

[2020-08-19 10:25] #20 closed

[2020-08-19 10:25] #22 closed

[2020-08-19 10:25] #23 closed

[2020-08-19 10:25] #24 closed

[2020-08-19 11:31] casperstorm opened #26 "Scrollbar is overlapping content"
The scrollbar is currently overlapping the addon rows. This does not look that great UI wise.

<img width="700" alt="Screenshot 2020-08-19 at 13 29 39" src="https://user-images.githubusercontent.com/2248455/90629737-28d37900-e220-11ea-90ad-017caafdf5dc.png">

[2020-08-19 11:43] casperstorm opened #27 "What to do UI wise when we successfully update an Addon"
When an addon has been updated I am currently taking the `remote_version` and replacing it with the `version`. This can be found here: https://github.com/casperstorm/ajour/blob/master/src/gui/update.rs#L237-L238.

This was intended to be a quick fix so that, visually, you would see the "version" updated instead of just seeing "Completed!" but `version` stayed the same. I would like to avoid refres

[2020-08-19 12:38] casperstorm opened #28 "Addons without versions in toc files"
So right now we dependent on addons having a `## Version: x.x.x` in their .toc file. And example from BigWigs:

[code]
However a few addons does not have any version, meaning they won't appear in Ajour. An example is Details!:

[code]

However, while investigating this specific issue I found that Details! actually has it's [version written in one of its library toc files](https://github.com/Tercio

[2020-08-19 13:08] casperstorm opened #29 "Auto generate a default ajour.yml file."
It would make sense for the user experience to generate the ajour.yml file automatically if you don't have it.

[2020-08-19 13:15] WeaponMan commented on #13
You can use `embed_resource` for embeding icons into exe's. I did same thing with `gtk-rs` and the main window had the icon that was embedded. Not sure if it will work with iced, but you can give it a shot.

[2020-08-19 15:08] coreyprevost commented on #26
I'd like to help, is this visual basic ?

[2020-08-19 15:23] casperstorm commented on #27
As discussed with @mlablah the "proper" solution here is to re-parse the given addon, and only that.
I'll move this from medium to hard.

[2020-08-19 15:50] casperstorm commented on #26
Feel free to open a PR if solve it.
Project is written in Rust, and using [iced](https://github.com/hecrj/iced/) as GUI framework.

[2020-08-20 20:14] casperstorm commented on #13
Ive just added the following commit: https://github.com/casperstorm/ajour/pull/30/commits/777f628c8544f34c0ab11c9e2311cc74ae5aafd9.
This now shows Ajour with an icon on the .exe file, but still no icon in the status bar, or in the start bar.

[2020-08-22 08:58] mlablah opened #32 "Clicking "Refresh" during refresh operation crashes app"
If the user clicks "Refresh" during an already running refresh operation, the app shuts down.

And a related issue:
If the user clicks "Update All" during an already running refresh operation, the app will start updating those addons with available  updates, while the refresh operation is adding more to the list. This results in a list containing addons that still require updates.

Possible fix:
T

[2020-08-22 09:00] mlablah opened #33 "Error messages replace the number of addons text"
Error and status messages replace the text in the field displaying the number of addons. Refreshing the list does not re-add the number of addons to that field.

Possible fix:
Use separate fields to show number of addons and status/error messages.

[2020-08-22 09:02] mlablah opened #34 "Not clear when async operations are done"
There is no UI indication when the refresh or update all operations have completed. It's hard to judge by looking at the list.

Possible fix:
Use status mesages to communicate operation status. Eg. "Refreshing list of addons...", "Refresh complete", "Updating all addons..." and "Update complete".

Disabling the buttons as suggested in #32 would also help address this issue.

[2020-08-22 09:09] mlablah opened #35 "Buttons sometimes stuck in their highlighted state"
It's sometimes possible to move the mouse away from the application, and have the state of a button get "stuck" in the moused over appearance.

Ways to reproduce:
Mouse over the "Refresh" button, and then quickly move the pointer up. Or mouse over a "Delete" button and move mouse to the right.

Since it does not always happen, I think it is caused by the application only registering mouse position

[2020-08-22 09:12] mlablah opened #36 "List of addons not completely sorted"
The addon list looks sorted alphabetically (good), but there are some exceptions leading me to think it might not be sorted by the title as it is displayed, but as it is listed in the toc file.

See attached examples.
![abc1](https://user-images.githubusercontent.com/68285419/90953016-47c44c00-e468-11ea-9812-3d583b93a532.PNG)
![abc2](https://user-images.githubusercontent.com/68285419/90953017-485c

[2020-08-22 09:15] mlablah opened #37 "Group addons with updates at top of list"
It's not ideal having to scroll through a long list to look for updates. The UX could benefit from grouping addons that have updates at the top of the list when a refresh finishes. Preferably before the user is able to interact with the list.

[2020-08-22 09:21] mlablah opened #38 "Addons with strange update behaviour"
I apologize in advance for this "bucket"-style issue.

4 of the 99 addons I have tested show weird matches (remote versions) or remain update-able after an update which could indicate a bug in Ajour's match algorithm.

- AddOnSkins - Local 4.44, Remote: 4.43. Offered to update. I updated it to 4.43 (downgrade but now same as remote), but it still offers to update again.
- Altoholic - After updatin

[2020-08-22 09:38] #32 closed, assigned to nobody

[2020-08-22 09:51] mlablah opened #39 "Handle addon "bundles" as single addon"
**Background:**
By analyzing addon dependencies Ajour already attempts to hide "sub" addons from the list so that only 1 entry is shown per downloaded addon.

But some downloads act more like an addon "bundle", since they don't share dependencies internally, but they all have the same Curse and/or WoWInterface ID.

This means that updating one, will result in an update of all of them. And so if th

[2020-08-23 14:50] #33 closed, assigned to nobody

[2020-08-23 14:50] #34 closed, assigned to nobody

[2020-08-23 15:57] mlablah opened #43 "Ability to ignore addons"
A user may wish to exclude certain addons from update consideration, but would like to use the "Update All" operation for all other addons.

I propose an "Ignore" button inside the "Details" view of each addon. Clicking it will add the Addon to a list of ignored addons and remove it from the list. The addon will stay ignored through refreshing the list or restarting the application.

Ignored addon

[2020-08-23 17:06] casperstorm commented on #36
Good catch, i was indeed sorting by id (foldername) and not title.

[2020-08-23 18:26] #38 closed

[2020-08-24 07:15] mlablah commented on #28
Adding notes from our discussion to the issue:
Some addons have a CHANGES.txt file. The last string in the first line of that file contains a tag for the release. This seems to match the version of the addon in the curse api. So conceivably it could be used as a fallback "local version" in case the toc file doesn't contain a "## Version:" line.

Out of 5 addons that are missing version in toc, 2 h

[2020-08-24 15:08] mlablah opened #44 "Ability to edit config via a Settings menu"
As a user I would like to be able to see the content of the configuration file and be able to edit it via the application. Preferably in a way that guards against user error.

For this feature I imagine the following tasks:
- [x] A "Settings" button where the client version is currently displayed.
- [x] A Settings view underneath Update All / Refresh / Settings buttons, bumping the addon list to m

[2020-08-25 08:55] casperstorm commented on #35
This is now fixed in https://github.com/hecrj/iced/pull/496. Awaiting the merge so we can update the crate in Ajour.

[2020-08-25 09:31] mlablah opened #45 "Throttle # of connections to api"
When Ajour performs a refresh or update all operation, a large number of simultaneous asynchronous calls are being made to the API (curse, tukui, wowinterface). I suggest a setting that caps/throttles the number of connections.

I do not think this value needs to be exposed in the config file / settings view as most users will probably see it as a way to "optimize" their performance and not consid

[2020-08-25 13:40] casperstorm commented on #29
This will be fixed once #42 is rolled out.

[2020-08-25 15:34] #13 closed

[2020-08-25 15:34] #29 closed

[2020-08-25 15:34] #35 closed

[2020-08-25 15:34] #36 closed

[2020-08-25 15:34] #43 closed

[2020-08-25 19:16] mlablah opened #47 "Ability to force an update"
As a user I would like to be able to trigger an update, despite there not being a newer version available.

Use cases:
* User messed with the addon files and want to restore them to mint condition
* Ajour has looked at the remote version and decided no update is available, but this might be due to obscure versioning

Proposed solution:
In the details view of an addon, add a "Force Update" button.

[2020-08-26 17:06] m5r commented on #8
Can we make it auto-detect the path to the game ?

I just downloaded the Ajour 0.1.0 Beta 5 release on Windows and the app would constantly fail with the following error message: `Error reading ajour.yml file`.
I fixed it by updating the `%APPDATA%\ajour\ajour.yml` file with the path to the WoW folder `C:/Program Files (x86)/World of Warcraft` and the `classic` flavor setting

[2020-08-26 20:23] casperstorm commented on #8
Hey @m5r.
I don't want Ajour to auto-detect the game, because it isn't very privacy friendly. But with that said, I do 100% agree that it isn't very UX friendly that you have to edit the configuration file by hand. This will however be fixed when we merge #48 into master. We are slowly moving all the variables from the configuration file into the settings screen, so when version `1.0.0` hits you d

[2020-08-26 20:37] #47 closed

[2020-08-26 21:11] mlablah opened #49 "Add additional info to Addon Details view"
**Is your feature request related to a problem? Please describe.**
As a user, I would like to see more details regarding an addon in the "Details" view. Currently, only a short description is displayed.

**Describe the solution you'd like**
Suggestions:
- [x] Author
- [x] Link to addon website
- [ ] A fuller description than the one currently displayed (but truncated with link to full text (same a

[2020-08-27 06:24] casperstorm opened #50 "Add Ajour as a Cask to Homebrew"
Homebrew (and Cask) is the most used package manager for macOS, and I believe it would make sense to add Ajour.
There is a little work to get us going, but they have a great [README](https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md) which guides us through the progress step by step.

[2020-08-27 10:02] WeaponMan opened #51 "Linux: selected directory ending with \n"
When I select dir from button "Select directory" the selected path end with newline and the addons directory cannot be found.
Had to do ugly workaround to get it working:
[code]

[2020-08-27 10:11] WeaponMan opened #52 "Settings: add option to change flavor"
I only play classic so for the flavor change I have to dive in into the config file, so it will be nice some autodetection what flavor is installed on the given path or simple gui "SelectBox" with those options.

[2020-08-27 10:12] WeaponMan commented on #52
Oh never mind found it here #44

[2020-08-27 10:12] #52 closed

[2020-08-27 10:26] WeaponMan opened #53 "Invalid Zip archive: Could not find central directory end"
I have Questie v6.0.4 installed and I wanted to update it to the last version v6.0.5, but its ajour is downloading some botched zip that cannot be open, when I do it from the curseforge website manualy opening the zip works.

Error is "Invalid Zip archive: Could not find central directory end".

Every other addon I had updated succesfully, so maybe something wrong with the curseforge api?

[2020-08-27 10:58] casperstorm commented on #53
Thanks for reporting this, @WeaponMan.

I just tested and it worked here on macOS. However, I'll do some more investigation because I did see this error before. The curseforge api is not that stable, but if the https module says the download is succesful then and only then do i send it to be unzipped.

So a few questions, if you have the time:
* Can you upload the botched zip so i can investigate

[2020-08-27 11:00] casperstorm commented on #51
Thanks for reporting this @WeaponMan,
I'll look into this tonight and see if I can clean this up a bit.

[2020-08-27 12:45] casperstorm commented on #51
Cross-posted this issue to https://github.com/balthild/native-dialog-rs/issues/8, which is the maintainer of the crate we are using for filedialog.

[2020-08-27 12:54] WeaponMan commented on #51
I saw, btw its zenity backend

[2020-08-27 13:51] WeaponMan commented on #53
- No need, zip from curseforge have 9.1MB, the downloaded "zip" by ajour doesnt get downloaded all the way randomly ending the stream early
- happens everytime
- I think this problem is only with big addons like questie, weak auras 2 (~11MB) does the same thing if I downgrade it manualy

[2020-08-27 17:05] casperstorm commented on #53
Hm, I think this could be the problem: https://github.com/casperstorm/ajour/blob/master/src/network.rs#L18.
I timeout the request if it last longer than 5 seconds, which... seems like a bug. I must have done a typo. Do you mind testing with a larger timeout to see if it fixed the issue?

[2020-08-27 19:17] #51 closed

[2020-08-27 19:49] WeaponMan commented on #53
It works now, I thought the timeout is not that "hard" so I didnt try to change that, atleast you could replicate with bigger addons.

[2020-08-27 19:55] WeaponMan opened #56 "README: Linux install"
You can install ajour with `cargo install ajour --git https://github.com/casperstorm/ajour.git` if you have cargo and compile dependencies installed.
Would be great to publish the crate to crates.io, then you can ommit the --git part.

[2020-08-27 20:11] WeaponMan commented on #28
One could guess the version from the url of downloaded addon and add that to the toc or seperate file/database and when there is no version in toc/seperate record to get the version just offer update to the user.

[2020-08-28 06:19] casperstorm commented on #56
I think we should add a new section to the README explaining different ways of getting Ajour. This relates to #50.

[2020-08-28 06:44] casperstorm commented on #28
1. We start by parsing the addons from disk, and then we talk to the repositories to check for new versions. If we have no local version, we dont know when a specific addon is updatable or not.
2. If we edit the toc file, we also edit what Wow sees. I would like to avoid changing "the truth" which is the toc files.
3. If we show addons without versions in Ajour we will see a lot of "sub-addons". M

[2020-08-28 10:17] mlablah opened #57 "Check for Ajour update"
As a user, I would like to know when a new version of Ajour is available.

Suggested solution:
When the app is launched, check if its version matches the one tagged "Latest release" on github. If it does not match: display a "New version available!" clickable button/text, left of the version in the UI.

If the user clicks the button, open https://github.com/casperstorm/ajour/releases/latest in the

[2020-08-29 04:44] #45 closed

[2020-08-29 05:45] #44 closed

[2020-08-30 19:20] #39 closed

[2020-08-31 13:29] casperstorm commented on #50
Currently awaiting Ajour to appear as a Cask: https://github.com/Homebrew/homebrew-cask/pull/88441.

[2020-08-31 13:37] #50 closed

[2020-08-31 17:58] #57 closed

[2020-08-31 19:50] casperstorm opened #65 "Support light theme"
This is a low priority task, but it would be easy to extend the curent `ColorPalette ` to support a light theme:

https://github.com/casperstorm/ajour/blob/d765c4675797c09bbac5af7e70c51b78f7edd991/src/gui/style.rs#L12-L23

An example of light theme colors could be: https://coolors.co/6100ee-00dac6-000000-f5f5f5-af0120-ffffff:

[code]
Essentially the value should be saved to the `Config` and change

[2020-08-31 19:56] casperstorm commented on #28
I'll close this down for now. The decision we have taken is that an addon is required to have a version specified in the toc file. Does the addon not have this, Ajour will not show it.

I would recommend people to take a look at the [wiki](https://github.com/casperstorm/ajour/wiki/Addons-with-known-issues) where we have collected a list of addons with known issues.

[2020-08-31 19:56] #28 closed

[2020-09-01 18:47] casperstorm commented on #56
I can't create a package right now, because `iced` is not bound to any version in [Cargo.toml](https://github.com/casperstorm/ajour/blob/master/Cargo.toml#L15-L16). When `iced` releases a new version with the features we dependent on, i'll create a crate and add the information to [INSTALL.md](https://github.com/casperstorm/ajour/blob/master/INSTALL.md).

[2020-09-02 09:28] casualshammy opened #66 "App doesn't show any addon in the list"
Hello.
I don't sure if this app is ready-to-use, but I can't get it working :(
After setting path to WoW folder nothing appears in the list of addons.

Steps (on Windows 10):
1. Download latest release.
2. Launch app (even as administator), set path to WoW dir.
3. I have many addons installed, but list in the app is empty.

Maybe this app writes a log somewhere?

[2020-09-02 09:52] casperstorm commented on #66
Hi @casualshammy,
I am sorry you had a bad first experience. This proves there is still work to be done.

- Did you select the root of the World of Warcraft folder?

In my case on Windows that would be `C:\Program Files (x86)\World of Warcraft`.
Ajour then looks at `[path-you-choose]/_retail_/Interface/AddOns` (or `_classic_` if you choose that).

Can you provide the path you provided to Ajour and

[2020-09-02 10:09] casualshammy commented on #66
My full path to addons folder is `D:\games\World of Warcraft\_retail_\Interface\AddOns`
I'm getting error message ("Addon folder is not found") if I select any folder except `D:\games\World of Warcraft`

![Ajour setting](https://user-images.githubusercontent.com/4965168/91967860-b7112a00-ed0b-11ea-8ec4-8effbab54e79.jpg)
![Addons folder content](https://user-images.githubusercontent.com/4965168/919

[2020-09-02 10:42] casperstorm commented on #66
I havn't seen this issue before. This is very strange. Maybe it has something to do with your localization?
If you have the time, and want to help out could you then test the following for me:

* Rename your AddOns -> AddOns_org.
* Create a new folder AddOns folder.
* Copy `BGDefender` from AddOns_org to AddOns.

Refresh Ajour, or restart it. Do you see this then?

<img width="768" alt="Screenshot

[2020-09-02 10:46] casualshammy commented on #66
Yes, I see this addon. I guess next step is to delete addons one by one? :)

[2020-09-02 10:49] casperstorm commented on #66
Haha, that is too much to ask for you!
A big help would be if you could zip your AddOn folder and upload it to somewere (WeTransfer or similar). Then i'll go through all the addons and figure out which one causes that behaviour.

[2020-09-02 10:59] casualshammy commented on #66
It wasn't so hard. This addon causes issue (it is quite old, I don't use it and I can remove it, but maybe you'll find it useful):
[ChatBar.zip](https://github.com/casperstorm/ajour/files/5161818/ChatBar.zip)

[2020-09-02 11:24] casperstorm commented on #66
It's a UTF-8 encoding issue. I'll push a fix soon.
Thank you so much for all the help, and for taking the time report this issue.

[2020-09-02 11:27] casualshammy commented on #66
Ah, encoding... It' is a pain in the ass sometimes :)
Thank you for your work!

[2020-09-02 11:29] #66 closed

[2020-09-02 14:32] casualshammy opened #67 "Calculating hash as a way to determine version"
Hello.

I guess it is really difficult to determine version of addons on third-party websites, so thank you for your hard work.

As a 'last solution', could you consider using any hash algoritm? Something like option "Use hashing algoritm to determine addon version". It straitforward way to handle cases like [Easy Scrap](https://www.curseforge.com/wow/addons/easy-scrap/files/all) - two different v

[2020-09-02 16:21] tarkah opened #68 "Rendering artifacts in Local version text"
I'm getting rendering artifacts in the Local version text.

![image](https://user-images.githubusercontent.com/10239377/92009575-94781480-ecfd-11ea-8f20-f415db051557.png)

[2020-09-02 16:25] tarkah commented on #68
This commit is causing it https://github.com/casperstorm/ajour/commit/1a253803639973dc18f4ada22bb4e45003426ef7

[2020-09-02 16:26] mlablah commented on #67
Hi casualshammy.

Thanks for your suggestion to use hashing as a kind of fingerprinting to detect version changes independent of actual version reported by local addon and the api's we query.

This prompted us to discuss it internally (@casperstorm and I) and we sort of broke it down into a couple of scenarios.

**Scenario 1a: To handle addons that don't have a version in toc**
- calculate hash of

[2020-09-02 16:27] casperstorm commented on #68
Ah, i know the cause of this. I'll fix this. Good catch.

[2020-09-02 16:28] tarkah commented on #68
Looks like it caused by since the version of my addon has additional data in it

[code]

[2020-09-02 16:29] tarkah commented on #68
If I expand it to 35 units...

![image](https://user-images.githubusercontent.com/10239377/92010566-cc338c00-ecfe-11ea-8a3c-eaba8e41a49c.png)

[2020-09-02 16:41] #37 closed

[2020-09-02 16:55] casperstorm commented on #65
@tarkah Depending on your mood, time etc – this could maybe be a fun for you if you were up for it. It's not really a feature which is needed but i've always thought it would be quite elegant with a theme enum in config and then the UI would reflect that.

Another thing you could help me out with is a general "optimization walkthrough" of the codebase. That would be AWESOME because I think theres

[2020-09-02 17:20] tarkah commented on #65
Yeah, this is such an easy feature to ship and adds a lot of value to end users. I'd say you ship the application with a default theme file that includes the dark and light themes, but allows the user to add their own. That files gets de-serialized on startup and even monitored for hot reloading when changed. We can expose the themes through a drop down selection in settings and save the chosen th

[2020-09-02 17:26] casualshammy commented on #67
Ah, I forgot about subfolders... But what if
1. Get list of all folders in `AddOns` folder
2. Look for corresponding addons in api (BTW, any plans for supporting wowace? [DeathNote](https://www.wowace.com/projects/deathnote) wants to be in Ajour! :) )
3. Download all addons. I understand that it is not 1 MB of data, but even raider.io is just about 70 MB. Anyway, this "Use hashing algoritm to dete

[2020-09-02 17:56] casperstorm commented on #65
That sounds awesome, because then people could share themes in the future. That's of cause a feature you easily can live without but again – it just awesome to support something like that.

You can have the ball on this one, because then i'll try to keep focus on cleaning up, optimizing and have a as polished app as possible before launch. Of cause, theres no strings attached if you don't feel lik

[2020-09-02 18:04] tarkah commented on #65
Sounds good! Go ahead and assign it to me if you'd like. I'll work on this over the next week.

[2020-09-02 18:55] mlablah commented on #67
Looks like you've discovered another edge case we weren't aware of! :)

Death Note is also on Curseforge but it looks like the title in the toc (DeathNote) is different from the title in the api (Death Note) so we don't find it when we search for it. I think this would also be a problem using wowace, because if I search for DeathNote there I get no results.

We would really (really) like to avoid

[2020-09-02 19:16] casualshammy commented on #67
Maybe I explained my idea wrong (you don't need to save any information between sessions), but I can understand your focus on app performance. I just personally prefer to make it slower, but more reliable :) Unfortunately, I don't know Rust, so I cannot break something in your program (ha-ha).
Thank you very much for detailed answers!

[2020-09-03 20:05] #68 closed

[2020-09-03 20:06] casperstorm commented on #68
I've fixed this with a temporary fix. If we increase the cell height it breaks (again) but I'll need more time to come up with a proper solution because in my opinion it is something `iced` should be able to handle.

When I have a proper solution I'll open a PR.

[2020-09-03 20:20] tarkah commented on #68
Sounds good, thanks for getting this fixed. Yeah, until he gives us a way to disable text wrapping, we're out of luck here on taller rows.

[2020-09-04 08:08] casperstorm commented on #49
I am gonna continue working on this issue.
I would like to update the design a little as well, and clear up the detail view a little. It's very cluttered and orientated to the left even though we have plenty of space to the right. This can we do better.

[2020-09-04 16:27] xaldron opened #74 "Updating addons and status reverts to "update" after I refresh"
Hello,
Thank you for this great contribution. I've been looking for a good open source alternative to Twitch for a long time, and now seem to finally have found one.

I'm encountering an issue where the app tells me that certain apps need an update. After I update said addons trough the app, the status reverts to "update" after I refresh or close the app and open it again. Any ideas what might cau

[2020-09-04 17:19] mlablah commented on #74
Hello @xaldron.

Thanks for reporting the issue.

This can happen if the version reported by the api, doesn't match the "## Version:" in the .toc file of the downloaded addon. If that happens Ajour will think that the addon is out of date and present the "Update" button again (unless the addon is manually ignored).

Can you tell us which of the addon(s) you are using that exhibit this behavior?

W

[2020-09-04 17:25] xaldron commented on #74
Hello Mlablah, and thanks for the quick response!
For retail I encounter the issue with the following addons:
- Easy Scrap
- GladiatorloSA

For classic:
- Atlas
- Wardrobe

Thanks again for an otherwise great addon manager! Do you have plans to add the feauture to also install addons from your app? :)

[2020-09-04 18:04] mlablah commented on #74
I've taken a look at the listed addons.

| addon | flavor | toc | api | explanation |
|-|-|-|-|-|
| Easy Scrap | retail | 24 | 25 | version in toc doesn't match api version |
| GladiatorLOSSA2 | retail | 2.3.2 | GSA2_2.3.2 | number "2" in addon name tricking ajour |
| Atlas | classic | v1.47.03.11304.00 | v1.47.03.11305 | version in toc doesn't match api version |
| Wardrobe | classic | 2.0.0 | Wa

[2020-09-05 05:44] #65 closed

[2020-09-05 14:23] mlablah opened #75 "Fingerprint local addons to improve addon parsing"
**Is your feature request related to a problem? Please describe.**
Currently our ability to match a local addon with an online repository is entirely dependent on the quality of the data in the local toc files. In many cases the `version` tag is missing from the toc file or it has an incorrect value.

**Describe the solution you'd like**
To mitigate this, we can implement a fingerprint algorithm t

[2020-09-05 17:33] mlablah opened #76 "UI artifact in Settings menu"
**Describe the bug**
In the latest Ajour release (version 0.2.5) there is a **tiny** UI artifact in the Settings menu. The left side of the bottom edge of the menu is 1 pixel higher than the right side.

**To Reproduce**
1. Open the Settings menu
2. See UI artifact at bottom edge of menu.

**Expected behavior**
A straight border.

**Screenshots**
![uiartifact](https://user-images.githubusercontent

[2020-09-06 00:00] kiraleos opened #77 "Add feature to install addons instead of only being able to update them."

[2020-09-06 09:35] casperstorm commented on #77
Hi @kiraleos - Thanks for the suggestion.

It is a well discussed feature and at some point we will add it. Focus, however, is to do few things, but do them well.
Reason is that I don't want to add features left and right without ensuring stability and performance.

Once I am happy with the current feature set, I will add more features and this is on top of that list.
I'll leave this open for now,

[2020-09-06 13:28] casperstorm commented on #77
You can follow the roadmap here now: https://github.com/casperstorm/ajour/projects/2

[2020-09-06 13:28] #77 closed

[2020-09-07 12:28] casualshammy opened #79 "Trim leading and trailing spaces in addon info"
**Describe the bug**
![_DevPad](https://user-images.githubusercontent.com/4965168/92387310-31c3b600-f10d-11ea-8d31-7e7d09614c65.png)
DevPad is not a popular addon, but just in case.

**To Reproduce**
Install an addon with some thing like `## Title:・・・・・・・_|cffCCCC88DevPad|r` in `.toc` file, where `・` is space.

**Expected behavior**
Addon name to be shown without spaces.

**Desktop (please complet

[2020-09-07 13:25] casperstorm commented on #79
Thank you (again) for reporting these issues, @casualshammy.
I'll take a look at fixing my regex to handle this later today.

[2020-09-08 08:24] #79 closed

[2020-09-08 10:43] the-isz opened #82 "Addon BtWLoadouts doesn't show remote version"
**Describe the bug**
The addon BtWLoadouts including its local version is detected by ajour, but the remote version only shows as "-".

**To Reproduce**
Steps to reproduce the behavior:
1. Download BtWLoadouts from here: https://www.curseforge.com/wow/addons/btwloadouts
2. Unpack into WoW Interface folder
3. Open ajour
4. Observe remote version shown as "-"

**Expected behavior**
Remote version sh

[2020-09-08 10:49] the-isz opened #83 "Add search and install"
**Is your feature request related to a problem? Please describe.**
It would be very convenient to install addons directly from ajour instead of having to install them manually once.

**Describe the solution you'd like**
Search feature:
1. Enter keywords
2. ajour searches curseforge and other addon pages for matching addons (names and descriptions)
3. ajour lists matches
4. Each match has an "Insta

[2020-09-08 10:53] casperstorm commented on #82
Thanks for reporting this, @the-isz and thanks for the kinds words.
This issue will be fixed with #78 where I can do a better search for addons.
Eta is end of this week, it's a little big refactor but hoping to have it ready soon.

[2020-09-08 11:01] casperstorm commented on #83
This is planned! You can see the whole roadmap here: https://github.com/casperstorm/ajour/projects/2.
I want to get this right, but before starting I want to make sure parsing, fetching and dowloading addons is smooth as butter which is why feature set is limited to that for now.

I'll close this for now since you can read more in the roadmap, but please open new issues if you have problems, ideas

[2020-09-08 11:01] #83 closed

[2020-09-08 11:54] mlablah commented on #82
I had a look at the addon on curseforge, and it appears that the author hasn't published any version with type "Release". All the ones listed under https://www.curseforge.com/wow/addons/btwloadouts/files are of type "Beta". Currently Ajour only looks for the latest "Release" build.

By itself #78 won't fix it, but we could consider making ajour look for newer beta (in addition to regular) releases

[2020-09-10 18:26] #76 closed

[2020-09-10 20:35] casperstorm opened #87 "Optimize parse module"
@tarkah pointed out that the parse module is right now doing a lot of clones, and additional allocations.
We should eventually optimize this if possible.

[2020-09-10 20:36] casperstorm commented on #87
@tarkah will give this a stab.

[2020-09-10 20:37] #67 closed

[2020-09-10 20:37] #74 closed

[2020-09-10 20:37] #75 closed

[2020-09-10 20:37] #82 closed

[2020-09-10 22:17] tarkah opened #88 "Addons not getting parsed after update through app"
**Describe the bug**
I wanted to fully try out all the changes we implemented so I created a new addons folder with the top 16 WoW classic addons from curse, 13 of which I grabbed older versions to test the update functionality.

Launching the app, they all showed up very quickly! Woo, the app is fast and fetches the remote data quickly as well :) I then clicked Update All and the statuses all cha

[2020-09-10 22:21] tarkah commented on #88
Time to sprinkle some `dbg!()` and see where things fail :P

[2020-09-10 22:48] tarkah commented on #88
So the issue is these addons only have a partial fingerprint match, not an exact fingerprint match. And when we fetch package info for addons with a curse id, we only do it on the addons with an exact fingerprint match, not ALL non-tukui addons with a curse id.

Therefore these are falling through the cracks, even though we can apply information to them from the package lookup on their curse id.

[2020-09-10 23:06] tarkah commented on #88
As for why the fingerprint isn't exact... still trying to figure that out. From the one addon I'm targeting, it appears the main addon folder has the right fingerprint, but the folder for one of its dependencies / modules does not have the correct fingerprint.

I'll dig into how the zip files are unpacked because when I manually download from the same URL the auto update process grabs from, and th

[2020-09-10 23:14] tarkah commented on #88
It appears when we unzip the update, we copy over files to the destination. However, we don't first remove the contents of the original addon, so if there are older files from the addon that don't exist in the new version, those will remain and throw the fingerprint off?

I'll test cleaning the target folder first and seeing if that fixes this.

[2020-09-10 23:31] tarkah commented on #88
Ahh, and on top of it, the fingerprint doesn't get recalculated for the module, just the parent addon. So we need to fix our update fingerprint function to also capture that.

[2020-09-11 05:17] #87 closed

[2020-09-11 05:17] #88 closed

[2020-09-11 11:04] mlablah opened #90 "Addons with unknown fingerprints not shown in UI"
**Describe the bug**
Addons that do not match fingerprints known to the curse api are no longer shown in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Pick an addon that is currently shown in the UI (and then close ajour)
2. Edit the addons .toc file with some non-whitespace character. I chose to change the version to some lower number.
3. Delete the fingerprints.yml file to force

[2020-09-11 11:26] casperstorm commented on #82
@the-isz I've released a new version of Ajour which will show this addon. :-)

[2020-09-11 15:43] tarkah commented on #90
I noticed this as well yesterday when resolving #88.

Currently 2 API requests occur to Curse. The first is querying all fingerprints. The second queries addons with a curse id. However, instead of querying ALL non-tukui addons with curse ids, it's only querying the exact match fingerprint addons.

This should be an easy fix since we are already requesting additional package data based on curse id

[2020-09-11 15:54] tarkah commented on #90
@mlablah I noticed in your `.toc` screenshot this addon doesn't have `X-Curse-Project-ID` specified. This is what would be used as a fallback against the curse API if fingerprinting doesn't match (once we get that fallback working).

Are you still expecting to see the addon in Ajour if there is no tukui ID or curse ID / fingerprint for the addon?

[2020-09-11 16:36] tarkah commented on #90
#91 partially addresses this issue in that it will now show addons that failed fingerprinting, but have a valid Curse ID that can be looked up.

I tested this by manually changing the version on an addon, which threw off it's fingerprint and deleted `fingerprints.yml` to capture this change. Previously, this addon would not show up. Now, it does show up and shows an update is available.

![notepad

[2020-09-11 20:47] mlablah commented on #90
I think in that scenario it should still be displayed (except in cases where it's determined to be a dependency of another addon).

And the remote version can be looked up like it was in 0.2.x as well, using the title of the addon.

But if you guys think it's a bad idea to use as a final fallback measure, that's fine by me as well. :)

[2020-09-11 21:04] the-isz commented on #82
Works perfectly, thank you! :)

[2020-09-12 02:32] mchris2 opened #92 "Able to select Release Type of Alpha or Beta when updating addons"
**Is your feature request related to a problem? Please describe.**
I prefer to install Alpha releases of addons (and as I have 185 addons installed it's not really feasible to do it individually). When an alpha version is released I install it, and then only revert to Beta or Release if there are issues found.

**Describe the solution you'd like**
Ability to select the release type of individual a

[2020-09-12 02:42] mchris2 opened #93 "Read addon changelogs before updating"
**Is your feature request related to a problem? Please describe.**
I really prefer to read the changelog of every addon before I update it so I know what is actually changing.

**Describe the solution you'd like**
I can think of a few different ways this could be done. I'll list them in my preferred order, but happy for your expertise
1. If an update is available, when you click on the Remote vers

[2020-09-12 04:34] nicholasthie opened #94 "Improve clarity of row titles to reflect current sort state"
**Is your feature request related to a problem? Please describe.**
I would like to see what the list is currently sorted by and in what order. Currently, you need to look at the list itself and make a guess on how it is sorted.

**Describe the solution you'd like**
* Highlight which column is currently sorting the list
* Give an indicator of the sort order (ascending/descending)

[2020-09-12 05:03] casperstorm commented on #94
Thanks for the suggestion @nicholasthie.
I agree with you: UX wise this is needed, and would be a great addition.

[2020-09-12 05:08] casperstorm commented on #93
This is a suggestion, @mchris2.
[Issue #49](https://github.com/casperstorm/ajour/issues/49) releates to this, and we are planning to add the changelog when provided. I have been struggling with the ux of this, so thanks for your four solutions i'll try to play a play around a little and see what works best. This should be done soon as I am currently working on that said issue.

[2020-09-12 05:13] casperstorm commented on #92
Good point, and good use case @mchris2.
I actually know what type of release it is, so we could add a dropdown menu in the details section for each addon. This would of cause only work for addons found on CurseForge, and not TukUI because they only have 1 release channel.

This should be fairly straight forward to implement.

[2020-09-12 07:51] nina-j opened #95 "Thread panic at init when run from terminal in Manjaro Linux"
**Describe the bug**
Ajour tries to create a folder that already exists and emits a thread panic when run from the terminal under Manjaro KDE.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build ajour
2. Click on the binary in `target/release`
3. Have Dolphin tell you that executing binaries is not allowed for security reasons
4. Run from terminal instead `cd target/release/` -> `./

[2020-09-12 10:50] casperstorm commented on #95
Thanks for reporting this @nina-j
The issue seems to be that intially when Ajour is starting we are asking for the `config_dir` a few times. And some race condition is causing this behavior:  while creating the folder, someone else asks if the folder is created which it isn't hence it tries to create the folder and fails because by the time it's done someone else created it.

As you also said, the

[2020-09-12 15:34] J4nsen opened #96 "Make AddOns folder search case-insensitive"
**Is your feature request related to a problem? Please describe.**
I'm on Linux. Addon folder was named "Addons" instead of "AddOns", hence Ajour could not find the directory.

**Describe the solution you'd like**
Make folder-search case-insensitive.

**Describe alternatives you've considered**
Fixed by renaming Addons to AddOns.

**Additional context**
I don't know why my Addon folder was named t

[2020-09-12 15:52] mlablah commented on #92
@mchris2 Can you elaborate on the exact behavior your would expect from Ajour with this feature?
Say for example you select the "Beta" channel for Addon X. Would you then expect it to:
1) Always update to the latest beta version of the addon.
2) Update to the latest Beta OR Release version of the addon. Whichever is newest.

[2020-09-12 22:04] tarkah commented on #95
@nina-j Since it appears your building from source, can you test #95? Delete your .config/ajour folder first and then `cargo run --release` (this builds and runs it in one command instead of having to run it from `target/release`).

Thanks!

[2020-09-12 22:15] tarkah commented on #95
I was able to test on my linux desktop. Previously I got the same panic when .config/ajour didn't exist on bootup. With #97 it no longer panics when .config/ajour doesn't exist on bootup.

[2020-09-12 23:02] tarkah commented on #96
I got this working through #98 . I've tested with a bunch of combinations including `InTeRFAcE/aDdONs`

[2020-09-13 00:45] mchris2 commented on #92
@mlablah  Option 2 is the preferred one. So you always have the most recent version whether it is Alpha, Beta or Release.

[2020-09-13 07:11] Ruffz opened #99 "Make UI Remember window size and position"
_**Is your feature request related to a problem? Please describe.**_
UI size reset at startup and the window appear randomly anywhere.

_**Describe the solution you'd like**_
Make UI Remember window size and position.

[2020-09-13 07:11] Ruffz opened #100 "Add ability to increase UI font size"
_**Is your feature request related to a problem? Please describe.**_
UI font size is a little too tiny.

_**Describe the solution you'd like**_
Add ability to increase UI font size.

[2020-09-13 07:11] Ruffz opened #101 "Make Columns draggable and resizable"
_**Is your feature request related to a problem? Please describe.**_
I would like to have "Status" column right after "Addon" column and have ability to set the space between columns.

_**Describe the solution you'd like**_
Make Columns draggable and resizable.

[2020-09-13 07:11] Ruffz opened #102 "Add more, optional, columns like Latest version / Game version / Author / Last update date"
_**Is your feature request related to a problem? Please describe.**_
Not an issue, just a personal preference.

_**Describe the solution you'd like**_
Add more, optional, columns like Latest version / Game version / Author / Last update date / Any users other idea.

[2020-09-13 07:11] Ruffz opened #103 "Add "Recently Updated" mention in Status column and make Ajour remember that even after a refresh"
_**Is your feature request related to a problem? Please describe.**_
It can be useful, to find the culprit in case of bugs, to know which addons are recently updated like Curse/Twitch client do.

_**Describe the solution you'd like**_
Add "Recently Updated" mention in Status column and make Ajour remember that even after a refresh (display duration to be determined, current day ?).

[2020-09-13 07:11] Ruffz opened #104 "Add "Recently Updated" mention in Status column and make Ajour remember that even after a refresh"
_**Is your feature request related to a problem? Please describe.**_
It can be useful, to find the culprit in case of bugs, to know which addons are recently updated like Curse/Twitch client do.

_**Describe the solution you'd like**_
Add "Recently Updated" mention in Status column and make Ajour remember that even after a refresh (display duration to be determined, current day ?).

[2020-09-13 07:12] #104 closed

[2020-09-13 07:30] #95 closed

[2020-09-13 07:33] #96 closed

[2020-09-13 08:10] casperstorm commented on #99
Right now the window size is hardcoded to a specific value at each startup:
https://github.com/casperstorm/ajour/blob/2718634bedb75a322dc8f70be3079abdd73c9aa3/src/gui/mod.rs#L291

We should be able to add an event listener to listen to window size change and save this to our config file, and then use that size on startup. It would however require us to load the config file a little earlier than wh

[2020-09-13 08:50] mawmaw1 opened #105 "Multiple addons not showing up"
Addons does not show up in Ajour, but is recognized and updateable in twitch app:

https://www.curseforge.com/wow/addons/extended-character-stats
https://www.curseforge.com/wow/addons/bagnon
https://www.curseforge.com/wow/addons/weaponswingtimer

[2020-09-13 10:13] mlablah commented on #105
Hello @mawmaw1. Thank you for trying out Ajour. We really appreciate it. 👍

Just writing to get some additional context and add some of my own.

Can you confirm that you are using the latest release version of the client (0.3.2)?

Also can you confirm that you specified the "flavor" of the game you are using in the settings?

I have tried to reproduce the error by downloading the latest retail and

[2020-09-13 10:18] mawmaw1 commented on #105
Thanks for a great program btw!

I confirm using 0.3.2 and have selected the classic flavor.

[2020-09-13 10:25] casperstorm commented on #105
I am working on a fix, for now this executable should fix your problem:
[ajour.zip](https://github.com/casperstorm/ajour/files/5213919/ajour.zip)

Let me know if it works.

[2020-09-13 10:33] mawmaw1 commented on #105
Wow that was quick, thanks! It found the 2 addons mentioned by @mlablah - Bagnon still isn't found for some reason.

The program crashed, and I got the following message trying to open it again: "Operation did not complete successfully because the file contains a virus or potentially unwanted software".

And my desktop then became unresponsive and I had to restart my computer 🤣

[2020-09-13 10:48] mlablah commented on #100
@Ruffz I like this idea and I agree with you that the default font size can be a little small in the Windows build of Ajour!

In this case however, I think the right solution would be to give the user full UI zoom control, and not just control of the font size, since the latter may have unforeseen consequences with the layout of the UI breaking.

I have therefore added UI zoom to the backlog of ou

[2020-09-13 10:50] #100 closed

[2020-09-13 10:58] casperstorm commented on #105
Great, issue was that our logic for parsing them failed, but it is now fixed in #106. It will be released early next week.

I think the reason is that the content may have been locally modified. You could try to delete the addon from `Interface/AddOns` (BagBrother, Bagnon, Bagnon_Config, Bagnon_GuildBank and  Bagnon_VoidStorage) and re-download the addon. I can see all three addons now (running #1

[2020-09-13 11:04] #105 closed

[2020-09-13 11:05] casperstorm commented on #105
Closing this now @mawmaw1 – a new release will be out soon which will include the fix. Thanks for reporting and helping us make Ajour better.

[2020-09-13 11:17] casperstorm commented on #99
I have added this feature to our roadmap - you can follow the progress of it here: https://github.com/casperstorm/ajour/projects/2#card-45378920

Thank you so much for taking the time opening these feature requests.

[2020-09-13 11:17] #99 closed

[2020-09-13 11:40] casperstorm commented on #56
Resolved in 579e17e347d06bd14dae8c0af6fc742626a86d2f

[2020-09-13 11:40] #56 closed

[2020-09-13 13:40] hamdeli opened #107 "Elvui Add-on folder is deleted if an error is encountered during the update process."
**Describe the bug**
 Specific add-on's app folder is deleted after failure to update due to permissions replacing existing files.

**To Reproduce**
Steps to reproduce the behavior\:
_Requires an older version of ElvUI to be manually installed so as to trigger the update availability prompt in Ajour._
1. Launch Ajour normally, no elevated permissions.
2. Take note of add-count.
3. Click to update

[2020-09-13 13:53] hamdeli commented on #107
Label should be changed to "enhancement"

[2020-09-13 19:21] mlablah commented on #107
Discussion:
This sounds like a request that failing updates are rolled back to their previous state.
But since we don't touch the local folders until after we have successfully downloaded the update, and extracted the content of the archive to a temporary location, this is about handling errors after this point.
Perhaps we could rename the current folders instead of replacing them, and keep them a

[2020-09-13 21:34] hamdeli commented on #107
@mlablah ElvUI folder was gone, but ElvUI_OptionsUI was still there. I will also add that I am running app version 0.3.3.

[2020-09-13 21:41] casperstorm commented on #107
0.3.3, which currently is on master is not 100% stable yet. Once 0.3.3 is stable, and it’s released then going forward master will always be latest stable release but for now it’s actually working as develop branch as well meaning it’s from time to time pretty unstable.

More important though, does this issue happen on 0.3.2?

Thanks for the detailed report.

[2020-09-14 14:02] hamdeli commented on #107
@casperstorm I tried this in 0.3.2, and was able to reproduce it, but when gathering screens with proper timestamps and logs in a followup test, the update actually succeeded. So it seems spotty... Id like to get some logging around this

Here are screens that you see when it errors out.
![error_2020-09-14_093758](https://user-images.githubusercontent.com/660665/93094847-6f29c580-f670-11ea-9d03-bf

[2020-09-14 14:14] casperstorm commented on #107
Thanks for the detailed log, and screenshots.
I think we have everything needed to solve this issue. I'll try to expedite this right after I am done working on #108.

[2020-09-15 21:36] casperstorm commented on #101
Thank you so much for your feedback, @Ruffz.
I have no added it to our roadmap: https://github.com/casperstorm/ajour/projects/2#card-45550101.

[2020-09-15 21:36] #101 closed

[2020-09-16 06:42] #94 closed

[2020-09-16 07:31] mlablah opened #113 "Close Settings view when interacting with UI outside it"
**Is your feature request related to a problem? Please describe.**
While not a huge issue, I sometimes find it a little strange that the Settings view remains open after I've finished using it. I know I can close it again by clicking the Settings button again.

**Describe the solution you'd like**
As a user, if I interact with controls outside the Settings view, I would like the Settings view to a

[2020-09-16 09:35] mlablah commented on #92
**Design proposal**
* Add a "Default update channel" option to settings. Possible values should be 3 of the file types supported by Curse: "Alpha", "Beta" and "Release" with the pre-selected value being "Release".
* Allow the user to override the default update channel by choosing a different channel in the details view. e.g. a dropdown with options: "Default", "Release", "Beta", "Alpha".

Notes:

[2020-09-16 14:38] #113 closed

[2020-09-16 23:46] mchris2 commented on #92
@mlablah I like it

[2020-09-17 00:21] tarkah commented on #90
@mlablah Just a heads up that we reverted my changes from #91 due to it potentially exposing dependency folders as Addons through the GUI. I've got some ideas on how to more gracefully handle the fallback strategies, but it's not going to make it into `0.3.4`. I'll link any future PRs here to track against this issue.

[2020-09-19 05:41] casperstorm commented on #102
This has been added to the [roadmap[(https://github.com/casperstorm/ajour/projects/2#card-45790708).

[2020-09-19 05:41] #102 closed

[2020-09-22 17:51] #49 closed

[2020-09-24 13:47] casperstorm opened #128 "Optimize rendering time, view, and layouting."
When running a debug build and hitting `f12` we are able to inspect different metrics from `iced`:

<img width="1307" alt="Screenshot 2020-09-24 at 15 41 23" src="https://user-images.githubusercontent.com/2248455/94153066-9d7f8000-fe7c-11ea-9816-e113598bcc99.png">

I think it would be nice to look into if we could get these numbers even lower. We don't have any performance issues, but we always wa

[2020-09-24 15:49] tarkah commented on #128
Yeah this is something we definitely need to dig into at some point. I've done some rust profiling with `perf` before, but on much simpler programs. I wonder how well it'll work with the Iced framework making a lot of noise.

I have no context for how fast each of these metrics should be, plus we are running a debug build so it'll be much lower than the release profile. But it's a good benchmark t

[2020-09-24 15:52] tarkah commented on #128
Interestingly, on windows, the Update speed is orders of magnitude faster! I average somewhere around 500-600ns. Layout is a bit quicker too. I wonder what the main driver for that difference is. I assume those operations are completely CPU bound?

![image](https://user-images.githubusercontent.com/10239377/94168851-eb779200-fe42-11ea-9fa0-16d098026354.png)

[2020-09-24 15:55] tarkah commented on #128
Or could just be when you took the screenshot... It appears the Update starts high when first launched, then drops pretty quickly after moving the cursor around for a bit.

[2020-09-24 16:05] casperstorm commented on #128
To be honest I haven’t debugged it TOO much. It’s just a thing I had in my mind for some time that it would be nice to do some debugging on.

Also we have this in our main.rs:
https://github.com/casperstorm/ajour/blob/a515c4c84e87eee29e92a3bbb8a54516951074fa/src/gui/mod.rs#L347

[2020-09-24 16:08] tarkah commented on #128
From the docs... might not do much for us since we don't use Canvas or have too many complex shapes outside text
[code]

[2020-09-24 16:22] tarkah commented on #128
:o apparently you can use Firefox Profiler with `perf` data

https://www.reddit.com/r/linux/comments/g0mx3z/til_firefox_profiler_makes_an_awesome_gui_for_perf/

[2020-09-24 16:40] tarkah commented on #128
Here is the profile after running for just ~20 seconds, opening settings, changing theme, switching flavors, clicking refresh a couple times

https://share.firefox.dev/2RXHTMt

[2020-09-24 16:49] casperstorm commented on #128
Wow, this is really really cool. This could be very useful.

[2020-09-24 17:00] tarkah commented on #128
Yeah, its tough because all of our commands get spawned on the async runtime, so they are scattered across all the threads, but if you search each function name, you can see what thread it was on and look into it. For example, I looked at the `load_user_themes` function and it appears to have taken `73.6ms`

[2020-09-24 18:04] tarkah commented on #128
I'm thinking of how we can restructure the entire code base to make benchmarking and profiling a lot easier to do. I'm thinking the `gui` module should be our actual bin crate. Everything else should move into a lib crate so we can easily create tools around our logic and profile those. I'd love to throw `read_addon_directory` into a 1 liner program and profile / benchmark just that process. What

[2020-09-24 18:38] tarkah commented on #128
Actually, might as well just have `gui` under `lib.rs` then `main.rs` just imports from `ajour` instead of `crate`

[2020-09-24 19:06] casperstorm commented on #128
I kinda like that idea.
We should work towards that, @tarkah.

[2020-09-24 21:26] mlablah commented on #128
I imagine this work will also make something like a headless mode easier to implement down the road. :)

[2020-09-24 21:28] tarkah commented on #128
@mlablah exactly!

[2020-09-24 21:31] tarkah commented on #128
So I just timed the `read_addon_directory` function and here are my results on my Addons folder of 67 folders / 200MB. Note that this is also fingerprinting 100% of the folders, no caching.

[code]

[2020-09-24 23:26] tarkah commented on #128
What's weird is that time seems like an outlier on the benchmark. I was getting more like 4-5 seconds on average. Which is strange because when I launch the app, addon parsing rarely ever takes longer than what seems to be 1-2 seconds. So I wonder why the `read_addon_directory` takes longer when run by itself than within the app? Wonder if it has to do with the overhead of the async runtime starti

[2020-09-24 23:29] tarkah commented on #128
Checkout https://github.com/sharkdp/hyperfine

Here's my results on 10 tests:

[code]

[2020-09-24 23:32] tarkah commented on #128
And here is a comparison of with & without leveraging the fingerprints cache... doesn't seem like fingerprinting is expensive at all. It actually barely beat out the use of the fingerprint cache... weird.

[code]

[2020-09-24 23:43] tarkah commented on #128
And if I remove all addons so it's just processing an empty directory:

[code]

[2020-09-24 23:55] tarkah commented on #128
Created a test for the `file_parsing_regex` function and it's about half of that:

[code]

[2020-09-25 06:21] casperstorm commented on #128
With #130 we should also update README, or maybe the Wiki, with information about how to benchmark. It is very very intersting, and this can help us becoming even faster.

[2020-09-26 15:11] Ruffz commented on #99
Thanks for this update, position saving was not possible ?

[2020-09-26 15:14] Ruffz commented on #101
Thanks for this update²

Columns resize is perfect, but I can't drag/reorder these

[2020-09-26 16:07] casperstorm commented on #101
Great!
Reorder will come later. It requires quite a refactor.

[2020-09-26 16:09] casperstorm commented on #99
@tarkah have you seen if it's possible to spawn the window at a specific x, y position?

I am unsure if it's currently supported. We will look into it.

[2020-09-26 16:13] tarkah commented on #99
Let me dig into `winit` and `iced` real quick to see if this is possible

[2020-09-26 16:20] tarkah commented on #99
So `winit` definitely exposes `Moved` event here: https://docs.rs/winit/0.22.2/winit/event/enum.WindowEvent.html.

However, this isn't an event that `Iced` make available to us, plus there is no way to specify the initial position in the iced `WindowSettings`.

This would be a really easy PR to `iced`. I'll try to tackle this in the upcoming week.

[2020-09-26 16:28] tarkah commented on #99
Looks like someone started tackling it here: https://github.com/hecrj/iced/pull/176 but it was abandoned.

[2020-09-26 17:19] Ruffz commented on #99
What a quick reaction, it's a pleasure to see your involvement !

Unfortunately (Windows function) éshift + close buttoné doesn't save the position, otherwise I wouldn't have bothered you

[2020-09-27 13:00] casperstorm commented on #128
Let's close this for now and reopen once we get more into optimizing rendering time. I feel like the code splitting you did was a good start @tarkah.

[2020-09-27 13:00] #128 closed

[2020-09-28 19:40] #92 closed

[2020-09-29 10:09] Feichtmeier opened #137 "Provide Ubuntu/Linux port"
**Is your feature request related to a problem? Please describe.**
I am playing WoW with lutris/wine which works perfect.
I tried running your .exe with wine but it crashed

**Describe the solution you'd like**
Could you provide a port of your app for Ubuntu/Linux?

**Describe alternatives you've considered**
Make it work with wine but I would clearly prefer a real port. Maybe you could provide a

[2020-09-29 11:16] eldir opened #139 "Release Version Selection for Addons"
Especially early in an expansion being able to switch between stable and alpha release versions of addons can be vital.
Attaching a screenshot of how it was handled in the Twitch client.
![image](https://user-images.githubusercontent.com/5166778/94551589-7eeb0180-024d-11eb-94a6-36b22950f8c5.png)

[2020-09-29 11:26] gixxpunk commented on #7
I use this one for a long time. Maybe you can get some inspiration from it:

`@echo off
pushd "C:\Games\World of Warcraft\_beta_\WTF\Account"

del /s *.bak
del /s *.old

for /d %%i in (*) do (
	if exist %%i\SavedVariables\ (
		echo Account: %%i

		for %%j in ("%%i\SavedVariables\*.lua") do (
			echo %%~nj | findstr /r /i "^Blizzard_" > nul
			if errorlevel 1 (
				echo GlobalSV: %%~nj
				if not e

[2020-09-29 11:28] gixxpunk commented on #7
pushd "C:\Games\World of Warcraft\_beta_\WTF\Account"

del /s *.bak
del /s *.old

for /d %%i in (*) do (
	if exist %%i\SavedVariables\ (
		echo Account: %%i

		for %%j in ("%%i\SavedVariables\*.lua") do (
			echo %%~nj | findstr /r /i "^Blizzard_" > nul
			if errorlevel 1 (
				echo GlobalSV: %%~nj
				if not exist ..\..\Interface\AddOns\%%~nj\ (
					echo Delete: %%~nj
					del "%%j"
				)
			)

[2020-09-29 11:42] casperstorm commented on #139
This is done, and has been merged to master: https://github.com/casperstorm/ajour/issues/92
It will be shipped when I am doing the next release. Should be ready end of this week!

[2020-09-29 11:42] #139 closed

[2020-09-29 11:43] casperstorm commented on #7
Thank you so much @gixxpunk – this could be very useful.

[2020-09-29 11:46] casperstorm commented on #137
Thank you for this request, @Feichtmeier.
I'll look into providing a snap or deb installation file going forward. What you can do right now is build it from source on your Linux machine, it does require you to install a few dependencies but isn't that complicated: https://github.com/casperstorm/ajour/blob/master/INSTALL.md#debianubuntu

[2020-09-29 11:54] Feichtmeier commented on #137
Alright, thank you for looking into this :)
I tried to install the dependencies on Ubuntu 20.04 but at some point something was missing. Anyways, looking forward to a snap/deb and thanks for taking the time to code this

[2020-09-29 12:16] bitbruder opened #140 "[Website] Misleading Open Graph Information"
**Describe the bug**
When your share https://getajour.com/, most social networks and chat applications use open graph attributes. In case of ajour, its still using the ones provided by webflow. This creates misleading link previews.

**To Reproduce**
Steps to reproduce the behavior:
1. Share https://getajour.com/
2. Check the Link Preview.

![image](https://user-images.githubusercontent.com/158554

[2020-09-29 12:27] casperstorm commented on #140
This has now been fixed. Thanks for reporting.

[2020-09-29 12:27] #140 closed

[2020-09-29 12:27] Plougz opened #141 "From ajour.exe to Ajour"
As of right now, if you click your windowskey and search for the program, its named "ajour.exe". This could simply be changed to Ajour for a more professional look
![Screenshot_1](https://user-images.githubusercontent.com/71008749/94558195-ef9b1980-025f-11eb-9e14-e8bff9aff06c.png)

[2020-09-29 12:31] prosenboim commented on #137
Hi. Tried to build it from source on Fedora 31, rust 1.46. When running it immediately crashes with following backtrace:
[code]

[2020-09-29 14:03] ChrisNolan commented on #49
Small thing, but I'd like it so when I click anywhere in the column the details view shows up, not just on the text in the column.

[2020-09-29 14:08] Deynix opened #142 "GW2 UI not detected"
Using version Ajour 0.34 on Windows 10, installed version of GW2 UI (retail) is not detected by Ajour. Addon is working normally, installed in Addons\GW2_UI  and is detected by the Twitch client. All other installed addons are detected.

Curseforge page for GW2 UI is: https://www.curseforge.com/wow/addons/gw2-ui

Log output:

09:59:04.000 [ajour][DEBUG] Ajour 0.3.4 has started.
09:59:04.009 [ajour

[2020-09-29 14:34] ARx6WtNN7Z7em commented on #137
Hi mate, wanted to second the request for an official Linux option. As soon as Linux users sees "open source" in the wowhead article we jump on this. You have the possibility now to become the sole addon manager for Linux at the moment 😃 The other managers don't really work that great. Looking forward to using ajour! Great work!

[2020-09-29 15:04] tarkah commented on #137
I just want to chime in that I use Ajour on Linux (Solus) with no issue, so it's definitely possible! I can help look into packaging for Snap so things are a bit easier.

@prosenboim, what GPU are you using? Ajour uses Vulkan under the hood, I'm curious what the `AllocationError(OutOfMemory(Device))` means... A quick Google search didn't show much. I think it's technically possible to use OpenGL w

[2020-09-29 15:09] prosenboim commented on #137
I'm using GeForce GTX 960 with proprietary NVidia drivers. I believe I have vulkan libs installed, but to be sure, can you specify vulkan dependencies ?

[2020-09-29 15:20] tarkah commented on #137
Hmm, on Fedora the main package might just be `vulkan`. See if installing that helps.

[2020-09-29 15:30] prosenboim commented on #137
vulkan-loader provides vulkan. Both vulkan-loader and vulkan-tools are installed. Version is 1.2.131. Might be too old?

[2020-09-29 15:32] dblanch369 opened #143 "in macOS, Menu bar has no options."
**Describe the bug**
Normally, a macOS application has a "Quit" function, if nothing else, on the menu bar drop down.  I don't see any drop-downs at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ajour' on Menu bar
2. Click on 'Ajour'
3. Scroll down to ....  Can't, nothing appears

**Expected behavior**
Expect to see a dropdown menu, with at least one option, to "quit" the appli

[2020-09-29 15:34] tarkah commented on #137
Worth updating if you can. I'll try to get the OpenGL branch pushed out today so you can test that. If that works, we can add instructions for building from source to use OpenGL in case other users have issues with Vulkan.

[2020-09-29 15:35] prosenboim commented on #137
Ouch. My fault. Tried to run it while game was running. After quitting world of warcraft it displayed window. Thanks!

[2020-09-29 15:39] nesl247 opened #144 "Site is returning "too many redirects""
**Describe the bug**
There appears to be an infinite redirect look on the site.

**To Reproduce**
Browse to https://getajour.com/

**Screenshots**
![Screen Shot 2020-09-29 at 11 38 48](https://user-images.githubusercontent.com/1037526/94580809-58769780-0248-11eb-9a7f-b0ee4dd75612.png)

[code]

[2020-09-29 15:40] tarkah commented on #137
Oh, nice! Glad you got it working. I'll keep the OpenGL idea in my back pocket if we see more users having issues by default.

[2020-09-29 15:42] AltBridge opened #145 "AddonSkins (retail) detected as being AddonSkins Classic"
**Describe the bug**
AddonSkins is being detected as being AddonSkins Classic. Doesn't matter if it's installed from Curseforge or Tukui.

**Software involved**
Please complete the following information:
 - OS: Windows 10
 - Ajour version: 0.3.4
 - AddonSkins (retail) 4.44

[2020-09-29 15:58] casperstorm commented on #145
So I am just posting my findings here.
When we send the fingerprint from https://www.curseforge.com/wow/addons/addonskins to curse we an id that matches https://www.curseforge.com/wow/addons/addonskins-classic. This is clearly a bug from Curse, but i'll look into if we can do anything about it.

[2020-09-29 16:26] moggybaer opened #147 "Missing addon: GW2 UI and others"
**Describe the bug**
A list of missing addons from my setup

**To Reproduce**
Steps to reproduce the behavior:
1. Install the missing addons marked in the screenshot

**Expected behavior**
The addons should appear in ajour

**Screenshots**

![image](https://user-images.githubusercontent.com/7250921/94586211-406f3a00-0281-11eb-9f59-3a90ed0552bd.png)

**Software involved**
Please complete the follow

[2020-09-29 16:33] Az0na opened #148 "Missing 4 mods in my list."
I looking for new mod manager sins twitch mod part gonna be gone to somewhere els.

Now in twitch mod manager I see 4 more addons then your manager sees.

Ajour says 68 Retail addons loaded.
Twitch shows 72 mods installed.

These for are not shown.
Simple Item Levels
Routes
LUI Core
ChatAlerts

I know Chat alerts is one I let be modified to fix a bug I dont know if that is reason but others rare o

[2020-09-29 16:35] tarkah commented on #147
Thanks for the bug report! Can you try a fresh install of the addons from curse and then delete your fingerprint cache located at `$HOME/.config/ajour/fingerprints.yml` and then relaunch `Ajour` and see they still don't appear?

[2020-09-29 16:36] tarkah commented on #142
Thanks for the bug report! Can you try a fresh install of the addon from curse and then delete your fingerprint cache located at `%APPDATA%/ajour/fingerprints.yml` and then relaunch Ajour and see if it still doesn't appear?

[2020-09-29 16:39] moggybaer opened #149 "Add Backup Directory Option for each WoW version ( Retail AND Classic)"
**Is your feature request related to a problem? Please describe.**
No this is not a problem

**Describe the solution you'd like**
It would be very nice to be able to save the addons for retail and classic  in different directories

**Describe alternatives you've considered**
An another solution would be to be able to identify the backups by their zip name.
A prefix based on the version would be th

[2020-09-29 16:39] tarkah commented on #148
Thanks for the bug report! Yeah, currently any modifications to the addon will cause our fingerprinting to fail and no match to the curse API. Can you try a fresh install of the addons from curse and then delete your fingerprint cache located at `$HOME/.config/ajour/fingerprints.yml` macos/linux or `%APPDATA%/ajour/fingerprints.yml` windows, and then relaunch Ajour and see they still don't appear?

[2020-09-29 16:42] moggybaer commented on #137
Installed it today on Pop_OS! 20.04 (basically Ubuntu) Just works fine.
Like @casperstorm said. I followed the instructions and it worked directly

[2020-09-29 16:46] casperstorm commented on #143
This is a upstream problem, related to winit.
I've had a PR (https://github.com/rust-windowing/winit/pull/1583) lying since may to add menu items. I'll see if we can call the api's directly to add this behaviour but otherwise we have to wait for upstream.

I'll close this now, but keep an eye out if my PR gets merged.

[2020-09-29 16:46] #143 closed

[2020-09-29 16:49] casperstorm commented on #142
It seems like it fails to generate a fingerprint. I'll look into this.

[2020-09-29 16:52] casperstorm commented on #149
Thanks for the feature request, @moggybaer.
Why exactly do you want to have two different directories? I am afraid of making a otherwise simple feature too complex.

[2020-09-29 16:54] Deynix commented on #142
Same result after a fresh install and deleting the fingerprint cache. And looks like it's returning the same error:

12:48:52.881 [ajour::parse][ERROR] fingerprinting failed for "E:\\Battle.net\\World of Warcraft\\_retail_\\Interface/AddOns\\GW2_UI": Unable to find file: "E:\\Battle.net\\World of Warcraft\\_retail_\\Interface\\AddOns\\GW2_UI\\libs\\libs/LibStub/LibStub.lua"

Hm. Did check and that

[2020-09-29 16:57] casperstorm commented on #144
Thank you for the bug @nesl247.
A few people have had problems today. I reached out to webflow.io who hosts the site, and I believe they have done some fixes which should solve this problem. Are you able to retest? I don't know if the effect is immediately.

[2020-09-29 17:04] nesl247 commented on #144
Doesn't seem to have been fixed as curl is still returning the same results, and to my knowledge, doesn't have a cache. Keep in mind, anyone who has tried to access the site, will likely have issues because browser's cache 301 redirects.

[2020-09-29 17:09] Az0na commented on #148
That explains alot. I know 2 of mods mentioned are edited to fit my UI or fix to addons because orignal out of date and buggy. Maybe there is way like twitch currently does show them as modified?

Currently gonna eat so Ill check those other 2 if they indeed modded to els ill try reinstall them.

[2020-09-29 17:32] Neurotoxin001 opened #150 "Disable autoupdate of Ajour"
**Is your feature request related to a problem? Please describe.**
Yes, I want to control programs that I have on my PC

**Describe the solution you'd like**
Make option to disable autoupdate and button "Check for updates" that will ask "Do you want to update program?" (with changelog)

[2020-09-29 17:45] tarkah commented on #142
Thanks for trying those steps. No, that shouldn't be the cause.

@casperstorm it seems like it's failing here: https://github.com/casperstorm/ajour/blob/3dd767f55a7969b0185daa616d9711f63e8d5f1b/crates/core/src/parse.rs#L621-L626

[2020-09-29 17:59] casperstorm commented on #144
I am reaching out to webflow again, @nesl247 – it's strange it works for some, but not all. Eg, my curl works fine:

[code]

[2020-09-29 18:01] Cynfire opened #151 "Missing Addon: Tip Tac"
**Describe the bug**
The addon called TipTac is not visible in the addon list.

**To Reproduce**
No steps needed.

**Expected behavior**
The addon to be there?

**Screenshots**
![Missing addon TipTac](https://user-images.githubusercontent.com/72098585/94597626-cb3d3e00-025b-11eb-8172-c20ba14fc41a.png)

**Software involved**
Please complete the following information:
 - OS: Windows 10 Pro
 - Ajour

[2020-09-29 18:12] casperstorm commented on #151
I just downloaded TipTac from [here curseforge](https://www.curseforge.com/wow/addons/tip-tac) and it shows up:
<img width="721" alt="Screenshot 2020-09-29 at 20 11 23" src="https://user-images.githubusercontent.com/2248455/94598904-f6da1b80-028f-11eb-97c6-eae46f1351ec.png">

You could try the following:
- Delete the addon
- Manually download the newest from [here](https://www.curseforge.com/wow/a

[2020-09-29 18:14] casperstorm commented on #150
Ajour is not currently doing any auto update.
You have to press either `Update all` or `Update` on a single addon before we do any action.

Do you you want to have a confirmation before performing the action, when you have pressed one of the buttons?

[2020-09-29 18:18] casperstorm commented on #150
Ajour won't autoupdate it self. When there is a new version it will say `New Ajour version available` and the present a Download button. If you press that button it will open a webpage with a download link you manually have to press in order to get the newest version.

[2020-09-29 18:19] Neurotoxin001 commented on #150
Ah, ok then

[2020-09-29 18:19] #150 closed

[2020-09-29 18:53] casperstorm commented on #144
Okay @nesl247, I could reproduce this by going on a US VPN.
It was indeed a issue with webflow.com but it SHOULD be solved now.

[2020-09-29 19:16] jacobsenj opened #152 "Add ptr and beta folders support"
Currently only retail and classic folders get scanned. Would be nice if ptr and beta could be added.

![Screenshot 2020-09-29 211336](https://user-images.githubusercontent.com/399303/94605173-03af3d00-0299-11eb-8e1b-10ae88bd3f6d.png)

[2020-09-29 19:22] casperstorm commented on #152
Thanks for the suggestion, @jacobsenj. This is actually on the roadmap: https://github.com/casperstorm/ajour/projects/2#card-45347975. I'll close this for now because of this.

[2020-09-29 19:22] #152 closed

[2020-09-29 19:23] Az0na commented on #148
Okey I looked into the 4 mods.

3 are indeed modified with fixes as author probley dint play anymore to update. 1 got recently updated with alpha version so thats probley why that one isnt seen correctly.

So I gues if possible at status of mod you could set modified if addon is fount but doenst match with curse id? and can you setup somewhere you can pick alpha or checking for alpha/beta version

[2020-09-29 19:25] mlablah commented on #145
Adding my own observation as well. It looks like the authors have actually uploaded the retail version of the addon both places. So curseforge isn't wrong per se. addonskins 4.42 and 4.43 is present both places.

[2020-09-29 20:06] mlablah commented on #93
Adding the discussion we had elsewhere here:
We could make the text in the "Remote" column work as a button that opens a special changelog view beneath the addon in the list. Similar to how the other details are opened by clicking the name in the "Addon" column.
This changelog view would then be populated by whatever changelog information is returned by the curse api, however we need to figure out

[2020-09-29 20:41] mlablah commented on #141
Adding a shortcut to the start menu will make that shortcut show up in search results as well, looking like this:

![image](https://user-images.githubusercontent.com/68285419/94613149-69ed8d00-02a4-11eb-8629-e4b5e83e122c.png)

This is done by creating an "Ajour" folder here: %ProgramData%\Microsoft\Windows\Start Menu\Programs\Ajour and placing a shortcut to the executable in it, titled Ajour.

Nor

[2020-09-29 20:58] nesl247 commented on #144
Yep, it's working now. Thanks!

[2020-09-29 20:58] #144 closed

[2020-09-29 21:09] Kaoskitty opened #153 "Mac Version Crashes Immediately On Launch"
**Describe the bug**
Installed Ajour and whenever I try to launch it immediately crashes

**To Reproduce**
Try to run Ajour

**Expected behavior**
I would expect the software to launch and be usable

**Software involved**
Please complete the following information:
 - Mac OS 10.15.7
 - Ajour version: 0.3.4

**Additional context**
None

**Log Output**
14:03:55.627 [ajour][DEBUG] Ajour 0.3.4 has star

[2020-09-29 21:35] casperstorm commented on #153
@Kaoskitty thanks for reporting this.
I think the issue is related to https://github.com/casperstorm/ajour/pull/138. I fixed it earlier today but it is not released yet.

So to test if this is the case open `Terminal.app` and write `mkdir ~/.config`. After that try to re-launch Ajour.

[2020-09-29 21:40] AltBridge opened #155 "Backup settings (interval/only wtf folder/etc)"
**Is your feature request related to a problem? Please describe.**
Making a backup of the Interface and WTF folders both takes too long and eats up too much space. (250MB for me)

**Describe the solution you'd like**
Adding settings to the backup option:
- Automatic backup on interval (daily/weekly/monthly)
- Only WTF folder or both Interface and WTF folders.
- Backup Retail or Classic or both.

[2020-09-29 23:04] Kaoskitty commented on #153
Hello @casperstorm ,

I checked and I do already have a ~/.config directory which does contain an ajour directory including the files ajour.log, ajour.yaml and themes directory

[2020-09-29 23:21] Kaoskitty commented on #153
I was wondering if the could have something to do with the fact that World of Warcraft isn't directly in the Applications folder. I have it in a sub-folder named "Games". Having said that, I do have an alias (symbolic link) to the World of Warcraft folder in Applications as would be expected.

[2020-09-30 00:45] tarkah commented on #153
I've improved our logging to capture any program crashes / panics in #157. @Kaoskitty, once we merge this, it'll be helpful to have you rerun so we can understand what is actually crashing the program.

In the meantime, if you're comfortable building this from source, you can `cargo run` and we can see the cause of the panic through that.

[2020-09-30 06:34] Ufleku opened #158 "Not detecting CT_MOD mods"
**Describe the bug**
In the list of installed addons the CT_MOD ones are not detected and listed

**To Reproduce**
Install ajour
Select the warcraft folder
Scan for addon

**Expected behavior**
CT_MOD addons in the list to be updated

**Screenshots**
![Ajour_Bug](https://user-images.githubusercontent.com/72122977/94649981-1a37b180-02f6-11eb-87aa-fed2659944c9.png)

**Software involved**
Please comp

[2020-09-30 07:24] casperstorm commented on #153
Hi @Kaoskitty
I have built the master branch which have the improved logging incorporated.
Could you try and open this version, and then paste the results from the log?

[ajour-master.dmg.zip](https://github.com/casperstorm/ajour/files/5303725/ajour-master.dmg.zip)

[2020-09-30 07:44] Darktortue opened #159 "Add the ability to install new addons from ajour"
Would it be possible to have the ability to install addons directly from ajour ? I know that for now the main purpose is the updates but it would be cool to install, update and remove directly from it.

[2020-09-30 08:28] casperstorm commented on #159
Hi @Darktortue,
This is a great feature, and it is something we have on our [roadmap](https://github.com/casperstorm/ajour/projects/2#card-44974362). I can't promise you when it's ready but we are working hard.

[2020-09-30 08:28] #159 closed

[2020-09-30 08:55] casperstorm commented on #158
Thank you for reporting this bug, @Ufleku.
So the issue is a little technical, but essential Ajour does not support if you modify and/or remove any folders. Ajour generates a hash, which is used for matching and since you removed some folders this hash is not valid.

I would suggest you re-add all the CTMod folders (or just reinstall the addon) and then disable what you don't need inside wow it se

[2020-09-30 09:14] lostsoulsnemesis commented on #137
Hey! I made a couple of PKGBUILDs for arch, one from source and one from binary ( for the lazy ones )

https://github.com/lostsoulsnemesis/ajour
https://github.com/lostsoulsnemesis/ajour-bin

They seem to work, but I don't play on arch anymore, so feel free to fork/steal/adopt them

[2020-09-30 09:59] Ufleku commented on #158
Hi,
I did as suggested: reinstalled the whole CT_MOD addon and then restarted Ajour forcing
 a refresh : first i simply clicked on the refresh button (no change), then i forced, in setting, the scans of the addon forlder (still no effect)
![Ajour_Bug2](https://user-images.githubusercontent.com/72122977/94671411-22064e80-0314-11eb-979d-d8cc5c087b58.png)
I'm adding also updated ajour.log
[ajour.log]

[2020-09-30 10:12] casperstorm commented on #158
Can you try to remove `fingerprints.yml` from you Ajour folder and then restart Ajour again?

[2020-09-30 10:17] Ufleku commented on #158
Now it works fine
Thanks a lot

[2020-09-30 10:17] #158 closed

[2020-09-30 11:33] moggybaer commented on #149
I totally understand you point.  The quick-win we be 100% sufficient i think

[2020-09-30 11:34] moggybaer commented on #147
i will do this when i have the time and tell you asap

[2020-09-30 14:07] Lesyde opened #160 "Unidentified Addons"
I missed a way to display the unidentified addons in order to search for them on other unsupported platforms (such as wowinterface) or to reinstall them via curse if necessary.

[2020-09-30 14:12] krazyito65 opened #161 "Automatic update of addons."
**Is your feature request related to a problem? Please describe.**
No, only a quality of life feature.

**Describe the solution you'd like**
Automatic updates of addons.  I think the main question to as would be *when*.  Do we do it every time we see an update? on a timer? I'm not that picky.

I just want to be able to start the computer up, have ajour turn on with desktop start up, and automatica

[2020-09-30 14:55] casperstorm commented on #161
Hey @krazyito65. Thanks for the suggestion.
So we had this discussion yesterday, and we are doing a two step rocket here where initially we are introducing system tray support: (https://github.com/casperstorm/ajour/projects/2#card-46420287). I think this addition will make the discussion about **when** to update all your addons easier.

[2020-09-30 15:59] Kaoskitty commented on #153
Hi @casperstorm
I downloaded and tried to run the new version you've linked above, but there seems to actually be less information in the log instead of more. This is all that's in the log now:

08:56:18.641 [ajour][DEBUG] Ajour 0.3.4 has started

[2020-09-30 16:10] Ishayu opened #162 "Linux build"
**Is your feature request related to a problem? Please describe.**
I didn't know how to install it on Manjaro (which is based on Arch Linux).

**Describe the solution you'd like**

[code]

If it points out there's a conflict with rust, install rustup anyway, removing rust.

Next, install a toolchain.

[code]

[code]

Then follow the standard build steps.

**Additional context**
By default all the

[2020-09-30 16:19] tarkah commented on #162
What error are you running into when you `cargo build --release` ?

[2020-09-30 17:48] Ishayu commented on #162
rustup is not installed. This is a feature request to add that instruction to the readme file, not a bug. :)

It's a brilliant program and it works well on Linux. Good job!

[2020-09-30 17:51] perara opened #163 "Cannot start on Linux (Arch)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. yay -S ajour
2. Run application
**Expected behavior**
The application should start
**Screenshots**
N/A
**Software involved**
Please complete the following information:
Arch Linux

**Additional context**
Add any other context about the problem here.

**Log Output**
Running

[2020-09-30 18:59] casperstorm commented on #153
Wasn't there any more information in the console than that? Thank you so much for spending your time trying to solve this.

[2020-09-30 19:26] Kaoskitty commented on #153
That was all that was returned in the shell from my cargo run. I did just look in the console at the crash report. I'm guessing you don't want the entire backtrace from the console, but here is the first section:

---------------------------------------------------------------------------------------
Process:               ajour [29603]
Path:                  /Users/USER/*/ajour
Identifier:

[2020-09-30 21:33] gageracer commented on #162
you can build it using aur

[2020-09-30 22:19] tarkah commented on #163
I'm not familiar with how this was packaged for Arch, but it seems you might be missing a dependency. Can you confirm you have `vulkan` drivers installed?

[2020-09-30 22:47] krazyito65 commented on #161
I'm not sure how ethical it is for you to watch if wow process is running, im a lunix, do what I want on my machine programmer.. But if you could track when wow closes to make sure any updates are kicked off before it's open again, oukd be cool.

Or everytime there's an update, that's fine, but then I know there's a lot of day1 bugs that mess people up.

Saying that, let's make sure that option is

[2020-10-01 00:13] aucald opened #169 "Where is the executable location in Windows?"
What is the default install location/folder in Windows (specifically Windows 10), I recently installed Ajour but it did not appear to create a Desktop or Start Menu shortcut, and I cannot seem to find it by searching either the Start Menu or my primary volume containing my Windows install.  A search for Ajour.exe returned no results, and even searching for "ajour datecreated:9/30/2020" reveals onl

[2020-10-01 03:40] tarkah commented on #169
It currently doesn't install itself anywhere. So most likely it goes to your Downloads folder. Unless your browser didn't save the file and just ran it, then it's probably in some temp folder / deleted. I'd just re-download it and make sure it's saved somewhere you can run it.

[2020-10-01 04:01] aucald commented on #169
That is indeed where it was, didn't know it was a standalone application, so to speak.  Thanks for the info and quick turnaround.

[2020-10-01 04:01] #169 closed

[2020-10-01 08:06] perara commented on #163
Hi, and thanks for the reply
I've installed all the vulkans drivers documented here: https://wiki.archlinux.org/index.php/Vulkan
The instructions done during compilation is the following: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ajour

Anything here that stands out that could trigger this error?

[2020-10-01 08:18] casperstorm commented on #141
For now @mlablah's answer will be the answer here.
Eventually in the future we might consider wrapping the executable in a installer to get such features.

[2020-10-01 08:18] #141 closed

[2020-10-01 08:23] casperstorm commented on #149
For now I would like to keep it as is. To keep the simplicity, and make it easy understandable.
We might revisit this if it pops up multiple times. Again, thanks for reporting and please keep coming with these suggestions for making Ajour better.

I'll be marking this as closed for now.

[2020-10-01 08:23] #149 closed

[2020-10-01 08:25] casperstorm commented on #103
To keep simplicity I would like to only use the status column for important things.
Remember that you in details can see how old a release is.

I'll be marking this as closed for now.

[2020-10-01 08:25] #103 closed

[2020-10-01 08:31] casperstorm commented on #155
Thanks for the suggestion @AltBridge.
I have added your feature to our Inbox in the roadmap: https://github.com/casperstorm/ajour/projects/2#card-46524241

[2020-10-01 08:31] #155 closed

[2020-10-01 08:39] casperstorm commented on #161
I have decided that now is not the time we want to introduce automatically update. I wont say it will never be implemented, but for now there are more important things to implement and enhance.

[2020-10-01 08:39] #161 closed

[2020-10-01 08:49] Sh0ku commented on #53
I've got the same error with updating RaiderIO (Invalid Zip archive: Could not find central directory end).

My Logfile gives this messages:

The Zip file itself is not corrupted but its not completely downloaded when this error occures. Sometime it workes fine and the download completes.

Eventually it could help when the download tries to resumeor restart after this error.

[2020-10-01 09:16] casperstorm commented on #53
Reopened this issue @Sh0ku.
I'll try to figure out what is going. The one thing that sets RaiderIO aside is the size, its really big compared to other addons.
@tarkah you have any idea what could go wrong? Race condition?

[2020-10-01 09:17] Sh0ku commented on #53
Oh sorry i didnt mentioned it, im using Windows 10 2004

[2020-10-01 09:45] AltBridge opened #172 "Import/export listing of installed addons"
**Describe the solution you'd like**
A way to import/export the installed addons. (using a file that contains a list or so)
Would also be nice to **additionally** have the export be included in the backup option. (one zip file with the WTF folder and addon list file)

E.g.: accidentally lose all addons --> being able using the exported file and the WTF folder backup to get everything back without

[2020-10-01 12:56] fishxz commented on #162
how about a flatpak build?
would be the best way to cover linux

 https://flatpak.org/

[2020-10-01 13:00] jef opened #174 "Windows: Close to tooltip"
**Describe the solution you'd like**

Not necessary by any means, but it would be cool to run the process in the background and put as a tooltip (e.g. Discord, Twitch, etc.).

I believe this behavior is by default when you "close" the window in macOS, but not quit (<kbd>Cmd</kbd> + <kbd>Q</kbd>)

**Additional context**

This could also enable us to do automated updates.

[2020-10-01 15:56] wkrueger opened #175 "Suggestion: plugin architecture"
Just a (quite hard to implement) idea...

Today we open wow
Then we open raider.io electron app
Then we open twitch electron app
Then we open wago electron app
Then we open warcraftlogs electron app
(At least TSM is not an electron app)

How could we open less apps and yet keep the development distributed?
Yeah, I mean, its hard... just leaving the idea here.

[2020-10-01 16:01] kiraleos opened #176 "Add a confirmation dialog when attempting to delete an addon."
**Is your feature request related to a problem? Please describe.**
Most software right now include a confirmation dialog when attempting to delete something, so it's become second nature to expect one, and it avoids potential unwanted deletions.

**Describe the solution you'd like**
When clicking the delete button for an addon, a dialog window pops up asking for confirmation.

[2020-10-01 16:50] Cynfire commented on #151
That fixed it, Thank you!

[2020-10-01 21:37] Brightbrown commented on #153
I have been working directly with @casperstorm since I ran into this issue. BUT I am running in 10.12.6 (required because I use a GTX980 GPU which is great for both my Mac and win10 sides... Cupertino refuses to sign any drivers nVidia makes for Mojave and up). Much more debug information goes into the config log file in 0.3.5.

[2020-10-01 21:46] #151 closed

[2020-10-01 22:12] teqnodude opened #182 "Portable"
It would be helpful if the app could be made portable where it allow to store it's settings in it's own folder instead of %APPDATA%\ajour. A suggestion would be to code it to either run the ajour file with a flag ie `ajour.exe -p` or simply that it looks for a file called `ajour.portable` in program dir that makes it portable. I'm sure I'm not the only one that would prefer to have it this way.

[2020-10-02 00:07] JasonDias opened #183 "Ajour 0.3.5 for Windows is not signed"
Please sign the executable

[2020-10-02 04:02] Walkerbo opened #184 "Cant find the Aardvark and Swarm addons"
_**Describe the bug**_
Hi
I have the Aardvark and Swarm addons installed yet they do not show in the "My Addons" list.
Both of these addons do show as installed on the Twitch app.
I note that both of these addons work on both the current and classic versions.

_**To Reproduce**_
Steps to reproduce the behavior:
1. Install both Aardvark and Swarm addons
2. Run Ajour

_**Expected behavior**_
I expec

[2020-10-02 04:49] casperstorm commented on #183
This unfortunately costs money, so is out of our scope right now.

Thanks for reporting.

[2020-10-02 04:49] #183 closed

[2020-10-02 06:09] casperstorm commented on #184
Hi @Walkerbo,

Currently Ajour does not work if any of the files in the an addon have been modified after installation. Reason is rely on comparing a fingerprinting towards CurseForge. I would assume the two mentioned addons have been modified, because if I download I do see them in Ajour.

<img width="884" alt="Screenshot 2020-10-02 at 08 06 19" src="https://user-images.githubusercontent.com/2248

[2020-10-02 06:09] #184 closed

[2020-10-02 06:15] casperstorm commented on #182
Thank you for the suggestion, @teqnodude. Great idea.
For now, however, this is not in scope, but I have added it to our `inbox` in the [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46591946).
This way it might be picked up by someone who want to help contribute to the project. It's a great initial task.

I'll close this for now since it has beed added to Inbox.

[2020-10-02 06:15] #182 closed

[2020-10-02 06:19] casperstorm commented on #160
@Lesyde, I have added this feature to our [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46592147).
It's an important feature, and it will be implemented eventually.

[2020-10-02 06:19] #160 closed

[2020-10-02 06:20] casperstorm commented on #90
For now this has been added to the [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46592147).
Let's revisit this issue when we start working on it.

[2020-10-02 06:20] #90 closed

[2020-10-02 06:33] casperstorm commented on #147
I tried this and the follow is a problem:
- Masque_Shadow
- GW2_UI
- oUF_Hank

This is the log error:
[code]
Issue with `Masque_Shadow` is the authors name is not UTF-8 valid: `## Author: Fedorenko R.D. √Ä√¥√•√¨-√ó√•√∞√≠√ª√©√ò√∞√†√¨`.

Issue with `oUF_Hank` is that we try to find `/oUF_Hank/config.lua` but its called `/oUF_Hank/config.default.lua`
Issue with `GW2_UI` is that we try to find `/GW2_U

[2020-10-02 06:33] casperstorm commented on #142
This will be handled in #147.

[2020-10-02 06:33] #142 closed

[2020-10-02 06:38] casperstorm commented on #148
You can follow along with the "unidentified/unknown" addition in the [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46592147).

[2020-10-02 06:38] #148 closed

[2020-10-02 06:56] casperstorm commented on #174
We have sys tray support added to the [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46420287) @jef.
There are some upstream apis missing, but eventually we should be able to implement it.

[2020-10-02 06:56] #174 closed

[2020-10-02 07:48] Darhel opened #185 "Mass release channel switch"
Its possible to add mass release channel switch button, to switch all addons at one click?
Thanks anyway for great software.

[2020-10-02 08:03] Ruffz opened #186 "Make settled release channel also download upper release versions"
_**Is your feature request related to a problem? Please describe.**_

Actual release channel setting only check if selected release is available.

_**Describe the solution you'd like**_

This setting should be the "minimum stability release you want to download"
- Alpha should also check and download "Beta" & "Release" version
- Beta should also download "Release" version

[2020-10-02 08:28] casperstorm commented on #186
Hi @Ruffz,
The current logic functions like that. So if you consider the following example:
[code]

If you select `Stable` and press `update` you will get `1.0`.
If you select `Beta` and press `update` you will get `1.1`.
If you select `Alpha` and press `update` you will get `1.1`

Notice that `Alpha` jump one up and grabs `Beta` because `Alpha` is older than `Beta`.

[2020-10-02 09:00] casperstorm commented on #185
Thank you so much for contributing with a feature request.

We talked about adding this, but I decided it was too niche.
For now you'll have to do it per addon, but that will however be saved so you only have to do it once.

I'll might reconsider it once we are more feature complete, but for now this will not be added to the roadmap.

[2020-10-02 09:00] #185 closed

[2020-10-02 09:25] Ruffz commented on #186
Your example is exactly what I ask, but not what I've seen.

An addon (Masque:Apathy) showed no update when set to Alpha but showed one update when set to Stable.

I will check log and report if it happen again.

[2020-10-02 09:25] #186 closed

[2020-10-02 09:47] JasonDias commented on #183
The previous version did not trigger these warnings.

[2020-10-02 09:55] JasonDias commented on #183
@casperstorm there must be something different about the way this exe was compiled, because the previous version 0.3.4 does not have this issue.

[2020-10-02 09:58] casperstorm commented on #183
This was compiled on the same machine, with the same command.
You can try to compile it yourself to check if that changes anything. Description is located here [INSTALL.md](https://github.com/casperstorm/ajour/blob/master/INSTALL.md#clone-the-source-code).

Let me know what you find. So far I have learned that Windows Defender is totally random.

[2020-10-02 10:02] mjsmagalhaes commented on #93
If makes it easier to handle the html it could just pop up a box with the changelog

[2020-10-02 11:00] casperstorm commented on #176
There is currently no really good way of implementing a small tooltip/confirmation dialog in [Iced](https://github.com/hecrj/iced/).

I'll leave this open, because eventually we want this implemented.
If anyone have an idea, feel free to send me a PR with the solution.

[2020-10-02 11:37] casperstorm commented on #175
I think this is an intersting topic to discuss. It does relate to other places as well. Mobile applications serves to do one single purpose rather than multiple. Remember when Facebook had Messenger incorporated? Everyone was yelling when they made the split. Now that is forgotten. We open up the weather app when we need to look at the weather, we close it when we are done.
I see this ecosystem th

[2020-10-02 11:37] #175 closed

[2020-10-02 15:07] tarkah commented on #147
Hmm, obviously curse would have the same issues fingerprinting those files with the regex. Do you think they just skip over failed files and continue to fingerprint? I'm curious if we do that can we get a fingerprint match for those 2.

[2020-10-02 16:52] tarkah commented on #163
@perara can  you checkout #187 and try running it with  `cargo run --no-default-features --features opengl`. This should fix the issue you are facing by using the new OpenGL build

[2020-10-02 16:54] tarkah commented on #163
Once we have our next release, you can fork that PKGBUILD to use `cargo build --release --no-default-features --features opengl` instead. But that wont work until we have the latest release include this feature

[2020-10-02 17:19] casperstorm commented on #153
@Kaoskitty, can you test this version of Ajour?

[ajour-0.3.5-opengl.dmg.zip](https://github.com/casperstorm/ajour/files/5319405/ajour-0.3.5-opengl.dmg.zip)

[2020-10-02 19:53] Kaoskitty commented on #153
@casperstorm that version still has the same crashing issue. Here is the output from the ajour.log

12:51:16.134 [ajour][DEBUG] Ajour 0.3.5 has started.
12:51:16.193 [ajour_core::config][DEBUG] loading config
12:51:16.193 [ajour_core::theme][DEBUG] loading user themes
12:51:16.193 [ajour_core::utility][DEBUG] checking for application update
12:51:16.193 [ajour_core::fs::theme][DEBUG] loaded 0 user

[2020-10-02 20:15] casperstorm commented on #153
Interesting. That means that neither Metal or OpenGL is the issue and that it's something else.
Do you have Xcode installed by any chance with Commandline tools_

[2020-10-02 20:18] Kaoskitty commented on #153
Yes, I do have Xcode installed with the command line tools. That's how I built the test version earlier.

[2020-10-02 20:26] casperstorm commented on #153
So we agree that you cant get the project to run just by doing `cargo run`?
Can you run it with `RUST_BACKTRACE=1` so I can see everything?

[2020-10-02 20:57] Kaoskitty commented on #153
I'm not sure if I'm doing this correctly as I'm not very familiar with rust / cargo build. I'm running the commands:

% git clone https://github.com/casperstorm/ajour.git
% set  set RUST_BACKTRACE=1
% cargo run

And this is all I get back:

     Finished dev [unoptimized + debuginfo] target(s) in 6.20s
     Running `target/debug/ajour`
13:50:59.568 [ajour][DEBUG] Ajour 0.3.4 has started.
Illegal i

[2020-10-02 21:36] tarkah commented on #153
@Kaoskitty can we get the entire backtrace from the crash report?

[2020-10-02 22:02] Tarnadas commented on #137
Really cool to see a Rust project using Iced in the trending charts!
I have also such a project and I can recommend automating your releases by uploading draft releases via Github Actions. You can see an example in my repo:

https://github.com/Tarnadas/smmdb-client/blob/master/.github/workflows/rust.yml

[2020-10-02 22:05] tarkah commented on #137
Thanks, @Tarnadas! Yeah we are planning to do exactly that through github actions. I've also got AppImage working so we plan to start shipping that on each release for linux.

[2020-10-02 22:17] tarkah commented on #137
@Tarnadas It appears you are releasing for linux already on your app. Did you find that pretty much all the shared libraries needed for `iced` exist on any major popular distro? I assume anyone running one of the main Desktop Environments is going to have all those installed already. So I'm thinking it's safe for us to just ship the standalone binary?

[2020-10-02 22:21] tarkah commented on #137
For example, here's the libraries identified as required when I put together the AppImage:

[code]

[2020-10-02 23:10] tarkah commented on #137
I think I'll still plan to ship an `AppImage` file just in case. And I guess it'll be more clear that it's a standalone executable that can be used anywhere

[2020-10-03 01:20] tarkah opened #190 "Window size issues with scaling on Linux"
**Describe the bug**
I noticed that when I have scaling applied (for example, 1.20) and I close the application and then re-open, the window size increases by that 20%. Same goes when scale is < 1.0, window size shrinks each time.

**To Reproduce**
Steps to reproduce the behavior:
1. On linux, increase / decrease scale
2. Close window
3. Reopen window
4. Repeat

**Expected behavior**
Window size i

[2020-10-03 01:22] tarkah commented on #162
I've added an `AppImage` release #189 . I'll try to get the AppImage for 0.3.5 published to that release once @casperstorm is back online. I can link it in discord in the meantime

[2020-10-03 01:41] tarkah commented on #190
So actually, the issue isn't with the width / height adjustment above, this works the same on linux as well, I confirmed the window size saved to the config is the same regardless of scale for the same window size.

It seems like what is happening is when the app first launches, it loads the correct window size. But then the scale gets applied, which for some reason on linux, causes a resize event

[2020-10-03 01:44] tarkah commented on #190
Ahh, so the "random" resize event on bootup doesn't seem related to the scale setting at all. Even on 1.0 scale, it still comes across right after the app is launched. Need to figure out how to ignore this message on linux.

[2020-10-03 01:46] tarkah commented on #190
Somewhat related but unrelated... the scale isn't perfectly rounded off. It got saved as `0.9999999999999992`. So even at "1.0" scale, the windows slowly resizes over time if I keep closing / opening the app.

[2020-10-03 03:41] Kaoskitty commented on #153
Attached is the full backtrace crash report.
[ajour_full_backtrace_log.txt](https://github.com/casperstorm/ajour/files/5321028/ajour_full_backtrace_log.txt)

[2020-10-03 05:00] masonnl commented on #162
fwiw, on Manjaro I was able to build from source using rustup (v1.22.1-1 [Official Repositories]) and its optional dependencies (lldb and gdb. The final bins installed for me looked like this:

![step 3](https://user-images.githubusercontent.com/4482337/94983724-ccdc5f80-0502-11eb-8ad4-0fa588d5978d.png)

Excited to have an AppImage! Thanks @tarkah

[2020-10-03 10:54] Tarnadas commented on #137
I actually haven’t checked the required dependencies for the popular Linux distros. I didn’t have to install any dependencies on my PopOS installation, but that should not be very representative.
How did you get that list of dependencies? I would try something like `cargo tree | grep sys` and check their cargo.rs readmes for any system dependencies. I never built an AppImage before however

[2020-10-03 13:48] casperstorm commented on #153
Okay, @Kaoskitty.
This seems to be either of the two:

1. A bug in core_graphics and/or font_kit.
2. Or you have broken System Fonts.

Right now 2. should be "easy" to fix. Maybe you can check if you have all system default fonts, or you try to re-download them or something: https://support.apple.com/en-us/HT210192#download

[2020-10-03 16:26] tarkah commented on #137
Easiest way is to just `ldd` the binary. But quite a few of those are things 100% always available. I got that list specifically when I built the AppImage, it has a tool that automatically finds the shared libs needed.

I tested the AppImage on fresh Ubuntu 20.04 image and a live usb of Solus that's like a year old and it worked perfectly on both. So I'm just going to play it safe and ship the App

[2020-10-03 16:46] Kaoskitty commented on #153
I've taken a look through the fonts and downloaded a few, but there doesn't seem to be any way to check and see if any fonts are broken. My computer does have a completely fresh install of the OS as of about two months ago. I suppose if no one else reports these crashes that it would be more likely to be something on my own computer. I don't know what else I can do to help debug it further.

[2020-10-03 18:16] casperstorm commented on #153
I have posted about this in `Iced` our GUI Framework we use: https://github.com/hecrj/iced/issues/548
Let see if we get some valuable information there.

[2020-10-03 19:44] tarkah commented on #162
Closing now that we have AppImage on our 0.3.5 release

https://github.com/casperstorm/ajour/releases/tag/0.3.5

[2020-10-03 19:44] #162 closed

[2020-10-03 19:44] tarkah commented on #137
Closing now that we have AppImage on our 0.3.5 release

https://github.com/casperstorm/ajour/releases/tag/0.3.5

[2020-10-03 19:44] #137 closed

[2020-10-03 20:53] Feichtmeier commented on #137
Thank you very much @tarkah and everyone involved :+1:  Checking this out right now!

[2020-10-04 06:07] ianmarmour opened #193 "Binary Signing"
**Is your feature request related to a problem? Please describe.**
Users see exe as a dangerous file in their browser.

**Describe the solution you'd like**
Take donations (if you're not already) and sign the exe's :)

**Describe alternatives you've considered**
Leave it as is, users still have a warning.

**Additional context**
Really not a massive issue but it would be nice leading up to the mai

[2020-10-04 06:10] ianmarmour opened #194 "Dynamic WoW Install Path Resolution"
**Is your feature request related to a problem? Please describe.**
When adding your world of Warcraft folder if you select the interface addon folder or the _retail or _classic folders the app will not work. I assume this leads to user confusion.

**Describe the solution you'd like**
Make best effort attempts at determining path resolution from relative paths.

**Describe alternatives you've consi

[2020-10-04 06:12] ianmarmour opened #195 "Installer"
**Is your feature request related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
A simple installer for each supported platform.

**Describe alternatives you've considered**
N/A

**Additional context**
It would be nice to have Ajour installed on my system without having to go set that up manually, this isn't major but just more nice user experience stuff.

[2020-10-04 12:00] mlablah commented on #194
@ianmarmour : Agreed. This would improve the UX.

Put another way:
If the path the user has chosen ends with either one of these:
[code]

Truncate that part before we start joining to it here:
https://github.com/casperstorm/ajour/blob/442e9b9963d5b94315d5170ec4a2c9393b1379de/crates/core/src/config/mod.rs#L46

Tip: ignore case when testing for the above strings.

[2020-10-04 12:04] casperstorm commented on #194
We should add the logic to this function:

https://github.com/casperstorm/ajour/blob/442e9b9963d5b94315d5170ec4a2c9393b1379de/src/gui/update.rs#L242

This is where (L250) we save the path. Before that we need to have the correct path.

[2020-10-04 16:59] LEGOL2 commented on #195
Ajour on windows is a single `.exe` file, which means there is nothing to install. Download file, place whenever you wish and run it. Installers are used to setup dependencies and resources but ajour is standalone program.

[2020-10-04 17:01] LEGOL2 commented on #193
I did a small research on software signing and I think it's crazy. The cheapest I found is 250$ for a year! The thing about windows is that if enough people use `ajour.exe`, then this message about unknown file will disappear.

[2020-10-04 17:22] casperstorm commented on #195
I agree with @LEGOL2 on this.
Since we are able to ship this as a single executable the only reason to have a installer is to generate shortcuts to various locations. One of our core values in Ajour is to keep the simplicity down thus I don't think we should focus on adding an installer for that sole purpose.

[2020-10-04 17:22] #195 closed

[2020-10-04 17:26] casperstorm commented on #193
I really hate this gatekeeping. Ajour is an excellent example where the code is open source and has a growing community. Why don't they have a plan for signing open source projects like this? Exactly like [Let's Encrypt](https://letsencrypt.org/). As it is right now I don't want to collect donation for supporting such a model.

This decision will costs users because Windows Defender is going nuts

[2020-10-04 17:26] #193 closed

[2020-10-04 18:39] DreamingRaven commented on #163
Hey I am also using Arch, but can not reproduce the problems by @perara when installed with pikaur -S ajour or with the appimage from https://www.getajour.com/
![ajour](https://user-images.githubusercontent.com/10534713/95023999-4184da80-0678-11eb-941f-7db36a0aecc4.png)

I will try updating for the last few days of packages that I dont have to see if it causes any issues with latest packages. I am

[2020-10-04 21:29] tarkah commented on #163
@dreamingraven Thanks for the additional details. We're pretty positive at this point that error is caused by something crashing with Vulkan. I'm pretty sure the issue will be resolved for @perara if he uses the new OpenGL build. We will be publishing the alternative OpenGL build on future releases.

[2020-10-05 01:38] Dairyman opened #199 "No update without available alpha version on alpha release channel"
**Describe the bug**
Will not show available update when addon release channel is set to alpha, current version is an outdated stable version. And the addon has not any alpha versions OR has alpha versions but no beta.

**To Reproduce**
Steps to reproduce the behavior:
1. Set an Addon with a stable update, without an alpha or beta version to alpha

**Expected behavior**
Displays that an update is

[2020-10-05 08:55] Ruffz commented on #103
It is an important thing, recently updated addons should also/at least stay on top of the list in addition of this mention.

[2020-10-05 09:52] Ruffz commented on #199
It seems similar of what I've encountered #186

[2020-10-05 11:11] casperstorm commented on #199
I'll try to reproduce this later today. Thanks both.

[2020-10-05 12:09] Ruffz commented on #199
"Auctionator" addon actually permit to reproduce the issue

Set to "Alpha" show Local & Remote version "Alpha 347 (3 days ago)"  = Click "Update" install "Alpha 347"
then
Set to "Beta" show Local version "Alpha 347 (3 days old)" & Remote version "8.3.4 (17 Hours Ago)" = Click "Update" install "8.3.4"
then
Set to "Stable" show Local & Remote version "8.3.4 (17 Hours Ago)" = Click "Update" install "

[2020-10-05 13:29] Histre commented on #194
Mac OS 10.15.6,  Install 0.3.5 would not recognize file path and showed no addons were installed from any file path selected.

[2020-10-05 13:44] casperstorm commented on #194
@Histre this issue is fixed in https://github.com/casperstorm/ajour/pull/198.
It will go out in this week.

[2020-10-05 18:56] sim7tynine opened #200 "Commandline Support / Switches"
**Is your feature request related to a problem? Please describe.**
Just a wish since i backup and start my WoW Data with a PowerShell Script.

**Describe the solution you'd like**
I would like to have an option in the commandline for example to call options directly when starting the app. For example "ajour.exe /updateall" so i dont need to click manually :)

**Additional context**
Btw. its a supe

[2020-10-05 21:26] casperstorm commented on #200
We have recently split Ajour into a core- and a gui-package with exactly this purpose; using the core of Ajour without a GUI (for CLI like you mention) or with a third party GUI. More work is still needed, but we are going to get this functionality eventually.

[2020-10-05 21:38] #194 closed

[2020-10-05 23:00] Brightbrown opened #201 "Mac Version Display Hard to Read"
**Describe the bug**
Dark Theme impossible to read text, text too faint, "Light" better but still not right

**Screenshots**
<a href="https://imgur.com/BOfzTTy"><img src="https://i.imgur.com/BOfzTTy.jpg" title="source: imgur.com" /></a>

**Software involved**
 - OS: MacOS 10.12.6
 - Ajour version: 0.3.5

**Log Output**
Display only issue

[2020-10-06 03:49] somesortofrescuetoaster opened #202 "appimage does not work "execv error""
**Describe the bug**
When trying to run the ajour.AppImage file:
$ ./ajour.AppImage
execv error: No such file or directory

**To Reproduce**
Steps to reproduce the behavior:
1. Download ajour.AppImage
2. $ chmod a+x ajour.AppImage
3. $ ./ajour.AppImage

**Expected behavior**
should start ajour

**Software involved**
Please complete the following information:
 - OS: ubuntu 20.04
 - Ajour version: 0

[2020-10-06 06:44] casperstorm commented on #201
There is clearly a issue with Ajour on your macOS, @Brightbrown. This we have also discussed on our [Discord](https://discord.gg/4838t9R). I still cant reproduce this problem where colors are off, but could it have something to do with you fiddling with `ColorSync.framework`?

Anyway, you could make your own theme for Ajour and see if you can hit some color combinations which works better for your

[2020-10-06 06:44] #201 closed

[2020-10-06 14:01] Brightbrown commented on #201
Actually, I didn’t fool with my ColorSync as you linked an image showing the compiler built it for 10.11 and up. The app does “react” to Light & Dark under themes.

Happy to try custom themes, but the examples on the page you linked me to only have png graphic files, but it says it meeds a xxx.yml file. Can I get the yml files for any of those examples… or exactly how do I create one?

[2020-10-06 14:07] casperstorm commented on #201
Easiest would be to open `Terminal.app` and write:
[code]

Now you should see a Finder window with a file called `brightbrown.yml`. Open this with a text editor of choice and fill it out with the following:

[code]

Edit the above hex colors as you like.

[2020-10-06 14:44] tarkah commented on #202
Interesting. I tested on a fresh live image of Ubuntu 20.04 and it worked. Let me try to figure out why that error would be occuring.

[2020-10-06 15:21] tarkah commented on #202
Just to confirm, you're downloading the AppImage from the 0.3.5 release, not one of the older files uploaded in the discord?

[2020-10-06 15:28] somesortofrescuetoaster commented on #202
Correct.  0.3.5 from the releases page.

[2020-10-06 15:30] casperstorm commented on #202
I just re-tested and I can confirm the image works on a fresh Manjaro installation.

[2020-10-06 16:16] somesortofrescuetoaster commented on #202
Is there something stupid I am doing?  From what I understand of appimage, you just need to make it executable to run it.   Though I have no idea what the "execv error: No such file or directory" is trying to tell me.

I've tested it on my three different ubuntu 20.04 systems: my desktop that I actually play wow on, my laptop, and my office VM at my location of work.

[2020-10-06 19:24] camas commented on #53
Not sure if this fixes it but you could use `async_std::io::copy` instead of copying the stream yourself. Something like

[code]

instead of

https://github.com/casperstorm/ajour/blob/d36f5a6c248dfa9962fae2271694ad9624551336/crates/core/src/network.rs#L84-L99

[2020-10-06 19:42] tarkah commented on #202
Yeah I'm scratching my head at how it's not working for you, and not just on one system, but 3. And also using the same distro that I've successfully tested on from a Live Image (no updates / additional packages installed). So weird.

And yeah, I'm just downloading -> making executable -> running.

[2020-10-06 21:33] tarkah commented on #202
@somesortofrescuetoaster can you check to see if a ~/.config/ajour/ajour.log file exists? If so, can you paste the contents here. I doubt it will, but just in case it's launching and crashing on startup

[2020-10-06 21:35] tarkah commented on #202
My only other thought is that the download is corrupted from GitHub. I've actually seen this happen before. Can you tell me what the md5sum of the file is?

[2020-10-06 21:46] tarkah commented on #202
Another thing I found... It seems like `AppImage` may not work if you don't have FUSE installed, check this out:

https://github.com/AppImage/AppImageKit/wiki/FUSE#install-fuse

[2020-10-06 22:07] brendanblackwood commented on #147
I maintain oUF_Hank and there are a couple issues there. First is that the original creator has oUF_Hank on curse, but hasn't been active since 2014 (why I've been updating it), but I don't own that project so I can't push to it. I've got it hosted on [curse](https://www.curseforge.com/wow/addons/ouf_hank_update), but that does present some naming issues. Secondly, as noted, there is a `config.def

[2020-10-06 22:18] tarkah commented on #147
@brendanblackwood Thanks for commenting. I actually just tested out the fix I suggested right before your comment and it works! The fingerprint for `8.3.1-release` is `3241504627`

By skipping any files we can't find, such as the `config.lua`, I successfully generated the fingerprint `3241504627` instead of hitting an error. I'll open up a PR to get this patched.

[2020-10-06 22:25] tarkah commented on #147
This appears to also work for GW2_UI, which I now get the correct fingerprint of `109141261`

[2020-10-06 22:35] tarkah commented on #147
And I've fixed the error of fingerprinting failing on invalid UTF-8 and got the fingerprint of `4254243648` for Masque_Shadow which is correct! Pushing these changes now.

[2020-10-06 23:00] somesortofrescuetoaster commented on #202
0.4 worked.  The regular version worked on my wow desktop pc, but not my laptop.  The opengl version worked on my laptop.

[2020-10-06 23:05] tarkah commented on #202
Glad it's now working!

`4ee890e292df7d4b5b2a0ffafb6b8772` matches my md5sum for 0.3.5, so I am a little lost on why it wasn't working but now 0.4.0 is?? We changed nothing about the `AppImage` generation process. Anyway, it's working so I'm going to go ahead and close this now.

[2020-10-06 23:05] #202 closed

[2020-10-07 03:59] mia-elora opened #207 "Ajour not recognizing Mod - "TradeSkillMaster_AppHelper""
**Describe the bug**
One of the installed mods I had on Twitch/Curse, TradeSkillMaster_AppHelper, does not show in the mod list of Ajour.

**To Reproduce**
Steps to reproduce the behavior:
1. Install mod in appropriate folder.
2. Open Ajour, scratch head.

**Expected behavior**
I expected the mod to show up in the list with the other 50+ mods I have installed, currently.

**Screenshots**
Screensho

[2020-10-07 06:54] casperstorm commented on #207
Hi @mia-elora,

The reason TradeSkillMaster_AppHelper is not shown is because the TSM client populates a database inside the TSM_AppHelper addon folder. And currently Ajour does not support any modifications to addon folders.

The reason Ajour does not currently support modified addon folders is that we rely on a fingerprinting system so when you modify a folder, or the content inside, it generate

[2020-10-07 06:54] #207 closed

[2020-10-07 08:27] #147 closed

[2020-10-07 11:33] casperstorm commented on #145
I had a look at this again. This is a mistake by the addon creator. Let me take you through what happens:

1. We fingerprint the `AddonSkins`.
2. We ask CurseForge for information regarding the fingerprint.
They send back (essentially) two pieces of information we use to populate a addon in Ajour:

* Data regarding the **CURRENT** local version.
[code]

* Data regarding the **LATEST** remote versi

[2020-10-07 12:14] #145 closed

[2020-10-07 12:47] casperstorm commented on #153
@Kaoskitty Do you mind trying 0.4.0 opengl: https://github.com/casperstorm/ajour/releases/download/0.4.0/ajour-opengl.dmg?

[2020-10-07 12:48] casperstorm commented on #163
@perara can you try the following opengl build: https://github.com/casperstorm/ajour/releases/download/0.4.0/ajour-opengl.AppImage?

[2020-10-07 13:12] casperstorm commented on #199
Fixed in #208. Will be released in the next release.

[2020-10-07 13:12] #199 closed

[2020-10-07 13:17] moggybaer commented on #147
Hello.  I am really sorry but i forgot the following when i opened the ticket:
The ouf hank installation is actually a fan update on wow interface https://www.wowinterface.com/downloads/info21474-oUF.
I suppose it is the version that you maintain?

My fault. Sorry :(

[2020-10-07 13:39] brendanblackwood-transloc commented on #147
No worries. I've been maintaining it on wowinterface for a number of years, but recent put it up on curseforge to (hopefully) better handle shadowlands beta vs live in the same place.

[2020-10-07 13:42] brendanblackwood commented on #147
No worries. I’ve been maintaining it on wowinterface for a number of years, but recent put it up on curseforge to (hopefully) better handle shadowlands beta vs live in the same place.

[2020-10-07 16:03] Kaoskitty commented on #153
Same results. Attached is the crash log again, which appears to be pretty much the same.

([ajour_crashLog_8-8-20.txt](https://github.com/casperstorm/ajour/files/5342065/ajour_crashLog_8-8-20.txt))

[2020-10-07 21:07] NoobTaco opened #210 "Catalog Sort by Date Added"
Would it be possible to add a sort by date added? I love to browse the addons sections of Curse and Wowinterface to see what addons have been added or updated. Would be nice to do that from the addon.

[2020-10-07 21:07] NoobTaco opened #211 "Catalog Date Updated sort."
Would it be possible to add a sort by date added? I love to browse the addons sections of Curse and Wowinterface to see what addons have been added or updated. Would be nice to do that from the addon.

[2020-10-07 21:07] #211 closed

[2020-10-07 21:08] NoobTaco commented on #211
Duplicate. Got 404 on other entry

[2020-10-08 14:27] jimnordb opened #215 "Catalog Downloading state getting stuck"
**Describe the bug**
Catalog - installing Addon with missing stable channel causing it to halt on "downloading" state

15:48:23.294 [ajour::gui::update][DEBUG] Message::ParsedAddons(classic, 52 addons)
15:48:28.732 [ajour::gui::update][DEBUG] Interaction::ModeSelected(Catalog)
15:49:37.538 [ajour::gui::update][DEBUG] Interaction::CatalogInstall(Curse, classic, 399223)
15:49:37.657 [ajour::gui::upd

[2020-10-08 14:28] mlablah commented on #210
This might require adding support for optional/reordered columns to the catalog as well.

If we do that it would make sense to make `Description`, `Source` and `# Downloads` optional as well (though on by default).

One obstacle to that is that we don't currently cache `dateCreated`, `dateReleased` or `dateModified` attributes in the catalog json.

[2020-10-08 14:44] iHapless opened #216 "Catalog columns"
**Is your feature request related to a problem? Please describe.**
some addons on curse are not no longer maintained, so downloading them will slow/lag and some time crash the game, not to mention they wont work.

**Describe the solution you'd like**
Adding more columns in the catalog window, the same way it is in my addons window. this way if  an addon is no longer maintained i can see that from

[2020-10-08 17:30] Galiwyx opened #218 "Translation ?"
Hello,
Do you plan to add translation for the client ? If yes, I can help you to translate in French ! (I already translated EvlUI in French with others users).

Have a nice day =)

[2020-10-08 17:51] casperstorm commented on #218
Hi, thanks for taking your time contribution with a feature request.
We are already working on translations! And french is already done.

Will close this for now.

[2020-10-08 17:51] #218 closed

[2020-10-09 02:24] FlyingDiver commented on #153
FWIW, Ajour 0.4.0 ran immediately on my 10.15.7 system.  No issues at all.

[2020-10-09 15:59] tarkah commented on #215
Thanks for the bug report! Great catch. This will be an easy fix.

[2020-10-09 23:58] tarkah commented on #53
So I just tested rate limiting my connection to 200kb/s...  it took forever but the download eventually installed and unpacked successfully. So it's definitely not a timeout issue. Something else must be happening to kill the request before the download fully finishes. Not sure why then our request doesn't fail.

[2020-10-10 00:04] tarkah commented on #53
I think @WeaponMan 's suggestion of validating our response bytes matches `Content-Length` header makes most sense, and then error out if it doesn't

[2020-10-10 00:31] tarkah commented on #53
Ok, I implemented the check on content length in #221 . I also implemented @camas suggestion as that cleaned up the io a bunch.

We still need a way to show install errors in the catalog view, which also relates to #220. So that the user knows the download failed, and can either "retry", or in the instance where no stable file is available for the addon, it shows as "unavailable" or something.

[2020-10-10 02:30] Walkerbo commented on #172
Doesn't the current backup do this?
When I set the backup folder onto my Ddrive it zipped the interface and WTF folders for both the classic and retail.

[2020-10-10 02:45] Walkerbo opened #223 "Catalogue links to addon website"
**Describe the solution you'd like**
Clicking a new addon title in the catalogue should open a webpage to the addon website itself.

[2020-10-10 02:51] Walkerbo opened #224 "Add WoWInterface as an addon source"
_**Is your feature request related to a problem? Please describe.**_
I have to update addons that are exclusive to WoWInterface manually.

_**Describe the solution you'd like**_
If possible I would like to have WoWInterface included as an addon source.

[2020-10-10 15:10] Neurotoxin001 opened #225 "[Question] What do you think about the overwolf statement?"
https://medium.com/overwolf/our-stance-on-scraping-curseforge-19f4559a322a

[2020-10-10 18:35] casperstorm commented on #225
Ajour does not use scraping to gather data from CurseForge (or TukUI for that matter). We use public API's that don't use any system for authorization. Everyone can request data from these API's. This also means that CurseForge easily can track engagement, e.g. increment a download count, when someone downloads an addon through Ajour.

Ajour does not re-host, or redistribute addons and our impact

[2020-10-10 18:50] #225 closed

[2020-10-11 14:39] SkunkGuru opened #228 "Add wow-pro support"
hi,
is possible to support wow-pro addon ?

https://www.wow-pro.com/addon/

great job !

[2020-10-11 19:30] GaryREM opened #229 "List non-supported adding currently installed"
Would like to have a list of addons currently installed but not supported so easily do updating. When looking through folder I cannot tell which are updated through Ajour and which are not.

I assume you could also extract the version for the addon.

These could be listed optionally with other adding and shown with status of not supported.

[2020-10-11 19:32] GaryREM commented on #229
I see that this is in your project inbox so I've closed it.

[2020-10-11 19:32] #229 closed

[2020-10-11 21:06] #200 closed

[2020-10-11 22:04] cynthiawoodard commented on #224
+1

[2020-10-11 22:05] cynthiawoodard commented on #223
+1

[2020-10-11 22:08] KestrelWild opened #230 "Catalogue filter by game version"
It would be nice if there was a filter in the Catalog to only show addons that support latest game version, and then if you could still sort the filtered results by number of downloads, date updated, etc.

[2020-10-11 22:17] KestrelWild opened #231 "Set default preferred release type"
Would love to have the ability to set my preferred release type for all addons as beta, or at least, for all newly installed addons.

[2020-10-12 06:24] casperstorm commented on #231
Hi @KestrelWild,

I talked about this feature a [little while ago](https://github.com/casperstorm/ajour/issues/185) so I am just gonna quote myself:

For now you'll have to do it per addon, but that will however be saved so you only have to do it once.

We are a little further now, so I did note it down in my personal notes 🙂

[2020-10-12 06:24] #231 closed

[2020-10-12 17:00] KestrelWild commented on #210
+1

[2020-10-12 17:44] mlablah opened #233 "Fallback strategy to improve addon recognition"
**Is your feature request related to a problem? Please describe.**
Currently Ajour does not handle local addons that do not return a match from either CurseForge fingerprint endpoint or failing that, using the X-Tukui-ProjectID. This leaves us unable to show non-tukui addons that have been modified locally, or that have received updates not yet posted on CurseForge.

**Describe the solution you'd

[2020-10-12 18:04] Brightbrown opened #234 "Crash on Launch, macOS Sierra, 0.4.1 opengl version"
**Describe the bug**
Crash on launch:

Crashed Thread:        5

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

Termination Reason:    DYLD, [0x4] Symbol missing

Dyld Error Message:
  Symbol not found: ____chkstk_darwin
  Referenced from: /Applications/Fun/*/Ajour.app/Contents/MacOS/ajour
  Expecte

[2020-10-12 20:54] casperstorm commented on #224
I'll look into adding wowinterface addons. Can you link the exclusive addons just so I have them to test with?

[2020-10-12 21:00] KestrelWild commented on #224
These are two I recently realized were only wowinterface:

https://www.wowinterface.com/downloads/info21263-AltzUIforBFA.html

https://www.wowinterface.com/downloads/info16068-RealUI.html

[2020-10-12 23:51] Walkerbo commented on #224
Another one that is exclusive to wowinterface
https://www.wowinterface.com/downloads/info7158

[2020-10-13 05:35] tordenflesk opened #236 "Global setting to automatically select actual latest version"
**Is your feature request related to a problem? Please describe.**
Manually going through every addon to check whether there's an alpha/beta available and determine if it's newer than the release version is incredibly tedious.

**Describe the solution you'd like**
Drop-down to select globally preferred release type, and recognize newer release/beta versions as upgrades to an alpha version

**Descr

[2020-10-13 06:27] casperstorm commented on #225
I had a conversation with Overwolf today to discuss their concerns and the future of Ajour (and similar third party addon managers).

Their primary concern is that people who use their API outside of their official app and website cost them money. They are stuck with the cost of hosting thousands of addons, for millions of users. Without the revenue from ads and user activity tracking, they don’t

[2020-10-13 06:49] casperstorm commented on #236
I added this feature to the [roadmap](https://github.com/casperstorm/ajour/projects/2#card-47250433) since it was requested a few times prior to this: https://github.com/casperstorm/ajour/issues/185, https://github.com/casperstorm/ajour/issues/231.

[2020-10-13 06:49] #236 closed

[2020-10-13 06:51] casperstorm commented on #234
Can you supply the crash report @Brightbrown.

[2020-10-13 12:18] Brightbrown commented on #234
Here is the full crash log as requested (fyi, it lists all my hardware at the very end).:

Process:               ajour [1685]
Path:                  /Applications/Fun/*/Ajour.app/Contents/MacOS/ajour
Identifier:            com.rogildstorm.ajour
Version:               1.0.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           ajour [1685]
User ID:

[2020-10-13 12:28] Brightbrown commented on #234
When I pasted it into github, it kinda destroyed all the spacebar formatting, so much harder to read…. here is a zip of the text file (use an ascii editor!)

[2020-10-13 12:46] AltBridge commented on #172
That's the point, avoiding having to backup the addons when it could just be saved as a list to be imported later to save hdd space. Plus it enables people to share their installed addons easily.

[2020-10-13 17:38] Feichtmeier opened #237 "Provide GitHub Action which add-on creators can use to opt into Ajour Catalogue"
So it might look like curse gaming and Overwolf are starting to complain about other WoW add-on managers.

I thought it should be possible to create a github action which add-on creators can use to create pull request in this repository automatically to be included in an Ajour or new repository catalogue.

Most add-ons are developed on GitHub already. Actually there is no need for curse gamings on

[2020-10-13 17:55] Urganot opened #238 "Export/Backup Addons as list"
**Is your feature request related to a problem? Please describe.**
When Backing Up my interface, it takes a long time because of the file size.
Copying my interface to a new pc is really time-consuming.

**Describe the solution you'd like**
A solution I could see is to generate a list of all addons and backing this up. this will drastically reduce the file size. Ofc the "WTF"-folder needs to be ke

[2020-10-13 20:53] casperstorm commented on #237
I have a statement here where i talk a little bit about the whole situation with Overwolf: https://github.com/casperstorm/ajour/issues/225.

TL;DR is that eventually we (the creators of third party addon managers) will work towards a open source platform were developers can submit their addon to.

[2020-10-13 20:53] #237 closed

[2020-10-13 21:25] Kaoskitty commented on #153
I've been trying to do some additional debugging by booting into safe mode and also logging in as a different user. Same results as far as Ajour crashing when trying to run it. However, there is some additional information in the ajour.log file that I haven't seen before. It looks like it's trying to access file in a directory for the user "crs". Not sure if this information helps in the debugging

[2020-10-13 22:07] tarkah commented on #153
The `Open window: NoAvailablePixelFormat` issue might be due to an older OpenGL driver on your machine. Not sure if this command works on Mac or not, but can you run `glxinfo | grep "version"` and paste the output? If not, can you see what OpenGL drivers you have installed?

[2020-10-13 22:46] Kaoskitty commented on #153
That command isn't available anymore. OpenGL on Macs seems to have been deprecated and "stuck" at version 4.1 for many years.

Here is the Apple page regarding what version of OpenGL is installed (I'm running Catalina 10.15.7)

https://support.apple.com/en-us/HT202823

And here is one of several articles I found regarding OpenGL on Macs:

https://apple.stackexchange.com/questions/379326/is-opengl-

[2020-10-13 23:28] dboulton85 opened #239 "whoops you have no retail addons"
**Describe the bug**
Tukui.org is currently having issues im guessing from the pre-patch user traffic.  The site is not down but the connection appears to timeout.  I suspect that ajour is trying to reach out to check if there is an update for elvui and is either erroring or timing out.  It seems to either timeout and display addons or fails and gives a whoops cant load addons message. Also the ti

[2020-10-14 00:21] xdega commented on #239
I am experiencing the same issue here. Sounds like a traffic issue?

[2020-10-14 00:29] ascott18 opened #240 "Unable to load list of currently installed addons"
**Describe the bug**
Upon opening the app, it displays "Loading... currently parsing addons" for a few seconds, followed by "You have no <retail/classic> addons". It used to work, and I most certainly do have many addons installed.

**To Reproduce**
Open the app

**Expected behavior**
List of installed addons is loaded.

**Software involved**
Please complete the following information:
 - OS: Windo

[2020-10-14 00:30] ascott18 commented on #240
Similar to #239, but I'm not getting any errors on failed API calls to tukui.org and do not have any TukUI addons installed at all.

[2020-10-14 00:59] nvparrish commented on #239
I am having the same issue.
OS: Ubuntu Linux 20.04
Ajour version: 0.4.1

[code]

[2020-10-14 01:21] ejtbrown commented on #240
Seeing the same thing. Last line from the log is

[code]

Present addon list is:
Ace3
AckisRecipeList
Altoholic
Altoholic_Achievements
Altoholic_Agenda
Altoholic_Characters
Altoholic_Grids
Altoholic_Guild
Altoholic_Search
Altoholic_Summary
AstralKeys
Auctionator
Bartender4
BattlePetBreedID
BindPad
Broker_CombatDuration
Broker_Money
'!BugGrabber'
CollectionShop
Coordinates
CT_BarMod
CT_BottomBar
CT

[2020-10-14 01:38] Zenrage commented on #240
I am getting the same issue;

Constant refreshing pulls up different addons (not all) and then sometimes it doesnt pull up anything.  Something may have changed in the prepatch.

[2020-10-14 05:40] Feichtmeier commented on #237
Great to hear that @casperstorm
I think it should be possible to use GitHub as a platform. I mean, if this already exist, and you can even filter github for WoW addons ( https://github.com/topics/wow-addon ) why create yet another platform ? The developers are mostly here anyways :)

[2020-10-14 07:31] t03r1cht opened #241 "Highlight addon row on catalog view"
**Is your feature request related to a problem? Please describe.**
I find it hard to keep track which row in the catalog row my cursor is currently positioned on. When I want to download the addon I need to cautiously move my cursor over to the Retail/Classic download button.

**Describe the solution you'd like**
Visual indication (e.g. changing the color) of the row which is currently focused or

[2020-10-14 09:19] casperstorm commented on #240
This is a CurseForge issue. The API is getting hammered which causes it to return the wrong responses.

[2020-10-14 09:20] #240 closed

[2020-10-14 09:24] casperstorm commented on #239
So apparently the API's have been hammered which causes this super strange behaviour.
I see two things here:

**API timed out:**
- When the API simply times out, or returns something else than `200 OK` we should handle it gracefully in Ajour. This is not the case right now which is why you would see "No retail addons" because we simply didn't get an answer and instead of showing a "server issue me

[2020-10-14 09:29] AltBridge commented on #238
Identical to https://github.com/casperstorm/ajour/issues/172

[2020-10-14 09:32] casperstorm commented on #238
Closed in favor for the previously mentioned.

[2020-10-14 09:32] #238 closed

[2020-10-14 10:23] ManiacBunny opened #242 "Details! Damage Meter is not showing up as installed"
**Describe the bug**
The addon Details! Damage Meter is not showing up in my list of installed addons.

**Screenshots**
[Image of my addon list that does not show Details!](https://i.imgur.com/kFJBHIq.png)

[Image of my addon folder to show Details! is installed](https://i.imgur.com/czCHC3n.png)

[Image of the catalog tab saying Details! is not installed](https://i.imgur.com/pND8mg2.png)

**Softwa

[2020-10-14 10:40] kiraleos opened #243 "Ajour panics and crashes at startup when no VRAM is available to allocate to."
**Describe the bug**
Ajour panics and crashes at startup when no VRAM is available to allocate to.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill up VRAM either artificially or by opening up many GPU processes (e.g On my system with a 1050 2GB, just having Discord, Firefox and WoW open, the VRAM fills up).
2. Launch Ajour

**Expected behavior**
Ajour launches in software rendering mode

[2020-10-14 11:04] casperstorm commented on #242
Related to #239.
API's are currently being hammered. More information in above issue.

[2020-10-14 11:04] #242 closed

[2020-10-14 12:39] #223 closed

[2020-10-14 13:21] casperstorm commented on #241
This is a great idea, and something i've had in mind for sometime.
Problem is executing it with the current setup and ui framework we use.

I'll keep it ind mind, because UX wise it is needed.

[2020-10-14 13:23] casperstorm commented on #107
This became relevant again when Tukui API was down.

[2020-10-14 13:51] Plougz opened #245 "Highlight the whole row in Catalog"
It would be nice if the whole row would be highlighted when hovering over the install button. I've made the Ajour window abit larger, so it gets hard to see if you install the right addon:)

[2020-10-14 13:52] Plougz commented on #245
I see its already there, nvm

[2020-10-14 13:52] #245 closed

[2020-10-14 15:04] tarkah commented on #243
@kiraleos as a test, can you try to pass `--aa false` as a command line option for Ajour when launching and see if it still crashes when VRAM is full?

[2020-10-14 17:33] xdega commented on #239
Would some sort of offline index/cache of installed addons be a viable way to list a user's available addons, allowing them to delete or install new addons, while disabling any update capabilities?

[2020-10-14 18:43] N6REJ commented on #107
probably need a try/catch after all i said and done to be sure nothing went awry.

[2020-10-15 00:25] Seputaes opened #246 "Support or suppress addon menu icon declarations in addon title"
**Describe the bug**
Addons support special syntax in the `toc` file for stuff like colors (eg, ElvUI's title is `|cff1784d1ElvUI|r`). Ajour [already handles this](https://github.com/casperstorm/ajour/blob/6b4bc3aae8d8e344e7919379c175779f44b9f2f2/crates/core/src/parse.rs#L761). However, the new addon menu in WoW appears to also support icons now, and that syntax isn't handled by Ajour.

**To Repro

[2020-10-15 08:13] mattpson opened #247 "Catalog - add columns for version/game version"
Having columns that shows remote version and/or game version in the Catalog view would be very helpful to find out that the addon you want to install is supported by the game version that you are running.

(Patch days is horrible)

[2020-10-15 08:22] mattpson opened #248 "My Addons - show all addons installed even if they are not handled by Ajour"
I would be handy to see what addons I have in the GUI even if they are not managed by Ajour.

Show all present addons in "My Addons". If they are unknown show them in a greyed out non-interactable state with name and if possible version.

[2020-10-15 08:33] mattpson commented on #176
Maybe make a backup of the addon that is deleted so it can be reinstalled easily.

This will require a backup directory to be configured. If there isn't one then just keep the current behavior.

[2020-10-15 08:38] mlablah commented on #247
@mattpson thank you for the feature request. It's something we would like to add in the near future.

It has already been requested in #216 so I will close this issue. You can keep track on our progress using that other issue. :)

[2020-10-15 08:38] #247 closed

[2020-10-15 08:45] mattpson opened #249 "Pressing refresh shows a different number of installed addons (sometimes)"
**Describe the bug**
With Ajour started pressing "refresh" on the "My Addons" page sometimes misses quite a few addons. I have 22 addons installed currently but upon refreshing it reports 16, 11, 22, 22, 14 (5 refreshes).

**To Reproduce**
Press "refresh".

**Expected behavior**
I expected all my addons to show every time.

**Software involved**
Ajour version 0.4.1 on MacOS Catalina (10.15.7).

**

[2020-10-15 09:17] nickbayley commented on #246
To add to this.

![image](https://user-images.githubusercontent.com/2527831/96102661-ae953d00-0ece-11eb-8f2c-7bf0f62f8a86.png)

I don't see this problem when I have All The Things Classic installed in the classic interface folder.

![image](https://user-images.githubusercontent.com/2527831/96102938-ffa53100-0ece-11eb-8b48-6273f8cc8ac6.png)

Nor with All The Things Retail when in the retail interfa

[2020-10-15 09:21] mattpson opened #251 "Sometimes the version of GTFO is wrong"
**Describe the bug**
Upon my testing with #249 sometimes Ajour reports the wrong version of GTFO addon. Most of the times it reports 4.56 which is the one installed but for some reason it sometimes says that r524-alpha is installed locally.

**To Reproduce**
Refresh

**Expected behavior**
I expected it to be the same version reported upon refreshing the list-

**Screenshots**
![Screenshot 2020-10-

[2020-10-15 09:24] nickbayley commented on #251
![image](https://user-images.githubusercontent.com/2527831/96104094-519a8680-0ed0-11eb-81f1-c6b9e0d3cf72.png)

I see something similar with `AdiBags - Zone Items`. Although local and remote are the same in my case. Also seeing the same as you describe in #249.

[2020-10-15 10:12] mattpson commented on #251
Got it with DBM-TimelessIsle.

![Screenshot 2020-10-15 at 11 42 59](https://user-images.githubusercontent.com/15263602/96110080-a98cb980-0edf-11eb-9842-9eabbb7c1634.png)

[2020-10-15 10:53] nerzhul opened #252 "Wayland startup issue"
**Describe the bug**
Failed to startup app under gnome + wayland

[code]

**To Reproduce**
Just launch app on gnome + wayland

**Expected behavior**
It should startup

**Screenshots**
See the desription

**Software involved**
Please complete the following information:
 - OS: Archlinux
 - Ajour version: 0.4.1

**Additional context**
N/A

**Log Output**
See description

[2020-10-15 11:37] casperstorm commented on #248
This will be fixed in #233! :)

[2020-10-15 11:37] #248 closed

[2020-10-15 11:38] Ruffz commented on #249
It's, I think, a Curse API bug which occurs also on Twitch client
May be due to the quantity of updates it receive

[2020-10-15 11:38] casperstorm commented on #249
This is caused by the API being slammed, and it has been for the last day.
I'll close in favor for: https://github.com/casperstorm/ajour/issues/239

[2020-10-15 11:38] #249 closed

[2020-10-15 11:40] casperstorm commented on #246
Thanks, i'll make sure to update our toc parser.
Normally showing the title from toc is a last resport, because we shows the API title instead. This could be related to the API being slammed (#239).

[2020-10-15 11:41] casperstorm commented on #251
#239.

[2020-10-15 11:41] #251 closed

[2020-10-15 13:55] Bykow commented on #163
Hey,

Tried to reproduce this bug and ran into  a similar issue, using `yay -S ajour` and selecting the normal version (not the git one).

I initially had this error:

Error on building the crate `ajour-core` because of use of `strip_suffix(".zip")`

[code]

Though, once going through `rustup update` my version of Rust was updated. Thus this time leading to a successful build.
Not exactly sure if

[2020-10-16 09:48] #233 closed

[2020-10-16 10:09] casperstorm commented on #252
Not enough information here to know what is going on.
If you have the time, maybe you can try to build Ajour from source and see if that works?

https://github.com/casperstorm/ajour/blob/master/INSTALL.md#clone-the-source-code

[2020-10-16 10:26] #93 closed

[2020-10-16 11:52] Neurotoxin001 opened #254 "Sometimes showing not all addons"
**Describe the bug**
Sometimes after startup it's showing not all addons so I must click "refresh"

**To Reproduce**
Steps to reproduce the behavior:
1. Run ajour
2. If not all addons loaded click "refresh"

**Screenshots**
https://i.imgur.com/WD5to0J.mp4 - it's always different number of "loaded addons"

**Software involved**
 - OS: Windows 10 LTSC 1809
 - Ajour version: 0.4.1

**Log Output**
[aj

[2020-10-16 13:34] Xorag commented on #254
I've seen this exact same behavior in the Twitch client since Shadowlands released, I just switched to Ajour to try and rectify it as the twitch client was showing me as having old versions installed, failing to scan all addons all of a sudden, so maybe suspect something wonky going on with twitch/curse? Just my 2 cents.

[2020-10-16 13:46] Ruffz commented on #254
See #249  & #251

[2020-10-16 13:53] Yakehira opened #255 "Don't attempt to write into symlinked Addons!"
**Describe the bug**
When you symlink an addon into the addons Folder and download an addon with the same name (i tested my own Addon), it will write into the symlink folder and replace the files at the source which is really bad if you are a developer who doesn't use source control to recover your files :P

**Expected behavior**
Delete the link and write a new folder (after warn, because it reall

[2020-10-16 13:59] casperstorm commented on #254
#239 – it is because APIs is not giving us correct data after they have been slammed ever since pre-patch hit.
We have to wait it out.

[2020-10-16 13:59] #254 closed

[2020-10-17 00:08] github-actions[bot] opened #258 "RUSTSEC-2020-0053: dirs is unmaintained, use dirs-next instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `dirs`                      |
| Version             | `2.0.2`                   |
| URL                 | [https://github.com/dirs-dev/dirs-rs](https://github.com/dirs-dev/dirs

[2020-10-17 00:08] github-actions[bot] opened #259 "RUSTSEC-2020-0053: dirs is unmaintained, use dirs-next instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `dirs`                      |
| Version             | `3.0.1`                   |
| URL                 | [https://github.com/dirs-dev/dirs-rs](https://github.com/dirs-dev/dirs

[2020-10-17 00:32] tarkah commented on #258
duplicate of #259

[2020-10-17 00:32] #258 closed

[2020-10-17 00:49] tarkah commented on #255
@Yakehira thanks for opening the issue! We had some logic previously in place to remove the destination folders before extracting an addon. However, there appeared to be some gaps in that logic. #261 should fix that. It'd be great if you know how to build from source so you can test that PR prior to us merging, but I feel pretty confident it'll resolve your issue here.

[2020-10-17 01:25] tarkah commented on #255
I tested by creating a symlink matching the folder name of an Addon (I used Recount) with some files behind the symlink. I downloaded Recount from the Catalog. Previously it overwrote my files. With the PR, it successfully deleted the symlink, created a new folder and extracted the addon, preserving my files.

[2020-10-17 06:52] #259 closed

[2020-10-17 06:56] #53 closed

[2020-10-17 06:56] #215 closed

[2020-10-17 07:57] #255 closed

[2020-10-17 10:29] kiraleos commented on #243
@tarkah The outcome is exactly the same with `--aa false`, logs are the same aswell. Sorry for the late reply.

[2020-10-17 15:24] probonopd opened #262 "AppImage fails to run on Ubuntu xenial"
Please build on a system no newer than Ubuntu xenial so that it can run on all still-supported distribution releases.

[code]

Reference and detailed test error log:
https://github.com/AppImage/appimage.github.io/pull/2368

[2020-10-17 21:01] Ruffz commented on #199
"fix: selects stable if newer than alpha " ignore Beta release, happened today with Moveanything addon, I had to set it on Beta to get the "Update".

[2020-10-18 05:51] sod opened #263 "addons sharedmedia & gladiatorlossa2 update state"
**Describe the bug**
Not really a bug. More ill behaved addons I guess?

**To Reproduce**
Install these two addons:
* https://www.curseforge.com/wow/addons/sharedmedia (stable)
* https://www.curseforge.com/wow/addons/gladiatorlossa2 (stable)

Every time I hit "Refresh" there is another result. It sometimes reports none as updated, sometimes one of them, sometimes both:

![image](https://user-image

[2020-10-18 06:05] sod commented on #263
The twitch client has exactly the same issue with those two addons. So maybe it's an curseforge api issue.

[2020-10-18 08:51] casperstorm commented on #263
It is a CurseForge API issue. It has been going on since pre-patch hit.

There's not really anything I can do other than wait it out. Sucks.

Thanks for reporting though.

[2020-10-18 08:51] #263 closed

[2020-10-18 12:56] xucaen opened #264 "Ajour not showing installed addons"
I noticed some addons I have installed are not being updated by ajour.  I'm not sure if this is a bug or why they are not showing up.

![image](https://user-images.githubusercontent.com/17462261/96368078-c1528080-111f-11eb-954c-904bc59440a9.png)

[2020-10-18 13:19] Together34 commented on #264
I've a similar/same Issue - Although it seems refreshing sometimes helps populate/depopulate the list
![image](https://user-images.githubusercontent.com/58236114/96368579-1fea1f80-115d-11eb-8773-1752b8a0ef69.png)
![image](https://user-images.githubusercontent.com/58236114/96368583-2b3d4b00-115d-11eb-9643-6dcc12eb8e50.png)
![image](https://user-images.githubusercontent.com/58236114/96368595-3db7848

[2020-10-18 13:25] casperstorm commented on #264
This is unfortunately a issue because the CurseForge api returns garbage right now (see #239).

Short shorty:
You ask the API two questions they answer two other questions. Then you ask the API the same two questions, this time it answer one of them. Rinse repeat. This is why you can press refresh and see different results from time to time. It is likely due to their caching server failing.

TL;DR

[2020-10-18 13:25] #264 closed

[2020-10-18 16:55] rockerBOO commented on #163
I think the iced stuff is sketchy because it runs it off git so everyone has a different version. Seems the current iced is causing a number of issues. Why is it not using a versioned package?

[2020-10-18 17:10] rockerBOO opened #265 "Panic crash on start: Invalid glyph_hor_side_bearing [Arch Linux]"
**Describe the bug**
ajour crashes on start. Using the compatibility suggestion I am getting a panic.

`12:49:22.662 [panic][ERROR] thread 'main' panicked at 'Invalid glyph_hor_side_bearing': /home/rockerboo/.cargo/registry/src/github.com-1ecc6299db9ec823/ab_glyph-0.2.5/src/ttfp.rs:263`

**To Reproduce**
Steps to reproduce the behavior:
1. cargo run --no-default-features --features opengl

**Expec

[2020-10-18 20:55] Riscon opened #266 "Not all AddOns are loaded"
**Describe the bug**
When you open Ajour or press the button "Refresh" it won't always load / display all of your addons inside your wow folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ajour and check your number of addons loaded on top of the programm. Ex.: 31 retail addons loaded
2. Click on "Refresh" and check again. Ex. 35 retail addons loaded.

**Expected behavior**
I expec

[2020-10-18 21:31] casperstorm commented on #266
This is unfortunately a issue because the CurseForge api returns garbage right now (see #239).

Short shorty:
You ask the API two questions they answer two other questions. Then you ask the API the same two questions, this time it answer one of them. Rinse repeat. This is why you can press refresh and see different results from time to time. It is likely due to their caching server failing.

TL;DR

[2020-10-18 21:31] #266 closed

[2020-10-18 21:34] casperstorm commented on #163
We are using a specific rev, not just HEAD.

[2020-10-19 15:54] leon-paul-hart opened #267 "Link to the Website and/or Github Project in the Settings menu"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a link to the website and/or the Github repository somewhere in the application for quick access.

**Describe the solution you'd like**
Possibly in the Settings menu or a separate "About" section there could be a link with some text telling users where to download latest version and/or how to participate in

[2020-10-19 17:22] Ruffz commented on #267
That was added in Ajour 0.3.4 (If I correctly understood your request), just click an addon name to expand options, which include direct link to the addon's website.

[2020-10-19 18:00] Xorag opened #268 "Sorting by name bug with lower case addon name"
Using version 0.4.1 I've noticed that an addon I have that begins with a lower case character appears to be sorted out of order. Additionally you'll notice that the REcrystalize addon appears before RaiderIO which is also wrong. See the screenshot below:

![image](https://user-images.githubusercontent.com/42698965/96493700-4d91a000-1213-11eb-98d2-8873db43e4c7.png)

If you need additional diagnosti

[2020-10-19 18:05] Xorag opened #269 "Ajour does not remember window location/sizing between launches"
Running 0.4.1 on Windows 10 20H1 I've noticed that if I open Ajour and full screen it, closing it and reopening it you will observe it doesn't reopen to a full screen/maximized state - it always opens windowed.

Also between launches it also goes to a default anchor point similar to a windows command prompt, so if I've moved it to a specific location on my monitor it will reopen to the default anc

[2020-10-19 18:06] Neralus opened #270 "Backup handling for release channels"
**Is your feature request related to a problem? Please describe.**
Ajour settings allows only to get the latest version from the selected channel. Some addon developers do not use alpha or beta channels which mean ajour would never show an update is available, even though it is on a higher channel.

**Describe the solution you'd like**
There should be a fallback mechanic to check for updates. e.g.

[2020-10-19 19:29] casperstorm commented on #270
There is a fallback logic in place. Currently the logic works as following:
* If you select `Stable` you will always get latest `Stable`.
* If you select `Beta` you will get latest `Beta` unless `Stable` is newer.
* If you select `Alpha` you will get latest `Alpha` unless `Beta`/`Stable` is newer.

Isn't this what you mean?

[2020-10-19 19:58] Neralus commented on #270
In general yes but it didn't seem to work for addons where a channel is completely unused,
e.g. the Addon Plexus, it has beta version but no alphas.

If i set the channel to alpha and refresh or restart ajour, it will show that there is no update.
If i switch to beta channel then it shows me there is an update available.

This behavior lead me to think there is no fallback logic in place and it on

[2020-10-19 20:00] casperstorm commented on #270
So thats an edge-case.
I'll fix that.

[2020-10-20 11:18] s-e-p opened #272 "Nothing displayed"
Starting program (ajour.exe) gives window with light gray bar across top; hovering mouse over right corner in bar shows pale purple button, no text.  Clicking brings up several outlines of controls or something, still no text.  Clicking again goes back to just the gray bar.  I suppose I could try building from source and debugging, but figured I'd see if this is a known problem.

Running the ajour

[2020-10-20 11:20] casperstorm commented on #272
Can you try [OpenGL](https://github.com/casperstorm/ajour/releases/download/0.4.1/ajour-opengl.exe) version of Ajour? Is it same behaviour?

[2020-10-20 11:21] s-e-p commented on #272
Ah, updated my report at same time you asked.  Yes, opengl version works.

[2020-10-20 11:22] #272 closed

[2020-10-20 11:24] casperstorm commented on #272
Awesome the OpenGL version works then.
The "normal" build has a pretty high requirement of DX12 or Vulkan on Windows so it might be the reason you can't properly run it.

[2020-10-20 15:04] qyh214 opened #273 "support add third party source"
**Is your feature request related to a problem? Please describe.**
Want to support adding third party sources by yourself.

**Describe the solution you'd like**
some addons is on github/gitlab/or other git repository.for example https://github.com/siweia/NDui.

we can add them as source to update addons.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-10-20 16:21] casperstorm commented on #273
We have had a few suggesting this feature so i've added it to our inbox in the [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-47742628).

I'll close this issue for now, and then you can follow along on the Roadmap. Thanks.

[2020-10-20 16:21] #273 closed

[2020-10-20 17:19] braddyb7 commented on #269
A couple of things to add here from my own experience.

Ajour always seems to open at the same anchor point (I'm guessing ~50x50 pixels from the top left of the screen but maybe a bit more). I've had no issues with Ajour remembering its window size, also running version 0.4.1 on Windows 10 2004. These both, however, cause some odd behaviour if it is closed and reopened from either Maximized or Min

[2020-10-20 18:14] Ruffz commented on #269
#99 :D

[2020-10-20 20:10] #270 closed

[2020-10-21 01:23] Walkerbo opened #275 "Ajour not identifying all installed addons"
_**Describe the bug**_
The Ajour app does not identify all of my installed addons.
https://www.curseforge.com/wow/addons/collect_me
https://www.curseforge.com/wow/addons/gnosis
https://www.curseforge.com/wow/addons/hidetalkinghead
https://www.curseforge.com/wow/addons/larger-macro-icon-selection

All of these addons are housed on Curse

_**To Reproduce**_
Install these addons then hit refresh

_**

[2020-10-21 04:28] casperstorm commented on #275
CurseForge API is not working correctly so Ajour gets wrong data from time to time.

More in #239.

[2020-10-21 04:28] #275 closed

[2020-10-21 16:28] vttale opened #277 "Barrels o' Easy always shown as needing Update"
**Describe the bug**
The Barrels o' Easy addon always shows as needing an update, even immediately after updating.

Honestly I don't even care about this particular addon, but thought it probably pointed to an issue that could end up affecting other addons.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Retail addons, then Refresh
2. Barrels o' Easy is shown as Local: BarrelsOEasy- a

[2020-10-21 18:46] perara commented on #163
Hi, sorry for the delay
When compiling with opengl, I get a empty frame (something at least)
`cargo run --no-default-features --features opengl`
![image](https://user-images.githubusercontent.com/3774846/96767907-7796be00-13dd-11eb-90c6-01f34751d39a.png)

`cargo run`
[code]
For this last one, I have two GPUS but one of them are not bound with drivers. Are you by chance selecting GPU anywhere manua

[2020-10-21 21:32] TorenAltair opened #278 "0.4.2 stalls at "Parsing Addons""
After updating to version 0.4.2 the program stops at the "Loading... Currently parsing addons". I can click Settings and close it but nothing more and there are no addons listed.

I deleted both yml-files as well to no avail. They are created again though.

I waited several minutes as well, the task manager shows no activity (0% CPU, network, disk etc)

**Software involved**
Please complete the fo

[2020-10-21 22:06] casperstorm commented on #278
I am fixing this issue, sorry for the trouble it is causing. Until it's fixed you should use 0.4.1.

[2020-10-21 22:10] TorenAltair commented on #278
Hey, no problem at all! Great work. I wasn't only not sure if it is a common error or something special to my system.

[2020-10-22 00:46] Walkerbo opened #279 "Support modified addons"
**_**Describe the solution you'd like**_**
When I have to edit a lua file to get it working again, 90001 broke so many addons that community users provided fixes before the author provided an updated version.
Any edited addons disappear from the list of installed addons, and the only way to bring them back is to reinstall which then breaks it again.

**_**Describe alternatives you've considered**_

[2020-10-22 09:11] casperstorm commented on #277
Should be fixed in #280 :)

[2020-10-22 09:20] #239 closed

[2020-10-22 09:20] #277 closed

[2020-10-22 09:21] #278 closed

[2020-10-22 09:31] jkw opened #282 "[Windows 10] App refuses to start."
**Describe the bug**
The app doesn't start when double-clicked, nor marking app and pressing enter.

**To Reproduce**
Steps to reproduce the behavior:
1. Download app.
2. Try to start it

**Expected behavior**
The app should start.

**Screenshots**
Not applicable.

**Software involved**
 - OS: Windows 10 Pro Insider Preview Build 20226.rs_prerelease.200925-1415
 - Ajour version: v0.4.2

**Addition

[2020-10-22 09:36] casperstorm commented on #282
Can you send me `ajour.log` from `%APPDATA%\ajour`?

[2020-10-22 09:44] jkw commented on #282
[code]

[2020-10-22 10:06] emin opened #283 "Self Updater"
Hi,

The self-update feature is a must, it's even a little weird that the updater program can't update itself :) I know it's a little different than what it does, it's architectural change maybe or separate updater program in it to update itself. But overall it seems it's a required feature, other than that I love the simplicity of the program.

[2020-10-22 10:55] Ruffz opened #284 "Issue with "Datastore" addons"
**Describe the bug**
All "Datastore" addons do not remain displayed.

**To Reproduce**
1. Install entire suite of "Datastore" (18 addons)
      DataStore
      DataStore_Achievements
      DataStore_Agenda
      DataStore_Auctions
      DataStore_Characters
      DataStore_Containers
      DataStore_Crafts
      DataStore_Currencies
      DataStore_Garrisons
      DataStore_Inventory
      DataSto

[2020-10-22 12:17] casperstorm commented on #282
Can you try the new 0.4.3?

[2020-10-22 12:20] casperstorm commented on #283
I agree it is needed, and as you can see from the [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46568938) the feature is in progress, and has been for some time.

[2020-10-22 12:20] #283 closed

[2020-10-22 12:25] casperstorm commented on #284
Hmm, okay - I made a fix which would hide them if another addon listed them as a dependency.
Maybe I was too quick on the trigger. Does Twitch client display them all as well? And is there other cases which has same behavior you know of?

[2020-10-22 13:08] Ruffz commented on #284
Yes
<img src="https://i.imgur.com/WfDF2hh.png" alt="Datastore Twitch Client" width="400" height="250">

No
Except with "Postal" addon which was not parsed initially, but it is displayed normally after an install by Ajour.

[2020-10-22 13:11] casperstorm commented on #284
I'll make sure to correct this ASAP. Thanks for reporting.

[2020-10-22 13:12] Ruffz commented on #284
Thanks !

[2020-10-22 13:43] casperstorm commented on #284
<img width="1253" alt="Screenshot 2020-10-22 at 15 40 49" src="https://user-images.githubusercontent.com/2248455/96880054-06a6e300-147d-11eb-9588-23f0b723128e.png">

It's fixed now. If you want @Ruffz you can use this build i have added here:

[2020-10-22 13:52] Ruffz commented on #284
Thanks a lot, it's perfect, I'm still using Twitch Client just for double check now.

[2020-10-22 13:54] casperstorm commented on #284
Sure!
I'll close this down now, but please just reach out here or on Discord if you need anything or find other issues.

[2020-10-22 13:54] #284 closed

[2020-10-22 16:39] fadedtimes commented on #282
I had this same issue and no longer have it after upgrading to 0.4.3

[2020-10-22 17:25] jkw commented on #282
Tried, no difference. Nothing in logbook. Tried deleting %APPDATA%\ajour to start fresh. Still nothing happens. Unless i run it from Windows Terminal with .\ajour.exe

Must be some issue with Pro Inside Preview?

Clean log after first start from deletion of %APPDATA%\ajour:

`19:24:55.941 [ajour][INFO] Ajour 0.4.3 has started.
19:24:55.950 [ajour::gui][DEBUG] antialiasing: true
19:24:55.960 [ajour

[2020-10-22 17:32] SkunkGuru commented on #228
Hi,
i see that now wow-pro is found on curse  ( https://www.curseforge.com/wow/addons/wow-pro )
but site says "IMPORTANT - THE VERSION ON CURSE.COM DOES NOT HAVE ALL THE ADDONS!
In order for our addon and it's community to thrive, we need people to visit our website, WoW-Pro.com."

You should link directly on that site

[2020-10-22 17:48] Plougz opened #288 "Open Ajour on startup"
A simple checkbox to open the program on startup :)

[2020-10-22 17:53] jwilliam87 opened #289 "Some addons say Unknown"
Attached file to show the issue.

![aaa](https://user-images.githubusercontent.com/65428974/96910713-e15ea880-146d-11eb-81d6-9355b8d79b6d.jpg)

[2020-10-22 21:42] casperstorm commented on #289
Give this a go and let me know how it looks: [Uploading ajour-rc2.zip…]()

[2020-10-22 22:05] casperstorm commented on #279
If you are on Windows then you can try this build and confirm if it works: [ajour-rc2.zip](https://github.com/casperstorm/ajour/files/5426036/ajour-rc2.zip)
Should detect your modified addons as unknowns.

[2020-10-23 02:04] #216 closed

[2020-10-23 02:05] dstaley commented on #289
@casperstorm Having the same issue with rc2, only with one addon though:

![image](https://user-images.githubusercontent.com/88163/96947937-4c71a480-1499-11eb-9993-e6c5180be1e9.png)

I installed it fresh from Twitch just to make sure there weren't any modifications.

[2020-10-23 10:05] jkw commented on #282
**Update**
Seems to be some kind of filesystem issue on my end, I'll update when I've tried some things.

[2020-10-23 14:39] tsposato commented on #289
I have a similar issue with 0.4.4 for some of my addons.
![image](https://user-images.githubusercontent.com/27261670/97017544-c8ebac80-1599-11eb-83b6-048bbc7a01e6.png)

[2020-10-23 15:25] nerzhul commented on #252
Hello @casperstorm ,
i just took some time to rebuild commit xxx in debug with cargo

here is the gdb backtrace

[code]

[2020-10-23 16:11] Plougz opened #291 "Add a search function to the "My addons" tab"
Listen.... i got alot of addons...

[2020-10-23 16:22] casperstorm commented on #289
It happens if our API does not know the addon/version. You can try deleting the addon an reinstall from the catalog to see if that fixes it.

Another reason could be they are locally modified.

[2020-10-23 16:44] timothy003 opened #292 "Not updating Raider.IO"
**Describe the bug**
Ajour detects the newest version of Raider.IO even if an older version is installed.

**To Reproduce**
1. Go to 'Raider.IO Mythic Plus and Raid Progress' in the Twitch app
2. Click on 'Versions'
3. Install version 'v202010220600'
4. Open Ajour

**Expected behavior**
An update is available for Raider.IO.

**Software involved**
 - OS: Windows 10
 - Ajour version: 0.4.3
 - (if ap

[2020-10-23 17:10] dstaley commented on #289
Deleting and reinstalling Combuctor from Ajour results in the same error. Interestingly, when I download it from Ajour it gets stuck on the "Hashing" status. I'm not sure if that's related, but I figured I'd mention it.

[2020-10-23 17:23] casperstorm commented on #289
Aha, strange. I'll look into it.
Thanks for reporting.

[2020-10-23 17:30] lukzmu opened #293 "Ajour MacOS developer cannot be verified"
**Describe the bug**
Downloading a new version of Ajour always throws errors about malware, as the developer cannot be verified.

**To Reproduce**
Steps to reproduce the behavior:
1. Download new version of Ajour
2. Open Ajour

**Expected behavior**
Should run without problems

**Screenshots**
![Ajour](https://i.imgur.com/3lHVMb7.png)

**Software involved**
Please complete the following informatio

[2020-10-23 17:45] tsposato commented on #289
Interesting I'll try, I thought because it was reading the Local version and Author in most cases that it at least knew about the addon just not how to update it.

[2020-10-23 17:56] casperstorm commented on #293
I have no signed it. I wrote down the solution in the [faq](https://github.com/casperstorm/ajour#faq).

[2020-10-23 17:56] #293 closed

[2020-10-23 22:06] casperstorm commented on #279
Out now in 0.4.4.

[2020-10-23 22:06] #279 closed

[2020-10-23 22:09] casperstorm commented on #288
For now I would recommend you follow: [Add an app to run automatically at startup in Windows 10](https://support.microsoft.com/en-us/windows/add-an-app-to-run-automatically-at-startup-in-windows-10-150da165-dcd9-7230-517b-cf3c295d89dd.).
In the future we might add support directly in the app, but for now I feel like it is up to the user since it is natively supported by the OS.

Thanks for reporti

[2020-10-23 22:09] #288 closed

[2020-10-23 22:14] casperstorm commented on #292
Can you try version 0.4.4 of Ajour @timothy003?

[2020-10-23 22:15] #107 closed

[2020-10-23 22:16] #210 closed

[2020-10-24 02:43] timothy003 commented on #292
0.4.4 had the same issue at the time of posting. However, I can no longer reproduce it on 0.4.3 or 0.4.4. Perhaps there was a bug with the new API.

[2020-10-24 07:08] nerzhul commented on #252
@casperstorm i looked at the dependency tree, in fact the toolkit you use has a very old rust library for wayland, i think it can be the problem.
It uses wayland-client 0.23.6, whereas the current is 0.28.1, and it comes from smithay-client-toolkit which is in 0.6.6, and currently in 0.12.0 (see https://github.com/Smithay/client-toolkit/blob/master/Cargo.toml)

[2020-10-24 07:49] nerzhul commented on #252
As i saw, updating to latest master and refreshing the whole cargo.lock permits to have far more recent deps, but requires more compilation fixes

Here is a fragment of the changes, i'm not good at rust to help to change that

[code]

[2020-10-24 08:39] casperstorm commented on #292
It was, and should be working correctly now. I'll close this issue but please just reopen if you find something. It's really helpful.

[2020-10-24 08:39] #292 closed

[2020-10-24 08:40] casperstorm commented on #252
Great research.
@tarkah can you take a look here?

[2020-10-24 15:02] tarkah commented on #252
@casperstorm sure thing. Are we wanting to do just a cargo update? Or also update the iced revision were using to the latest commit?

[2020-10-24 15:05] casperstorm commented on #252
I haven't checked what we are missing from HEAD, but might be worth following along to be honest.

[2020-10-24 15:13] tarkah commented on #252
I'm 99% sure the iced crate was updated in our main Cargo.toml, but not in our crates/widgets/Cargo.toml. That mismatch will cause the errors being seen.

I'll update all iced deps to latest master commit and also do a cargo update and fix all issues and do some testing to make sure it doesn't break anything. We should probably setup a chore to bump our dependencies on a semi regular cadence?

[2020-10-24 15:16] mlablah commented on #243
[ajour.log](https://github.com/casperstorm/ajour/files/5433076/ajour.log)
I'm attaching an example of the same error from a Windows user.

[2020-10-24 15:26] tarkah commented on #243
@kiraleos can you try the opengl build and report if that works instead?

[2020-10-24 15:45] tarkah commented on #252
@nerzhul can you test #294? I've updated the dependencies which should hopefully fix your problem.

[2020-10-24 16:26] kiraleos commented on #243
@tarkah The opengl build works. I confirmed it by runnning the normal build, it crashed, then the opengl build launched without a hiccup. The question is, should this issue be marked as closed?

[2020-10-24 16:30] tarkah commented on #243
Awesome! Thanks for confirming. I think we are safe to. The opengl build is our compatability build and we are directing all users having issues launching Ajour to it, which is working for them

[2020-10-24 16:31] #243 closed

[2020-10-24 16:50] nerzhul commented on #252
@tarkah what IDE do you use/plugins to work on rust ?

[2020-10-24 16:56] casperstorm commented on #252
He use VSCode and I use Vim.
We both use rust_analyzer 😊

[2020-10-24 17:12] nerzhul commented on #252
okay, i find a little bit tooling raw for rust, not like golang or c++ :)
THanks for the tip

[2020-10-24 18:02] #252 closed

[2020-10-25 00:09] Walkerbo commented on #279
Thanks for that; it is working

[2020-10-25 05:46] Anthuang opened #300 "Optional columns support for Catalog"
**Describe the bug**
The column option in the settings does not affect the columns in the catalog. This does work in the "My Addons" page. Not sure if the settings is meant to only change that page, or also the catalog.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Catalog"
2. Click on "Settings"
3. See error

**Expected behavior**
Like the "My Addons" page, the catalog should also

[2020-10-25 14:44] mlablah commented on #228
The description on that CurseForge link has been updated. It now directs people to a discord server for the latest updates. This is not something we can use as a source for updates or new installs inside Ajour.

But even if the wow-pro.com website had an API similar to what CurseForge, WowInterface or TukUI have, it would be a lot of effort for us to support a single addon which is already availab

[2020-10-25 14:44] #228 closed

[2020-10-25 14:50] casperstorm commented on #300
It's technically not a bug, but we just dont have optional column support for Catalog just yet, however it will be included very soon!

[2020-10-25 14:53] mlablah commented on #262
@probonopd Thank you for raising this issue and pointing out a solution. I have now updated our workflow to use Ubuntu 16.04 for our AppImage builds going forward. Future releases will use that. Closing the issue.

[2020-10-25 14:53] #262 closed

[2020-10-25 15:15] casperstorm commented on #224
That one is on Curse: https://www.curseforge.com/wow/addons/quartz

[2020-10-25 18:05] mlablah opened #301 "Cancelling when changing wow path will empty list (until refresh or restart)"
**Describe the bug**
When changing the path to the WoW directory via Settings, but cancelling instead of selecting directory, Ajour will wipe the list of addons currently being displayed and write "Woops! You have no [flavor] addons." - Pressing `Refresh` restores the list, so it's not a big problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Prerequisite: Ajour must already be pointed

[2020-10-25 18:19] KestrelWild opened #302 "Addon not showing update available"
Still seeing instances where the update status of addons on Ajour doesn't match what Curse sees. Curse has a beta2 file update available for this addon. Ajour doesn't see it.

![2020-10-25 14_13_23-Twitch](https://user-images.githubusercontent.com/10617817/97115409-f4bb7f00-16cc-11eb-9ddc-8411223270f2.png)

[2020-10-25 18:43] casperstorm commented on #302
That is because that update is 38 min old, from writing this post. And it was 15 min old when you wrote it.
Ajour well refresh from Curse every 3 hours, so at max you will have to wait that.

[2020-10-25 18:43] #302 closed

[2020-10-25 18:54] KestrelWild commented on #302
OO my bad! I didn't realize there was a refresh timer. Makes sense. Sorry and thanks :)

[2020-10-25 19:00] mlablah commented on #190
Adding comment made by Bykow a while ago on Discord, who suggested a fix for the rounding errors caused by our use of floats.

```A trick to avoid that would be using u_16 (or u_8 or u_32 depending or your level of paranoia :wink: ) with natural numbers and then simply use a division of 10 to render it.```

In other words. Instead of storing the scale factor as a float. Keep it as an integer and o

[2020-10-25 19:03] tarkah commented on #190
Ahh yes, thanks for linking that here. That should definitely be folded in to whatever future fix we apply here (if not before).

[2020-10-25 21:15] #301 closed

[2020-10-26 08:13] joukevandermaas opened #306 "Install addon from github repo"
**Is your feature request related to a problem? Please describe.**
Sometimes addons stop being maintained by the original author, and people fork the repo and make fixes. It would be nice if we can install addons from these github repos and have Ajour manage them.

**Describe the solution you'd like**
Users click a button, then enter a URL to a git repo. Ajour clones the repo into the appropriate

[2020-10-26 09:51] casperstorm commented on #163
@perara can you try to compile the code on `development`?

[2020-10-26 09:52] #234 closed

[2020-10-26 10:13] perara commented on #163
[code]
I tried with the following commands:
[code]
Now It does not crash on wgpu anymore, but I only get a empty frame:
![image](https://user-images.githubusercontent.com/3774846/97160223-4e2eb700-177c-11eb-80e5-5ed6d1af66fd.png)

[2020-10-26 12:54] #246 closed

[2020-10-26 13:02] casperstorm commented on #163
It sounds like a driver problem if it compiles but is not showing anything.
If you have the time, I could be valuable to know if you can run `iced` [examples](https://github.com/hecrj/iced/tree/master/examples):

[code]

[2020-10-26 13:06] casperstorm commented on #306
I would like to add this feature, @joukevandermaas.
There is, however, a few things we want to get done first but meanwhile I'll try to think of an elegant way we can integrate this.

Can't promise you a ETA for now.

[2020-10-26 13:08] joukevandermaas commented on #306
Sounds great, if you think it is valuable that is enough for me 😄 I understand it may not be the easiest feature. Let me know if there is anything I can do to help (I do not know Rust, so I cannot implement it myself, sadly).

[2020-10-26 13:49] #268 closed

[2020-10-26 16:31] robertjamesftw opened #310 "macOS 10.13.6 High Sierra, ajour 0.4.4 crashes on start"
Running an iMac with High Sierra, trying to run ajour 0.4.4, and crashes on startup.

The crash output is very long, attaching the entire report as a text file, but here is the begnning:

      	/Applications/Ajour.app/Contents/MacOS/ajour
Identifier:        	com.rogildstorm.ajour
Version:           	1.0.0 (1)
Code Type:         	X86-64 (Native)
Parent Process:    	??? [1]
Responsible:       	ajou

[2020-10-26 17:11] casperstorm commented on #310
It properly relates to #153.
For now it is unknown why, however I have just got my hands on a Mac which has same behavior so I'll start debugging tonight.

I'll keep you updated.

[2020-10-26 17:13] #310 closed

[2020-10-26 19:07] slabstone opened #311 "missing field `tag_name` error message on startup"
**Describe the bug**
Error message on startup: `missing field tag_name at line 1 column 248`
The message disappears after addon list is loaded, does not appear on refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `ajour.exe`

**Expected behavior**
No error.

**Screenshots**
![image](https://user-images.githubusercontent.com/4430708/97216064-53b8eb00-17d6-11eb-9c71-3885b5ee5953.png

[2020-10-26 19:54] casperstorm commented on #311
Do you by any chance use Pihole or anything else that block access to certain sites? I am asking because what seems to fail there is this call: https://api.github.com/repos/casperstorm/ajour/releases/latest

[2020-10-26 20:16] slabstone commented on #311
I'm not using Pihole, I have no problem accessing this URL.

[2020-10-27 08:19] nerzhul commented on #252
and also thanks for your time, it's very nice.

[2020-10-27 08:22] nerzhul opened #314 "Add changelog"
**Is your feature request related to a problem? Please describe.**
On twitch app (RIP), we can see (quite ugly) changelog on some mods. It's anoying to don't have this here, i like to know what modders improved :)

**Describe the solution you'd like**

Can you add some changelog for mods, i don't know how you can fetch it, but for some you may obtain it from the current API or if it's some git sou

[2020-10-27 08:44] casperstorm commented on #314
Hi @nerzhul,
Ajour has support for changelogs! If you press the version number in `Local` or `Remote` you will be able to see it. I have attatched a little gif to show it. It's a hidden gem.

A little note on the text: often its a mix between markdown and html which im trying to clean up with some simple regex replaces patterns so it will never be super perfect, but i feel it gets the jobs done.

[2020-10-27 08:44] #314 closed

[2020-10-27 09:03] nerzhul commented on #314
oh yeah sorry, i didn't saw that, very very nice, thanks

[2020-10-27 09:43] casperstorm commented on #314
No worries! It is quite hidden but also something only few people are using so I think it make sense. My reason for placing it on the versions was that it then made sense what changelog you were looking at.

[2020-10-27 21:04] slabstone commented on #311
Seems to be fine now, maybe some temporary problem between me and GitHub.

[2020-10-27 21:52] tarkah commented on #311
@slabstone I'm going to leave this open, as we shouldn't let anything fail when that request fails. It's not really mission critical checking for an update to the application, so it should just silently fail and not hold anything else up

[2020-10-28 21:58] Hekili opened #316 "Don't Delete Authors' Working Copies"
**Is your feature request related to a problem? Please describe.**

Ajour recognizes my "working copy" folder of my addon and wants to update it.  The update process involves deleting everything, redownloading, and replacing what was there.  When this happens, any of my .gitignored notes get deleted and are unrecoverable via the Recycle Bin.

**Describe the solution you'd like**

Ajour could recog

[2020-10-28 22:37] casperstorm commented on #316
Hi @Hekili,

Sorry you had this experience with Ajour.
We actually have an ignore feature which you can use going forward. You can ignore an addon by pressing the title and then the button is in the lower right side of the details view.

An ignored addon won't be updated through `Update all`.

I was thinking that we could look into adding some logic which would pre-ignore certain addons, for examp

[2020-10-28 22:50] Hekili commented on #316
Makes sense.  Not sure how I overlooked the Ignore button, but it has now been clicked.  Thanks.

I can understand the hesitation to run a git command.  Thanks for the quick response.  Take care!

[2020-10-28 22:50] #316 closed

[2020-10-28 23:20] tarkah commented on #316
@Hekili To chime in on this, Ajour doesn't overwrite folders that are symlinked, it will first break the link then create the new folder. So if you want some extra protection, put your folder behind a symlink. See #255 for context to this.

[2020-10-28 23:29] Hekili commented on #316
Ah, that explains why my Retail folder was safe (symlinked) but I got caught by a Beta update (target of symlink).

I'll move to a new location and symlink both that way.  Thanks for the note.

[2020-10-29 00:51] tarkah commented on #311
Closing, after investigating, this error won't appear anymore on development branch due to changes from the self update feature. We should be good here.

[2020-10-29 00:51] #311 closed

[2020-10-29 01:00] tarkah commented on #269
This is mostly an upstream issue, we cannot get access to window position or set initial window position with the library we use. Even further, we can't tell when a resize is due to a Maximize / Restore, we just see a resize occurs and what the new height / width are. Until we are given better access to the underlying windowing library through `Iced`, we are kind of stuck here. Seems like `Iced` i

[2020-10-29 03:57] tarkah commented on #190
@mlablah I've kept the scale as f64 as to not break our config file, but still was able to resolve the issue by "rounding" it to 1 decimal place...

[code]

Definitely learned something about floating point arithmetic :package:

And I also found a fix for the underlying issue I was having, so yay!

[2020-10-29 07:12] #190 closed

[2020-10-29 09:58] spir0w opened #318 "Ajour opens, but does not load the UI"
**Describe the bug**
After downloading and running Ajour, it does not open the UI, the link below will show you a screenshot of this.
mlablah already sorted out the issue for me by sending the openGL build.

**To Reproduce**
Steps to reproduce the behavior:
Open Ajour

**Expected behavior**
A UI to load.

**Screenshots**
https://cdn.discordapp.com/attachments/761104776191803403/771308255578030080/