[2020-10-29 20:07] #230 closed

[2020-10-29 20:08] #300 closed

[2020-10-29 21:08] jkw commented on #282
Found a solution to the issue. It's related to https://github.com/microsoft/microsoft-ui-xaml/issues/716

Open PowerShell as Administrator. Run the following command:
`Get-AppXPackage -AllUsers | Foreach {Add-AppxPackage -DisableDevelopmentMode -Register "$($_.InstallLocation)\AppXManifest.xml"}`
Restart computer.
Problem solved!

[2020-10-29 21:08] #282 closed

[2020-10-30 12:00] casperstorm commented on #289
This will be fixed in #315.

[2020-10-30 12:00] #289 closed

[2020-10-30 22:23] #267 closed

[2020-10-31 21:11] #224 closed

[2020-11-01 11:46] mlablah opened #325 "State stuck on "Hashing" when installing existing addon"
**Describe the bug**
I am using Ajour 0.5.0 from the Development branch.

If an addon is already installed but either:
a) unrecognized or
b) recognized as a curse or tukui addon

And the user then installs it from catalog to:
a) "fix" it being unrecognized or
b) switch from using one source to the other for that addon.

Then the status of the installation gets stuck on "Hashing", and there are two

[2020-11-01 12:00] mlablah opened #326 "TukUI addon using title from toc"
**Describe the bug**
I am using Ajour 0.5.0 from the Development branch.

This is a combination of two issues. One revealing the other.

A tukui addon called ElvUI_AbsorbTags appears with web color codes in the title after being installed.

`ElvUI cff83F3F7Absorb Tags`

From the toc file it looks like this: `## Title: |cff1784d1ElvUI |cff83F3F7Absorb`

So it appears as though the first web color t

[2020-11-01 13:37] casperstorm commented on #326
I have fixed the parsing error now (#323), however the issue is still why we fallback to using it so i'll not close it just yet.

[2020-11-02 17:34] tarkah commented on #325
Closed by #330

[2020-11-02 17:34] #325 closed

[2020-11-03 09:51] hatch8889 opened #332 "Settings: Vertical alignment of text in settings is off [Linux]"
Text labels in settings are vertically misaligned and being cropped.

OS Linux (Manjaro 20.1.2), Xfce4
Ajour 0.5.0 (also happening in earlier versions)

![Ajour-Screenshot_2020-11-03_10-45-00](https://user-images.githubusercontent.com/51282287/97970873-780e5c00-1dc2-11eb-8912-48a092f73b9e.png)

[2020-11-03 18:03] traxys opened #334 "invalid zip Archive [ArchLinux]"
When I try to update anything, by the GUI or the CLI I get an "invalid zip Archive"
Here the exact output, but I did not find if I could set a verbose output

[code]

[2020-11-03 18:14] traxys commented on #334
I just ran the git master version to try and print more information and that resolved the issue

[2020-11-03 18:14] #334 closed

[2020-11-04 06:16] serlin commented on #265
While not a prefect test, I was unable to reproduce on a Manjaro machine this evening. I was able to compile and run without panicking.

[code]

Happy to help debug if you have thoughts on differences to check.

[2020-11-04 07:42] casperstorm commented on #265
@serlin Thanks, I can run it on my Manjaro machine as well. To be sure you can try with `rustc 1.47.0` aswell.

[2020-11-04 07:43] casperstorm commented on #265
@rockerBOO are you able to compile and run any of `iced` examples:

https://github.com/hecrj/iced/tree/master/examples/tour

[2020-11-04 18:09] rockerBOO commented on #265
Panics with that example too.

[code]

[backtrace.log](https://github.com/casperstorm/ajour/files/5489708/backtrace.log)

[2020-11-04 20:30] casperstorm commented on #265
So a issue with upstream. Ill label it.

[2020-11-05 05:11] 2case opened #336 "API does not always return gameVersion for some addons"
**Describe the bug**
When a TOC file of an addon have empty lines in it (ex. LiteBag, MogIt, Postal or AllTheThings) the game version is missing.

**Expected behavior**
Ajour should show the game version as on all other addons

**Software involved**
 - OS: Windows 10
 - Ajour version: 0.5.0
 - Example Addons: LiteBag, MogIt, Postal, AllTheThings

[2020-11-05 07:33] casperstorm commented on #336
The problem here is not empty lines in TOC files, but the API not returning the `gameVersion` for those specific addons.
This can be caused by two reasons:

* The author didn't specific it.
* The API does not properly return it.

In this case it's the latter, so i'll take a look at why it didn't return it properly. We could however consider a fallback option to the TOC file, if it has a `## Interf

[2020-11-05 12:30] Ruffz commented on #284
API seems to have some issues.

"Altoholic-Retail (Teelo's Fork)" addon keeps showing Local 9.0.1-023 and Remote 9.0.1-026 with "update" available at each start or refresh.

Datastore suite no longer showing all "modules" (5 instead of 19) and "DataStore_Containers" addon also keeps showing Local 9.0.1-026 and Remote 9.0.1-026b with "update" available at each start or refresh.

It started about a

[2020-11-05 12:37] casperstorm commented on #284
Yeah it's a mix between the API and Teelo doing wonky stuff on his addon.
I'll try to fix this going forward but somehow he keep figuring out a way to do a edgecase.

[2020-11-05 12:42] Ruffz commented on #284
I thought about that too, but don't bother, you better wait until he finishes his edits for Shadowlands.

[2020-11-05 16:23] gethios commented on #334
I'm also getting this issues since the 0.5.0 version on Windows 10. Installed with cargo. Tried to reinstall without any luck. Same output as in original post.

It errors on all addons that needs an update.

[2020-11-05 16:48] petems opened #337 "DBM Sub-addons not showing all at once to be upgraded"
**Describe the bug**
I have DBM installed, which has a bunch of sub-addons for different expansions. When my addons are refreshed, it will only show one at a time that need to be upgraded.

**To Reproduce**
Gif Example

**Expected behavior**
All addons are shown at once to be upgraded

**Screenshots**
Gif:
![CleanShot 2020-11-05 at 16 40 23](https://user-images.githubusercontent.com/1064715/982697

[2020-11-05 21:23] casperstorm commented on #336
This is fixed, will be coming out in `0.5.1` 👍🏻

[2020-11-05 21:23] #336 closed

[2020-11-05 21:41] casperstorm commented on #337
Do you have the problem if you remove and install them through the catalog in Ajour as well?

[2020-11-05 22:50] tarkah commented on #326
I've identified the issue for this, I'll address it in #333

[2020-11-05 22:52] Az0na opened #339 "Close to Tray"
Please add in a option to close program to tray instead of closing it completely.

[2020-11-05 22:53] tarkah commented on #326
https://github.com/casperstorm/ajour/pull/333/commits/0ccfaf1a8da0c8253f2cc7db9f135d0e65af0dfb fixes this, super easy. We somehow overlooked assigning the metadata title from the API package

[2020-11-06 08:11] casperstorm commented on #339
We have it on our [Roadmap](https://github.com/casperstorm/ajour/projects/2#card-46420287).
However, it is not something we are planning to do right now.

I don't feel like it fits into Ajour right now. Maybe in the future.

[2020-11-06 08:11] #339 closed

[2020-11-07 02:54] nagha95 opened #340 "Choice of which folders to back up (AddOns/WTF)"
**Is your feature request related to a problem? Please describe.**
Currently the backup process includes both the AddOns and WTF folders, which combined together can be up to at least a few hundred MB large. This results in a few problems:

- The zipping/backup process takes a while to complete
- Backups can eat up a decent amount of storage space
- If using automatic folder cloud backup (i.e. One

[2020-11-07 09:19] Altoholic opened #341 "[feature request] update Retail addons used in the Classic folder"
Some Retail addons work perfectly fine with Classic (eg: BugGrabber, BugSack, Xloot).
With the Twitch app, i manually install them once, and then they are updated forever, as if they were regular Classic addons.
Can we have that same feature ?

[2020-11-07 14:54] kwilliams1987 opened #343 "Chocolatey packages are now "trusted"."
Not sure how else to contact you about this, but just wanted to let you know that both the `ajour` and `ajour-opengl` packages are marked as trusted.

This means once they pass automated validation they are immediately available for download without human moderation.

Coupled with the increased frequency of my update check script you should have a maximum latency of about 7h from publishing a new

[2020-11-07 17:40] casperstorm commented on #343
Awesome! Thanks again for the work.

[2020-11-07 17:40] #343 closed

[2020-11-08 03:43] Altoholic opened #344 "Add the changelog of addons"
In twitch app, before updating an addon, i like to read the latest changelog, to see what i am supposed to expect.
Can we have that somewhere ? Maybe not the full changelog, just the latest addition.

[2020-11-08 17:55] casperstorm commented on #344
Ajour already support this. You can press the local or remote version to see changelog.

[2020-11-08 17:55] #344 closed

[2020-11-09 07:59] Trits opened #346 "Add addon icons to My Addons and to Catalog"
**Is your feature request related to a problem? Please describe.**
I find it hard to orientate in the list of addons without addon icons  or some sort of visual help to more quickly know what addon I am looking at. And what is it's purpose.

**Describe the solution you'd like**
Please add addon icons as new column similar to Addon name or status (position can be changed and can be disabled).
This

[2020-11-09 09:46] casperstorm commented on #346
Hi @Trits.
Ajour is trying to be as performant and minimalistic as possible. I only want to show the bare minimum and instead focus on making everything super fast. There is a overhead when fetching multiple images, displaying them etc. and it is something I have chosen does not fit into Ajours vision.

[2020-11-09 09:46] #346 closed

[2020-11-09 10:14] Trits commented on #346
Ok, understandable. Thanks for the explanation. If you want (it might be a bad idea): Maybe you can use colored dots for different addon categories or different approach to differentiate the lines visually?

[2020-11-09 10:24] casperstorm commented on #346
Oh this is actually not a bad idea. This could be fun to explore a little!
UX and UI is VERY important for me, so just because I wont add images I would very much like to ways of improve in some other way. Let me know if you have an idea, mockup etc.

[2020-11-09 10:37] Trits commented on #346
Thanks :). I can maybe later try to do some mockups.

Regarding the images: I think they can be done to be fast/not slow down the app (maybe not minimalistic). But I am not familiar with Rust and the libraries you use. And it would need to use some sort of caching mechanism and asynchronous fetching. That sounds like a lot of work, and as I mentioned before - similar UI/UX improvement can be done

[2020-11-09 17:31] tarkah commented on #340
@nagha95 I've added this feature in #347. This will be available on the next release. Here is a screenshot of what it looks like...

![image](https://user-images.githubusercontent.com/10239377/98575673-5273cd80-226e-11eb-92d5-f66891a75b29.png)

[2020-11-09 19:46] nagha95 commented on #340
Awesome, thank you! :)

[2020-11-11 03:01] xPucTu4 commented on #241
I just came here to post about this. On wide monitors the using maximized window is a bit challenging.

[2020-11-11 07:23] casperstorm commented on #241
Feel free to take a stab at it and send us a PR with your suggestion. It would indeed be a nice to have a good solution for this.

[2020-11-11 17:24] casperstorm commented on #332
In #349 i've fixed so the `Select Directory` buttons won't break, however the vertical issue is not something we can control. Maybe try with another default system font and report back if that fixed the issue. I can't reproduce it on my Manjaro build at least (using default fonts).

[2020-11-11 17:24] #332 closed

[2020-11-11 17:35] #340 closed

[2020-11-11 20:02] Altoholic commented on #344
Oh! I was not aware of that feature.
TY!

[2020-11-12 07:25] #326 closed

[2020-11-12 07:25] #306 closed

[2020-11-12 16:33] Xorag commented on #269
As an update I found this workaround/solution with using a Windows shortcut to force the window to be maximized on launch - https://www.tenforums.com/tutorials/93142-always-open-shortcut-normal-minimized-maximized-windows-10-a.html

[2020-11-12 17:16] Akkuma opened #352 "Update without erasing changes"
**Is your feature request related to a problem? Please describe.**
Using Plater, I've added media locally to the addon. However, when I update it the added media is erased and requires me to manually download it again.

**Describe the solution you'd like**
A way to keep custom files when the addon updates. This might be a way to flag certain files as custom, to add back or a way to overwrite witho

[2020-11-12 19:06] braddyb7 opened #353 "Resizing Addon Column in Catalog"
**Describe the bug**
When in the Catalog, some addon names are too long for the Addon column to display correctly. When attempting to resize the column to make it bigger, the column to the right decreases in size instead. Attempting to decrease the width of the Addon column causes the next column to increase in size. This only affects the Addon column, regardless of its location.

**To Reproduce**

[2020-11-12 22:54] owldyn opened #354 "Ajour window opens tiny after minimizing"
**Describe the bug**
When you open Ajour after minimizing a previous instance of it, if you either open a new instance or close it completely and reopen it, the window will be resized to as small as it can be

**To Reproduce**
Steps to reproduce the behavior:
Open Ajour
Minimize it
(optional) close Ajour
open a new instance of Ajour

**Expected behavior**
I expect Ajour to be the same size (and pr

[2020-11-13 07:40] casperstorm commented on #354
Thanks for reporting it, we are aware of this bug but its great to have an issue with good documentation attached.

[2020-11-13 07:43] casperstorm commented on #353
Could you try closing Ajour and delete `%APPDATA%\ajour\ajour.yml` and boot Ajour again to see if it still happens?

[2020-11-13 17:38] braddyb7 commented on #353
That has indeed fixed the problem.

[2020-11-13 18:21] #353 closed

[2020-11-14 13:32] 2case commented on #336
I have still two addons which have no game version with ajour v0.5.1:

- LiteBag (9.0.10/Stable)
- Postal (v3.65/Stable)

Not really a mess, just for info :-)

Bye,
Tom.

[2020-11-16 10:07] 2case opened #357 "Catalog not loaded after fresh install"
**Describe the bug**
After a fresh setup (new Macbook) ajour isnt able to download the catalog from curseforge. The program shows a little message: _EOF while parsing a string at line 1 column 2541139_.

**Software involved**
Please complete the following information:
 - OS: ["macOS - Catalina v10.15.7"]
 - Ajour version: ["0.5.1"]

**Log Output**
[code]

[2020-11-16 10:17] casperstorm commented on #357
I've seen this happen quite a few times these last days.
It almost seems like Github is throttling us (catalog is hosted on Github).

I'll look into it @2case.

[2020-11-16 18:57] azder opened #359 "Repetitive if not invalid naming"
Top of the window contains tabs for switching named `Retail`, `Retail PTR`, `Retail Beta`, `Classic`.  The overly repetetive word just makes it more confusing.

Sidstepping the issue there isn't a game named _Retail_, only _World of Warcraft_. One only needs to see the Battle.Net launcher options above the big Play button
![battle-net-launcher-options-01](https://user-images.githubusercontent.com/

[2020-11-17 13:16] Mazwak opened #360 "Do not allow empty categories"
Problem :

Categories are tied to an API (curse, wowi), but the APIs do not always share the same name.

So if you select API1 and a category from API2, the addon list ends empty, without much feedback on why.

Solution :

1) Make it so the combo only shows categories from the selected API

2) Rename categories so they are the same in both API

[2020-11-17 13:18] Mazwak commented on #360
I think solution 2 would be somewhat easier. It might even be done during collection of the JSON file served to clients.

What are you thoughts ?

[2020-11-17 19:08] Bykow opened #361 "Catalog view, column "addon" does not resize"
**Describe the bug**
When browsing the catalog, one can't resize the column in which the name of the addon appear. It, instead, resizes the "description" column

**To Reproduce**
1. Catalog
2. Drag the right edge of column to resize
3. bug

**Expected behavior**
Resizes the correct column

**Screenshots**
Nop

**Software involved**
Tested on Win10, Ajour 0.5.1

[2020-11-17 19:33] Dajova opened #362 "ReShade bug."
**Describe the bug**
Seems to pickup ReShade installation where there is none. Neither on WoW installation or Ajour itself (even tested to move it around and still it comes up).

**To Reproduce**
Steps to reproduce the behavior:
1. Have the ReShade program installed anywhere.
2. Download Ajour.
3. Bug happens. *At least i think thats the steps, cus this was with a fresh copy.*
4. The window for Re

[2020-11-17 20:27] casperstorm commented on #362
This is a issue you should redirect towards ReShade.
It is ReShade attaching, so it's their logic which fails.

[2020-11-17 20:27] #362 closed

[2020-11-18 00:12] tarkah commented on #361
@Bykow can you share a screenshot of the order you have your columns in? I cannot recreate this issue on 0.5.1 with windows 10.

[2020-11-18 05:52] casperstorm commented on #361
Please see https://github.com/casperstorm/ajour/issues/353.

@tarkah i think it must be an error if a user has a modified value and then we did some core changes to the columns which is the issue.

[2020-11-18 12:03] casperstorm commented on #352
This is out of scope for now.
If you want to have modified addons in Ajour I recommend you ignore them by pressing details and then "Ignore". Then you can still keep pressing "Update all" and avoid having Plater replaced with a new version.

[2020-11-18 12:04] #352 closed

[2020-11-18 14:25] Akkuma commented on #352
As an fyi, this isn't an unexpected usage of something like Plater, but there aren't other addons I can think of that you generally do this in as well.

[2020-11-18 15:50] Brightbrown commented on #153
I just completed an upgrade to High Sierra, 10.13.6 and got the "immediate crash." I had to re-run it several times before I even got a crash report. Had not been an issue in Sierra 10.12.6. After hints that the issue may lie in fonts, I ran Font Book and downloaded all the fonts that listed gray (was very unsure as it looked like almost all were various Asian fonts). BOOM, app is now working as e

[2020-11-18 15:53] Brightbrown commented on #310
I just completed an upgrade to High Sierra, 10.13.6 and got the "immediate crash." I had to re-run it several times before I even got a crash report. Had not been an issue in Sierra 10.12.6. After hints that the issue may lie in fonts, I ran Font Book and downloaded all the fonts that listed gray (was very unsure as it looked like almost all were various Asian fonts). BOOM, app (0.5.1) is now work

[2020-11-18 16:18] Mazwak opened #364 "Optimize release"
**Is your feature request related to a problem? Please describe.**
No problem in particular. Would make the binary smaller mainly

**Describe the solution you'd like**
Add a `[profile.release]` tweaked for smaller and ?faster? binary.

The main tweaks are:

- lto = true
- codegen-units = 1
- incremental = false
- opt-level = "z"

On my computer, with sccache.
Current binary is approximately 16.7 M

[2020-11-18 16:33] casperstorm commented on #352
@Akkuma Completely understand that. The problem is that we take a hash of the folder content of an addon which we use to match against the api. If you modify the content we can't match it.

[2020-11-18 16:43] tarkah commented on #364
Awesome stuff! I'd be interested to see the performance gains with LTO. We can also try `lto = "thin"` to see if it has similar gains, as it should reduce compile time some.

[2020-11-18 16:44] Mazwak commented on #364
LTO:
https://doc.rust-lang.org/rustc/linker-plugin-lto.html

codegen-units:
https://doc.rust-lang.org/rustc/codegen-options/index.html

incremental:
https://blog.rust-lang.org/2016/09/08/incremental.html
This is the least impactfull imo

opt-level:
https://doc.rust-lang.org/rustc/codegen-options/index.html

generic information:
https://rust-embedded.github.io/book/unsorted/speed-vs-size.html

[2020-11-18 16:46] tarkah commented on #364
Isn't incremental already disabled for release builds?

[2020-11-18 16:51] Mazwak commented on #364
It is indeed: https://github.com/rust-lang/cargo/pull/4817

[2020-11-18 17:02] casperstorm commented on #357
Hi @2case,
Do you have time to quickly test this build? Let me know if it solved your issue.

[ajour.dmg.zip](https://github.com/casperstorm/ajour/files/5561516/ajour.dmg.zip)

[2020-11-18 17:41] 2case commented on #357
Is tomorrow ok? Im currently not in range of a mac :)

Greetings,
Tom.

[2020-11-18 17:46] casperstorm commented on #357
Of cause! Im crossing fingers.

[2020-11-18 18:07] Kaoskitty commented on #153
I've done the same now. Downloaded all of the fonts listed gray in the Font Book, and unfortunately it still crashes the same. I'm running Catalina 10.15.7.

Which version of Ajour did you download, ajour.dmg or ajour-opengl.dmg? Or did  you compile yourself?

[2020-11-18 18:15] Brightbrown commented on #153
Running High Sierra, one thing to note, it very recently had a security update, so I had to get a newer driver from nVidia. No, using the precompiled binaries. Latest 0.5.1 version. The opengl one, the metal one won't run at all, never has.

[2020-11-18 18:19] Kaoskitty commented on #153
Interesting. I tried both the metal and OpenGL versions and both crash the same. I was just curious which you tried. Again, I'm running a completely different OS than you, so there may be something else going on too.

[2020-11-18 19:15] Brightbrown commented on #153
Even more curious in that under Sierra (at first I got the immediate exit until he created the opengl version), I got all the functionality BUT zero from the graphics... none of the coloring worked so I found a setting that was marginally useful (text washed out best way to describe). At one point he sent me a Unix executable, ran that in Terminal, the message it spit back was it was looking in on

[2020-11-19 01:42] eburkey opened #365 "Certain github repositories output an error message"
Certain github repositories output an error message instead of downloading. One example is https://github.com/phriked/AstralKeys

The error message is "missing field 'tag_name' at line 4 column 1" for the above URL.

A friend had the same error on Windows 10.

**Screenshots**
![2020-11-18-173953_1920x1080_scrot](https://user-images.githubusercontent.com/74691627/99609673-389c5e00-29c5-11eb-8c14-1c

[2020-11-19 01:44] eburkey commented on #365
Another example: https://github.com/DengSir/tdBattlePetScript

[2020-11-19 11:04] 2case commented on #357
Hello Casper,

this Version seems to work, with one Exception. I hade to remove the `~/.config/ajour` folder before the App start the normal way. The catalog was instant available after choosing the WoW Folder.

Greetings,
Tom.

[2020-11-19 11:30] casperstorm commented on #357
Great it works, but I am wondering why you had to remove your ~/.config/ajour folder. What happened when you opened up before? What was not normal?

[2020-11-19 11:58] 2case commented on #357
The App simple didnt start without any messages or log entries. I try to install the current stable version and override them with your latest build and try to find out more

[2020-11-19 12:00] casperstorm commented on #365
Hi @eburkey,

Reason they don't work is that none of the authors of those repos has published a release of their addon.
Take a look at https://github.com/Hekili/hekili or https://github.com/DeadlyBossMods/DeadlyBossMods/ to see how it looks with a proper release.

The once you linked have only tagged their commit, and not bundled it togeter. A solution would be to create a issue at those repos and

[2020-11-19 12:01] #365 closed

[2020-11-19 12:05] 2case commented on #357
🤔 Hm... maybe an macOS Security thing. The app signature change so i had to use the open entry in the finder context menu. there the app didnt start, but an double click after that start the app normaly. The remove/cleanup of the `~/.config/ajour` folder was not needed. So your latest version seems to work fine 😄

[2020-11-19 13:18] eburkey commented on #365
@casperstorm After looking at a few repos last night I wondered if that was the problem. Thanks for the answer!

[2020-11-19 13:56] pmo opened #366 "Doesnt exit right away"
Not really an important issue, I have just noticed that when you try to exit on windows 10 machines, it becomes unresponsive for a while and then it looks like it crashes instead of shutting down. But it still has the intended effect.

[2020-11-19 17:29] casperstorm commented on #366
We have not been able to recreate this. Could you send us your ajour.log and ajour.yml files?

[2020-11-19 17:50] HumanG33k opened #367 "Need an import export from file"
I want to install a list of addons from a simple text file. One addon name by line with no case verification (no maj checking)

[2020-11-20 02:17] Qahlel opened #369 "Catalog stuck at loading..."
**Describe the bug**
Catalog doesn't show any addons for me to install. Instead I get the following error message at top: EOF while parsing an object at line 1 column 869971.

**Screenshots**
https://dl.dropboxusercontent.com/s/fgdykngfzf6gam8/ajour-opengl_201120-051625-1920x1040.png

**Software involved**
Please complete the following information:
 - OS: Widnwos 10
 - Ajour version: 0.5.1

**Log

[2020-11-20 12:01] casperstorm commented on #369
Duplicate of #357.
This will be fixed in next version.

[2020-11-20 12:01] #369 closed

[2020-11-20 13:48] lauenchr opened #371 "Updating Classic Addon from wrong source"
**Describe the bug**
Before I discovered Ajour I manually installed the GatherMate2 addon from this source:
https://www.curseforge.com/wow/addons/gathermate2-classic

Now I use Ajour and it told me the addon was updated (which is correct).
However it used WoWInterface as a source to update it (https://www.wowinterface.com/downloads/info21293) and installed a Shadowlands-Prepatch version of the add

[2020-11-20 20:36] mlablah commented on #371
Hello @lauenchr - Thank you for reporting this issue!

I have tried to reproduce the error using your description.

I downloaded the addon from the curseforge link you provided. This is how it appears in my Ajour afterwards:
![image](https://user-images.githubusercontent.com/68285419/99846083-03833d80-2b76-11eb-9b16-ed75e787950e.png)

It was able to match it against CurseForge (not WoWInterface) a

[2020-11-20 22:04] mlablah commented on #367
@HumanG33k The feature you describe would be nice to have. It has already been requested in #172 so I will close your issue. You can follow the other issue if you want to be notified about any progress on the matter.

[2020-11-20 22:04] #367 closed

[2020-11-20 22:08] mlablah commented on #360
Your work on this issue (solution 1) is now live with Ajour 0.5.2 - Thank you for your contribution @Mazwak!

[2020-11-20 22:08] #360 closed

[2020-11-20 22:35] mlablah commented on #357
With the release of Ajour 0.5.2 and #358 in particular, this issue should now be fixed. :)

[2020-11-20 22:35] #357 closed

[2020-11-20 22:43] casperstorm commented on #359
For now we will stick with the current naming convention.

Thanks for reporting.

[2020-11-20 22:43] #359 closed

[2020-11-21 01:43] Walkerbo opened #374 "WoWInterface only addon ImpliedTarget not found in catalog"
_**Describe the bug**_
The ImpliedTarget addon is not available through the catalog.
https://www.wowinterface.com/downloads/info17648-ImpliedTarget.html

_**To Reproduce**_
Open the catalog and type in ImpliedTarget.

_**Expected behavior**_
The ImpliedTarget addon should be found.

_**Software involved**_
Windows 10
Ajour version 0.5.2

[2020-11-21 05:35] casperstorm commented on #374
Remember to change source to WoWInterface, then you should be able to see it!

<img width="1069" alt="Screenshot 2020-11-21 at 06 34 46" src="https://user-images.githubusercontent.com/2248455/99868552-bfb72500-2bc3-11eb-9d0b-fac702c4cc25.png">

[2020-11-21 05:35] #374 closed

[2020-11-21 05:38] Walkerbo commented on #374
Doh, I cant believe I didn't work that out.    :)

[2020-11-21 05:40] casperstorm commented on #374
No worries, please let me know if there's anything else!

[2020-11-21 13:53] Robbllle opened #375 "Windows 10 - Invalid digital signature"
**Describe the bug**
Windows 10 SmartScreen prevents installing the app. With the dev mode active it says the digital signature is invalid. Is this intended?

**Expected behavior**
Installer has a valid digital signature.

**Screenshots**
![image](https://user-images.githubusercontent.com/74823859/99878902-e0559e00-2c08-11eb-96c9-a3d621977e1b.png)

**Software involved**
 - OS: Windows 10 Pro, Vers

[2020-11-21 14:06] pmo commented on #366
Where do i find those two files?

[2020-11-21 14:10] pmo commented on #366
`15:07:14.132 [ajour][INFO] Ajour 0.5.2 has started.
15:07:14.133 [ajour::gui][DEBUG] config loaded:
Config {
    wow: Wow {
        directory: Some(
            "F:\\World of Warcraft",
        ),
        flavor: Retail,
    },
    addons: Addons {
        ignored: {
            Retail: [],
            Classic: [],
        },
        release_channels: {
            Retail: {},
            Classic

[2020-11-21 14:10] pmo commented on #366
[code]

[2020-11-21 14:11] pmo commented on #366
[ajour.log](https://github.com/casperstorm/ajour/files/5577747/ajour.log)

[2020-11-21 14:12] pmo commented on #366
[ajour.yml.txt](https://github.com/casperstorm/ajour/files/5577750/ajour.yml.txt)

[2020-11-21 14:13] pmo commented on #366
for me its every time i close it down, it becomes unresponsive then closes.

[2020-11-21 14:28] casperstorm commented on #375
See https://github.com/casperstorm/ajour/issues/193#issuecomment-703287870

I'll close this for now.

[2020-11-21 14:29] #375 closed

[2020-11-21 22:49] malkds opened #379 "Application crash: could not parse curse.json, panic"
The application crashes, possibly while downloading the addon catalog.

Steps to reproduce the behavior:
1. Start the application.
2. Wait approximately 30 seconds.

**Software involved**
Please complete the following information:
 - OS: Windows 10 (1909)
 - Ajour version: 0.5.2
Note: Low bandwidth user - 1.5 Mbps download, may contribute to the issue.

**Log Output**
17:31:35.639 [ajour][INFO] Aj

[2020-11-21 23:07] malkds commented on #379
Mazwak provided a rebuild of the application with timeout set to 120. This seems to correct the crash.

My connection speed (1.5 Mbps) may contribute to whatever is causing the crash (will edit this into OP as pertinent info).

[2020-11-22 02:07] tarkah commented on #379
@malkds I've removed the timeout and also fixed the underlying bug causing it to panic if the catalog doesn't return properly with #381

[2020-11-22 15:11] RAtwood90 opened #383 "Close and Reopen again"
Downloaded Ajour Today got my first Issue then i'am going to open it all was fine i maximized the Window and close it.

If i reopen it again it's moved to the right Corner and the Window Setting arent't saved.

[2020-11-22 20:01] susan-montooth opened #384 "Ajour crash on open (Mac OS X 10.13.6)"
**Describe the bug**
Ajour-opengl crashes immediately when opened on MacOS X 10.13.6 (late 2013 iMac)

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install ajour-opengl.dmg (previously tried non-opengl version which crashed much faster)
2. Right-click app and select Open
3. See "Ajour quit unexpectedly" error
4. See error

**Expected behavior**
No crash

**Screenshots**
n/a

*

[2020-11-22 21:04] lauenchr commented on #371
Had to zip it because github.
[addons.zip](https://github.com/casperstorm/ajour/files/5580354/addons.zip)
I took a look inside and indeed it is the only addon that is listed there and the repository is specifically set to WowI.
Can I just delete the entry or do I need to take other precautions?

[2020-11-22 21:12] lauenchr commented on #371
Update: temp backupped the file and removed the entry. Started the client and curse is correctly used. The force update did work as well. I am unsure how the constellation came to be. I am closing the issue and will reopen it if I encounter the issue again with further infos hopefully

[2020-11-22 21:12] #371 closed

[2020-11-23 13:40] pldimarco opened #385 "Windows interface/wtf backup unusable on Mac"
**Describe the bug**
Backing up the interface and wtf folders on windows produces a zip file that is usable on windows. But when I copy that file over a Mac, it extracts in a very weird way. It is doing weird things with the directory structure. I manually created a zip on Windows, using 7zip, of the interface and wtf folders and that worked fine. See picture for example extracted files on Mac.

*

[2020-11-23 14:58] nickdekruijk opened #386 "Option to disable Addons"
**Is your feature request related to a problem? Please describe.**
Disabling addons inside WoW can be a bit frustrating, an addon is disabled for just the current character for example and not account wide. Deleting the addon is not ideal either because I still want to see if an update is available so I can simply enable it again after updating.

**Describe the solution you'd like**
Would be nice

[2020-11-23 15:34] casperstorm commented on #385
I've just reproduced this. Must be a issue with going from `\` to `/`. But we can't be supposed to manually handle that, it must be a flag or option we can use. I have attached a .zip which when unpacked on Windows i borked.

Maybe @tarkah knows something?

[ajour_backup_2020-11-23_16-29-24.zip](https://github.com/casperstorm/ajour/files/5584015/ajour_backup_2020-11-23_16-29-24.zip)

[2020-11-23 15:48] Caerdon commented on #316
@casperstorm - what if you just checked for the existence of a .git folder?  No git command needed in that case.

[2020-11-23 15:48] Caerdon commented on #316
Symlinks have been problematic because the Mac WoW client, at least, was deleting them constantly.

[2020-11-23 16:45] tarkah commented on #385
Weird, this must be an upstream bug as I confirmed we are using the API for the `zip` library correctly... I'll try to see if I can find anything upstream.

[2020-11-23 16:58] tarkah commented on #383
duplicate of #269

[2020-11-23 16:58] #383 closed

[2020-11-24 00:16] #379 closed

[2020-11-24 00:16] #354 closed

[2020-11-24 09:09] sovareign opened #388 "Upload to crates.io"
**Is your feature request related to a problem? Please describe.**
I installed the program via cargo and updating through the app does not work because of a missing AppImage environment variable (obvious, since I'm not using the AppImage). To update the crate I have to run `cargo install` again with the GitHub Repo link.

**Describe the solution you'd like**
Basically what the title already says.

[2020-11-24 09:35] casperstorm commented on #388
Would love to put it on crates.io but right now we are targeting `iced` by a rev:
https://github.com/casperstorm/ajour/blob/307ba399713fa455e3bf3668873166caad23a17e/Cargo.toml#L23-L25

We can't put it up before we use a proper release from `iced` and their recent is from april, however it's still active developed so I think its just a matter of asking them to make a release so we can then publish

[2020-11-24 17:45] azder commented on #359
No rationale provided.

[2020-11-24 18:38] tarkah commented on #359
@azder no doubt people know that this app is for _World of Warcraft_ / WoW, so this would be redundant. We landed on Retail vs Classic because that's what Blizzard themselves named things at the folder level (`_retail_` vs `_classic_`) and what pretty much the entire internet uses to distinguish between the two. The only thing it's repetitive for is PTR and Beta, but there is PTR for both flavors

[2020-11-25 17:14] Flat opened #391 "Install Addon From Arbitrary Git Repository"
**Is your feature request related to a problem? Please describe.**
You are currently only able to install addons from GitHub or GitLab  that have releases.

**Describe the solution you'd like**
The ability to to download any git repository and install it as an addon. This can be as simple as a git clone for example ElvUI.
wowa has this ability already, and although it is not a GUI works well. As W

[2020-11-26 20:10] joukevandermaas opened #392 "Addon from github repo doesn't update properly"
**Describe the bug**
I'm using [this addon](https://github.com/Kayakflo/wow-dialogkey) using the "Install from URL" function. My local version is 1.8. The latest version is 1.8.6. When I click the "Update" button, it does all the steps and shows as 1.8.6. But when I click "Refresh" or restart the app, it's back to 1.8.

**To Reproduce**
Steps to reproduce the behavior:
1. Install [wow-dialogkey](h

[2020-11-27 05:18] azder commented on #359
We landed on Retail vs Classic because that's what Blizzard themselves named things at the folder level (_retail_ vs _classic_)

Yet, there isn't _retail beta_ named directory. While the word _retail_ it self is not accurate, I did also point out you can use the actual directory names which are unambiguous and non-repetitive.

[2020-11-27 05:43] tarkah commented on #392
Thanks for opening the issue!

It appears the author hasn't updated the version in the .toc file, which is what we use when we parse the addon. We overwrite the version when you update with the remote version, but when you refresh, it defaults back to what is in the .toc file. They need to bump the version here to stay aligned with their releases.

Here is what is in the .toc from the master branc

[2020-11-27 05:46] tarkah commented on #392
The good news is your add-on should be updated! Annoying tho that it still shows needing an update :/

[2020-11-27 06:01] tarkah commented on #391
Thanks for the suggestion! As you point out, we can't guarantee how a repository is laid out and if the addon is in the root, or a subfolder. Due to this, we decided to only initially support repos that publish releases with a clean zip asset we can unpack. This obviously limits us to using the APIs and why we currently only support GitHub and gitlab.

That's not to say it'd be impossible to attem

[2020-11-27 06:11] Flat commented on #391
The git support in wowa is fairly basic and assumes the repository is the top level of interface. You can see the code that handles it here https://github.com/antiwinter/wowa/blob/master/source/git.js pending free time I may take a stab at this myself, although I have admittedly, not had time to look at the ajour codebase as of yet. Tracking git hashes for updates and a switch for assume interface

[2020-11-27 09:00] joukevandermaas commented on #392
Great, I'll open an issue with them then.

[2020-11-27 09:00] #392 closed

[2020-11-27 22:59] milan-stojanovic opened #394 "Display changelog for addons"
**Is your feature request related to a problem? Please describe.**
It is currently impossible to view changelog of each addon, I would like to see what has changed in each new version (if addon supports it).

**Describe the solution you'd like**
Viewing details of specific addon should allow for an option to view changelog for that addon (if it supports changelog, I believe this depends on the sou

[2020-11-28 00:00] casperstorm commented on #394
You can view changelog by clicking the remote or local version :-)

[2020-11-28 00:01] #394 closed

[2020-11-28 16:30] whoiskevinrich opened #395 "Feature Request: Add Local Folder Navigation"
**Is your feature request related to a problem? Please describe.**
Sometimes users wish to modify the local version of a mod.

**Describe the solution you'd like**
Add a link to the local folder for the mod (see screenshot)

![image](https://user-images.githubusercontent.com/2496620/100520664-c3165780-3153-11eb-8ac9-1f865c5180fc.png)

[2020-11-28 19:32] tarkah opened #397 "Systray support"
Add support for minimizing to systray

[2020-11-28 19:33] #397 closed

[2020-11-28 19:34] tarkah commented on #397
We've decided to not support this feature as it adds too much platform specific complexity to Ajour and can not be implemented in a optimal way due to the limitations of the GUI framework we are using.

[2020-11-28 21:11] ascott18 commented on #361
![image](https://user-images.githubusercontent.com/5017521/100526150-07691e00-317b-11eb-81aa-5378d481e6c6.png)

Here's a reproduction of this. Can't see the full names of the addons, attempting to resize the Addon column resizes the Description column instead.

Column config (I've customized My Addons columns, but not Catalog columns):
![image](https://user-images.githubusercontent.com/5017521/100

[2020-11-28 21:16] ascott18 opened #398 "Improve search matching"
**Is your feature request related to a problem? Please describe.**
Searching the catalog for "handynotes shadowlands" return zero results. Searching for "handynotes: shadowlands" returns two results.

**Describe the solution you'd like**
Search should ignore punctuation when determining matches.

**Additional context**
Add any other context or screenshots about the feature request here.
![image](h

[2020-11-29 15:32] SimonVT commented on #361
I experienced the same issue, where the Addon column gets a fixed width.
Started from a fresh install, but I'm not able to retrace the steps that led to the issue.

Attached the yml that has the issue:
[ajouryml.txt](https://github.com/casperstorm/ajour/files/5612383/ajouryml.txt)

[2020-11-29 17:18] tarkah commented on #361
If you're experiencing this issue, make sure to delete the `column_configs` section from the config file `ajour.yml` then reboot. It appears there is some unknown bug that happens when upgrading versions that causes this to get messed up.

[2020-11-29 20:20] ascott18 commented on #361
My messed up column config:

[code]

Note the absence of a `~` width on any of the catalog columns. I manually edited my messed up config and changed the `addon` catalog column width to `~` and it works fine now.

[2020-11-29 21:02] tarkah commented on #361
Yeah that's exactly what happened. The ~ indicates the column that we use as fill width, to take up the remaining space. I believe quite a few versions ago we switched which column was the fill column and it must have not saved properly to the config in certain instances.

[2020-11-30 02:58] tarkah commented on #361
A note for myself to fix before next release... We should add some logic to always force this column to fill width so this error doesn't occur, even if the config gets messed up.

[2020-11-30 16:51] athei opened #401 "Support updating weak auras from wago.io"
Many players nowadays have more weak auras than actual add-ons. Keeping them updated requires manual intervention or the usage of yet another add-on manager ( https://weakauras.wtf ).

It would be nice if this functionality could be integrated into ajour. [Cursebreaker](https://github.com/AcidWeb/CurseBreaker) does support updating weak auras.

[2020-12-01 03:19] Blixtmen opened #402 "Add a button to clear WoW cache in the settings"
C:\Program Files (x86)\World of Warcraft\_retail_\Cache
C:\Program Files (x86)\World of Warcraft\_retail_\GPUCache
C:\Program Files (x86)\World of Warcraft\_classic_\Cache
C:\Program Files (x86)\World of Warcraft\_classic_\GPUCache

These eventually start drastically increasing load times, it would be a great QOL addition if you could clear them from inside of ajour!

Edit: Bonus points if it show

[2020-12-01 18:56] tarkah commented on #398
Our filter logic is SUPER basic right now. All we do is convert everything to lowercase and check if the search term is contained in the title.

We should implement some sort of fuzzy search to handle this better.

[2020-12-01 18:58] tarkah commented on #385
For the life of me I couldn't find any upstream issue related to this. @pldimarco are you able to attach the backup here so I can take a closer look at the zip file and test on linux and macos.

[2020-12-01 19:08] tarkah commented on #398
@casperstorm in doing a fuzzy match, we will generate a score from the match. We obviously need to set a filter threshold on this. But we can also sort by this. When a user types into the search bar, would it makes sense to override the current sort and instead sort by the fuzzy match score?

[2020-12-01 19:17] casperstorm commented on #398
I think it would, yes. Great idea @tarkah. Also a funny task.

[2020-12-01 19:32] casperstorm commented on #385
The zip I posted above does not work for me on macOS.

[2020-12-01 20:20] tarkah commented on #385
Ok, just tested on linux and get the same issue. I tested with one of my own backups from windows and it's messed up on linux as well. Linux -> Windows backups work fine.

I'll see if replacing the path separators from `\` on windows to `/` solves the problem and works for both directions.

[2020-12-01 21:15] casperstorm commented on #395
A little unsure how this should work. A addon is often bundled together with multiple folders. As an example:

[code]

What would you expect happen in this case? What would open?

[2020-12-01 22:36] svasek commented on #385
The [.zip file specification](https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT) states:

[2020-12-01 23:45] tarkah commented on #385
@svasek thanks! Crazy the library wouldn't normalize that under the hood since that's a hard zip spec

[2020-12-01 23:47] Bulkathas opened #406 "Instant closing of app."
**Describe the bug**
Program closes after launching it, doesn't do so with OpenGL version but has worse text appearance on OpenGL version.

**To Reproduce**
Steps to reproduce the behavior:
1. Double click executable (forced Admin mode - same result)
2. Wait
3. Begins to open (white box)
4. Closes out.

**Expected behavior**
App opens, UI shows, operates as needed to update addons and change setti

[2020-12-02 03:04] whoiskevinrich commented on #395
That's a good question. I hadn't noticed that before. I'm not familiar enough with rust to see where you enumerate the addons from the addon directory, but I had assumed it was through the TOC file.

[2020-12-02 15:02] nickdekruijk commented on #291
I feel your pain... +1 for this!

[2020-12-02 17:52] casperstorm commented on #406
Do you have a screenshot of how the OpenGL version look?
And do you mind posting what GPU and CPU you have?

[2020-12-02 17:54] casperstorm commented on #384
Closed in favor for #153. It seems like it's the same crash on the same platform.

[2020-12-02 17:54] #384 closed

[2020-12-02 17:55] #337 closed

[2020-12-02 17:56] casperstorm commented on #337
Closed due to inactivity. Please feel free to reopen if you have similar problem.

[2020-12-03 00:07] github-actions[bot] opened #408 "RUSTSEC-2020-0077: memmap is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `memmap`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/danburkert/memmap-rs/issues/90](https://github.c

[2020-12-03 01:02] tarkah commented on #388
@sovareign this is now possible! I've published our `0.5.4-rc.1` version. Since its a prerelease, you'll need to specific the version such as:

[code]

[2020-12-03 01:03] tarkah commented on #388
Note that the "self update" feature won't work since you're running on linux and we only publish the `.AppImage`. You can just update with cargo though :)

[2020-12-03 01:04] #388 closed

[2020-12-03 06:17] perara commented on #163
Yeh I would agree that this is most likely not caused by ajour.
My setup is not really customized, but runs the "official" arch vulkan drivers.
As a "workaround" I've manually updated the yaml with the path to the game, and just run ajour update. this works OK for updating at least. One thing that would be nice is if I could run the CLI for installation of addons and set configurations through the

[2020-12-04 01:30] #385 closed

[2020-12-04 05:34] ExiledProdigy opened #412 "Ajour not finding retail addons"
**Describe the bug**
Giving error showing "Whoops, you have no retail addons!" which I have over 30 installed. Verified directory folder and reinstalled version 0.5.3. Issue remains.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Ajour

**Expected behavior**
Full list of currently installed addons

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](h

[2020-12-04 05:51] usrbinpikachu commented on #412
Getting the same thing. The likely cause seems to be this 502:

`21:47:30.541 [ajour_core::parse][DEBUG] Retail - 110 addon folders successfully parsed from '.toc'
21:47:30.541 [ajour_core::parse][DEBUG] Retail - 4 cached entries
21:47:30.541 [ajour_core::parse][DEBUG] Retail - 105 unique fingerprints to check against curse api
21:47:32.335 [ajour::gui::update][DEBUG] Interaction::ModeSelected(Abo

[2020-12-04 06:19] casperstorm commented on #412
Sorry for this. Api was down, but should be up now.

[2020-12-04 06:19] #412 closed

[2020-12-05 08:54] slabstone opened #414 "Remote release channel is "50 years ago" for every addon"
**Describe the bug**
Remote release channel "Stable" says "50 years ago" for every addon. It worked before, maybe related to Twitch/Curse/Overwolf shenanigans.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ajour
2. Click on any addon to show addon info

**Expected behavior**
Actual addon update date

**Screenshots**
[Imgur](https://imgur.com/QMmzmEM)

**Software involved**
Please comp

[2020-12-05 09:53] illum1n4ti commented on #414
Only with CurseForge. WoWinterface doing fine

[2020-12-05 15:56] Dylan-DPC commented on #414
Can confirm. i'm enjoying the "truly classic experience"
![image](https://user-images.githubusercontent.com/12371125/101247589-c17ffd00-371a-11eb-9099-bcad6aa4237c.png)

[2020-12-05 15:59] casperstorm commented on #414
It's our middleware API which is currently giving us wrong data.
I'm on it right now. Sorry for the troubles.

[2020-12-06 16:11] mlablah commented on #402
Thank you @Blixtmen for using Ajour and making this request.

Unfortunately we don't think a feature to delete WoW's cache folders from within Ajour is something that would be used by a significant portion of our users and would like to keep the app as clean and simple as possible.

[2020-12-06 16:11] #402 closed

[2020-12-06 16:14] mlablah commented on #414
API now returning correct filedates for each addon's "latest release".

[2020-12-06 16:15] #414 closed

[2020-12-06 18:04] Dreamjammer commented on #414
Still seeing this for half my addons. :\

[2020-12-07 01:46] Kechlion opened #415 "Freezes after an unknown amount of time, then freezes on launch until a PC restart."
**Describe the bug**
Ajour will launch and run fine for some period of time (unknown how long that is). After this period it will freeze and go into Not Responding. From that point forward every launch immediately stops responding and it has to be closed from the task manager. The only way to 'fix' this issue is for me to restart my PC.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch

[2020-12-07 07:43] casperstorm commented on #415
Is the same happening if you run the OpenGL version of Ajour?

[2020-12-07 10:37] StanoRiga commented on #414
same here. seems not fixed

[2020-12-07 12:26] Kechlion commented on #415
I hadn't tried the OpenGL version, I've downloaded and will try it today and see and report back.

[2020-12-07 14:35] casperstorm opened #416 "[RC] Selecting an item from a pick_list which expands over a table_row.rs will fire `on_press` event"
**Describe the bug**
When you select an item from a `pick_list` inside the Catalog it will fire `on_press` on the cell below the `pick_list`.
This is only happning after https://github.com/casperstorm/ajour/commit/b5ab26f4875b19fb725e7324f98fd7f6f504aefa. Not in production yet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog
2. Press eg. All Catagories
3. Select a category
4. N

[2020-12-07 15:42] kawashita86 commented on #416
@casperstorm I've performed a bit of investigation to understand why the click is captured by both the pick_list and the table_row.
While we check for `Event::Mouse(mouse::Event::ButtonReleased(mouse::Button::Left))` on `table_row`, the `pick_list` checks for `Event::Mouse(mouse::Event::ButtonPressed(mouse::Button::Left))`, thus the event `ButtonReleased` when an option is selected is not captured

[2020-12-07 16:32] #416 closed

[2020-12-07 19:27] Neurotoxin001 commented on #414
https://www.curseforge.com/wow/addons/blizzmove
https://www.curseforge.com/wow/addons/auctionator
These broken for me, no stable releases, but it on curseforge.

[2020-12-07 19:36] Neurotoxin001 opened #418 "Some addons version don't showing on "remote" tab"
**Describe the bug**
For example https://www.curseforge.com/wow/addons/auctionator
It's been https://www.curseforge.com/wow/addons/blizzmove too, but after clearing ajour cache blizzmove become ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Install auctionator from curse or ajour catalog
2. Check it in installed addons
3. There is will be no "remote" version and you can't update it

You

[2020-12-07 23:59] #241 closed

[2020-12-08 01:21] wheatbread commented on #291
Would also love this feature!

[2020-12-08 12:03] Neurotoxin001 commented on #418
fixed by itself

[2020-12-08 12:03] #418 closed

[2020-12-08 23:50] tarkah commented on #398
@ascott18 I finally got around to implementing this. See how it works with my purposely misspelled search. This will be added with #419 and should be available in the next prerelease.

As of 0.5.4 you can go into settings and set your self update channel to Beta and get this once we push out the next pre-release if you want it a bit faster than waiting for whenever we push out 0.5.5

![image](http

[2020-12-09 00:27] tarkah commented on #415
@Kechlion any status update if opengl version worked for you?

[2020-12-09 00:31] tarkah commented on #395
Correct, we parse everything from the top-level TOC file, but there is still a many-to-one relationship between folders and an "add-on". I'd be hesitant to add this as well because our add-on matching can break against curseforge API if users make local modifications to the add-on. So not sure it's something we should actively make more accessible :P

[2020-12-09 01:01] tarkah commented on #361
I've applied the fix in #420. This width for Title in the config is effectively ignored and always set to `Length::Fill`.

[2020-12-09 01:38] Kechlion commented on #415
*So Far* openGL is working. I'd like to let it run over night and see tomorrow before I say 'oh yeah, that version is just fine' though.

[2020-12-09 03:47] tarkah commented on #415
Good call! Glad it's working so far

[2020-12-09 04:33] Brightbrown opened #422 "Sorting Changed?"
**Describe the bug**
"Ignore" items flow to the top under "Update"

**Expected behavior**
They sort to the bottom of the list as they did in 0.5.3

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Software involved**
macOSX

![Screen Shot 2020-12-08 at 8 28 59 PM](https://user-images.githubusercontent.com/43913875/101585411-b55f9e00-39ad-11eb-9588-f259ff24d663.jpg)

[2020-12-09 06:12] #395 closed

[2020-12-09 11:35] casperstorm commented on #422
Thanks for reporting this @Brightbrown. I've fixed it in https://github.com/casperstorm/ajour/pull/423.

[2020-12-09 14:33] Brightbrown commented on #422
thank you!

[2020-12-09 16:17] Wyrda1992 opened #424 "Auto update on startup"
It would be nice if there is a setting to update all addons on startup.

[2020-12-09 16:29] casperstorm commented on #424
It's possible!
Here's a post on the wiki about it: https://github.com/casperstorm/ajour/wiki/Use-Ajour-to-update-addons-automatically-(Windows)

[2020-12-09 16:29] #424 closed

[2020-12-09 23:02] Kechlion commented on #415
It appears that the OpenGL version does not have the same issue as the regular(?) version does. Thank you for the suggestion!

[2020-12-09 23:16] #422 closed

[2020-12-09 23:25] #398 closed

[2020-12-09 23:26] #361 closed

[2020-12-10 11:36] Neurotoxin001 commented on #394
In 0.5.4 I can't. It just opens addon info.

[2020-12-10 12:10] Kechlion commented on #415
Looks like I spoke too soon! OpenGL version this morning exhibited the same behavior.
![image](https://user-images.githubusercontent.com/60458868/101770692-72d1ba80-3aae-11eb-93cc-238539c17f1f.png)

[2020-12-10 12:55] #7 closed

[2020-12-10 15:02] nerzhul commented on #401
it could a very very powerful feature

[2020-12-10 15:08] nerzhul opened #427 "Application no resizable on wayland since 0.5.4"
**Describe the bug**
Application window no resizable on wayland since 0.5.4

**To Reproduce**
Launch app on wayland, try to resize, you cannot

It worked on 0.5.3

**Expected behavior**
We should ensure resizing works

**Screenshots**
![Capture d’écran du 2020-12-10 16-04-15](https://user-images.githubusercontent.com/119752/101789262-5f9c0a80-3b01-11eb-8a05-76f20d7f8e98.png)

Also the maximize doe

[2020-12-10 16:43] tarkah commented on #427
I'll look to see what dependencies updates in our Cargo.lock file since 0.5.3. I'm sure one of them is related to wayland and has an upstream regression. If so, we can lock it back to the old version.

[2020-12-10 16:45] tarkah commented on #427
While I look into that, can you see if the `opengl` version works with wayland?

[2020-12-11 07:25] #401 closed

[2020-12-11 07:26] #391 closed

[2020-12-11 07:26] #386 closed

[2020-12-11 07:27] #291 closed

[2020-12-11 07:27] #176 closed

[2020-12-11 07:27] #172 closed

[2020-12-11 07:28] #269 closed

[2020-12-11 09:37] nerzhul commented on #427
how can i use it ?

[2020-12-11 10:43] casperstorm commented on #427
cargo build --release --no-default-features --features opengl

[2020-12-11 11:04] mlablah commented on #415
\<wild speculation mode engaged\>
I noticed the game is installed on a partition with drive letter F: - while this is _probably_ a partition on an internal drive, it did make me wonder: what if it's some external usb drive and the disk has powered down / gone into standby / been disconnected? Would that cause the application to become unresponsive while trying to parse addon folders on a non-exist

[2020-12-11 11:12] mlablah commented on #427
This might be related to the new minimum window size shipped with 0.5.4.

From the screenshot it looks like ajour is close to, if not exactly at 600x300 pixels, which is also the new minimum allowed window size.

@nerzhul in the ajour.yml - what does it say your window_size is? There should be a section looking something like this:
[code]

[2020-12-11 12:25] Kechlion commented on #415
My F: drive is an internal NVMe SSD, which is where WoW is installed but Ajour is on the C: drive.

My Hard Disks are set to go off after 20 minutes in the power settings, but I'm not even sure that kind of setting applies to NVMe. Additionally, I would assume that after I kill the application and then try to relaunch it, since I'm now active and using the hard disk, that it should relaunch just f

[2020-12-12 20:55] casperstorm commented on #318
Note to the people who find this issue:
The "solution" is to run OpenGL version of Ajour, which can be downloaded here: https://www.getajour.com/download.
This is only happening on the default (wgpu) version of Ajour.

[2020-12-13 04:13] Neurotoxin001 commented on #394
Can you reopen this issue?

[2020-12-14 04:33] tarkah commented on #427
@nerzhul can you report if the opengl version works for resizing? I didn't see anything immediate that stood out in the dependencies, so it's probably something directly in the GUI framework we use as we updated to a new release of it, but I'll have to dig through some of the commits to figure out where this could be happening.

[2020-12-14 11:46] Neurotoxin001 opened #430 "No changelog for addons in 0.5.4"
**Describe the bug**
There is no changelog anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Click on addon version
2. Addon info opens
3. And no changelog

**Software involved**
Please complete the following information:
 - OS: Windows 10
 - Ajour version: 0.5.4

[2020-12-14 11:47] casperstorm commented on #430
This has changed recently.
I decided to remove the ability to press the versions, and instead create a button under details of an addon called `Changelog`.

[2020-12-14 11:47] #430 closed

[2020-12-14 12:38] Neurotoxin001 commented on #430
But now it opens the curse website and I can't read changelog right in the Ajour...

[2020-12-14 12:44] casperstorm commented on #430
Excatly. For now, you can't read changelogs in Ajour. Here's the reason I choose to change the system:

1. UX/UI wasn't on point. Without the ability to make a tooltip it was hard for users to understand why you **sometimes** could click the version to see changelog.
2. Parsing issues. The format each changelog came in was different, and parsing it wasn't easy. There would always be wrong linebrea

[2020-12-15 09:50] athei opened #431 "Create an app bundle during release for macOS"
On macOS it is very uncommon to start UI applications from the command line. In order to avoid this UI friction ajour should be released as an app bundle for macOS.

One could use [cargo-bundle](https://github.com/burtonageo/cargo-bundle) in order to do so.

[2020-12-15 13:39] casperstorm commented on #431
Each release already have a bundled macOS application. Notice `ajour.dmg` and `ajour-opengl.dmg` found in the latest release: https://github.com/casperstorm/ajour/releases.

If you want to build it your self, please take a look here: https://github.com/casperstorm/ajour/blob/master/INSTALL.md#macos

[2020-12-15 13:39] #431 closed

[2020-12-15 13:46] athei commented on #431
May bad. I downloaded the wrong file then. Thanks.

[2020-12-15 15:32] casperstorm commented on #431
To elaborate a little, why that file is available.
We use it when you do a self-update. Then Ajour pulls the binary (the file you downloaded) and replaces the binary inside the .app file.

[2020-12-15 15:59] #408 closed

[2020-12-15 18:35] d3ntatous opened #432 "Hello,"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-15 18:35] #432 closed

[2020-12-15 18:37] d3ntatous opened #433 "Backup Addons at Interface level instead of Addons folder only"
**Is your feature request related to a problem? Please describe.**
Some addon packs and I use the Interface folder for custom textures rather than the AddOns one.

**Describe the solution you'd like**
I would really like is for the backup feature to not only backup the addons folder, but the parent one instead.

**Describe alternatives you've considered**
A clear and concise description of any alt

[2020-12-15 20:57] mlablah commented on #433
@d3ntatous Thank you for filing this feature request. I took the liberty of editing the issue title and description.

You mention that certain addons use the Interface folder to store custom textures (rather than their specific addon folder). Could  you mention some examples where that is the case? The reason i ask is to gauge how common this practice is, and also because Ajour would not be able t

[2020-12-15 21:45] d3ntatous commented on #433
Hm, you are right, the update issue is a blocker, I was mainly thinking it from the backup feature perspective, rather than the update one. On your question, a rather recent UI that uses custom textures is AbyssUI. Would it be possible to ask for a checkbox that allows to include the total of the interface folder during backup?

[2020-12-17 12:03] msvi opened #435 "Local Cache of the Addon Catalog"
**Is your feature request related to a problem? Please describe.**
Loading the addon catalog is very slow sometimes. Yesterday, I couldn't load the catalog even after 20 minutes of waiting. Today, I had to wait around 5 minutes before the catalog was showing. This seems to be a GitHub problem, as I often experience very slow downloads (just a few kb/sec) when downloading releases from GitHub.

**D

[2020-12-17 14:12] mlablah commented on #435
@msvi Thank you for the suggestion. We have on our internal backlog an item to add catalog caching, so that it isn't downloaded whenever the user launches Ajour, but only when necessary and then reuse that data until it's deprecated.

Providing some kind of progress information while the download is happening is a good idea, but I'm not sure if it's possible with our current implementation. It wil

[2020-12-18 12:09] zeeraw opened #438 "Documentation for addon developers on release channels through GitHub"
**Is your feature request related to a problem? Please describe.**
When using GitHub for provisioning an addon for my guildies, I want to make use of the alpha, beta, and stable release channels. Do they in some way map to release status of GitHub releases and if so how?

**Describe the solution you'd like**
A page on the repository Wiki describing how release channels work.

**Describe alternativ

[2020-12-18 18:15] mlablah commented on #438
@zeeraw Ajour currently only supports release channels for addons that are updated via CurseForge. Or put another way, the release channel feature was implemented to support the different channels offered by CurseForge.

For this reason addons from other sources are always considered "Stable" and setting the channel to anything but stable will have no effect.

For GitHub in particular, Ajour will

[2020-12-18 21:00] zeeraw commented on #438
I see, thank you for the clarification, much appreciated.

It would be cool to make use of GH release states for the beta channel.

[2020-12-18 21:12] tarkah commented on #438
I think it's fair to assume that `pre-release` maps to our `Beta` release channel. I'll assign myself to this and look at implementing it. Do you mind linking your addon? I'd love to test against it if you publish "Stable" as normal releases and "Beta" as `pre-release`?

[2020-12-18 21:14] tarkah commented on #438
To clarify, I don't see us supporting `Alpha` vs `Beta` via Github / Gitlab since there is no standard built into either platform we can use to distinguish them. We can use the `pre-release` flag to at least distinguish between "Stable" and not stable. I think that should just map to our "Beta" so that if the user sets it as either Beta or Alpha in Ajour, they will get that `pre-release` to show a

[2020-12-18 21:17] tarkah commented on #438
I'd suggest adding some logic to your https://github.com/zeeraw/loot/blob/master/.github/workflows/releases.yml actions file that marks it as "pre-release" if alpha / beta are in the tag

[2020-12-18 21:24] tarkah commented on #433
I don't see any issue with including everything in `Interface\**` whereas right now we only include everything in `Interface\AddOns\**`. 99% of people won't have anything to backup in that folder so it doesn't change anything. But at least for you, it picks up those files.

[2020-12-19 00:50] zeeraw commented on #438
@tarkah Yeah, that's what I intended to do in my workflow. Mark it as pre-release when my tags contain some keyword(s).

[2020-12-19 00:53] zeeraw commented on #438
I think that's wise to not add anything proprietary and use the facilities that already exists. So to clarify, what you're suggesting is that GitHub pre-release = Ajour Alpha & Beta?

[2020-12-19 01:25] tarkah commented on #438
Yeah, it'll equal Ajour Beta, but if you set it to Alpha, it'll also pick up Beta releases (since Alpha is more bleeding edge). Sweet! I'll look into this over the next week.

[2020-12-20 02:56] lub commented on #427
I have the same problem with sway (a Wayland compositor).

`cargo build --release --no-default-features --features opengl` doesn't fix it for me.

[2020-12-20 03:48] tarkah commented on #427
@lub thanks for testing! Since you're running from source, can you try commenting out the following line and seeing if the problem still occurs?

https://github.com/casperstorm/ajour/blob/67884abb8594e461ce6efee7d7c46f2182065bbc/src/gui/mod.rs#L839

[2020-12-20 04:37] lub commented on #427
@tarkah that seems to fix it even with `cargo build --release`

[2020-12-20 04:44] tarkah commented on #427
Cool, I had a suspicion that was the cause. So weird it prevents any resizing at all when it's only supposed to enforce a minimum. I'll open an issue upstream to hopefully have this resolved.

@casperstorm how do you want to handle this for now?

[2020-12-20 17:25] casperstorm commented on #427
I think we should disable `min_size` for Linux until it has been fixed upstream.
I can make a PR for this.

[2020-12-21 05:35] Neurotoxin001 opened #441 "Ajour window title become inactive"
**Describe the bug**
Ajour window title become inactive when I click on any addon to open addon info

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any addon to open addon info
2. Try to click on close button (x) or move Ajour window clicking on window title
3. You can't until you alt-tab to some other window and then go back to Ajour

**Software involved**
Please complete the foll

[2020-12-21 08:13] mlablah commented on #441
@Neurotoxin001 Thanks for reporting this. We can't reproduce this on our end. Could you please attach a copy of the ajour.log file from this folder %appdata%\ajour on your machine, after reproducing the error (step 1)?

[2020-12-21 08:24] Neurotoxin001 commented on #441
Idk what is this has been but now I can't reproduce it too…

[2020-12-21 08:24] #441 closed

[2020-12-21 08:49] jimnordb opened #442 "[weakaura] missing field `username`"
**Describe the bug**
Stuck at parsing weakauras

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "My Weakauras"
2. Click on dropdown on right side
3. Select my username
4. Get stuck

**Expected behavior**
Show weakauras

**Screenshots**
![image](https://user-images.githubusercontent.com/17293360/102757205-41d86c00-4371-11eb-9b37-27c65c9f3cae.png)

**Software involved**
Windows 10 20H2
W

[2020-12-21 09:50] casperstorm commented on #442
If anyone else is having this issue, i've attached a build which will fix this issue.

[ajour-username-fix.zip](https://github.com/casperstorm/ajour/files/5723564/ajour-username-fix.zip)

[2020-12-21 10:13] Pantar2205 opened #444 "Linux - Interface locked in small size"
**Describe the bug**
GUI window opens in a very small size. Not possible to resize or maximise.

**To Reproduce**
Steps to reproduce the behavior:
Open App on Linux

**Expected behavior**
open at normal size or be able to maximize/resize it.

**Screenshots**
https://imgur.com/a/C57YiZ4

**Software involved**
Please complete the following information:
 - OS: Ubuntu 20.10 Wayland
 - Ajour version: 0

[2020-12-21 10:20] KevinKloiber opened #445 "Ajour downloading and catalog opening really slow"
Overall the download speed of ajour from GitHub is super slow (20 kB/s on average). Also, accessing information from the catalog tab within the window is slow.

[2020-12-21 10:33] casperstorm commented on #445
This seems to be related to: https://github.com/casperstorm/ajour/issues/435
Issue seems to be related to your ISP not being happy about downloading files from Github. The Catalog in ajour is hosted on Github: https://github.com/casperstorm/ajour-catalog.

[2020-12-21 10:35] KevinKloiber commented on #445
Sounds related, yes. I am also located in Germany, like the author of #435. Guess there is no way to resolve it.

[2020-12-21 10:36] casperstorm commented on #444
This is a duplicate of https://github.com/casperstorm/ajour/issues/427, so I am going to close it in favor for that.
To get you up to speed; I've fixed it in this PR: https://github.com/casperstorm/ajour/pull/440 but since I dont use Wayland I can't confirm it actually solves the issue.

Can you perhaps test it?

[2020-12-21 10:36] #444 closed

[2020-12-21 10:40] casperstorm commented on #445
I'll close it in favor for that then. A few other (german) people on our Discord has mentioned same issue so seems like it's a common thing. I think we should try to brainstorm a few different options in that issue and see what we can do about it.

Reason choose Github initially as hosting was how easy it was to automate everything, and get hosting - all for free.

[2020-12-21 10:40] #445 closed

[2020-12-21 17:03] Pantar2205 commented on #444
I am sorry but I am ignorant and don't know how to test it. Is it straight forward enough to figure out? I have zero coding experience and my only  familiarity with github is to search and post for errors

[2020-12-21 17:06] tarkah commented on #444
@Pantar2205 I'll upload an AppImage for you to test with shortly

[2020-12-21 17:14] tarkah commented on #444
@Pantar2205 can you try this? It has the fix in it

[ajour-appimage.tar.gz](https://github.com/casperstorm/ajour/files/5725564/ajour-appimage.tar.gz)

[2020-12-21 19:24] maulyou opened #446 "Ajour app updates fail"
Every new Ajour version fails to update when attempted.

[2020-12-21 19:34] casperstorm commented on #446
With what error? On which operating system? Where is Ajour placed?

[2020-12-21 20:00] tarkah commented on #446
@maulyou this is most likely a permissions issue, especially if you saved it to Program Files in Windows. We recommend saving `ajour.exe` to `%APPDATA%\ajour\ajour.exe` and shortcutting to that or placing on the Desktop. You'll have permissions to either location and updating should work perfectly.

[2020-12-21 20:29] maulyou commented on #446
Thanks well give it a try

[2020-12-21 21:22] tarkah commented on #438
@zeeraw I've added support for "pre-release" releases from GitHub with #447. You can test that branch or wait for our next Ajour beta rerelease to try it out. I've tested with your repo and it works great!

One thing I noticed is your latest alpha release https://github.com/zeeraw/loot/releases/tag/v9.0.2-alpha.14 has the TOC version still set as `v9.0.2-alpha.12`. This causes Ajour to think it's

[2020-12-22 06:46] Pantar2205 commented on #444
Can confirm this fixes all resizing issues

[2020-12-22 17:41] #442 closed

[2020-12-22 17:41] #438 closed

[2020-12-22 17:41] tarkah commented on #433
@d3ntatous I've merged this change and it'll be available starting with 0.6.1-rc.1 which we're releasing today

[2020-12-22 17:41] #433 closed

[2020-12-22 17:42] tarkah commented on #427
This fix will be available as of 0.6.1-rc.1 which will be available later today

[2020-12-22 17:42] #427 closed

[2020-12-22 17:48] d3ntatous commented on #433
Thanks, and have a nice holiday!!

On Tue, 22 Dec 2020, 19:42 Cory Forsstrom, <notifications@github.com> wrote:

[2020-12-22 17:49] tarkah commented on #433
You too!

[2020-12-22 19:33] #446 closed

[2020-12-22 20:20] casperstorm opened #453 "WebGPU can cause crashes or GUI glitches."
**Describe the bug**

Ajour is using [iced](https://github.com/hecrj/iced/) as GUI library. This framework is using [wgpu](https://github.com/gfx-rs/wgpu#supported-platforms) by default, which requires either Vulkan (Windows/Linux) or Metal (macOS) to run. If requirements can't be met, Ajour will crash on launch. However in **very** rare occasions where requirements **are** met, Ajour will still c

[2020-12-22 20:24] casperstorm commented on #406
See https://github.com/casperstorm/ajour/issues/453.
Will close this issue in favor of above.

[2020-12-22 20:24] #406 closed

[2020-12-22 20:25] casperstorm commented on #318
See https://github.com/casperstorm/ajour/issues/453.
Will close this issue in favor of above.

[2020-12-22 20:25] #318 closed

[2020-12-22 20:25] casperstorm commented on #153
See https://github.com/casperstorm/ajour/issues/453.
Will close this issue in favor of above.

[2020-12-22 20:25] #153 closed

[2020-12-22 20:27] casperstorm commented on #163
See https://github.com/casperstorm/ajour/issues/453.
Will close this issue in favor of above.

[2020-12-22 20:27] #163 closed

[2020-12-22 20:27] casperstorm commented on #265
See https://github.com/casperstorm/ajour/issues/453.
Will close this issue in favor of above.

[2020-12-22 20:27] #265 closed

[2020-12-23 00:20] Eliote opened #455 "Search in "My Addons" list"
**Is your feature request related to a problem? Please describe.**
Searching for an Addon to delete can be very annoying when you have many of then installed.

**Describe the solution you'd like**
A simple search box in the list of My Addons would really help with that.

[2020-12-23 02:35] Canettieri commented on #455
Yes, please. This feature will help a lot. 👍🏻

Delete an addon is a terrible experience. :(

[2020-12-23 03:04] zeeraw commented on #438
Big thanks, this will help me and my guildies a lot.

[2020-12-23 03:08] zeeraw commented on #438
On this, I've noticed I'm just being lazy with updating the TOC. I'm trying to figure out a good workflow for making sure I can just interact with Git and not having to think about touching it in multiple places.

[2020-12-23 03:27] tarkah commented on #438
Maybe you can create a simple script to bump the version in TOC file, add a commit, then tag it for that version as well?

[2020-12-23 05:31] zeeraw commented on #438
Yeah, I’m considering what would be the most neat thing. Having it be authoritative from the git tag or from a script that upgrades the TOC, then tags.

[2020-12-23 09:57] casperstorm commented on #366
See https://github.com/casperstorm/ajour/issues/453.
Will close this issue in favor of above.

[2020-12-23 09:57] #366 closed

[2020-12-24 12:06] casperstorm commented on #455
I agree.
Finding addons when you have a lot is not ideal. We have brainstormed a few different solutions to not clutter the UI with a search bar.

We haven't agreed on anything yet but we are talking about how to solve this problem!

[2020-12-24 12:08] #455 closed

[2020-12-24 22:12] #435 closed

[2020-12-26 18:10] tonecool opened #457 "Log file ignoring --data command line parameter"
**Describe the bug**
Log file is not created at provided command line data path which affects app portability

**To Reproduce**
Steps to reproduce the behavior:
1. Delete if exists "%appdata%\ajour" folder
2. Run ajour with --data parameter (e.g. ajour.exe --data "D:\World of Warcraft\Ajour\data")
3. log file reappears at ""%appdata%\ajour\ajour.log"

**Expected behavior**
Log file should be creat

[2020-12-28 04:26] tarkah commented on #457
Ahh yeah, I just looked and we setup the logger before we specify the custom data directory, so it uses the default instead. This will be an easy fix.

[2020-12-28 17:20] #457 closed

[2020-12-29 13:47] yungsters opened #459 "Add “Venture Plan”"
[Venture Plan](https://www.townlong-yak.com/addons/venture-plan) is the only addon that I use which must currently be manually installed.

I’ve seen several others on Reddit also ask about how to install this, so I think there would be interest in automated addon management.

**Describe the solution you'd like**
Support installing and upgrading Venture Plan like Ajour currently supports ElvUI as a

[2020-12-30 05:17] aerodragon83 opened #460 "Immediately closes when opening"
As the title says. I built a new pc, installed WoW, launched wow (to produce the addons folder), moved ElvUI into said folder, downloaded Ajour to get the rest. Try to open it, immediately closes

**Expected behavior**
Works on my old PC still, get addons

**Software involved**
Please complete the following information:
 - OS: Windows 10 Pro
 - Ajour version: Newest off website and github, both do

[2020-12-30 08:43] casperstorm commented on #460
See #453.
You should run then OpenGL version of Ajour. You can find it [here](https://www.getajour.com/download).

[2020-12-30 08:43] #460 closed

[2020-12-31 00:32] CosmicCleric opened #461 "Add "LetsTimeIt/Dungeon Tools" to the catalog"
"[LetsTimeIt/Dungeon Tools](https://github.com/LetsTimeIt/DungeonTools)" is a fork of another addon that went paywall (then retreated).

Please add this addon to your catalog, so that it can be downloaded from the Ajour app.

Thanks!

[2021-01-01 10:12] steven-fuller opened #462 "Better sorting of catalog search results"
**Is your feature request related to a problem? Please describe.**
When searching the catalog, changing the text in the search field resets the sort order to unsorted

**Describe the solution you'd like**
I would expect the selected column sorting to be applied to the search results and not the default order.

**Describe alternatives you've considered**
I can't think of any other than reapplying t

[2021-01-01 13:45] casperstorm commented on #461
For now you can install it with `Install from URL` by entering: `https://github.com/LetsTimeIt/DungeonTools`.
Then Ajour will keep it updated.

We have a plan to add a new source later this month with a bunch of addons only available through Github.

[2021-01-01 13:45] #461 closed

[2021-01-01 13:49] casperstorm commented on #459
Currently there's no API or any version control like Github available which makes it impossible for now.
I'll keep an eye out, and try to reach out to the author if I can find his contact information.

[2021-01-01 13:49] #459 closed

[2021-01-02 16:23] tarkah commented on #462
Right now we use a fuzzy match with the query you input and sort on match score. If you add another character to the query, it resets the sort because we have a new match score for all add-ons to sort by. The problem is if we preserve a custom sort on column, there is no way in the gui to allow the user to resort based on match score (best match first, descending). So we either leave this as is, o

[2021-01-02 21:34] KestrelWild commented on #462
+1 for some sort of change/fix to this. The other day I went to search for addons related to Kui Nameplates. There are a few of them, some not updated in years, so I went to sort by latest release, with Kui still typed in search box, and suddenly there are no Kui items in the list of results. I would expected to still see Kui addons, with the most recent at top.

[2021-01-02 22:29] tarkah commented on #462
Even if you sort after querying, the results should still be "filtered" based on the query. Since you are seeing results that don't appear to be related at all (we fuzzy match the search term on both title and description), I think we need to increase the match score that we filter on.

I'll play around with this to see if I can find the score that only leaves in results with strong relevance.

[2021-01-03 04:37] steven-fuller commented on #462
The point about sorting on match score is valid, and perhaps an additional column wouldn't be too onerous.

Fwiw, they might be completely unworkable or overly complicated, but here are some thoughts I have had about this:

The way I use catalog search, more recent results are generally more relevant to me than the current match scoring is using. Perhaps that could be used as factor in the scoring

[2021-01-04 06:56] gageracer opened #465 "Failed to parse WeakAuras Error"
**Describe the bug**
On my Manjaro Laptop, I cannot update the WeakAuras. It says in red "Failed to parse WeakAuras".

In the log it says `22:50:30.836 [ajour][ERROR] caused by: error converting Lua nil to u16 (expected number or string coercible to number)` and when I google, it says `The error is caused by the fact that V-REP uses Lua 5.1, and the computers we tested it on had different locales

[2021-01-04 07:36] casperstorm commented on #465
Do you have a list of the WeakAuras you use from Wago? Then I can try to find the one which fails.

[2021-01-04 17:24] Maglore85 opened #466 "WeakAuras not loading/missing auras"
Hello !

First off, I wanted to thank you for the software. It is really well done and I think everyone really appreciate it.

I simply want to help you get the software fully working. This is not a critical issue since I can press refresh to reload the list again. But for a person that would have 20-30 auras, it may be problematic for sure.

**Describe the bug**
Sometimes, the WeakAuras list is m

[2021-01-04 17:28] fraukas commented on #466
This seems similar to issue #465 but with the list missing some auras.

[2021-01-04 17:41] gageracer commented on #465
Sure, I think this is all I use from there that is not mine:

https://wago.io/slraid1

https://wago.io/r14U746B7

https://wago.io/krebsEnhancement

https://wago.io/sldungeon

https://wago.io/EkMnku8FZ

Thanks for the help.

[2021-01-04 17:50] tarkah commented on #462
I think the additional weighting by "recency" is very valid. Another thought is to not even sort on fuzzy match score, and just leave in whatever column sort is already in place. So if you have things sorted on Latest Release, it keeps that when changing your search term. I'm hoping that if I tighten up the filter on fuzzy match score, all results will be relevant and therefore whatever way the us

[2021-01-04 17:55] tarkah commented on #465
Thanks for the bug report!

@casperstorm This is most likely caused by us expecting a table entry in the saved variables .lua file called "version" with a value we convert to u16, but for some reason that value is either null or the table entry "version" is missing altogether. This should be an easy fix as we can make this field optional, so it'll deserialize from lua nil -> `Option<u16>` correctl

[2021-01-04 18:04] tarkah commented on #466
Thanks for opening this bug report! I think I know whats going on here. There is no issue parsing your saved variables file for weak auras, hence no errors in the log. The reason for the inconsistency has to be due to the Wago.io API we query. I'd guess it's sometimes not returning results for your auras. We only show results that match against the Wago.io API.

I'll see if I can reproduce the inc

[2021-01-04 18:09] tarkah commented on #466
And another thing I noticed, the reason `Holy&DC_AfenarUI` is never showing up is because we're not properly URL encoding that string, so the `&` sign is throwing things off in our API query.

[2021-01-04 18:20] tarkah commented on #466
@Maglore85 Can you submit the following in your browser and see if you consistently get 4 items to return? I always get the 4 items.

https://data.wago.io/api/check/weakauras?ids=Afenar_Warrior,Afenar_Mage,Afenar_Shadow,Holy%26DC_AfenarUI

[2021-01-04 18:50] casperstorm commented on #466
We could do that then, however we should then consider:

- Introducing a `Source` so it's clear from a column which is Wago which is Offline/Personal/Local and which is, in the future, something else.
- Consider what happens when pressing on a non wago aura.

How does that sound?

[2021-01-04 18:53] tarkah commented on #466
Agreed, that'd make it consistent to how we show "Unknown" for source on the addon side. We can disable the clickable row for addons without a valid Wago.io source

[2021-01-04 19:07] Maglore85 commented on #466
Yes, I get this reply:

```[{"_id":"r1HtRGizG","name":"Afenar | Warrior | Shadowlands","slug":"Afenar_Warrior","url":"https://wago.io/Afenar_Warrior","created":"2017-12-23T00:08:29.080Z","modified":"2020-12-21T07:51:48.082Z","game":"sl","username":"Afenar","regionType":"group","version":113,"versionString":"3.4.6-113","changelog":{"text":"","format":"bbcode"}},{"_id":"H1T-NFUMG","name":"Afenar | S

[2021-01-04 19:50] tarkah commented on #466
Ahh, so I don't think the API is giving us inconsistent results. I think it's all due to that percent encoding issue. If that slug `Holy&DC_AfenarUI` is the first parameter in the URL string, the whole request returns 0. If it's the last item, it'll return 3 results.

So the percent decoding fix should resolve this entire issue so we always get the above response of all 4 items.

[2021-01-04 20:13] stevebrinston opened #467 "ajour.exe CLI"
**Describe the bug**
While using the ajour.exe binary seems to function fine from within the Linux Subsystem for Windows (Ubuntu), there are no return characters at the end of each printed line. It creates a very messy output. I realize this may not be considered normal use but I wanted to automate my addon management and I have WoW installed on Windows and I prefer Linux command line to Windows C

[2021-01-04 21:36] tarkah commented on #467
Weird, I've not seen this using windows / Poweshell or on Linux. Let me test, I have WSL installed.

[2021-01-04 21:39] tarkah commented on #467
I get the same issue as you. I don't think we should be running executables within WSL. You should use command prompt / Powershell where it works as expected. I suspect its the difference in EOL characters used by windows (CR LF)  vs Unix (LF)?

[2021-01-04 21:41] tarkah commented on #467
If you really want to use this program within WSL, you need to use the `AppImage` version for linux:

https://github.com/casperstorm/ajour/releases/download/0.6.1/ajour.AppImage

It'll work as expected that way.

[2021-01-04 21:44] tarkah commented on #466
@Maglore85 can you test the attached and confirm it works:

[ajour - wa fix 2020.01.04.zip](https://github.com/casperstorm/ajour/files/5766921/ajour.-.wa.fix.2020.01.04.zip)

[2021-01-04 21:50] stevebrinston commented on #467
Fair enough. Thanks for looking into it.

[2021-01-04 21:55] tarkah commented on #465
@gageracer can you test things work with the attached?

[ajour-wa-fixes.tar.gz](https://github.com/casperstorm/ajour/files/5766948/ajour-wa-fixes.tar.gz)

[2021-01-04 21:55] #467 closed

[2021-01-04 22:05] Maglore85 commented on #466
It is working with the exe supplied even after 15-20 manual refresh.
Now that's what I call efficacy...

Should I use that .exe or go back to the old one and update it when you release a new version ?

[2021-01-04 22:12] tarkah commented on #466
Awesome!

Go ahead and use that executable since it's now working for you. It's still marked as version 0.6.1, so when we roll out 0.6.2-rc.1 or 0.6.2, you'll still be presented with an update option and be back on master release.

[2021-01-04 22:12] Maglore85 commented on #466
Excellent !

Thank you for the support :)

[2021-01-04 23:18] gageracer commented on #465
@tarkah This fix looks like it is working. Thank you for the quick fix!

![ajourfixtest](https://user-images.githubusercontent.com/2171746/103589332-0628c080-4ea0-11eb-892f-428c058c321d.png)

[2021-01-04 23:47] tarkah commented on #465
Awesome! This fix will be available as part of our next release. Feel free to use the AppImage I sent you in the meantime.

[2021-01-04 23:48] #466 closed

[2021-01-04 23:48] #465 closed

[2021-01-05 03:18] Walkerbo opened #471 "Support for AddOns hosted at Townlong-Yak"
_**Is your feature request related to a problem? Please describe.**_
There are a number of addons that are only available on [Townlong Yack](https://www.townlong-yak.com/addons/latest).
I have the Venture Plan addon that does appear on the MyAddons list.
Townlong Yack addons are not able to be found/installed from the catalogue.

_**Describe the solution you'd like**_
If possible can the addons th

[2021-01-05 11:49] Road-block opened #472 "[Documentation / Help] Source preference"
**Is your feature request related to a problem? Please describe.**
Is there a way to set a preferred addon source when the latest version is hosted in multiple supported addon hosts?
For example I would like to have a curseforge bias when the addon is available on both curseforge and wowinterface.

**Describe the solution you'd like**
A per addon or just complementary `Addons` setting along side `

[2021-01-05 21:06] tarkah commented on #472
The way to ensure an addon will match against a specific source is to install it via the Catalog for that source. I'd recommend deleting the addon via Ajour and reinstalling it via the Catalog for the proper source.

A more detailed breakdown of what goes on:

- Since curse addons support lookup via fingerprint, we can match any addon to Curse regardless of it was installed via Ajour or not, and r

[2021-01-05 21:38] tarkah commented on #471
I don't see us supporting small / personal addon repositories as this can get bloated very fast. I doubt there is even an API available for us to work with this personal "repo".

Since we support installing addons via github, I'd recommend reaching out to the developer(s) and seeing if they can also host / create releases there, which would universally support many different addon managers, includ

[2021-01-05 22:27] #471 closed

[2021-01-06 02:19] ZythDr opened #474 "Still on 0.5.3 because of this..."
Please bring back the ability to view changelogs directly inside Ajour by clicking the remote version numbers as it used to work before version 0.5.4.

I don't understand why this was removed to begin with. I really liked this feature as it makes it a lot easier to keep up with changelogs rather than having to open up a browser tab for each addon, which in my case can be up to 10 tabs sometimes.

[2021-01-06 17:33] casperstorm commented on #474
I hear you loud and clear @ZythDr.
Honestly this kind of feedback is great because if no one yells when we make a wrong decision we would never know. We try to make the very best addon manager for the community, so obviously the community means a lot to us.

I made the decision to remove it, and the reason was that i wasn't happy with the implementation of it. And also because a lot of users could

[2021-01-06 23:52] tarkah commented on #474
@ZythDr I've reimplemented this and merged into dev. This will be available as of 0.6.2-rc.1, which should be published here in the next day or so hopefully.

[2021-01-06 23:53] #474 closed

[2021-01-07 18:11] ZythDr commented on #474
Oh wow, I half expected this to fall on deaf ears, or be ignored since you guys had felt the need to remove it before. It makes me very happy to see you've read, replied and even added the feature back! Thank you guys so much!

Also yeah I kinda get what you're saying @casperstorm, about the formatting and stuff, but at least to me personally, I'd rather have it work for 90% of the addons (in my e

[2021-01-08 07:23] kawarimidoll opened #477 "Installation is failed using latest Homebrew in macOS"
`brew cask install ajour` is in `INSTALL.md`, but this doesn't work now because of update of Homebrew.
This is not a bug of this app, but the document needs to be fixed.

homebrew blog: [2.6.0 — Homebrew](https://brew.sh/2020/12/01/homebrew-2.6.0/)

screenshot:
![Calling brew cask install is disabled](https://user-images.githubusercontent.com/8146876/103985543-78651200-51cc-11eb-83dd-f2b2f5642d23.

[2021-01-08 09:56] #477 closed

[2021-01-08 11:18] Mushoz commented on #471
There is a FAQ in the Discord server hosted by the author, which states:

[code]

I don't understand what those "varying reasons" are that are mentioned. However, I do know that VenturePlan is currently the most popular/used addon for mission table management in Shadowlands, so having this supported would be very welcome. On the other hand, without a working API and the fact you'd have to support

[2021-01-10 14:54] FH3095 opened #483 "Addon Fishing Buddy on CurseForge: No Updates found"
**Describe the bug**
For the addon [Fishing Buddy](https://www.curseforge.com/wow/addons/fishingbuddy) the curseforge release versions are detected as alpha versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Search Fishing Buddy in Catalog and install addon
2. Switch to "My Addons" and hit refresh. FishingBuddy has now no remote versions and ajour wont detect updates.
3. Change releas

[2021-01-10 22:59] mlablah commented on #483
Initial investigation:
CurseForge fingerprint API returns an exact match for this fingerprint. The match is labeled with releaseType 1.
Wowup fingerprint api also returns an exact match, but this is labelled releaseType 3.
This explains why Ajour finds no remote version when release channel is Stable (1) but does not explain why the API responses are not aligned.

Attaching both responses.
[wowup.

[2021-01-11 09:47] coogie opened #485 "Manually-installed Addons"
**Is your feature request related to a problem? Please describe.**
Ajour doesn't support smaller addon repos to avoid adding unnecessary bloat (https://github.com/casperstorm/ajour/issues/471#issuecomment-754917886) instead supporting addon installation through Github/Gitlab releases. However, [not all addon developers distribute their addons via GH/GL](https://i.imgur.com/1HnaQeF.png), or may not

[2021-01-11 11:50] mweinelt opened #486 "Filtering for older game versions"
**Is your feature request related to a problem? Please describe.**
A general problem with playing on private servers is that they're on older game versions like 1.12.0, 2.4.3, 3.3.5, 4.3.4, 5.4.7 and so on. It is unnecessarily tedious to find, download and install or, more generally, manage addons for these versions.

**Describe the solution you'd like**
If Ajour would allow for selecting a game v

[2021-01-11 19:33] tarkah commented on #486
Thanks for the feature request! We've had this requested in our Discord chat as well. A couple thoughts:

- The "game version" in the catalog is based off the latest release. Meaning that if we filter on "5.4.7" for example, it'll only show addons that haven't been updated in years vs "older versions" of all addons in the catalog.
- I assume you'd want to see the "older versions" of all the top /

[2021-01-11 19:35] tarkah commented on #486
Also, thanks for the efforts packaging this for NixOS! I've used Nix in the past and it's a really cool way of doing things. Packaging is a huge deal, so thank you! Once you get things published, feel free to open a PR adding it to our INSTALL.md file.

[2021-01-11 19:55] tarkah commented on #483
Yeah, for some reason the WowUp.Hub api is tagging both the stable AND beta releases as releaseType 3, which is for Alpha. The stable release should be tagged as 1.

I'll ping the dev over there to see if he can investigate why this is happening

[2021-01-11 20:12] tarkah commented on #483
He fixed it on their backend, it now shows the release under Stable. He will monitor to make sure it doesn't revert.

[2021-01-11 20:12] #483 closed

[2021-01-11 22:12] casperstorm commented on #485
Thank you for taking the time reporting such a detailed missing feature, even with a mockup.
However, I do not see the need for it at this point. You hit the head of the nail right here:

I would rather encourage addon developers to use one of the supported sources, or GitHub/Gitlab. And if they still reject it is still possible to do it manually, as you said, but Ajour will still catch it, just a

[2021-01-11 22:12] #485 closed

[2021-01-13 22:28] Altoholic opened #488 "window size and place not kept between every use"
**Describe the bug**
Very minor bug: the position and size of the window is never kept between every use of Ajour.

**To Reproduce**
Steps to reproduce the behavior:
1. open Ajour
2. modify size or/and position of the main window
3. close Ajour
4. open it again: size and position of the window are not kept

**Expected behavior**
The window should stay where i put it previously, at the size i choos

[2021-01-14 00:17] tarkah commented on #488
duplicate of #269

This is an upstream issue and something we can't implement currently unfortunately.

[2021-01-14 00:17] #488 closed

[2021-01-14 12:17] casperstorm opened #491 "Missing localizations"
**Describe the bug**
I version [0.6.2](https://github.com/casperstorm/ajour/releases/tag/0.6.2) we introduced localizations. There are however a few places where we are missing some translations:

- [ ] Addon release channels: `Default`, `Stable`, `Beta `and `Alpha`
- [x] `Results` in Catalog

[2021-01-14 14:49] d3m4 opened #492 "After latest update can't open it on windows"
**Describe the bug**
Can not open the app, the program starts and when it says it's parsing it crashes... The app was doing fine before the update =D Really like the app, this is my first bug report on github =X

**To Reproduce**
Steps to reproduce the behavior:
1. Click to open the app
2. It will show the parsing window
3. It force closes

**Expected behavior**
It to open and for us to go crazy d

[2021-01-14 15:14] casperstorm commented on #492
I made a mistake in 0.6.2 RC1 which means everyone on that version is pretty much deadlocked. Sucks, and 100% my faults.
You need to download the newest (0.6.3) manually and everything should work: https://www.getajour.com/download.

SORRY!

[2021-01-14 15:14] #492 closed

[2021-01-14 15:32] d3m4 commented on #492
it worked out great, love the app.

cheers

[2021-01-14 17:45] zeeraw commented on #491
@casperstorm Do you think `Default`, `Stable`, `Beta` & `Alpha` should actually be translated since they're named channels that correspond to external sources?

[2021-01-14 18:02] casperstorm commented on #491
They should be translated eventually but right now they live in another crate which is decoupled from the GUI where we have translation going. So it's not as easy as it sounds

The "Results" string however lives in the GUI (main) crate.

[2021-01-14 21:59] mrkhaglund commented on #492
As soon its downloaded to my pc, windows blocking it and tells me its not safe. No way for me to work around it 👎

[2021-01-15 06:16] casperstorm commented on #492
That's because it's compiled without a trusted certificate. You can ignore it, however we are working on a certificate.

[2021-01-15 20:25] chadsterBAM opened #494 "Cant open on M1 Mac at all."
I just got it today so if there is a way to bypass that and allow it to work I'm all ears.  Says it cant authenticate the author.

[2021-01-17 12:48] mweinelt commented on #486
Ah yeah, that is something I missed while skimming the catalog, that addons, that are still maintained would have no older version, that matches the required version. I'm not quite sure how much more expensive this would make the catalog creation.

To limit the scope somewhat, we wouldn't need *all* patch versions, as most are unlikely to ever be used. Popular ones are the last versions of each ex

[2021-01-18 14:01] casperstorm commented on #494
You need to right click and press open. It works just fine on a M1 :)

[2021-01-18 14:01] #494 closed

[2021-01-18 22:53] #462 closed

[2021-01-19 09:00] Altoholic opened #498 "Make the WA updates visible"
**Is your feature request related to a problem? Please describe.**
I have to manually check the WA tab to see if there is updates available.

**Describe the solution you'd like**
Make the tab glow, or waggle, or become red, if WA updates are available.

[2021-01-19 10:04] mlablah opened #500 "Stuck "Loading.." when WeakAura refresh happens to fail"
**Describe the bug**
If refreshing weakauras fails, the refresh button is disabled and the message at the center of the screen stays "Loading... Currently parsing retail WeakAuras" and the user can't retry the refresh operation.
I think this was a intermittent problem with the wago.io api and not due to local savedvariables as this has worked before. Restarting the client and pressing refresh agai

[2021-01-19 14:31] filliph opened #501 "GitHub releases perpetually show as update available"
**Describe the bug**
Certain GitHub releases with a version number mismatch compared to the actual add-on will forever be stuck as having updates available.

**To Reproduce**
Steps to reproduce the behavior:
1. Install either of these two add-ons via GitHub URLs: https://github.com/Kruithne/TransmogTokens - https://github.com/Vicious-wow/XIV_Databar
2. Refresh the add-on list
3. See issue

**Expec

[2021-01-19 14:38] filliph opened #502 "Window position / size is not remembered"
**Describe the bug**
If I maximise the window, then close Ajour and re-open it, the window position is shifted, partially off screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Maximise the Ajour window
2. Fully close Ajour
3. Re-open it
4. Window is not maximised, and is instead partially off screen.

**Expected behavior**
I expect the window position, as well as maximised state, to be

[2021-01-19 17:29] casperstorm commented on #502
Please see https://github.com/casperstorm/ajour/discussions/269#discussioncomment-191228.

[2021-01-19 17:29] #502 closed

[2021-01-19 18:16] mlablah commented on #501
@filliph Thanks for reporting this. It appears that the version reported in the toc file of both of those addons, does not match the tagged version of their github releases. And so after refreshing your addons, Ajour will see the mismatch and offer to update to the latest version that is available remotely.

TransmogTokens has version 1.4.9 in the TransmogTokens.toc, but is tagged as 1.4.7.
XIV_Da

[2021-01-19 18:59] filliph commented on #501
I'm aware of the version mismatch, I pointed that out in the report itself :) As I also mentioned, it might not be feasible for those two authors specifically to update their version numbering schemes for the reasons stated, and it's also worth mentioning that WoWUp handles the version number mismatch correctly.

Any form of caching or hash comparison would be greatly appreciated, as now that Weak

[2021-01-19 21:37] tarkah commented on #501
Yeah, I don't think it's reasonable to expect every addon author to perfectly manage their .toc file against release metadata unfortunately. It's just never going to happen. So the only option is for us to add the local / remote version fields into our cache entry for github so we can evaluate updates based on that.

@mlablah / @casperstorm Do either of you know if this is also happening with WowI

[2021-01-22 07:01] SamMousa opened #506 "Reinstall addons"
It would be nice in ajour could reinstall addons.

[2021-01-22 07:02] SamMousa opened #507 "Missing versions"
I've got the feeling that I'm not getting updates for some addons. Not yet sure how to do more research on why ajour is ignoring a version.

Will add more details later.

[2021-01-22 08:27] casperstorm commented on #507
Please use the template when submitting bugs (and features) as it helps us with reproduction.
Could you post ajour.log, fingerprint.yml and which addon isn't getting any updates?

[2021-01-22 10:04] SamMousa commented on #507
Apologies, apparently my github android app doesn't pick up the issue template!

Yes will do, if there are logs I'll inspect them myself first, as said will add more details when I know more :)

[2021-01-22 10:16] SamMousa commented on #507
Closing this, after some more research:
- I was getting out of date message from Details!, but this was probably from someone else running the retail version on their classic wow.
- I had some DBM modules missing but it turns out it was corruption instead of an old version.

[2021-01-22 10:16] #507 closed

[2021-01-22 10:17] casperstorm commented on #507
Glad you sorted it out. :)

[2021-01-22 21:32] #500 closed

[2021-01-23 19:35] blaadje opened #509 "Auto user sync"
**Describe the solution you'd like**
Hi ! First thank you for your awesome app. Useful, Ergonomic, fast & design 😍
Now I think a big issue in wow is the syncing between user and addons (addons settings).

A nice thing would be to
- have ajour accounts
- link it (connect) somehow with the battle.net account.
- save in user accounts **wtf folder/list of addons to DL by ajour**.
Consequently by chang

[2021-01-25 16:43] Maia-Everett opened #510 "Ajour UI is upside down"
I've hit a really weird bug. The Ajour UI is displayed upside down on my system.

Windows 10 version 1909, a laptop with NVIDIA GeForce GT 640M LE, driver 368.22.

I'll try updating to Windows 10 version 20H2 and see if it fixes the problem.

![image](https://user-images.githubusercontent.com/10684/105735859-c2891a00-5f66-11eb-94dd-57df83dff291.png)

[2021-01-25 17:36] casperstorm commented on #510
Hi @Maia-Everett,
Thats.... a new issue, haha.

Could you try to download the opengl version of Ajour and see if it has same behaviour?

https://www.getajour.com/download

[2021-01-25 22:23] tarkah commented on #498
This is an interesting suggestion! I'll look into this.

Right now, we don't have a background task to continually check for updates, however this is something we want to add support for. So currently, it'd only show the hint on launch / after manually clicking "Refresh". But this will be even cooler once we add background "refresh" for those that like to keep Ajour up and running.

[2021-01-25 22:48] tarkah commented on #509
@blaadje I don't see us supporting accounts for Ajour. One idea that is very similar is having the ability to export / import the list of addons within Ajour. There is a discussion post for this: https://github.com/ajour/ajour/discussions/172. The idea here is you can export your addon list from one computer, and load it from another computer and automatically download all those addons. This would

[2021-01-25 22:48] #509 closed

[2021-01-26 04:19] samueldcorbin opened #512 "TownLong-Yak Addons Repository"
The TownLong-Yak addons (OPie, etc.) aren't kept up to date in any of the standard repositories (OPie has been several versions behind for months now, and is missing bug fixes and a lot of Shadowlands functionality).

These addons are quite popular, TownLong-Yak is a pretty established WoW resource, and they ought to be added to Ajour as a repository.

The site has an API to check for updates: htt

[2021-01-26 15:11] Maia-Everett commented on #510
I didn't try the OpenGL version, but I did update to the latest NVIDIA driver version, and that fixed the problem.

You can close the issue if you wish.

[2021-01-26 15:12] krisz094 opened #514 "Template in translation should start with a capital letter when at the beginning of a sentence"
**Describe the bug**
While testing the Hungarian localization that I made, I noticed that when the app starts up, it uses the message "Currently parsing {flavor} AddOns". Obviously, in English it's something like "Currently parsing retail AddOns", where the word in the middle is lowercase.

In Hungarian, the sentence starts with the template, like "{flavor} AddOnok beolvasása", so it becomes "reta

[2021-01-26 15:55] #510 closed

[2021-01-26 16:20] casperstorm commented on #514
Thank you for the suggestion. If you are up for it you can help contribute to the strings here: https://poeditor.com/join/project?hash=gjghTR7d0Z

[2021-01-26 20:54] ddund opened #516 "Sort language in drop-down menu"
**Is your feature request related to a problem? Please describe.**
I noticed that the languages in the drop-down menu were unsorted. I think it would be nice if they were.

**Describe the solution you'd like**
Sort the available locales alphabetically.

[2021-01-26 21:17] Dreamjammer opened #517 "Search broken?"
The search function in 0.7 seems to be broken. For example, searching for "minimap" fails to show some minimap-related addons, including some that have "Minimap" right in the name! e.g. BasicMinimap.

[2021-01-28 09:19] casperstorm commented on #517
@tarkah can you take a look at this?

[2021-01-28 12:54] #514 closed

[2021-01-28 22:45] tarkah commented on #517
@Dreamjammer It does in fact appear in the results, but you have to change # results to 50 to see it. The reason it's below other results that seem to be a worse match, is because they also have "minimap" in the description (we use title and description to fuzzy search) and they are getting identical scores. When match scores are identical, it defaults to sorting by # Downloads.

There is a bonus

[2021-01-28 23:56] Dreamjammer commented on #517
Seems to me a title match should maybe score higher than a description match?

[2021-01-29 00:18] Dreamjammer commented on #517
Also, maybe at a setting to make the new "fuzzy" search optional? I switched from WowUp to Ajour precisely because the search seemed to work a lot better. Now, it seems to be just as bad as WowUp's... however it worked before, it definitely worked better for me, bringing precisely what I was looking for close to the top consistently.

Granted, maybe the new search works better if you don't know wh

[2021-01-29 23:15] tarkah commented on #517
@Dreamjammer Completely agree on title vs description. Can you test out #523? I score title and description separately now, and halve the score of description, then take the max score between the two instead of calculating a single score on the concatenation of those two string. This seems to help keep the results with matches in the title sorted first. Of course BasicMinimap still appears past re

[2021-01-30 15:53] Dreamjammer commented on #517
That's cool -- if there are more than 25 addons with the string I'm looking for in the title, I'd know get more results and look further down; it's just when it appears to run out of them on a page that it wouldn't occur to me to look further. So this sounds like it would fix the issue.

Is there an easy way to test this prior to it becoming part of a release? If not, I'll just check as soon as th

[2021-02-01 08:18] Mushoz commented on #471
Townlong-Yak now has an API required to track version information to poll for updates, so hopefully this will get implemented now :) Ticket that is tracking this: https://github.com/ajour/ajour/issues/512

[2021-02-01 08:18] Mushoz commented on #459
Townlong-Yak now has an API required to track version information to poll for updates, so hopefully this will get implemented now :) Ticket that is tracking this: https://github.com/ajour/ajour/issues/512

[2021-02-01 09:05] StragaSevera commented on #512
It would be awesome to have the ability to update this addons via Ajour!

[2021-02-01 19:01] tarkah commented on #517
I've just merged this into the development branch, so it should be available as part of our next beta release. You can make sure your client checks for self updates against that beta channel by selecting it in the settings.

[2021-02-01 19:01] #517 closed

[2021-02-02 15:28] casperstorm commented on #516
This has been merged to development now. It will be released with the next RC build on the beta channel of Ajour.

[2021-02-02 15:28] #516 closed

[2021-02-03 16:28] KaspOu commented on #512
I use OPie and Venture Plan, and it would be awesome to add this feature (currently in beta in one concurrent, but I love Ajour).

[2021-02-04 06:56] samueldcorbin opened #525 "Addons Directory Button"
**Is your feature request related to a problem? Please describe.**
If Ajour doesn't support an addon's repository, and I have to add the addon to my addons folder by hand, it's annoying to have to navigate to the addons folder.

**Describe the solution you'd like**
Ajour already knows where the addons folder is, so it's the perfect place to make this easier and put addon management all under one r

[2021-02-04 21:38] casperstorm commented on #525
I understand the reason for this button, but I think it will be valuable for most users. The reason being that if you decide to manually install a addon, you are likely doing the following:

1. Go to the specific source and find your wanted addon.
2. Download the addon.
3. Open your Download folder and unzip the newly downloaded Addon.
4. Copy the addon.
5. Paste the addon into the addons director

[2021-02-04 21:38] #525 closed

[2021-02-04 21:39] #364 closed

[2021-02-04 21:42] #486 closed

[2021-02-05 00:07] github-actions[bot] opened #527 "RUSTSEC-2021-0019: Multiple soundness issues"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `xcb`                      |
| Version             | `0.9.0`                   |
| Date                | 2021-02-04                         |

## Calls `std::str::from_utf8_unchecked()` without any checks

The function `xcb::xprot

[2021-02-05 01:20] samueldcorbin commented on #525
Most users are not going to pin a folder that they have to open once every few months. I bet if you surveyed the users on whether they have the addons folder pinned in explorer, the percentage would be in the single digits. One of the benefits of Ajour is removing the need to interact with the folder in most cases.

Many users, who have only ever used an addon manager, won't even know where the fo

[2021-02-05 07:10] #527 closed

[2021-02-05 17:50] ueberBrot commented on #512
Based on [this thread from the WowUp github page](https://github.com/WowUp/WowUp/issues/620) TownLong-Yak added a public API.
It is implemented for WowUp. You can install all addons from the site with WowUp.
What I found is the following: https://www.townlong-yak.com/addons/about/update-api
I think you can implement it with this information.
I'm looking forward to it 😊.

[2021-02-05 23:31] haasy opened #528 "Flavor should be recognized if `interface/addon` folder is missing"
**Describe the bug**
WoW Classic does not appear in the game version drop down after a fresh install. Only after the game has been launched one time and the `Interface/Addon` has been created does it show up in the drop down. It probably effects every other supported WoW version too.

**To Reproduce**
Steps to reproduce the behavior:
1. Install WoW Classic
2. Launch Ajour
3. Select Folder with the

[2021-02-06 10:00] casperstorm commented on #528
Hi @haasy,

This is actually not a bug. It's expected because of the way flavors are detected. We are looking for excatly `interface/addon` to be there, in order to validate a falvor. It happens in the following function, if you would like to take a look:

https://github.com/ajour/ajour/blob/1c057fdb5f1f02915219664220978af79551723f/crates/core/src/config/mod.rs#L61

I'll convert it into a feature

[2021-02-08 16:58] tarkah commented on #501
FYI, a fix for this was merged along with us adding support for TownLong-Yak addons. We found the same issue occured for that source, so I implemented a fix for all backends (except Curse, since we have fingerprinting there) to cache the version we installed / updated to, so we can properly match that against the API instead of what is in the .toc. This will be available as of the next beta releas

[2021-02-08 16:58] #501 closed

[2021-02-09 15:46] casperstorm commented on #528
This is now fixed in 0.7.1-rc.1. Thanks for reporting this.

[2021-02-09 15:46] #528 closed

[2021-02-09 15:47] casperstorm commented on #512
This is now available in 0.7.1-rc.1. Make sure you Ajour Update Channel to `beta` and you should be able to update.

[2021-02-09 15:47] #512 closed

[2021-02-09 15:47] #491 closed

[2021-02-10 15:41] Pantar2205 opened #534 "[Feature Request] Ability to blacklist or individually update Weakauras"
**Is your feature request related to a problem? Please describe.**
I have installed wa's from wago.io and heavily modified them. I never want to "upgrade" these WA's.

**Describe the solution you'd like**
Ideally = Mark a  WA as never to be upgraded to be able to add it to an upgrade blacklist somewhere.
Possible work around = allow to individually upgrade each WA so I can upgrade ones and not oth

[2021-02-10 18:27] Pantar2205 opened #535 "[Bug] Arrange by column not remembered."
**Describe the bug**
Arranging by column is not remembered when the app is re-opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Addons or catalog
2. Click on Column of release to arrange by mostly recently released, (or any other column )
3. close app
4. open app
5. ajour will go back to original layout.

**Expected behavior**
whatever arrangement is made by whichever column s

[2021-02-12 18:19] nymann opened #536 "Select Directory button does not open dir dialog"
**Describe the bug**
"Select Directory" button doesn't open file dialog on Arch Linux:

Here's the output of the graphical log (F12):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I expect a "choose directory" dialog to appear.

**Software involved**
Please complete the following information:

[2021-02-12 20:20] tarkah commented on #536
@nymann I assume you don't have a full desktop environment installed? This requires either `kdialog` or `zenity` to be installed to work.

[2021-02-12 21:55] nymann commented on #536
@tarkah that's correct, I have a fairly minimal setup with DWM running on Xorg. Worked after installing `kdialog`. Maybe this should be mentioned in the [aur package](https://aur.archlinux.org/packages/ajour/). :+1:

[2021-02-12 21:55] #536 closed

[2021-02-12 22:05] tarkah commented on #536
Let me try to find who maintains that package and let them know. Yeah, it should be a runtime dep. Glad it worked!

[2021-02-16 07:26] StragaSevera opened #537 "Problems with upgrading Ajour to 0.7.1 under Linux"
**Describe the bug**
The Ajour is installed from the `cargo` manager, but the published version there is 0.7.0.

When I click the "update" button in Ajour, I receive a message: "Failed to update Ajour".

**Software involved**
 - OS: Arch Linux
 - Ajour version: 0.7.0

**Log Output**
[ajour.log](https://github.com/ajour/ajour/files/5986793/ajour.log)

[2021-02-16 09:56] casperstorm commented on #537
I've just updated the crates to `0.7.1`.
We are missing a automated system to do this. Something i'll look into making.

[2021-02-16 10:57] StragaSevera commented on #512
I'm using the 0.7.1 now, and VenturePlan does not show as an updatable addon:
![image](https://user-images.githubusercontent.com/6378091/108053668-c63c2800-705e-11eb-864e-bb40c850d6e2.png)
Also it does not show in the catalog.

[2021-02-16 11:25] casperstorm commented on #512
You need to delete it, and install it through Ajour catalog before it's able to catch it.
You find it in the catalog if you select `TownlongYak` as source in the top menu.

[2021-02-16 11:26] StragaSevera commented on #512
Thank you!

[2021-02-16 14:42] RaphMad commented on #415
Had this happen with version 0.7.1 on Windows 10 with WoW being located on my system SSD (so its most likely not related to HDD shutdowns / having WoW on a separate HDD).

The effect was exactly the same - Ajour would freeze on all subsequent starting attempts until I rebooted my system, which magically cured it.

[2021-02-16 15:50] Kream opened #539 "Ajour should be able to optionally search addon descriptions"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I don't know the name of the a particular addon so I can download it. I have to search via google or forums. This is most prominent when, for example, an addon has a name that has nothing to do with the function of the Addon, for example, "Masque" or "Carbonite" or "Prat". This is despite the fact that those add

[2021-02-16 16:50] tarkah commented on #539
@Kream thanks for opening the issue! We actually do search on both addon name and description for the catalog fuzzy search. We are scoring the description matches lower than the title matches, which might be why the results you're expecting to see at the top are a bit further down in the results.

For example, when I search "button", and I increase the # of results to 100, "Masque" shows up near t

[2021-02-16 16:55] Altoholic opened #540 "Make a "catalog" for WAs"
I like the catalog and categories research for addons, i would like the same feature for the WAs.

[2021-02-16 18:01] tarkah commented on #537
@StragaSevera Yeah, the update button only works for the AppImage version for linux. We should probably add some logic to only show that button if running from the AppImage so it's not confusing for those updating via source / cargo

[2021-02-17 10:57] Kuurse opened #541 ""Latest Release" filter for the Catalog tab"
**Is your feature request related to a problem? Please describe.**
I would like to be able to add a filter for Latest Release in the Catalog tab so I can hide old unsupported add-ons.

**Describe the solution you'd like**
There is already a "Source", "Category" and "# of results" filter, I would like a similar filter for Latest Release.

**Describe alternatives you've considered**
The filter could

[2021-02-17 11:01] NathanCrama opened #542 "Add a "Restore backup" option"
**Is your feature request related to a problem? Please describe.**
Ajour already offers an easy-to-use backup system, but no way to restore backups, which has to be done manually.

**Describe the solution you'd like**
It would be great to have a button to automatically unzip and restore the latest backup found.

**Describe alternatives you've considered**
Other approaces include a file picker to l

[2021-02-17 11:04] NathanCrama opened #543 "Automatic backups"
**Is your feature request related to a problem? Please describe.**
Ajour already offers a backup option, but it has to be done manually. It would be great to automate the process.

**Describe the solution you'd like**
A configurable and automatic backup when Ajour is opened. It could be configured to be run every X days, with a maximum number of backups that would delete the older ones (eg. backup

[2021-02-17 12:07] casperstorm commented on #543
We have a [CLI](https://github.com/ajour/ajour/blob/master/CLI.md) where you can actually automate a lot of different aspects of Ajour. Including backup. You can find a few examples in our our [Wiki](https://github.com/ajour/ajour/wiki).

It will quickly become very advanced UI wise to add such automations into the GUI so for now, we will keep it to the CLI.

[2021-02-17 12:07] #543 closed

[2021-02-18 13:43] #539 closed

[2021-02-18 13:46] casperstorm commented on #534
You can blacklist individual WeakAuras in the in-game menu.
Since this is something they are handling, I don't think it make sense Ajour implements it as well.

[2021-02-18 13:46] #534 closed

[2021-02-18 13:53] casperstorm commented on #540
This is not in scope for now.
You would also still need to copy the import string and do the installation manually though the in-game menu, that is not something Ajour can automate, unfortunately.

[2021-02-18 13:53] #540 closed

[2021-02-18 17:44] mlablah commented on #542
@NathanCrama Thank you for suggesting feature.

We have considered adding the ability to restore from backup to Ajour, but we decided against it for a few reasons. The biggest reason being that restoring user data from a backup can be a very delicate operation and we risk destroying (or allowing the user to inadvertently destroy) his/her data.

For example, the user might want to restore only part

[2021-02-18 17:44] #542 closed

[2021-02-19 14:39] mlablah commented on #541
@casperstorm @tarkah If we start down this path, I think we would have to add a system for optional filters in the Catalog similar to what we have for columns.

The search bar would get quite crowded if we start adding one or more filters to it:
![image](https://user-images.githubusercontent.com/68285419/108518079-76609980-72c8-11eb-8ae5-b0104d4bb3fe.png)

@NathanCrama As a workaround you can enab

[2021-02-19 15:01] mlablah commented on #535
Note to others, because it wasn't immediately obvious to me. "arranging" is not referring to the column layout but the ordering of the items in the lists.

@Pantar2205 We intentionally revert the order of the results in the `Catalog` whenever a new search term is input by the user. The list is ordered by a hidden match score, so that the most relevant results are highest on the list. If the user w

[2021-02-22 21:46] #537 closed

[2021-02-24 12:09] thirdletter opened #551 "Ability to view/choose source of addon"
I've run into problems in the past that an addon is available on both curseforge and tukui, but that for example only the tukui source has already updated, and curseforge has not. I currently do not see a way to manually verify/select a source target for the addon to install/update.

[2021-02-24 12:39] thirdletter opened #552 "Ability to update Plater scripts/mods just like weakauras from Wago"
The title of the feature request pretty much sums it up.
Add the ability to update Plater scripts and mods from the wago repository, just like weakauras.

[2021-02-24 23:22] filliph opened #554 "Problem installing add-on via GitHub"
**Describe the bug**
Certain GitHub repositories say "No zip available for $url", even though releases are clearly published and work fine in WowUp.

**To Reproduce**
Steps to reproduce the behavior:
1. Click "Install from URL"
2. Paste in `https://github.com/Mortalknight/GW2_UI`
3. See error

**Expected behavior**
The add-on to be installed.

**Software involved**
Please complete the following in

[2021-02-25 08:01] casperstorm commented on #554
The issue here is that they labeled the release with `*-classic`. Ajour classify this as a classic addon so it thinks theres no retail addon in the release. This is done because quite a few addon creators publish both a classic and a retail version in the same release.

I wonder why he adds `-classic` though, since it's a retail addon 🤔
I am not sure what the right approach here is. Suggestions @m

[2021-02-25 08:59] mlablah commented on #554
@casperstorm I don't think it's mislabelled. It's just that the author isn't posting both versions of the addon in the release tagged "Latest release". Some releases only have a classic asset and some only have a retail asset.

I'm not sure how we can support this release pattern (or if we should). We only look at the release tagged "Latest release". With this addon, the "latest" retail release is

[2021-02-25 09:23] casperstorm commented on #554
@mlablah Yeah, it seems you are right!
I would suggest asking @Mortalknight, the author of GW2_UI, to include both version in every release.
With both version attatched to a release both Ajour (and Wowup) can make the decision of picking the right for either classic or retail.

[2021-02-25 10:08] filliph commented on #554
WowUp handles this release pattern correctly, though. If someone is releasing a new version of a Retail add-on, why would they also include a classic version, when the retail and classic versions have completely different version numbers? That makes no sense.

The better solution, and the solution I suspect WowUp is taking, is to scan releases as far back as is needed until Ajour finds a version t

[2021-02-25 10:40] casperstorm commented on #554
We can ask @jliddev what he does. He might be scanning through releases as you suggest.

It is always a little hard to work with a mono repo (or close to a mono repo as GW_UI is). Currently Ajour does not support that there are "mixed" releases. It could be great to see someone tackle a good solution for it, however. Another example of a (proper) mono repo with mixed releases is [formatjs](https:/

[2021-02-25 10:58] casperstorm commented on #554
@filliph I've changed the labels to a missing feature. I would love Ajour to support a wider range of repos, but with authors doing it in many different ways it has to be thought through. Maybe @tarkah has some idea after reading this in here.

Thanks for opening the issue.

[2021-02-25 11:42] mlablah commented on #551
@thirdletter If an addon wasn't installed through the Ajour catalog we will try to match it against curseforge and failing that, use other id's in the .toc metadata to identify it. If you want to ensure that a certain source is used, you can install the addon through the catalog using the desired source. Ajour will then save the necessary metadata to always match it against that source and look fo

[2021-02-25 14:58] jliddev commented on #554
@filliph WowUp will not work in this case either, we just use the most recent release and check the assets attached to it. Depending on if you're looking for a retail addon or classic you may or may not need a -classic. [Code](https://github.com/WowUp/WowUp/blob/6802e80e5b8ecafa9b9cef2d2c330adc3a894b13/wowup-electron/src/app/addon-providers/github-addon-provider.ts#L199)

The reason we do this is

[2021-02-25 15:08] filliph commented on #554
@jliddev interesting, maybe it only worked for me in the past due to the latest release being a Retail version when I installed it 🤔

[2021-02-25 17:04] tarkah commented on #554
You can read our logic here for selecting which release asset we use depending on flavor:

https://github.com/ajour/ajour/blob/11d984006ff772720b11e444080d11de80a66d11/crates/core/src/repository/backend/git.rs#L149-L191

For classic addons, we will use a `-classic` file if it exists singularly, otherwise we will use whatever zip if it exists singularly. For retail, we only grab zip files without `

[2021-02-25 17:10] tarkah commented on #554
We can change it from

[code]

to

[code]

[2021-03-01 04:23] kiddingbaby opened #555 "Want a button "Redownload" in Catalog."
When failed to download catalog, I really want a button "redownload", instead of waiting "Loading" for a long time.

[2021-03-01 06:40] casperstorm commented on #555
I am wondering why the catalog is failing for you in the first place?

[2021-03-01 11:17] kiddingbaby commented on #555
I have to use the proxy(shadowsocks) to bypass the firewall. When i visit curseforge.com, i must enter a CAPTCHA to proves i'm not a robot.

[2021-03-01 16:31] casperstorm commented on #554
I think what we have is good enough, to be honest.
I'll close this for now.

[2021-03-01 16:31] #554 closed

[2021-03-01 18:33] tarkah commented on #551
@thirdletter We do not support "dynamically" changing which repository an addon links to / gets updates from. As @mlablah mentioned, it's based off which source it was installed on, if installed via our Catalog. If you didn't install it via the catalog, it'll basically try to match to Curse first based on a fingerprint of the addon, then fallback to matching to Curse / Tukui / WowI based on X-Meta

[2021-03-01 18:39] tarkah commented on #555
Hm, we have logic in place to present a "Retry" button when installing the addon via catalog fails. I'm curious why it's not failing / presenting that button.

Does the addon eventually succeed, it just takes a VERY long time to download? Or is it failing and never switching off the "Loading" text? Can you recreate and submit us your log file (you can access the `ajour.log` file from the data dire

[2021-03-02 02:06] kiddingbaby commented on #555
Never switching off "Loading" text , and display: "Failed to download catalog" in the title, but sometimes OK when I switch networks, and here is the ERROR logs.

09:59:08.584 [ajour_core::parse][DEBUG] Retail - parsing addons folder
09:59:08.584 [ajour_core::parse][DEBUG] Classic - parsing addons folder
09:59:08.584 [ajour_core::parse][DEBUG] Retail PTR - parsing addons folder
09:59:08.584 [ajour

[2021-03-02 07:37] qyh214 opened #556 "Part of the text is not displayed"
**Describe the bug**
If wa title or addons name is not English word,for example wa is chinese. will show blank.

**To Reproduce**
Steps to reproduce the behavior:
1. install an Non English characters WA.
2. see my wa

**Expected behavior**
support Non English characters.

**Screenshots**
![QQ截图20210302153507](https://user-images.githubusercontent.com/3896160/109613965-e09cf800-7b6c-11eb-9e52-7d6b6

[2021-03-02 14:43] casperstorm commented on #556
Hmm, I am afraid we cant do anything about this right since our GUI framework [does not support complex characters](https://github.com/hecrj/iced/issues/213).

So until further we are locked by upstream.

[2021-03-02 14:46] casperstorm commented on #555
Ajour is fetching the catalog from here: https://raw.githubusercontent.com/ajour/ajour-catalog/master/catalog-2.0.json
Are you able to view it? I assume that never loads which is then connection to Github.

I really don't know what the best solution here is. Offer to host the catalog somewere else? Ideas @tarkah?

[2021-03-02 14:48] casperstorm commented on #551
I'll close this for now since it is not in our scope to support dynamically changing source.

[2021-03-02 14:48] #551 closed

[2021-03-02 22:03] DarbiiRue opened #557 "Issue Updating"
Ajour is asking to be updated from 0.7.1 to 0.7.2 today. When clicking the update button I get the error: Permissions Issue while updated Ajour

It doesn't give me any further information about what the permission issue is. Figured that it needed Admin to update, which fixed the problem. Just in case anyone else has this issue.

[2021-03-02 22:04] #557 closed

[2021-03-02 22:04] DarbiiRue commented on #557
Just wanted to submit a record of the issue for anyone who runs into this in the future.

[2021-03-03 03:25] kiddingbaby commented on #555
I did a test for ajour.exe by "proxifier".

First, I‘m not add ajour.exe to the proxy rule, to start the ajour.exe, after a time,  ERROR msg "Failed to download catalog" display
in the title, and "Loading" text never switching off.

Then, I add ajour.exe to proxy rule, but i can't change "Loading" text until i restart ajour.exe, This is why I want a "redownload" button, just like "refresh" button

[2021-03-04 08:45] mryanlam opened #558 "Downgrade version of addon"
**Is your feature request related to a problem? Please describe.**
Occasionally an addon update breaks something and it is desirable to install an older version of that one specific addon.

**Describe the solution you'd like**
An option to specify which specific release to install, not just channel

**Describe alternatives you've considered**
A clear and concise description of any alternative solu

[2021-03-10 00:19] Drake356 opened #559 "Addons not showing new updates."
With the release of 9.0.5 breaking almost every addon I was eager to update all of them, but Ajour only had a handful showing updates but checking on curseforge shows that there are updates for some that are not showing on Ajour such as DBM Showing an out of date version when a new one has been on curseforge for over 5 hours now.
https://puu.sh/HnI9b.png
https://puu.sh/HnIa5.png

edit: It seems Wo

[2021-03-12 17:17] tarkah commented on #559
Curse's API is just super slow to update with new releases. I actually experienced this firsthand yesterday as I'm rolling out a new feature here #562 to check for addon updates automatically.

The few addons I installed that JUST had new releases on Curse, took over 5 hours for their API to update. That'll affect all addon managers unfortunately :/

[2021-03-12 17:20] tarkah commented on #558
@mryanlam We've added this to our backlog, but we haven't had much of a chance to discuss it or prioritize it yet.

It would be fairly easy to implement a "rollback" feature, where we always backup the addon before updating it to the new version. Then the user can always rollback to that previous version.

It'd be much more difficult to add the ability to revert to ANY previous version, and I'd ne

[2021-03-12 18:50] tarkah commented on #559
@Drake356 I'm going to go ahead and close this

[2021-03-12 18:50] #559 closed

[2021-03-12 19:18] mryanlam commented on #558
A rollback would be sufficient for the case where an update breaks some functionality.

[2021-03-12 19:20] tarkah commented on #558
Agreed. This will probably be the path we take once we prioritize this, since we can implement it without regard to the various repositories and their capabilities.

[2021-03-12 19:47] tarkah commented on #552
I'm going to start working on implementing this.

[2021-03-13 00:01] fhhelling opened #565 "No fonts displayed."
**Describe the bug**
No fonts can be seen, whether with or without antialiasing.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ajour

**Expected behavior**
Fonts should be displayed.

**Screenshots**
![image](https://user-images.githubusercontent.com/49715820/111010435-d3ff7780-8396-11eb-9830-af32df0482b3.png)

**Software involved**
Please complete the following information:
 - OS: M

[2021-03-13 07:40] casperstorm commented on #565
@fhhelling Try the OpenGL version of Ajour. That should fix the issue: https://github.com/ajour/ajour/releases/tag/0.7.2

[2021-03-13 07:40] #565 closed

[2021-03-13 10:02] RENgOLD opened #567 "A certain addon is not shown in the application"
**Describe the bug**
Addon ["Grounded"](https://www.curseforge.com/wow/addons/grounded) for Classic WoW not present it Catalog (cant find by name) and not shown in My Addons even when i installed it manually.
[ajour.log](https://github.com/ajour/ajour/files/6134502/ajour.log)

[2021-03-13 14:36] casperstorm commented on #567
Thanks for reporting.

Reason it is not showing in in classic catalog is because the author has listed it both as a retail and classic addon, but I think the API is failing because it is only giving us it back as retail. You can see the response here, and switch to retail catalog and find it.

[code]

For now I would suggest you to install it manually. Ill investigate some more later.

[2021-03-13 22:18] Drake356 commented on #559
Alright, I was figuring it had something to do with curse's api since it wasn't just Ajour, just left the issue open just to be sure, thanks for responding though.

[2021-03-15 00:08] tarkah commented on #552
Ok, this has been implemented and in the latest release, 0.8.0-rc.1. Test it out!

[2021-03-15 00:08] #552 closed

[2021-03-15 12:08] kirkwor opened #570 "App crash 0.8.0-rc.1 on WoW Classic at Wago tab"
Firstly, thank you for your work, love the software!

I'm using 0.8.0-rc.1 and it seems to crash on WoW Classic version at Wago tab.

**Describe the bug**
Open Ajour, select Classic and click on Wago, the software crashes instantly, all the other are working ok on the Wago tab.

OS: Win 10
Ajour: 0.8.0-rc.1
Addon: WeakAura 3.2.1-classic

**Log Output**
Just the last bit, if you need more let me kn

[2021-03-15 13:07] casperstorm commented on #570
@kirkwor, thank you so much for reporting this. Will fix this ASAP.
@tarkah do you have time to look at the crash:

https://github.com/ajour/ajour/blob/57f7293395e2049fb6fbfa5b016067c7401b4835/crates/weak_auras/src/lib.rs#L519-L521

I assume if this can fail we need to have a way to bail, or return a `unknown` kind.

[2021-03-15 15:40] tarkah commented on #570
I'll dig into this today. All "auras, profiles, hooks & scripts" that we parse from the SavedVariables lua files will get the AuraDisplayKind. What is probably happening for some reason, is one of the API responses returns something where it's slug is slightly different than what we parsed, so we can't match is up to any `AuraDisplay`, so it's `self.displays` is empty. Which I never intended for,

[2021-03-15 17:05] tarkah commented on #570
@kirkwor can you try the below file? This has the fix from #571 in it and I want to make sure it resolves your issue before merging.

[ajour.zip](https://github.com/ajour/ajour/files/6143182/ajour.zip)

[2021-03-15 17:23] kirkwor commented on #570
@tarkah that seems to have fixed it, works ok now! Cheers!

[2021-03-15 18:23] tarkah commented on #570
Awesome, we will merge this fix for the next release!

[2021-03-15 18:23] #570 closed

[2021-03-16 17:46] senbonsakura opened #573 "0.8.0-rc.1 - Failed to parse Plater Nameplates"
Program fails to load wago tab. After saving Plater.lua as UTF-8 again, program started to work normally.

[2021-03-17 02:38] jppaled opened #576 "Empty ajour folder in %APPDATA% with --data argument"
**Describe the bug**
Even if I pass `--data` argument with the custom path, an **empty** "ajour" folder is created in %APPDATA%

**To Reproduce**
Steps to reproduce the behavior:
1. create a shortcut of ajour.exe
2. add `--data` argument with a custom path
3. save
4. execute the shortcut
5. go to %APPDATA% and you will see an empty "ajour" folder

**Expected behavior**
I expected to not see an ajo

[2021-03-17 19:54] scoiatael opened #577 "Config synchronization between PCs"
I'm playing WoW on multiple PC (macOS laptop, Windows PC, occasionally Linux PC).

Really nice feature of Curse client was ability to synchronize list of addons. I started to think that maybe we could go step further here and synchronize also settings? After all, there's already code to backup both config and addon folders :)

This, of course, requires a backend with some sort of user identity man

[2021-03-17 23:26] tarkah commented on #573
Fixed in #578, releasing 0.8.0-rc.2 now

[2021-03-17 23:26] #573 closed

[2021-03-17 23:28] tarkah commented on #577
We've had this suggested in the past, and we believe there are other tools better suited for this task.

I'd HIGHLY recommend checking out https://syncthing.net/. It's the ultimate tool for syncing folders between devices seamlessly and fairly easily.

[2021-03-18 11:55] casperstorm commented on #577
I think its an awesome idea, @scoiatael and it has been brought up a few times before (https://github.com/ajour/ajour/issues/509, https://github.com/ajour/ajour/discussions/172). However, I agree with @tarkah and think theres better tools for it, syncthing is a good example as he also suggests.
One of the major benefits with Ajour is the simplicity and we try very hard to keep it that way and in t

[2021-03-18 11:55] #577 closed

[2021-03-18 15:06] casperstorm commented on #576
I can reproduce this on MacOS as well. I'll take a look. Thanks for reporting this.

[2021-03-20 01:22] Quiksmage opened #580 "Plater Nameplates Updates"
Hi,
I'm not sure if I'm doing it wrong, but my nameplate updates don't seem to actually take effect. I see them as "update available" and then "completed" after I do the update, but relogging or refreshing after doing so still yields the same update. I thought it may work like weak auras and have an ingame update, but I was unable to locate it. Thanks in advance for taking a look!
![image](https:/

[2021-03-20 15:01] casperstorm commented on #576
I've merged a fix to development. It will be coming out with the next release.

[2021-03-20 15:01] #576 closed

[2021-03-20 15:42] casperstorm commented on #580
I should really make a wiki entry for it, because it's not very clear what to do actually, @Quiksmage.
When you press `Update all` the WeakAuras and Plater scripts gets loaded into the game, but is not yet "applied".

To apply a WeakAura update you switch back to the game and do `/reload` and then `/wa`. Now you'll notice a small Wago symbol on the scripts you prepared in Ajour. Press it and it wi

[2021-03-20 15:42] #580 closed

[2021-03-20 16:06] casperstorm commented on #567
It should be there now. So i'll close this issue.

[2021-03-20 16:06] #567 closed

[2021-03-20 20:10] Quiksmage commented on #580
Hey, thanks for the clarification on updating plater. you should also add in the following. If you have multiple plater profiles, they need to be ACTIVE for you to update them. I had previously found this area, but the update button was greyed out.
![image](https://user-images.githubusercontent.com/12449533/111882250-df900700-8971-11eb-869f-76d0d82cd204.png)
 I didn't think about swapping to the p

[2021-03-23 23:11] gageracer opened #587 "Wago Menu crashes"
**Describe the bug**
When I try to open the Wago menu, the app crashes.
`16:08:18.513 [panic][ERROR] thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: KeyError("Invalid key: sayı")': src/gui/element`

SAYI is the Turkish word for number, I didn't have this issue with .7 version also using it in Turkish.

**Software involved**
Please complete the following information:
 - OS:

[2021-03-24 08:35] sigugo opened #589 "`ajour update` shows no WoW directory is set, when Retail directory is set"
**Describe the bug**
ajour update displays:
09:22:55.097 [ajour][INFO] Ajour 1.0.0 has started.
09:22:55.097 [ajour::command::update_addons][INFO] Checking for addon updates...
09:22:56.379 [ajour][ERROR] No WoW directory set. Launch Ajour and make sure a WoW directory is set before using the command line.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an existing ajour configuration o

[2021-03-24 08:37] casperstorm commented on #589
Just to make sure this is only when running from CLI, correct?

[2021-03-24 08:38] sigugo commented on #589
Only CLI, GUI works fine.

[2021-03-24 08:40] casperstorm commented on #589
Must have slipped when we did the directory migration. Will make a fix for this ASAP.

[2021-03-24 09:09] casperstorm commented on #589
@sigugo It should work now in #590. You can pull it down and build it if you want to test, otherwise i'll try to push a build tonight with the fix.

[code]

[2021-03-24 09:30] sigugo commented on #589
Tested build from `fix/cli-and-multiple-paths` and can confirm it works again.

[2021-03-24 09:35] sigugo commented on #589
Oh and... Thanks!

[2021-03-24 09:35] #589 closed

[2021-03-25 07:42] casperstorm opened #592 "Rename CLI `WeakAura` to `Wago`"
Currently we have `update-weakauras` as seen here: https://github.com/ajour/ajour/blob/master/CLI.md#cli.
The WeakAura screen has however been renamed to Wago in the latest release because we now support Plater as well.

We should rename the cli command to `update-wago` and update documentation also.
Note: we should not remove the old command but just deprecate it for now.

[2021-03-25 07:54] casperstorm commented on #587
I've solved the mystery. The culprit was this key:

https://github.com/ajour/ajour/blob/6b207c0b28b6932928f59f8f49a829a8959d2594/locale/tr.json#L89

This is supposed to be `number`. I am releasing a new version soon.

[2021-03-25 07:54] #587 closed

[2021-03-26 03:17] credomane opened #595 "Sorting catalog with a search term present yields incorrect results."
**Describe the bug**
Sorting catalog with a search term present yields incorrect results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `catalog` tab
2. Enter a search term. For this bug report I shall use `plater`.
3. Using `plater` you have about 25 results.
4. sort the list by `name` in ascending order.
5. `plater` is not in the list of 25 addons anymore plus these addons are not

[2021-03-26 09:23] FlyingHigh83 opened #596 ""Exclude" flag reset on addons in v1.0.0"
**Describe the bug**
In v1.0.0, addons I had set to be excluded had lost this setting. When I exclude them again, the flag resets, possibly when the new version does it's auto-check for updates.

**To Reproduce**
Steps to reproduce the behavior:
1. Run v1.0.0
2. Click on "Exclude" for an addon that has an update available, Status turns from "Update" to "Excluded"
3. Leave application running for s

[2021-03-26 10:07] casperstorm commented on #596
Good catch, @FlyingHigh83.
I have reproduced this and will make a fix. Technically it is still excluded so hitting "Update all" will actually not update it, just so you know until i have a fix out.

[2021-03-26 10:10] FlyingHigh83 commented on #596
Thanks for the giga fast response and the additional insights, looking forward to the fix. Keep up the good work!

[2021-03-26 11:36] casperstorm commented on #596
I have fixed the issue @FlyingHigh83 - I'll push a `1.0.1-rc.2` release today or tomorrow.

[2021-03-26 11:36] #596 closed

[2021-03-26 11:45] casperstorm commented on #595
These closed issues might be relevant for this issue: https://github.com/ajour/ajour/issues/462 https://github.com/ajour/ajour/issues/517.

[2021-03-26 13:58] credomane commented on #595
Ah. If I understand those issues then it almost sounds like, to me, that sorting is happening at the wrong time, imo.

unsorted list is something like enter search term -> score results -> chop list to top 25 -> show them.
sorted list is something like enter search term -> score results -> sort results by selected column-> chop list to top 25 -> show them.

While I'm expecting enter search term ->

[2021-03-26 14:47] casperstorm commented on #595
I agree - we can do some improvements on it. Ill keep this issue open so we can later tag it when its picked up. Thanks for the detailed description as well.

[2021-03-26 16:19] casperstorm commented on #596
@FlyingHigh83: https://github.com/ajour/ajour/releases/tag/1.0.1-rc.2

[2021-03-29 22:14] RENgOLD opened #602 "Sometimes Ajour can't find any installed addons"
**Describe the bug**
Sometimes (i cant find pattern, it really random) Ajour can't find any installed addons (classic and retail).
Log file in attachments.
[ajour.log](https://github.com/ajour/ajour/files/6224849/ajour.log)

[2021-03-30 06:45] casperstorm commented on #602
Seems to be your connection failing:

[code]

Do you have any network ad-blockers? And what DNS are you using? The problem is on your end to the curse server.

[2021-03-30 12:37] Dazanus opened #604 "Wago section - hitting refresh with Norwegian language set crashes Ajour"
**Describe the bug**
Wago section - hitting refresh with Norwegian language set crashes Ajour

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Wago'
2. Click on 'refresh (oppdater - translation)'
3. Crash

**Expected behavior**
It works with language set to English

**Screenshots**
N/A

**Software involved**
Please complete the following information:
 - OS: win 10
 - Ajour version: 101

[2021-03-30 12:40] casperstorm commented on #604
Good catch. I'll fix this ASAP.

[2021-03-30 16:05] #592 closed

[2021-03-30 16:59] glls opened #607 "Cannot build on Apple M1"
**Describe the bug**
Getting compiler errors when trying to build on Apple M1

**To Reproduce**
Steps to reproduce the behavior:
1. clone the reporitory
2. run `make app`

**Software involved**
Please complete the following information:
 - OS: MacOS 11.2.3
 - Ajour version: latest master (varsion 1.0.1+)

**Log Output**
[code]

[2021-03-30 16:59] Dazanus commented on #604
Thanks!

[2021-03-30 17:32] casperstorm commented on #607
This is a upstream issue with winit and iced.

Will update packages when possible. Nothing we can do for now, unfortunately.

[2021-03-30 18:58] casperstorm commented on #397
You can use a .ps1 script to make wrap it with tray support:
https://github.com/ajour/ajour/wiki/Adding-System-Tray-capabilities-to-Ajour-with-PowerShell-script

[2021-03-30 20:25] casperstorm commented on #604
`1.1.0-rc.1` is out if you select `Beta` in `Ajour Update Channel`. Thanks for reporting it.

[2021-03-30 21:29] sedlund opened #609 "Tomcat's Tours update doesn't register"
**Describe the bug**
Always asks to update TomCat's Tours

**To Reproduce**
Steps to reproduce the behavior:
1. open ajour
2. see it wants to update TomCat's Tours
3. click update all
4. it updates
5. close Ajour
6. open Ajour
7. Says it wants to update TomCat's Tours

**Expected behavior**
Ajour should know its updated already.

**Screenshots**
If applicable, add screenshots to help explain your

[2021-03-31 05:33] casperstorm commented on #609
Yes, @mlablah is spot on. I just tested on a empty `Addons` folder and had no problems updating:

When launching it detects a new version.
<img width="793" alt="Screenshot 2021-03-31 at 07 29 27" src="https://user-images.githubusercontent.com/2248455/113095073-204e1280-91f3-11eb-8f66-fde5786eadb7.png">
After update, and re-open:
<img width="793" alt="Screenshot 2021-03-31 at 07 29 37" src="https:/

[2021-03-31 05:33] #609 closed

[2021-03-31 12:05] RENgOLD commented on #602
google DNS (8.8.8.8/1.1.1.1) and only browser-side ad-blockers (plugins)

[2021-03-31 15:37] casperstorm commented on #602
All right. I can't really debug it any further since it's between your network and Curse, however you can try to cURL the command and see if you can find any patterns:

[code]

[2021-03-31 15:37] #602 closed

[2021-03-31 15:43] casperstorm commented on #556
I'll be closing this since we are keeping an eye on it from this PR: https://github.com/ajour/ajour/pull/518.

[2021-03-31 15:43] #556 closed

[2021-03-31 15:57] casperstorm commented on #607
What you can do is bump the `iced` version in Cargo.toml from `0.2.0` to master head. That is running `0.24.0` of winit [which is able to build on Apple M1](https://github.com/rust-windowing/winit/issues/1789#issuecomment-742597740).

That is however not a solution we can use because then we can't release new version to crates.io.

I have made a issue at iced: https://github.com/hecrj/iced/issues/

[2021-03-31 20:49] casperstorm commented on #607
Try building PR #610 and see if it helped. I bumped to the newly released Iced version.

[2021-03-31 21:48] glls commented on #607
It builds fine after 'gh pr checkout 610` as you suggested, and it runs without problems.
Thanks a lot @casperstorm.

[2021-04-01 05:13] #607 closed

[2021-04-02 09:25] LenweSaralonde opened #611 "Synchronize add-ons from Git repo"
As an add-on developer, I want to be able to safely synchronize my add-ons from the git repository in Ajour without losing any WIP.

If a `.git` folder is present in the add-on folder and the `git` command is available on the system:
* Add "Git &lt;remote branch name&gt;" to the Release channel selector (using `git branch -r`). The current git branch is selected by default.
* Check if an update is

[2021-04-03 08:33] casperstorm commented on #611
Thank you for the suggestion, @LenweSaralonde.
However, I don't believe Ajour should be managing a git repo. What I would suggest is to use symlink and then exclude the addon in Ajour. That is what I do when developing addons.

[2021-04-03 08:33] #611 closed

[2021-04-03 09:50] LenweSaralonde commented on #611
So, maybe exclude by default add-ons that have a .git .svn or .hg folder ?

[2021-04-06 10:25] lukzmu opened #613 "MacOS Big Sur compliant icon"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
As `BigSur` is out for quite some time, it would be nice to make the `Ajour` icon compliant with the MacOS guidelines. Many other applications have done that eg. Discord, Slack, Github Desktop, 1Password etc.

The app looks strange as compared to other applications on the dock.

**Describe

[2021-04-06 13:33] casperstorm commented on #613
We did actually spend time on updating the Ajour logo specifically for Big Sur. [You can see both here](https://github.com/ajour/ajour/tree/master/resources/logo/1024x1024).
The [HIG for Big Sur icons](https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon) states that:

If we take a closer look at the below image we see all four apps having the rounded-recta

[2021-04-06 13:37] lukzmu commented on #613
I can see the commit was on November 2020, although when I open Ajour on macOS, this is how the icon appears.

<img width="86" alt="Screenshot 2021-04-06 at 15 34 57" src="https://user-images.githubusercontent.com/80778518/113719303-c31ff880-96ed-11eb-9b62-c3ac8f8d333b.png">

[2021-04-06 13:43] casperstorm commented on #613
In order to update from the old icon to the new you need to re-download the .app again. We only update the binary when you update though the in-app updater. You can [download it from here](https://github.com/ajour/ajour/releases/tag/1.0.1).

The icon bundled within the .app file, which you can see [here](https://github.com/ajour/ajour/tree/master/resources/osx/Ajour.app/Contents/Resources). It doe

[2021-04-06 13:56] lukzmu commented on #613
Re-downloading the application solved the issue. Thanks!

[2021-04-06 13:56] #613 closed

[2021-04-06 14:00] casperstorm commented on #613
Enjoy, hope you the icon fits better onto your bar :)

[2021-04-06 20:57] tarkah commented on #595
Why would we want to chop down the list to 25 BEFORE sorting? We will never see the bottom results when sorting by Descending on a column.

Think of the # of results in the same context as pagination. Filtering / sorting doesn't occur within the context of the current page, it happens on the entire result set. Then you page over the results in whatever sorted order.

[2021-04-06 23:51] credomane commented on #595
I think your logic is a little faulty there. If the total results are more than 50 before displaying only 25 of them. Then sorting any column in either direction we'll never be able to see the ones in the middle, either.

If there was a way to `page over the results in whatever sorted order` in ajour then I'd agree that this is how the sorting of the results should be done and this ticket would ne

[2021-04-08 17:39] tarkah commented on #595
@credomane Thanks for the detailed explanation. I think our implementation is fine, but I agree it is slightly confusing in presentation. We should indicate, as you mention, that its only displaying 25 out of X total addons.

And it is sorting by title properly, it's just that sorting goes from A-Za-z (we can sort on lowercase to fix this)

[2021-04-08 19:27] credomane commented on #595
I figured out why it was confusing me so much.  I thought I had the screenshot sorting ascending but it is actually sorting descending. I didn't catch on to that and was wondering why they were in semi-random order. It was so obvious what the deal was today I dunno why I didn't notice that yesterday.

[2021-04-09 06:25] monochrony opened #618 "Local version number for specific addon always stays the same"
**Describe the bug**
The addon TomCat's Tours is always shown with local version number 2.0.31. Ajour tells me there's an update on every start/refresh. Updating the addon via Ajour still seems to work alright. version_info.lua of TomCat's Tours correctly states the latest version number (2.2.16 as of now).

Deleting the Addon (including SavedVariables) and redownloading via Catalog as suggested i

[2021-04-09 06:38] monochrony commented on #618
Oh boy, I just solved the issue myself by deleting just about every TomCat's Tours addon except the core one. It seems all extensions are now integrated into TomCat's Tours itself. Legacy extensions seem to interfere with correctly reading the version number.

[2021-04-09 06:38] #618 closed

[2021-04-09 22:08] Drake356 commented on #397
This is pretty big and awesome. This should definitely be linked on the main github page and website because it pretty much makes the auto update feature usable and useful to most of us that like to keep inactive or background programs on the system tray and keep more active programs on taskbar.

[2021-04-09 22:25] tarkah commented on #397
@Drake356 heads up, we are rolling out an official sys tray for Ajour. See here #615. There's a couple small upstream blockers but hopefully we can rollout in the next couple weeks.

[2021-04-12 11:07] stijnherreman opened #619 "Update from 0.7.2 to 1.0.1 fails"
**Describe the bug**
Trying to update from 0.7.2 to 1.0.1 fails and and does not gracefully undo the update attempt. Previous automatic updates always succeeded.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ajour 0.7.2
2. See 'New Ajour version available 0.7.2 -> 1.0.1' and click the Update button
3. See 'Failed to update Ajour'
4. Additional attempts by clicking the 'Failed' button,

[2021-04-12 13:01] casperstorm commented on #619
So you need to run `ajour.exe` and remove all the `tmp*_ajour.exe`.
Also, you need to make sure you run it from a place you have write permissions, %APPDATA% or your desktop.

Let me know if that helps.

[2021-04-12 13:06] stijnherreman commented on #619
The original `ajour.exe` was gone, as seen in the second screenshot.

I do have write permissions. The process was able to download the updated version, and all other times the update mechanism worked fine.

A race condition seems plausible, but I haven't looked at the code.

[2021-04-12 13:12] casperstorm commented on #619
So you ran `ajour.exe` initially which then later, during the update process disappeared?  Also you had a `tmp2_ajour.exe` there meanwhile? `temp2_ajour.exe` seems to be from last month.

From the logs you posted it seems like the Ajour application it tried to open (the downloaded 1.0.1) was already in use, properly because of name collision:

[2021-04-12 16:18] tarkah commented on #619
So the way the update process works is as follows:

1. Download the newest release as `tmp_ajour`.
2. Rename the current running process as `tmp2_ajour`
3. Rename `tmp_ajour` (the new binary) to `ajour` (or whatever the original process was named, if renamed)
4. Launch `ajour` and exit current process
5. When the new `ajour` launches, it'll cleanup `tmp2_ajour` if it exists in the folder.

It's *p

[2021-04-15 18:35] mistersister opened #622 "UX Improvement: Mouse movement distance"
I think the Website, Changelog, Exclude and Delete buttons on your installed addons are way out of hand and requiere quite big mouse movement. This is specially frustrating when using 21:9 or high-res monitors or even with a regular 1080p monitor and Ajour in fullscreen

An easy fix would be to just move those elements right below the addon info section. Right below the release channel dropdown me

[2021-04-16 00:45] Altoholic opened #623 "very minor visual annoyance (not even a bug]"
**Describe the bug**
The local versions and the latest versions differ visually, but they are in fact the same.

**Expected behavior**
Versions numbers should be complete, to avoid confusion.

**Screenshots**
https://imgur.com/a/0jw5BLx

**Software involved**
Please complete the following information:
 - OS: "Windows 10"
 - Ajour version: 1.1.0
 - classic WoW

[2021-04-16 06:58] casperstorm commented on #623
Hmm this looks strange, do all addons have a source? They should be the same, actually. Take a look at my screenshot below:

<img width="406" alt="local-latest" src="https://user-images.githubusercontent.com/2248455/114984269-d8d1b280-9e91-11eb-988d-aae471037c81.PNG">

[2021-04-16 23:05] Altoholic commented on #623
Oh, it's not addons, it's WA. My bad, i forget to precise that point.

[2021-04-17 07:57] mrkhaglund opened #624 "Multible instance of Ajour in systemtray"
If you choose to let Ajour start to system tray automatically when windows starts and then start ajour manually, you get several Ajour instances in the systemtray

Ajour 1.1.0
Windows 10 20H2, OS Version: 19042.928

[2021-04-18 09:31] casperstorm commented on #624
We allowed multiple instances initially to support using Ajour with multiple WoW directories, however that is support now and with the introduction of System Tray support I agree that this is indeed a little confusing.

@tarkah did you research this subject?

[2021-04-18 09:50] casperstorm commented on #622
I like having it to the right for a few reasons. It aligns well with the other buttons, such as update, and and it creates a better overall weight when looking at it. It quickly becomes too heavy if everything was left aligned.
Another issue we had when it was left aligned was that "Delete" suddenly became something you should avoid pressing because it was right in the middle of everything.

In my

[2021-04-19 17:22] tarkah commented on #624
@casperstorm I've got some ideas. I'll try to tackle this week.

[2021-04-20 09:01] behhNa opened #625 "Backup-button / Settings: custom sort"
Hi,

since I use Ajour I don't do my addon backups manually anymore.
With more and more features the "Backup Now"-button is moving to the bottom on the settings panel.
Is it possible to put the button in the top-bar? Maybe right so the "Settings"-Button?
Or, if thats not a good solution, to get a custom sorting in the settings panel? Themes and directories for example aren't changed that often, so

[2021-04-20 16:39] casperstorm commented on #625
I am a little confused because you say:

But then it sounds like you do in fact press it manually:

So if I understand the suggestion/question correctly you regularly go to Settings and make a backup of your addons, and you find it cluttered in there because of all the settings. If that is the case, I would suggest you to take a look at [CLI.md](https://github.com/ajour/ajour/blob/master/CLI.md).

[2021-04-20 16:39] #625 closed

[2021-04-20 16:39] #622 closed

[2021-04-20 16:43] behhNa commented on #625
Thanks for the response.
With manually I meant that I zipped my folders (interface/wtf) on my own.

[2021-04-20 19:54] SpareSimian opened #626 "Need documentation for addon authors"
What must I do to prepare [my addon](https://github.com/SpareSimian/ListDailies) for Ajour? I've got one on GitHub. What steps do I follow to make it Ajour-friendly?

[2021-04-20 20:28] AcidWeb commented on #626
Most sane approach is using https://github.com/BigWigsMods/packager + GitHub Actions. That way you can automate creating
 the release package and upload it to multiple sources simultaneously.

Output of that packager uploaded as GitHub release is enough to be supported by Ajour and other third party addon updaters.

[2021-04-20 20:35] mlablah commented on #626
@SpareSimian: AcidWeb has already provided a succinct recommendation, but in case you want the nitty gritty of what needs to be done and why, here's a more verbose explanation.

If a user adds an addon to Ajour via the "Install from URL" action, Ajour will look for the `release` marked as `latest release` on that repo.
If that release has a zip file asset, Ajour will download and extract it to the

[2021-04-21 06:47] #626 closed

[2021-04-21 16:20] SpareSimian commented on #626
Thanks! I gathered both comments and added them to the wiki.

[2021-04-23 04:38] bloodstrike opened #627 "Classic add-on installed from Curse identified as Retail add-on from WoWI"
**Describe the bug**
Fishing Buddy (Classic) version 0.7.3 beta 10 from CurseForge is identified as retail Fishing Buddy and tries to update to 1.16 on WoWInterface

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog
2. Install 'Fishing Buddy (Classic)'
3. Go to 'My Addons'
4. Ajour wants to update Fishing Buddy to 1.16 retail.

**Expected behavior**
Ajour needs to know the differe

[2021-04-23 06:47] fvilers commented on #627
It also happened to me this morning with one of these addons:

![image](https://user-images.githubusercontent.com/1009621/115830370-7b4ce100-a410-11eb-8b37-fa09f7f60be3.png)

[2021-04-23 07:01] casperstorm commented on #627
We had API issues this morning, can both of you try again now? It just got resolved here 2 minutes ago.

[2021-04-23 07:02] fvilers commented on #627
How do you want us to retry ? Uninstall everything and reinstall ?

[2021-04-23 07:05] casperstorm commented on #627
It should be enough to just press refresh. Issue was that all hashes from Curse was not working because of API 😞

[2021-04-23 07:22] fvilers commented on #627
Not sure if the issue is resolved as I still have some UI errors when loading the game. I didn't had them yesterday but this might be caused by the addon code itself.

Is it normal to have some addon with a *.toc file containing `## Interface: 80200` ?

[2021-04-23 08:34] Bl4ckthunder opened #628 "Ajour removes Addons on its own when Addon removed from Curse(?)"
Hi,
to bad i realized to late, so i cant give an Log when it probaly happened.
But when i logged in today a Addon just vanished. After Checking it got removed from Curseforge.
Im 101% sure i didnt delete it myself.
So it could only done by Ajour.
Trying to find a backup of that addon and try to see what happens, but yet not successfull.
So i open this ticket so you can have a look at it?

Thx

[2021-04-23 08:50] casperstorm commented on #628
This morning there was an issue with Curse API. It should be resolved by now, however.
Ajour removes addons if you either press delete or if you have a addon which eg. consists of 3 folders: `[foo-a], [foo-b], [foo-c]` and then an update groups them together into `[foo-abc]` then it will remove the old once during the update.

So, unless either of those two things happen then it was not Ajour. 🙂

[2021-04-23 08:51] casperstorm commented on #627
Well, that is up to the addon developer to choose what Interface they wanna target. It is not always they remember to update it however.

[2021-04-23 08:54] fvilers commented on #627
In fact, I thought that 80200 is like version 8.02.00 which is way too higher for WoW Classic (and would be causing issue).

[2021-04-23 08:59] Bl4ckthunder commented on #628
Well, last week the Addon was still working. Since then i just updated All addons with ajour, today i login, and it was gone.
It was https://www.curseforge.com/wow/addons/minimap-button-frame-fan-update , which is now gone why ever.
The Addon calls 3 Folders, Its Main Folder and 2 Skin Folders, the 2 Skin Folders still existed. But i guess thats not a case with [foo-abc]
The original Addon doesnt

[2021-04-23 09:00] casperstorm commented on #627
I just tested with Nova World Buffs as well, which is also now fixed so I assume it is working again.
Regarding `Interface` then these are the newest:
Burning Crusade: `20501`
Classic: `11306`
Retail: `90005 `

[2021-04-23 09:01] casperstorm commented on #628
Reopen, or ping me if something similar happens again, @Bl4ckthunder.

[2021-04-23 09:01] #628 closed

[2021-04-23 13:05] bloodstrike commented on #627
Looks like everything is working correctly and identifying the correct addons this morning. Thanks for looking into it so quickly

[2021-04-23 13:27] #627 closed

[2021-04-25 02:13] ascott18 commented on #316
@casperstorm any thoughts on @Caerdon's suggestion of just checking for a `.git` folder? I believe this is what the old Curse Client/Twitch Client did to detect developer copies of addons.

With 4+ different WoW installs (retail, retail PTR, classic, TBC beta) for a person who has 10+ addons, this would be really, really nice to have.

[2021-04-26 09:27] casperstorm commented on #316
That could work, @ascott18. Will put it on my todo list and take a look at it later.

[2021-04-27 15:42] tarkah commented on #624
This has been fixed and will be in the next release.

[2021-04-27 15:42] #624 closed

[2021-04-28 03:32] samueldcorbin opened #631 "Failed to unpack addon"
**Describe the bug**
Not sure if this is a problem on Ajour's or Townlong Yak's end, but the most recent version of Venture Plan fails to install. Downloading the addon from the website manually seems to work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to update Townlong Yak's Venture Plan to 4.15a or install 4.15a from the catalogue

**Expected behavior**
Should unpac

[2021-04-29 20:08] tarkah commented on #631
@samueldcorbin We use the wowup.hub API which has addons / links for TownlongYak. We saw this same problem a few days back, were the wrong download links were in the API, which didn't resolve to the actual addon zip file.

So currently we are at the mercy of things getting fixed upstream with that API. Is this still a problem or does it work now?

[2021-04-29 20:48] GurliGebis commented on #631
Still broken

[2021-04-29 20:59] samueldcorbin commented on #631
Yes, still broken.

This is Townlong Yak's actual API: https://www.townlong-yak.com/addons/about/update-api

[2021-04-29 21:18] tarkah commented on #631
@samueldcorbin We're aware of the official API. Unfortunately it's not really user friendly to work with from a client application. The creator of WowUp.Hub has integrated with the API already and is keeping his database in sync. So for now, we are just waiting for the download links to get fixed.

[2021-04-29 23:31] samueldcorbin commented on #631
I am not really sure I understand what is user unfriendly - the API looks straightforward to me.

I was going to put in a ticket with WoWUp, but can't find anything involving Hub. Is the author aware of the problem?

[2021-04-29 23:52] tarkah commented on #631
Yeah he should be aware of the problem. Thanks!

The problem with that API is that we can't directly query it for the latest release of a specific addon. For curse, tukui, wowi.. each addon has an ID associated to that source. You can query the source for that specific ID, and get the current latest version of the addon and download link to it. We can then compare that remote version to the local

[2021-04-30 00:24] samueldcorbin commented on #631
Looking at the API, the main problem I see is getting the initial list of addons - it doesn't look like there's any way to get an actual list of addons, and the documents even specify that the project identifiers (like "venture-plan") are not guaranteed to be stable.

But I'm not seeing what you mean about updating via the API. It looks a little bit obnoxious, but it doesn't look like you need to

[2021-04-30 06:06] casperstorm commented on #631
I currently cant reproduce this. I just installed all of them, and the whole process went fine so I assume the dead URLs has been resolved.

[2021-04-30 08:46] samueldcorbin commented on #631
I am still getting "Failed to unpack addon" when I try to install Venture Plan.

[2021-04-30 10:08] casperstorm commented on #631
Hmm that's strange. I just installed it on my MacOS as well, does the other addons work from Yak?

[2021-04-30 10:13] samueldcorbin commented on #631
No, every one gets stuck at Unpacking, with "Failed to unpack addon", and the log has an error for each attempted unpack too.

[2021-04-30 10:46] layday commented on #631
What happens when the user has installed a new add-on from TY while there were updates pending for installed add-ons?  If you replace the token you might skip over updates.  If you don't replace the token you might end up performing spurious updates.  If you store multiple tokens then you need to map them to add-ons.  If you update previously-installed add-ons when installing a new add-on you'd ne

[2021-04-30 11:45] samueldcorbin commented on #631
Ah, I checked and you're right, the "fv" value is not guaranteed to match the TOC Version value.

It looks like you do have to just associate a bundle token with each addon - so you have to save a whole two values for each addon: the persistent identifier and the bundle token its most recent update is associated with. But the logic is still straightforward: you just recurse through the bundle toke

[2021-04-30 14:05] layday commented on #631
I'm not an Ajour dev, sorry if I've given off that impression - just the author of another add-on manager who was faced with the same dilemma and went with the WowUp Hub API.  So far we've found that to support the native TY API, one would have to:

* Hardcode the TY add-on IDs which are apparently not stable
* Forgo versions, publish dates and changelogs on first install and fudge the version num

[2021-04-30 14:46] samueldcorbin commented on #631
Sorry, I meant the generic "you" if that was unclear.

Yes, you would have to do those things. Ultimately _someone_ has to do those things either way - right now it's just being offloaded to a dependency (one that requires an external, active service to remain up and functional, and breaks if there's every a problem, like right now). And none of those things are that bad! Having to implement diffe

[2021-04-30 15:40] layday commented on #631
The logic is not complicated _in isolation_.  When you have to do everything on that list to get one API with only a handful of add-ons sort of working, the wrapper API begins to sound very appealing.  I appreciate where you're coming from - I don't like layering abstraction upon abstraction -  but I am simply not motivated to do all of the work required and I don't think the Ajour folks are eithe

[2021-04-30 15:43] AcidWeb commented on #631
As maintainer of CurseBreaker I agree with the above statement. Work needed to fully and correctly implement his API is simply not worth the effort.

[2021-04-30 15:57] samueldcorbin commented on #631
Would Ajour be open to a pull request? If I have some time in the next couple of weeks (which is decidedly 50/50), and I can find a way to get a list of addons, I can probably stomach enough Rust to write it.

It is an annoying API for sure, and it ought to be easier, but it isn't, and that looks unlikely to change. The author could publish to GitHub, but it doesn't seem that they will. We can is-

[2021-04-30 16:55] casperstorm commented on #631
You are welcome to take a stab and make a PR. That is one of the reasons we are open source.

[2021-04-30 17:07] samueldcorbin commented on #631
Great! I asked only because I didn't want to spend the time on a PR for an approach you had already decided you'd definitely reject.

The next couple of days are going to determine how busy I am for the next few months, but I'll see if I can take a swing at it.

[2021-04-30 17:23] tarkah commented on #631
I think as long as it's well thought out and conforms well with the flow of our program, I don't see any reason we would reject it.

A few places to help point you in the right direction...

- All of our backends implement the `Backend` trait

https://github.com/ajour/ajour/blob/9093ddd0160a5dcc2493c413132cef0f338339f1/crates/core/src/repository/backend/mod.rs#L19-L28

- However, for efficiency an

[2021-04-30 17:45] samueldcorbin commented on #631
That is very helpful, thanks.

Right now the catalog problem seems to be that you just can't query for a list of addons at all. And if there isn't some way to do that, or the author is unwilling to add one, then I'm not going to bother - I am not interested in maintaining a list of hardcoded paths because the author is _that_ stubborn. And if there is a way, then I don't see why it would be a prob

[2021-04-30 18:55] samueldcorbin commented on #631
Installation should be pretty trivial, as long as we can actually get a list of the paths - it doesn't require walking the bundle tokens (you don't have a bundle token _to_ walk from when you install the first addon!). And then we just store the bundle token as metadata for each addon install.

Then the repo should be simple. On the first update check, start from the associated bundle token, walk

[2021-05-04 05:20] peavers opened #634 "Crashes video drivers and fails to load"
**Describe the bug**
When starting Ajour it crashes out before the client screen loads, when this happens it also causes my desktop to flicker and WoW client to crash. I've tried both the standard build, as well as the OpenGL build. Both have the same experience hence I'm not sure it relates to https://github.com/ajour/ajour/issues/453.

I can see mentions of the Vulkan driver in the logs, but sho

[2021-05-04 09:51] fvilers opened #635 "Latest version of Attune addon is "-" instead of version number"
**Describe the bug**
Ajout cannot determine latest version of [Attune](https://www.curseforge.com/wow/addons/attune) when already installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Attune with Ajour
2. Refresh list of installed addons
3. Filter on "Attune"
4. Latest version of "Attune" is `-`

**Expected behavior**
Expected to see the latest version (1.13.7.200 atm)

**Screen

[2021-05-06 06:31] casperstorm commented on #634
It unfortunately looks like it is related to https://github.com/ajour/ajour/issues/453 which is a upstream issue.
Are the GPU drivers updated?

[2021-05-06 06:34] casperstorm commented on #635
Can you try to delete it, and install it again from the catalog?
I can't seem to reproduce it.

![attune](https://user-images.githubusercontent.com/2248455/117252067-c4a42400-ae45-11eb-9ba7-f35179975e84.PNG)

[2021-05-06 07:10] fvilers commented on #635
This is exactly what I've done when I reported the bug but as of today I can't reproduce it too. Thanks !

[2021-05-06 07:10] #635 closed

[2021-05-06 15:10] casperstorm commented on #623
I see, this is unfortunately not something we can do anything about. It is related to the data we are getting from the API. :-(
However, I see the "problem" and now I can't unsee it as well. Haha.

[2021-05-06 15:10] #623 closed

[2021-05-06 15:10] #619 closed

[2021-05-06 15:12] casperstorm commented on #558
I'll close this issue for now, because the API does not have sufficient information to be able to do this for all addons.
Few addons has the information, but the majority won't so it will be confusing why some can, and some can't and because of this I think its best not to focus on this feature right now.

[2021-05-06 22:58] KyleCRat opened #636 "Automatic daily / hourly Backups"
**Is your feature request related to a problem? Please describe.**
I've had my saved variables folder get corrupted a couple times, and having ajour backups has been a life saver. but I'm still missing the few weeks of tweaks I've done since I remembered to do a backup.

**Describe the solution you'd like**
A option to select automatic backups. maybe Daily, hourly, or wow close. Allow me to select

[2021-05-06 23:52] tarkah commented on #636
@KyleCRat Thanks for opening the issue! We've had this feature requested in the past #543 and decided against implementation of this since we provide this functionality over command line.

We provide the backup feature over command line ([CLI docs](https://github.com/ajour/ajour/blob/master/CLI.md)), which can be easily automated. For Windows, if you reference the [wiki entry for addon updates](ht

[2021-05-06 23:52] #636 closed

[2021-05-07 01:01] KyleCRat commented on #636
@tarkah That wiki shows that you also had this functionality for auto updating addons, but saw the value in implementing that feature into the core of the application still. What is the reason behind not feeling that same update for backups would be valuable?

[2021-05-07 21:45] tordenflesk opened #637 ""Theme alreacy exists with that name""
**Describe the bug**
Unable to import theme, "theme already exists with that name"

**To Reproduce**
Steps to reproduce the behavior:
1. https://theme.getajour.com/?theme=%7B%22name%22:%22KTZ%22,%22palette%22:%7B%22base%22:%7B%22background%22:%22#d6d7d2%22,%22foreground%22:%22#d6d7d2%22%7D,%22normal%22:%7B%22primary%22:%22#808080%22,%22secondary%22:%22#434343%22,%22surface%22:%22#434343%22,%22erro

[2021-05-07 22:02] tarkah commented on #637
Make sure to change the "name" before clicking copy and trying to import to Ajour. You have a theme imported which already has that name.

![image](https://user-images.githubusercontent.com/10239377/117511936-7aa16800-af43-11eb-9ebf-d221032aaaa5.png)

If you need to delete a theme you imported, you can open the Data Directory from within settings. There is a theme folder you can open and delete th

[2021-05-11 10:56] waytoomuchgaming opened #638 "[minor annoyance] [catalog] updates with no actual update"
**Describe the bug**
Sometimes, in the catalog, you see an addon have been updated, but when you check it, it's only the shadowlands/TBC/whatever version who have been updated, not the Classic one.

**Expected behavior**
Updates filtered so i can make visible only the ones i care for (eg: Classic).

**Software involved**
OS: Windows 10
Ajour version: 1.1.0

[2021-05-11 11:10] #637 closed

[2021-05-12 11:19] waytoomuchgaming opened #639 "[follow list]"
**Is your feature request related to a problem? Please describe.**
As a heavy addon user, i tend to follow a lot of projects, but not using them. To avoid massive amounts of charging and updating time, i put them in the follow list of Curse.
But Curse is a mess, and not all addons are there.

**Describe the solution you'd like**
Another tab, optional (disabled by default), where i can put projects

[2021-05-19 15:32] DavidBabel opened #640 "Manage Addons for TBC Client"
**Is your feature request related to a problem? Please describe.**
Manage Addons for TBC Client

**Additional context**
I think it's intended, but will ajour be ajour for TBC Classic ?

[2021-05-19 15:38] casperstorm commented on #640
We plan to have a release ready today: https://github.com/ajour/ajour/pull/629.

[2021-05-19 22:30] tarkah commented on #640
This has been released!

In order to get it you have to opt-in to beta builds from Settings:

`Settings -> Ajour Update Channel -> Beta`

Then it should show an update available for 1.2.0-rc.1

Or download from:

https://github.com/ajour/ajour/releases/tag/1.2.0-rc.1

[2021-05-19 22:30] #640 closed

[2021-05-20 07:44] LuckyCire opened #642 "Separate Burning crusade Classic and Classic era addons"
It is not possible at the moment to download/update addons for TBC Classic version of the game. Only Retail/Classic are available, while some addons now have already released separate updates for TBC and classic era.

Ajour should have a "TBC Classic" option on his scrolling menu, next to "Classic" and "Retail".

[2021-05-20 07:51] yaparadox commented on #642
update to beta ajour

[2021-05-20 08:03] LuckyCire commented on #642
Thank you, I will close this issue then.

[2021-05-20 08:03] #642 closed

[2021-05-23 02:35] Altoholic opened #645 "[minor Bug][Classic ERA] addon with incorrect Source"
**Describe the bug**
"Movement Speed" addon have "unknow" source, despite having been installed via Ajour (via Curse).

**Expected behavior**
Source should be "CurseForge"

**Software involved**
 - OS: Windows 10
 - Ajour version: 1.2.0
 - Classic ERA

[2021-05-23 11:29] casperstorm commented on #645
I can reproduce it, ill take a look. Thanks for reporting, @Altoholic.

[2021-05-23 17:09] olepg opened #647 "[Missing addon][bcc] Raven not appearing"
Hi

I'm unable to use Ajour to update Raven, through curse source or github:

https://www.curseforge.com/wow/addons/raven
https://github.com/Tojaso/Raven

I'm not sure what the issue is, but I suspect there is a issue with either the uploader or this software.

[2021-05-24 17:34] tarkah commented on #647
Thanks for opening the issue! I've dug into this and there's a couple issues causing things to fail:

- For curse, the author is publishing 1 release and tagging it to all 3 flavors (retail, tbc classic and classic). Unfortunately with how their API is setup, we can only associate the release to 1 flavor, in this case retail. The author needs to publish separate releases, tagged individually for e

[2021-05-24 17:36] tarkah commented on #645
@Altoholic we've identified the underlying issue and are waiting for it to get fixed in the upstream API.

[2021-05-24 21:33] casperstorm commented on #645
Upstream issue is fixed, @Altoholic. Please check if the issue is fixed, otherwise reopen.
I've just confirmed it works on my end.

[2021-05-24 21:33] #645 closed

[2021-05-25 00:21] Altoholic commented on #645
Working as intended :)

[2021-05-29 09:50] waytoomuchgaming opened #648 "[Classic ERA] Delete SavedVariables don't always delete"
**Describe the bug**
Sometimes previous configuration of an addon stay, despite the option "Delete SavedVariables when deleting  addons" being checked.
I suspect the fact that .bak files are not deleted maybe have something to do with that.
It's not 100% reproducible, tho.

**Software involved**
Please complete the following information:
 - OS Windows 10
 - Ajour version: 1.2.0
 - Classic ERA 1.13

[2021-06-02 06:30] waytoomuchgaming opened #649 "[Classic ERA] no addon detected"
**Describe the bug**
Sometimes, Ajour don't find any addon (i have around 50 of them).
After some time, and multiple closing/reopening Ajour, it works again.

**Screenshots**
![Untitled0](https://user-images.githubusercontent.com/336778/120434408-be3d9500-c37c-11eb-882d-b745aa5eb334.png)
![Untitled](https://user-images.githubusercontent.com/336778/120434012-348dc780-c37c-11eb-8d8f-7aa6227f2dbe.png

[2021-06-02 06:32] waytoomuchgaming commented on #649
As it take some time to "fail", i guess addons not found are not the ones on my computer, but the ones online.

[2021-06-02 06:41] casperstorm commented on #649
It sounds like an upstream issue with one of the API's. They seem to respond quite slow so maybe one were down. If it happens again, can you try to locate the ajour.log file (Settings -> Open data Directory) and paste it here?
Then i'll take a look to confirm where the problem is.

[2021-06-02 06:42] casperstorm commented on #648
I'll take a look today and see if i can reproduce this. Keep me update if you discover more informations.

[2021-06-02 06:43] #647 closed

[2021-06-03 06:35] SeriousSeri opened #650 "Non clickable Windows Menu Bar and unrecognized WeakAuras"
**Describe the bug**
Sometimes, the "Minimize, Maximize, Close" Buttons - are not clickable. You have Alt-Tab at least one time back and forth to it so you're able to click it again.

Second: In the WeakAuras Section, there are several WeakAuras missing. So my Paladin and Hunter WA's are there, but the Druid ones are not even shown. Referring to the Pack sorrounded by this WeakAura: https://wago.i

[2021-06-03 06:59] casperstorm commented on #650
Can confirm I can't see them in Wago menu as well.

<img width="478" alt="image" src="https://user-images.githubusercontent.com/2248455/120600080-a2072a00-c448-11eb-8cce-6279577e4f2c.png">

<img width="480" alt="image" src="https://user-images.githubusercontent.com/2248455/120600145-b77c5400-c448-11eb-8ad6-c8eff85895ea.png">

@tarkah can you take a look at it?
I can see the following data here:

h

[2021-06-03 07:02] #634 closed

[2021-06-03 07:02] #631 closed

[2021-06-03 15:28] Gillingham commented on #649
Encountering the same issue on macOS. Is there a way to turn on a higher level debug, it's not clear to be what request is failing:
[code]

[2021-06-03 16:05] tarkah commented on #650
@casperstorm I'll check it out today. `MaybeAuraDisplay(None)` is None for all of them, so something is causing parsing to fail.

[2021-06-03 16:06] casperstorm commented on #650
Let me know if I can do anything.

[2021-06-03 16:28] tarkah commented on #650
@SeriousSeri We found the problem. We rely on a field "url" in the data that the author publishes for the aura (it's needed to get to the API for the aura). They missed adding this field, so we can't parse it properly. We tested by manually adding a URL for it and it works.

So they just need to just be notified that it's missing. Their other auras all have it so probably just forgot!

[2021-06-03 16:29] tarkah commented on #650
Related to the window issue... That definitely sounds like an upstream bug with the windowing library that's used. Let me dig into it and see if other people are having a similar problem.

[2021-06-03 16:34] tarkah commented on #650
@SeriousSeri If you can reproduce the window title bar buttons not working, can you check to see if the entire program is also unresponsive during that time? As in, when you find you can't click Close, etc.. can you also not interact with Ajour in any way? And then alt-tabbing fixes things across the board?

[2021-06-03 17:18] SeriousSeri commented on #650
Great, i see if i can contact the Author about it, will the Info given by you be enough for him/her to fix it?
Regarding the Window: I am pretty sure i could still use the other Buttons, but i'll let you know when this happens again to be sure!

Thanks for the replies =)

[2021-06-04 06:33] casperstorm commented on #649
This is actually enough information for me:

[code]

It failed to get a connection with the API, most likely Curse. So it is one of two things:

1. Curse API was down.
2. Your Internet is blocking access.

If it keeps happening, it sounds like a issue on your end with their server. Like, [Pi-hole](https://pi-hole.net/) eg.

[2021-06-04 11:55] waytoomuchgaming commented on #649
Maybe you can change the error message for end users ?
Because "you have no classic era addons" can be a bit disturbing to read ^^

[2021-06-04 13:35] casperstorm commented on #649
Yes!
It's ... pretty bad UX. Ill try to find a better solution.

[2021-06-06 06:46] madcowfred opened #651 "Install from URL doesn't work for multiply-nested GitLab projects"
**Describe the bug**
Ajour turns a URL like `https://gitlab.com/thing-engineering/wowthing/wowthing-collector` into `https://gitlab.com/api/v4/projects/thing-engineering%2Fwowthing/releases`, when the project really is nested 3 levels deep (organization/subgroup/project).

**To Reproduce**
Steps to reproduce the behavior:
1. Click on `Install from URL`
2. Paste in `https://gitlab.com/thing-enginee

[2021-06-07 08:06] casperstorm commented on #651
Ah, I see we should support this nested structure. This is news to me, as I am not using gitlab.
@tarkah would you be up for looking into it?

[2021-06-07 08:08] casperstorm commented on #638
Hmm, I am not quite sure I understand what the problem is here, @waytoomuchgaming.
The catalog will respect your selected `flavor` and only display addons for it.

Can you maybe elaborate on the issue?

[2021-06-07 08:22] waytoomuchgaming commented on #638
eg:
Let's take one of the latest addons updated on Curse - says the catalog tab of Ajour - Elephant, 1h ago.
![Untitled](https://user-images.githubusercontent.com/336778/120983728-460b1100-c77a-11eb-949e-080d6c285528.png)

If i go on the Curse web site, i realize the TBC version of the addon have been updated 1h ago, not the Classic ERA, who have been last updated in 2020.
![Untitled2](https://use

[2021-06-07 09:07] casperstorm commented on #638
Gotcha! Okay, that make sense.
It's currently a limitation on how we do the Catalog, but we are working on a v2 which could solve this. I see this is an annoyance. Thanks for providing the feedback.

[2021-06-07 18:34] tarkah commented on #651
Relevant documentation on gitlab subgroups... https://docs.gitlab.com/ee/user/group/subgroups/

I'll look into this and fix

[2021-06-07 18:37] tarkah commented on #651
Currently I take first two segments of the URL path to construct the API endpoint. But it seems safe for me to just take the ENTIRE path and URL encode it and use that.

[2021-06-08 00:39] tarkah commented on #651
@madcowfred I've fixed Ajour in #654 to handle the API url for nested projects properly.

However, this repo still doesn't work because the author isn't attaching the .zip release properly.  See https://gitlab.com/api/v4/projects/thing-engineering%2Fwowthing%2Fwowthing-collector/releases/v9.0.5.3.

The "download" url is a link in the "description" of the release. The asset needs to be attached as

[2021-06-08 15:05] watsontom100 opened #655 "Failed to unpack add-on (ElvUI)"
**Describe the bug**
Since the release of TBC I can fresh install ElvUI (via Ajour) however whenever I try and update it I get "Failed to unpack addon). If I uninstall and re-install then it updates fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Install ElvUI (v2.08)
2. Click on Update (to v2.09)

**Expected behavior**
Successfully updates

**Software involved**
Please complete the fo

[2021-06-08 15:26] tarkah commented on #655
Hmm, the only thing I can think of is a "network" issue when trying to download the new release ZIP. I just tried updating to 2.09 and it worked for me.

Has this only happened once for you? Or can you recreate the issue over a longer period of time?

[2021-06-08 15:37] watsontom100 commented on #655
Yeah it's happened since tbc prepatch launch with every new version of Elv I've had to uninstall and re-install rather than update.

[2021-06-08 15:46] tarkah commented on #655
Hmmm, okay. Do you have any issues downloading the zip directly from this link?

https://www.tukui.org/classic-tbc-addons.php?download=2

[2021-06-08 15:51] watsontom100 commented on #655
Nope, all fine. Also, in the end I have just deleted it and re-installed it via Ajour and it's working fine. Just odd that the update doesn't

[2021-06-08 15:53] tarkah commented on #655
Yeah that is super weird. I'll create a special build for you to try out with a bunch of additional logging sprinkled in so we can narrow down the exact cause.

[2021-06-08 16:28] tarkah commented on #655
@watsontom100 Try recreating the issue with this build and post back the full log file:

[Ajour.app.zip](https://github.com/ajour/ajour/files/6618170/Ajour.app.zip)

[2021-06-08 16:46] watsontom100 commented on #655
Done, sorry took me a while to force Ajour to think I had an old version of Elv but figured it out :) - logs below:

17:44:58.239 [ajour_core::network][DEBUG] downloading remote version 2.09 for ElvUI
17:45:00.690 [ajour::gui::update][DEBUG] Message::DownloadedAddon((Classic TBC, ElvUI, error: false))
17:45:00.690 [ajour_core::fs::addon][DEBUG] Unpacking addon:
Addon { primary_folder_id: "ElvUI",